{% form_theme form 'form/dsfr_theme.html.twig' %}
{{ form_start(form) }}
{{ form_errors(form) }}
<div class="fr-grid-row fr-grid-row--gutters">
	<div class="fr-col-12 fr-col-lg-4">
		{{ form_row(form.email) }}
	</div>
	<div class="fr-col-12 fr-col-lg-5">
		{{ form_row(form.adresseHelper) }}
		<div class="fr-address-group-container">
			<div class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-address-group">
			</div>
		</div>
	</div>
	<div class="fr-col-12 fr-col-lg-3">
		<div class="fr-mt-md-7w">
			{{ form_row(form.save) }}
		</div>
	</div>
</div>
{{ form_end(form) }}
