<dialog aria-labelledby="refus-signalement-modal-title" id="refus-signalement-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button type="button" class="fr-btn--close fr-btn" aria-controls="refus-signalement-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content fr-text--left">
                        <h1 id="refus-signalement-modal-title" class="fr-modal__title">
                            Refus signalement #{{ signalement.reference }}
                        </h1>
                        
                        {% form_theme refusSignalementForm 'form/dsfr_theme.html.twig' %}
                        {{ form_start(refusSignalementForm, {'attr': {'id': 'signalement-validation-response-deny-form', 'data-submit-type':'formData'}}) }}
                        {{ form_errors(refusSignalementForm) }}
                        {{ form_row(refusSignalementForm.motifRefus) }}
                        {{ form_row(refusSignalementForm.description) }}
                        {{ form_row(refusSignalementForm.files) }}
                        {{ form_end(refusSignalementForm) }}

                    </div>

                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <button class="fr-btn fr-icon-check-line" form="signalement-validation-response-deny-form" type="submit" >
                                    Refuser le signalement
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="fr-btn fr-btn--secondary fr-icon-close-line"
                                        aria-controls="refus-signalement-modal">
                                    Annuler
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>