<dialog aria-labelledby="cloture-modal-title" id="cloture-modal" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <h1 id="cloture-modal-title" class="fr-modal__title">
                            <span class="fr-fi-arrow-right-line fr-fi--sm"></span>
                            Clôture signalement #{{ signalement.reference }}
                        </h1>
                        <a href="#" class="fr-link--close fr-link" aria-controls="cloture-modal">Fermer</a>
                    </div>
                    <div class="fr-modal__content">
                        {{ form_start(clotureForm,{attr:{
                            'class': 'tinyCheck'
                        }}) }}
                        {{ form_label(clotureForm.motif) }}
                        {{ form_help(clotureForm.motif) }}
                        {{ form_widget(clotureForm.motif) }}
                        <div class="fr-input-group fr-mt-2v">
                            <label for="cloture_suivi" class="fr-label required">Détails de la clôture</label>
                            <p class="fr-hint-text">Précisez le contexte et les raisons de la clôture <em>(10 caractères
                                    minimum)</em></p>
                            <textarea class="fr-input fr-input--no-resize editor" name="cloture[suivi]"
                                      id="cloture_suivi"></textarea>
                            <p class="fr-error-text fr-hidden">Vous devez préciser votre motif de cloture.</p>
                        </div>

                        {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                        <fieldset class="fr-fieldset" id="radio-hint" aria-labelledby="radio-hint-legend radio-hint-messages">
                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="radio-hint-legend">
                                Notifier l'usager par e-mail de la clôture du signalement.
                            </legend>
                            <div class="fr-fieldset__element">
                                <div class="fr-radio-group">
                                    <input type="radio" id="publicSuivi-1" name="cloture[publicSuivi]" value="1" checked>
                                    <label class="fr-label" for="publicSuivi-1">
                                        Oui
                                    </label>
                                </div>
                            </div>
                            <div class="fr-fieldset__element">
                                <div class="fr-radio-group">
                                    <input type="radio" id="publicSuivi-2" name="cloture[publicSuivi]" value="0">
                                    <label class="fr-label" for="publicSuivi-2">
                                        Non
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        {% endif %}

                        {{ form_end(clotureForm) }}
                        
                        {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                            <div class="fr-alert fr-alert--warning">
                                <h3 class="fr-alert__title">Attention</h3>
                                <p>Le motif et les détails de clôture seront également envoyés à l'usager.</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--icon-left">
                            {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                                <li>
                                    <button class="fr-btn fr-btn--danger fr-w-100"
                                            form="cloture_form" name="cloture[type]" value="all" type="submit" disabled>
                                        Cloturer pour tous les partenaires
                                    </button>
                                </li>
                            {% else %}
                                <li>
                                    <button class="fr-btn fr-w-100" form="cloture_form"
                                            name="cloture[type]" value="partner" type="submit" disabled>
                                        Cloturer pour {{ app.user.partner ? app.user.partner.nom }}
                                    </button>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>