{{ form_start(formUserPartner, {'attr': {'id': 'fr-modal-user-create-form'}}) }}
{{ form_errors(formUserPartner) }}
{{ form_row(formUserPartner.email) }}
<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
        {{ form_row(formUserPartner.emailDisplay) }}
    </div>
    <div class="fr-col-12">
        {{ form_row(formUserPartner.nom) }}
    </div>
    <div class="fr-col-12">
        {{ form_row(formUserPartner.prenom) }}
    </div>
    <div class="fr-col-12">
        {{ form_row(formUserPartner.fonction) }}
    </div>
    <div class="fr-col-12">
        {{ form_row(formUserPartner.phone) }}
    </div>
    <div class="fr-col-12">
        {{ form_row(formUserPartner.role) }}
    </div>
    <div class="fr-col-12">
        {{ form_row(formUserPartner.isMailingActive) }}
    </div>
    <div class="fr-col-12">
        {{ form_row(formUserPartner.isMailingSummary) }}
        <div class="fr-alert fr-alert--info fr-alert--sm fr-mt-n3w">
            <p>
                Une fois son compte validé, seul l'agent pourra mettre à jour ses préférences en matière d'e-mail (tous les e-mails ou récapitulatif). 
                L'agent ne pourra pas désactiver ses e-mails, seulement un responsable de territoire pourra le faire.
            </p>
        </div>
    </div>
    {% if formUserPartner.hasPermissionAffectation is defined %}
        <div class="fr-col-12">
            <label class="fr-label fr-pb-1w">Droits d'affectation</label>
            <div id="user_partner_permission_affectation_toggle">
                {{ form_row(formUserPartner.hasPermissionAffectation) }}
            </div>
            <div id="user_partner_permission_affectation_text" class="fr-alert fr-alert--info fr-alert--sm fr-mt-2v" class="fr-hidden">
                <p>Les responsables de territoire ont le droit d'affecter des partenaires aux signalements du territoire. Ce droit ne peut pas leur être retiré.</p>
            </div>
        </div>
    {% endif %}
    {{ form_end(formUserPartner) }}
</div>