<dialog 
    aria-labelledby="fr-modal-upload-files" 
    id="fr-modal-upload-files" 
    class="fr-modal" 
    role="dialog" 
    data-file-type="document"
    data-has-changes="false"
    data-add-file-route="{{ path('back_signalement_add_file',{uuid:signalement.uuid}) }}"
    data-add-file-token="{{ csrf_token('signalement_add_file_'~signalement.id) }}"
    data-edit-file-route="{{ path('back_signalement_edit_file',{uuid:signalement.uuid}) }}"
    data-edit-file-token="{{ csrf_token('signalement_edit_file_'~signalement.id) }}"
    data-delete-tmp-file-route="{{ path('back_signalement_delete_tmpfile',{id:'REPLACE'}) }}"
    data-waiting-suivi-route="{{ path('back_signalement_file_waiting_suivi',{uuid:signalement.uuid}) }}"
    >
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-upload-files">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <div class="type-conditional type-document">
                            <h1 class="fr-modal__title">
                                Ajouter des documents partenaires
                            </h1>
                            <div>
                                Ajouter un ou plusieurs documents. Pour chaque document, veuillez renseigner son type.
                            </div>
                            {#
                            <div class="fr-alert fr-alert--info fr-alert--sm">
                                <p>Pour ajouter des documents de type Bail, DPE, Diagnostic et Etat des lieux, rendez-vous dans la partie "Déclaration usager".</p>
                            </div>
                            #}
                        </div>
                        <div class="type-conditional type-photo">
                            <h1 class="fr-modal__title">
                                Ajouter des photos de la situation
                            </h1>
                            <div>
                                Ajouter une ou plusieurs photos au signalement. Pour chaque photo, veuillez sélectionner le désordre auquel elle est rattachée. 
                            </div>
                            <div class="fr-alert fr-alert--warning fr-alert--sm">
                                <p>Ces photos seront partagées à l'usager.</p>
                            </div>
                        </div>
                        <div class="modal-upload-upload-container fr-mb-4w">
                            <div class="modal-upload-drop-section">
                                <span class="fr-icon-upload-2-line fr-icon--lg fr-text-label--blue-france"></span>
                                <div class="modal-upload-drop-section-label fr-mt-1w">
                                    Faites glisser vos documents ici
                                </div>
                            </div>
                            <p class="fr-mb-1w">ou</p>
                            <button class="modal-upload-files-selector fr-btn fr-icon-search-line fr-btn--icon-left fr-btn--secondary">Parcourir les fichiers de l'appareil</button>
                            <input type="file" class="modal-upload-files-selector-input" multiple accept="application/*">
                        </div>
                        <div class="modal-upload-list-section" id="modal-upload-file-dynamic-content">
                            <div class="modal-upload-list"></div>
                        </div>
                        <div style="display:none">
                            {% set DocumentType = enum('\\App\\Entity\\Enum\\DocumentType') %}
                            <select class="fr-select select-type" data-file-id="" id="select-type-to-clone">
                                <option value="">Sélectionner un type</option>
                                {% for key, value in DocumentType.getDocumentsList() %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <select class="fr-select select-desordre" data-file-id="" id="select-desordre-to-clone">
                                <option value="">Sélectionner un désordre</option>
                                {% for key, value in criteres %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <button class="fr-btn fr-btn--secondary fr-icon-close-line" id="close-modal-upload-file" aria-controls="fr-modal-upload-files">
                                Annuler
                            </button>
                            <button class="fr-btn fr-icon-check-line" aria-controls="fr-modal-upload-files">
                                Valider
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>