<div class="fr-tabs" id="signalement-tabs">
    <ul class="fr-tabs__list" role="tablist" aria-label="Etapes signalement">
        <li role="presentation">
            <button id="signalement-step-0-btn"
                    class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="0"
                    role="tab" aria-selected="true" aria-controls="signalement-step-0-panel">
                0. Avant-propos
            </button>
        </li>
        <li role="presentation">
            <button id="signalement-step-1-btn"
                    class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="-1"
                    role="tab" aria-selected="false" aria-controls="signalement-step-1-panel">1.
                Identité
            </button>
        </li>
        <li role="presentation">
            <button id="signalement-step-2-btn"
                    class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="-1"
                    role="tab" aria-selected="false" aria-controls="signalement-step-2-panel"
                    {% if 'back_' not in app.request.get('_route') %}disabled{% endif %}>2. Problèmes
            </button>
        </li>
        <li role="presentation">
            <button id="signalement-step-3-btn"
                    class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="-1"
                    role="tab" aria-selected="false" aria-controls="signalement-step-3-panel"
                    {% if 'back_' not in app.request.get('_route') %}disabled{% endif %}>3.
                Détails
            </button>
        </li>
        <li role="presentation">
            <button id="signalement-step-3b-btn"
                    class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left fr-hidden" tabindex="-1"
                    role="tab" aria-selected="false" aria-controls="signalement-step-3b-panel"
                    {% if 'back_' not in app.request.get('_route') %}disabled{% endif %}>4.
                Consommation énergétique
            </button>
        </li>
        <li role="presentation">
            <button id="signalement-step-4-btn"
                    class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="-1"
                    role="tab" aria-selected="false" aria-controls="signalement-step-4-panel"
                    {% if 'back_' not in app.request.get('_route') %}disabled{% endif %}><span>4</span>.
                Logement
            </button>
        </li>
        {% if 'back_' not in app.request.get('_route') %}
            <li role="presentation">
                <button id="signalement-step-last-btn"
                        class="fr-tabs__tab fr-fi-checkbox-circle-line fr-tabs__tab--icon-left" tabindex="-1"
                        role="tab" aria-selected="false" aria-controls="signalement-step-last-panel"
                        data-fr-last-step="true" disabled><span>5</span>.
                    Validation
                </button>
            </li>
        {% endif %}
    </ul>
    <section id="signalement-step-0-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel"
             aria-labelledby="signalement-step-0-btn" tabindex="0">
        {% include '_partials/_signalement_step_avantpropos.html.twig' %}
    </section>
    <section id="signalement-step-1-panel" class="fr-tabs__panel" role="tabpanel"
             aria-labelledby="signalement-step-1-btn" tabindex="-1">
        {% if 'back_' not in app.request.get('_route') %}
            <header class="fr-callout bg-light fr-mb-5v">
                <p class="fr-callout__title">Je renseigne mes coordonnées</p>
                <p class="fr-callout__text fr-mb-5v">
                    Pour traiter votre demande, nous avons besoin de vos coordonnées.
                </p>
                <em class="fr-fi-information-line fr-text-label--blue-france"> Les champs marqués d'un
                    astérisque
                    (*) sont obligatoires.</em>
            </header>
        {% endif %}
        <form action="{% if 'back_' in app.request.get('_route') %}{{ path('back_signalement_edit',{uuid:signalement.uuid}) }}{% else %}#{% endif %}"
              name="signalement" class="needs-validation" novalidate id="signalement-step-1">

            <div class="fr-form-group">
                <fieldset class="fr-fieldset fr-fieldset--inline">
                    <legend class="fr-fieldset__legend fr-text--regular">
                        {{ form_label(form.isNotOccupant) }}
                        {{ form_help(form.isNotOccupant) }}
                    </legend>
                    <div class="fr-fieldset__content">
                        {% for key, choice in form.isNotOccupant.children %}
                            <div class="fr-radio-group">
                                {{ form_widget(choice) }}
                                {{ form_label(choice) }}
                            </div>
                        {% endfor %}
                    </div>
                    <p class="fr-error-text fr-hidden">
                        Veuillez préciser si vous êtes l'occupant du logement.
                    </p>
                </fieldset>
            </div>
            <div class="fr-form-group {% if 'back_' not in app.request.get('_route') or not signalement.isNotOccupant %}fr-hidden{% endif %} data-fr-toggle"
                 id="signalement-pas-occupant">
                <fieldset class="fr-fieldset fr-fieldset--inline">
                    <legend class="fr-fieldset__legend fr-text--regular">
                        Informations concernant <strong><u>le déclarant</u></strong>
                        <span class="fr-hint-text">Vous déposez pour le compte de quelqu'un d'autre</span>
                    </legend>
                    <div class="fr-fieldset__content fr-grid-row fr-grid-row--gutters fr-m-0">
                        <div class="fr-form-group fr-col-12 fr-col-md-6 fr-mb-0 fr-px-0 fr-pl-md-0 fr-pr-md-1v">
                            <div class="fr-input-group">
                                {{ form_label(form.nomDeclarant) }}
                                {% if 'back_' not in app.request.get('_route') %}
                                    {{ form_widget(form.nomDeclarant,{attr:{value:app.user ? app.user.nom : ''}}) }}
                                {% else %}
                                    {{ form_widget(form.nomDeclarant) }}
                                {% endif %}
                                <p class="fr-error-text fr-hidden">
                                    Veuillez renseigner votre nom.
                                </p>
                            </div>
                        </div>
                        <div class="fr-form-group fr-col-12 fr-col-md-6 fr-mb-0 fr-px-0 fr-pr-md-0 fr-pl-md-1v">
                            <div class="fr-input-group">
                                {{ form_label(form.prenomDeclarant) }}
                                {% if 'back_' not in app.request.get('_route') %}
                                    {{ form_widget(form.prenomDeclarant,{attr:{value:app.user ? app.user.prenom : ''}}) }}
                                {% else %}
                                    {{ form_widget(form.prenomDeclarant) }}
                                {% endif %}
                                <p class="fr-error-text fr-hidden">
                                    Veuillez renseigner votre prénom.
                                </p>
                            </div>
                        </div>
                        <div class="fr-form-group fr-col-12 fr-col-md-6 fr-mb-0 fr-px-0 fr-pl-md-0 fr-pr-md-1v">
                            <div class="fr-input-group">
                                {{ form_label(form.telDeclarant) }}
                                {{ form_widget(form.telDeclarant) }}
                                <p class="fr-error-text fr-hidden">
                                    Veuillez renseigner votre numéro de téléphone.
                                </p>
                            </div>
                        </div>
                        <div class="fr-form-group fr-col-12 fr-col-md-6 fr-mb-0 fr-px-0 fr-pr-md-0 fr-pl-md-1v">
                            <div class="fr-input-group">
                                {{ form_label(form.mailDeclarant) }}
                                {% if 'back_' not in app.request.get('_route') %}
                                    {{ form_widget(form.mailDeclarant,{attr:{value:app.user ? app.user.email : ''}}) }}
                                {% else %}
                                    {{ form_widget(form.mailDeclarant) }}
                                {% endif %}
                                <p class="fr-error-text fr-hidden">
                                    Veuillez renseigner votre adresse courriel
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="fr-form-group">
                    <fieldset class="fr-fieldset fr-fieldset--inline">
                        <legend class="fr-fieldset__legend fr-text--regular">
                            {{ form_label(form.lienDeclarantOccupant) }}
                        </legend>
                        <div class="fr-fieldset__content">
                            {% for key, choice in form.lienDeclarantOccupant.children %}
                                <div class="fr-radio-group">
                                    {{ form_widget(choice) }}
                                    {{ form_label(choice) }}
                                </div>
                            {% endfor %}
                        </div>
                        <p class="fr-error-text fr-hidden">
                            Veuillez préciser votre lien avec l'occupant.
                        </p>
                    </fieldset>
                </div>
                <div class="fr-form-group">
                    {{ form_label(form.structureDeclarant) }}
                    {% if 'back_' not in app.request.get('_route') %}
                        {{ form_widget(form.structureDeclarant,{attr:{value:app.user ? app.user.partner.nom : ''}}) }}
                    {% else %}
                        {{ form_widget(form.structureDeclarant) }}
                    {% endif %}
                </div>
            </div>
            <div class="fr-form-group {% if 'back_' not in app.request.get('_route') %}fr-hidden{% endif %} data-fr-toggle"
                 id="signalement-occupant">
                <fieldset class="fr-fieldset fr-fieldset--inline">
                    <legend class="fr-fieldset__legend fr-text--regular">
                        Informations concernant <strong><u>l'occupant</u></strong>
                        <span class="fr-hint-text">Ces informations sont nécessaires au suivi de votre signalement, merci de bien vérifier votre saisie.</span>
                    </legend>
                    <div class="fr-fieldset__content fr-grid-row fr-grid-row--gutters fr-m-0">
                        <div class="fr-form-group fr-col-12 fr-col-md-6 fr-mb-0 fr-px-0 fr-pl-md-0 fr-pr-md-1v">
                            <div class="fr-input-group">
                                {{ form_label(form.nomOccupant) }}
                                {{ form_widget(form.nomOccupant) }}
                                <p class="fr-error-text fr-hidden">
                                    Veuillez renseigner votre nom.
                                </p>
                            </div>
                        </div>
                        <div class="fr-form-group fr-col-12 fr-col-md-6 fr-mb-0 fr-px-0 fr-pr-md-0 fr-pl-md-1v">
                            <div class="fr-input-group">
                                {{ form_label(form.prenomOccupant) }}
                                {{ form_widget(form.prenomOccupant) }}
                                <p class="fr-error-text fr-hidden">
                                    Veuillez renseigner votre prénom.
                                </p>
                            </div>
                        </div>
                        <div class="fr-form-group fr-col-12 fr-col-md-6 fr-px-0 fr-pl-md-0 fr-pr-md-1v fr-mb-0">
                            <div class="fr-input-group">
                                {{ form_label(form.telOccupant) }}
                                {{ form_widget(form.telOccupant) }}
                                <p class="fr-error-text fr-hidden">
                                    Veuillez renseigner au moins un numéro de téléphone.
                                </p>
                            </div>
                        </div>
                        <div class="fr-form-group fr-col-12 fr-col-md-6 fr-px-0 fr-pl-md-0 fr-pr-md-1v fr-mb-0">
                            <div class="fr-input-group">
                                {{ form_label(form.telOccupantBis) }}
                                {{ form_widget(form.telOccupantBis) }}
                            </div>
                        </div>
                        <div class="fr-form-group fr-col-12 fr-px-0 fr-pr-md-0 ">
                            <div class="fr-input-group">
                                {{ form_label(form.mailOccupant) }}
                                {{ form_widget(form.mailOccupant) }}
                                <p class="fr-error-text fr-hidden">
                                    Veuillez renseigner votre adresse courriel
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="fr-form-group">
                    <div class="fr-input-group">
                        {{ form_label(form.adresseOccupant) }}
                        {{ form_help(form.adresseOccupant) }}
                        {{ form_widget(form.adresseOccupant) }}
                        <div class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france"
                             id="signalement-adresse-suggestion">
                        </div>
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner l'adresse du logement.
                        </p>
                        <p id="fr-error-text-insee" class="fr-error-text fr-hidden">
                            Il n'est pas encore possible de déposer un signalement sur cette commune.
                        </p>
                    </div>
                    <div class="fr-input-group">
                        {{ form_label(form.cpOccupant) }}
                        {{ form_widget(form.cpOccupant) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner le code postal a 5 chiffres du logement (ex: 75000).
                        </p>
                        <p id="fr-error-text-code-postal" class="fr-error-text fr-hidden">
                            Il n'est pas encore possible de déposer un signalement sur ce code postal.
                        </p>
                    </div>
                    <div class="fr-input-group">
                        {{ form_label(form.villeOccupant) }}
                        {{ form_widget(form.villeOccupant) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner la ville du logement
                        </p>
                    </div>
                    {% if 'back_' in app.request.get('_route') %}
                        {% set attr = 'type=text class=fr-input' %}
                        {% set attr_label = 'class=fr-label' %}
                    {% else %}
                        {% set attr = 'class=fr-hidden type="hidden"' %}
                        {% set attr_label = 'class=fr-hidden' %}
                    {% endif %}
                    <label for="signalement-geoloc-lat-occupant" {{ attr_label }}>LAT.</label>
                    <input {{ attr }} name="signalement[geoloc][lat]"
                                      id="signalement-geoloc-lat-occupant"
                                      value="{{ signalement.geoloc ? (signalement.geoloc.lat ? signalement.geoloc.lat : ''):'' }}">
                    <label for="signalement-geoloc-lng-occupant" {{ attr_label }}>LNG.</label>
                    <input {{ attr }} name="signalement[geoloc][lng]"
                                      id="signalement-geoloc-lng-occupant"
                                      value="{{ signalement.geoloc ? (signalement.geoloc.lng ? signalement.geoloc.lng : '') : '' }}">
                    <label for="signalement-insee-occupant" {{ attr_label }}>INSEE</label>
                    <input {{ attr }} name="signalement[inseeOccupant]"
                                      id="signalement-insee-occupant" value="{{ signalement.inseeOccupant ?? '' }}">
                </div>
                <fieldset class="fr-fieldset fr-col-12 fr-p-0">
                    <legend class="fr-fieldset__legend">
                        Complément d'adresse
                    </legend>
                    <div class="fr-fieldset__content">
                        {{ form_row(form.etageOccupant) }}
                        {{ form_row(form.escalierOccupant) }}
                        {{ form_row(form.numAppartOccupant) }}
                        {{ form_row(form.adresseAutreOccupant) }}
                    </div>
                </fieldset>
            </div>
            <div class="fr-form-group {% if 'back_' not in app.request.get('_route') %}fr-hidden{% endif %} data-fr-toggle fr-pt-5v"
                 id="signalement-infos-proprio">
                <fieldset class="fr-fieldset">
                    <legend class="fr-fieldset__legend fr-text--regular">
                        Informations du propriétaire ou gestionnaire bailleur
                        <span class="fr-hint-text">Si vous disposez des informations suivantes concernant le propriétaire, merci de les renseigner.</span>
                    </legend>
                    <div class="fr-fieldset__content">
                        <div class="fr-input-group">
                            {{ form_label(form.nomProprio) }}
                            {% if 'back_' not in app.request.get('_route') %}
                                {{ form_widget(form.nomProprio) }}
                            {% else %}
                                {{ form_widget(form.nomProprio,{required:false}) }}
                            {% endif %}
                            <p class="fr-error-text fr-hidden">
                                Merci de renseigner le nom ou la raison sociale du propriétaire du logement.
                            </p>
                        </div>
                        {{ form_label(form.adresseProprio) }}
                        {{ form_help(form.adresseProprio) }}
                        {{ form_widget(form.adresseProprio) }}
                        <div class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france"
                             id="signalement-adresse-pro-suggestion">
                        </div>
                        {{ form_row(form.telProprio) }}
                        {{ form_row(form.mailProprio) }}
                    </div>
                </fieldset>
            </div>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--center">
                        <button class="fr-btn fr-fi-arrow-right-line fr-btn--icon-right {% if 'back_' not in app.request.get('_route') %}checkterr{% endif %}">Continuer</button>
                </div>
            </div>
        </form>
    </section>
    <section id="signalement-step-2-panel" class="fr-tabs__panel" role="tabpanel"
             aria-labelledby="signalement-step-2-btn" tabindex="0">
        {% if 'back_' not in app.request.get('_route') %}
            <header class="fr-callout bg-light fr-mb-5v">
                <p class="fr-callout__title">Signaler un problème dans votre logement</p>
                <p class="fr-callout__text fr-mb-5v">
                    Sélectionnez le ou les problèmes que vous rencontrez et indiquez la gravité.
                </p>
                <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france"> Vous pouvez en
                    selectionner
                    plusieurs</em>
            </header>
        {% endif %}
        <form action="#" name="signalement" id="signalement-step-2" class="needs-validation" novalidate>
            <div role="alert" class="fr-alert fr-alert--error fr-alert--sm fr-mb-5v fr-hidden">
                <p class="fr-alert__title">Réponse incomplète</p>
                <p>Vous devez selectionner <u>au moins une</u> situation et <u>un état (moyen, grave, très
                        grave) par situation</u> pour continuer</p>
            </div>
            <ul class="fr-accordions-group">
                {% for situation in situations %}
                    <li>
                        <section class="fr-accordion fr-accordions-group fr-accordion__situation">
                            <h3 class="fr-accordion__title">
                                <text role="button"
                                      class="fr-accordion__btn fr-btn--icon-left fr-fi-question-fill"
                                      aria-expanded="{% if situation in signalement.situations %}true{% else %}false{% endif %}"
                                      aria-controls="signalement-accordion-situation-{{ situation.id }}"
                                      id="signalement-accordion-situation-{{ situation.id }}-selector">Votre
                                    signalement
                                    concerne-t-il {{ situation.label }}
                                </text>
                            </h3>
                            <div class="fr-collapse" id="signalement-accordion-situation-{{ situation.id }}">
                                <ul class="fr-toggle__list">
                                    {% for critere in situation.criteres %}
                                        <div class="{# fr-checkbox-group #}fr-pb-0 fr-mb-3v"
                                             aria-expanded="{% if critere in signalement.criteres %}true{% else %}false{% endif %}"
                                             aria-controls="signalement-accordion-situation-{{ situation.id }}-critere-{{ critere.id }}"
                                             id="signalement-accordion-situation-{{ situation.id }}-critere-{{ critere.id }}-selector">
                                            <input type="checkbox"
                                                   name="signalement[situation][{{ situation.id }}]"
                                                   class="signalement-situation fr-hidden"
                                                   id="signalement-situation-{{ situation.id }}-critere-{{ critere.id }}"
                                                   value="{{ critere.label }}"
                                                   {% if critere in signalement.criteres %}checked{% endif %}>
                                            <label class="fr-toggle__label fr-text--bold "
                                                   for="signalement-situation-{{ situation.id }}-critere-{{ critere.id }}">
                                                <div class="fr-form-group fr-mb-0 fr-btn--secondary fr-hover-critere fr-rounded fr-p-3v">
                                                    <fieldset class="fr-fieldset">
                                                        <legend class="fr-fieldset__legend fr-mb-0">
                                                            {{ critere.label }}
                                                            <span class="fr-hint-text fr-display-block"><strong
                                                                        class="fr-text-default--info">Quand tout va bien:</strong> {{ critere.description }}</span>
                                                        </legend>
                                                    </fieldset>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="fr-fieldset__content fr-collapse"
                                             id="signalement-accordion-situation-{{ situation.id }}-critere-{{ critere.id }}">
                                            {% for index,criticite in critere.criticites %}
                                                {% if not criticite.isArchive %}
                                                    <div class="fr-radio-group fr-radio-rich fr-mb-5v">
                                                        <input type="radio"
                                                               id="signalement-critere-{{ critere.id }}-criticite-{{ criticite.id }}"
                                                               name="signalement[situation][{{ situation.id }}][critere][{{ critere.id }}][criticite]"
                                                               value="{{ criticite.id }}"
                                                               class="toggle-criticite-smiley"
                                                               {% if enum('App\\Entity\\Enum\\Qualification').NON_DECENCE_ENERGETIQUE.name in criticite.qualification %}data-nde="1"{% endif %}
                                                               {% if criticite in signalement.criticites %}checked{% endif %}>
                                                        <label class="fr-label"
                                                               for="signalement-critere-{{ critere.id }}-criticite-{{ criticite.id }}"><strong>{{ etats[criticite.score-1] }}</strong>
                                                            <span class="fr-hint-text">{{ criticite.label }}</span>
                                                        </label>
                                                        <div class="fr-radio-rich__img">
                                                            <img src="{{ asset('img/'~etats_classes[criticite.score-1]~'.svg') }}"
                                                                 alt="" width="100%" class="fr-p-2v"
                                                                 data-fr-checked-icon="{{ asset('img/'~etats_classes[criticite.score-1]~'-actif.svg') }}"
                                                                 data-fr-unchecked-icon="{{ asset('img/'~etats_classes[criticite.score-1]~'.svg') }}"/>
                                                            <!-- L’alternative de l’image (attribut alt) doit rester vide car l’image est illustrative et ne doit pas être restituée aux technologies d’assistance -->
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            <p class="fr-error-text fr-hidden">Vous devez sélectioner un état
                                                pour cette situation</p>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </section>
                    </li>
                {% endfor %}
            </ul>
            <div class="fr-grid-row fr-mt-5w">
                <div class="fr-col-12 fr-text--center">
                    <button class="fr-btn fr-fi-arrow-right-line fr-btn--icon-right">Continuer</button>
                </div>
            </div>
        </form>
    </section>

    <section id="signalement-step-3-panel" class="fr-tabs__panel" role="tabpanel"
             aria-labelledby="signalement-step-3-btn" tabindex="0">
        <header class="fr-callout bg-light fr-mb-5v">
            <p class="fr-callout__title">Je donne des détails sur les problèmes rencontrés</p>
            <p class="fr-callout__text fr-mb-5v">
                Décrivez ici en détails le problème rencontré dans votre logement. Vous pouvez ajouter des
                documents
                et photos.
            </p>
            <em class="fr-fi-information-line fr-text--light fr-text-label--blue-france"> Les champs marqués
                d'un
                astérisque
                (*) sont obligatoires.</em>
        </header>
        <form action="#" name="signalement" class="needs-validation" novalidate id="signalement-step-3">
            <div class="fr-input-group">
                {{ form_label(form.details) }}
                {{ form_help(form.details) }}
                {{ form_widget(form.details) }}
                <p class="fr-error-text fr-hidden">
                    Merci de proposer une rapide description (minimum 10 caractères).
                </p>
            </div>
            {% if 'back_' not in app.request.get('_route') %}
                {% include '_partials/_signalement_upload.html.twig' %}
            {% endif %}
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--center">
                    <button class="fr-btn fr-fi-arrow-right-line fr-btn--icon-right">Continuer</button>
                </div>
            </div>
        </form>
    </section>

    <section id="signalement-step-3b-panel" class="fr-tabs__panel" role="tabpanel"
             aria-labelledby="signalement-step-3b-btn" tabindex="0">
        {% include '_partials/_signalement_step_nde.html.twig' %}
    </section>

    <section id="signalement-step-4-panel" class="fr-tabs__panel" role="tabpanel"
             aria-labelledby="signalement-step-4-btn" tabindex="0">
        {% if 'back_' not in app.request.get('_route') %}
            <header class="fr-callout bg-light fr-mb-5v">
                <p class="fr-callout__title">Je donne des informations sur mon logement</p>
                <p class="fr-callout__text fr-mb-5v">
                    Pour continuer, nous avons besoin d'informations complémentaires sur votre logement.
                </p>
                <em class="fr-fi-information-line fr-text--light text-blue-france"> Les champs marqués d'un
                    astérisque
                    (*) sont obligatoires.</em>
            </header>
        {% endif %}
        <form action="#" name="signalement" class="needs-validation" novalidate>
            <div class="fr-form-group">
                <fieldset class="fr-fieldset fr-fieldset--inline">
                    <legend class="fr-fieldset__legend fr-text--regular" id='signalement-proprio-averti'>
                        {{ form_label(form.isProprioAverti) }}
                        {{ form_help(form.isProprioAverti) }}
                    </legend>
                    <div class="fr-fieldset__content">
                        {% for key, choice in form.isProprioAverti.children %}
                            <div class="fr-radio-group">
                                {{ form_widget(choice) }}
                                {{ form_label(choice) }}
                            </div>
                        {% endfor %}
                    </div>
                    <p class="fr-error-text fr-hidden">
                        Veuillez préciser si vous avez pris contact.
                    </p>
                </fieldset>
            </div>
            <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                    <legend class="fr-fieldset__legend fr-text--regular">
                        Qui habite ce logement ?<sup class="fr-text-default--error">*</sup>
                        <span class="fr-hint-text">Indiquer la composition du logement en précisant le nombre d'enfants.</span>
                    </legend>
                    <div class="fr-select-group">
                        {{ form_label(form.nbAdultes) }}
                        {{ form_widget(form.nbAdultes) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner le nombre d'adultes dans le logement.
                        </p>
                    </div>
                    {{ form_row(form.nbEnfantsM6) }}
                    {{ form_row(form.nbEnfantsP6) }}
                </fieldset>
            </div>
            <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                    <legend class="fr-fieldset__legend fr-text--regular">
                        {{ form_label(form.natureLogement) }}
                    </legend>
                    <div class="fr-select-group">
                        {{ form_widget(form.natureLogement) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez renseigner la nature du logement.
                        </p>
                    </div>
                </fieldset>
            </div>
            <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                    <legend class="fr-fieldset__legend fr-text--regular">
                        {{ form_label(form.superficie) }}
                    </legend>
                    <div class="fr-input-group">
                        {{ form_widget(form.superficie) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez saisir la superficie du logement au format numérique.
                        </p>
                    </div>
                </fieldset>
            </div>
            <div class="fr-form-group">
                <fieldset class="fr-fieldset fr-fieldset--inline">
                    <legend class="fr-fieldset__legend fr-text--regular">
                        {{ form_label(form.isAllocataire) }}
                        {{ form_help(form.isAllocataire) }}
                    </legend>
                    <div class="fr-fieldset__content">
                        {% for key, choice in form.isAllocataire.children %}
                            <div class="fr-radio-group">
                                {{ form_widget(choice) }}
                                {{ form_label(choice) }}
                            </div>
                        {% endfor %}
                    </div>
                    <p class="fr-error-text fr-hidden">
                        Veuillez préciser si vous êtes allocataire
                    </p>
                </fieldset>
                <div class="fr-form-group fr-mt-5v {% if 'back_' not in app.request.get('_route') or not signalement.isAllocataire %}fr-hidden{% endif %}"
                     id="signalement-num-alloc-bloc">
                    <div class="fr-input-group">
                        {{ form_label(form.numAllocataire) }}
                        {{ form_help(form.numAllocataire) }}
                        {{ form_widget(form.numAllocataire) }}
                        <p class="fr-error-text fr-hidden">
                            Veuillez préciser votre numéro d'allocataire
                        </p>
                    </div>
                </div>
            </div>
            <div class="fr-form-group">
                <fieldset class="fr-fieldset fr-fieldset--inline">
                    <legend class="fr-fieldset__legend fr-text--regular" id='signalement-logement-social'>
                        {{ form_label(form.isLogementSocial) }}
                        {{ form_help(form.isLogementSocial) }}
                    </legend>
                    <div class="fr-fieldset__content">
                        {% for key, choice in form.isLogementSocial.children %}
                            <div class="fr-radio-group">
                                {{ form_widget(choice) }}
                                {{ form_label(choice) }}
                            </div>
                        {% endfor %}
                    </div>
                    <p class="fr-error-text fr-hidden">
                        Veuillez préciser si le logement est un logement social ou non.
                    </p>
                </fieldset>
            </div>
            <div class="fr-form-group">
                <fieldset class="fr-fieldset fr-fieldset--inline">
                    <legend class="fr-fieldset__legend fr-text--regular" id='signalement-preavis'>
                        {{ form_label(form.isPreavisDepart) }}
                        {{ form_help(form.isPreavisDepart) }}
                    </legend>
                    <div class="fr-fieldset__content">
                        {% for key, choice in form.isPreavisDepart.children %}
                            <div class="fr-radio-group">
                                {{ form_widget(choice) }}
                                {{ form_label(choice) }}
                            </div>
                        {% endfor %}
                    </div>
                    <p class="fr-error-text fr-hidden">
                        Veuillez préciser si vous avez déposé un préavis de départ.
                    </p>
                </fieldset>
            </div>
            <div class="fr-form-group">
                <fieldset class="fr-fieldset fr-fieldset--inline">
                    <legend class="fr-fieldset__legend fr-text--regular" id='signalement-preavis'>
                        {{ form_label(form.isRelogement) }}
                        {{ form_help(form.isRelogement) }}
                    </legend>
                    <div class="fr-fieldset__content">
                        {% for key, choice in form.isRelogement.children %}
                            <div class="fr-radio-group">
                                {{ form_widget(choice) }}
                                {{ form_label(choice) }}
                            </div>
                        {% endfor %}
                    </div>
                    <p class="fr-error-text fr-hidden">
                        Veuillez préciser si vous avez fait une demande de relogement.
                    </p>
                </fieldset>
            </div>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--center">
                    {% if 'back_' not in app.request.get('_route') %}
                        <button class="fr-btn fr-fi-arrow-right-line fr-btn--icon-right">Continuer</button>
                    {% else %}
                        <button class="fr-btn fr-fi-check-line fr-btn--icon-right back-signalement-edit-submit"
                                formaction="#" type="submit">Enregistrer
                        </button>
                    {% endif %}
                </div>
            </div>
        </form>
    </section>

    <section id="signalement-step-last-panel" class="fr-tabs__panel" role="tabpanel"
             aria-labelledby="signalement-step-last-btn" tabindex="0">
        <header class="fr-callout bg-light fr-mb-5v">
            <p class="fr-callout__title">Je valide mon signalement</p>
            <p class="fr-callout__text fr-mb-5v">
                Vérifiez les informations ci-dessous.
            </p>
            <em class="fr-fi-information-line fr-text-label--blue-france"> Acceptez les conditions
                d'utilisation du service et validez votre signalement.</em>
        </header>
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-md-4">
                <ul>
                    <li>
                        <strong>Coordonnées
                            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-edit-fill"
                                    title="Editer les informations" data-goto-step="1"></button>
                        </strong>
                        <p>
                            <span id="recap-signalement_nomOccupant"></span> <span
                                    id="recap-signalement_prenomOccupant"></span> <br>
                            <span id="recap-signalement_mailOccupant"></span> <br>
                            <span id="recap-signalement_telOccupant"></span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <ul>
                    <li>
                        <strong>Adresse du logement
                            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-edit-fill"
                                    title="Editer les informations" data-goto-step="1"></button>
                        </strong>
                        <p>
                            <span id="recap-signalement_adresseOccupant"></span>
                            <br>
                            <span id="recap-signalement_cpOccupant"></span> <span id="recap-signalement_villeOccupant"></span>
                            <br>
                            <span id="recap-container-signalement_etageOccupant">Etage <span id="recap-signalement_etageOccupant"></span><br></span>
                            <span id="recap-container-signalement_escalierOccupant">Escalier <span id="recap-signalement_escalierOccupant"></span><br></span>
                            <span id="recap-container-signalement_numAppartOccupant">Appartement <span id="recap-signalement_numAppartOccupant"></span><br></span>
                            <span id="recap-container-signalement_adresseAutreOccupant"><span id="recap-signalement_adresseAutreOccupant"></span><br></span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <ul>
                    <li>
                        <strong>Composition du logement
                            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-edit-fill"
                                    title="Editer les informations" data-goto-step="4"></button>
                        </strong>
                        <p>
                            <span id="recap-signalement_nbAdultes"></span> Adulte(s) <br>
                            <span id="recap-signalement_nbEnfantsM6"></span> Enfant(s) de moins de 6 ans <br>
                            <span id="recap-signalement_nbEnfantsP6"></span> Enfant(s) de plus de 6 ans <br>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="fr-col-12">
                <ul>
                    <li>
                        <strong>Problème(s) signalé(s)
                            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-edit-fill"
                                    title="Editer les informations" data-goto-step="2"></button>
                        </strong>
                        <p>
                            <span id="recap-signalement-situation"></span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="fr-col-6">
                <ul>
                    <li>
                        <strong>Description du ou des problème(s)
                            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-edit-fill"
                                    title="Editer les informations" data-goto-step="3"></button>
                        </strong>
                        <p>
                            <span id="recap-signalement_details"></span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="fr-col-6">
                <ul>
                    <li>
                        <strong>Document(s) et photo(s) transmis
                            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-edit-fill"
                                    title="Editer les informations" data-goto-step="3"></button>
                        </strong>
                        <p>
                            <span id="recap-signalement_photos"></span>
                            <span id="recap-signalement_documents" class="fr-display-block"></span>
                        </p>
                    </li>
                </ul>
            </div>
            <div id="result-nde" class="fr-col-6 fr-hidden">
                <ul>
                    <li>
                        <strong>Consommation énergétique
                            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-edit-fill"
                                    title="Editer les informations" data-goto-step="3b"></button>
                        </strong>
                        <li class="fr-hidden display-if-missing-info">Situation : à vérifier</li>
                        <li class="fr-hidden display-if-missing-info">DPE : à renseigner</li>
                        <li class="fr-hidden display-if-missing-info">Bail : à renseigner</li>
                        <li class="fr-hidden display-if-missing-info">Consommation : non calculée</li>

                        <li class="fr-hidden display-if-nde-no-dpe">Situation : non décence énergétique</li>
                        <li class="fr-hidden display-if-nde-no-dpe">DPE : Non</li>
                        
                        <li class="fr-hidden display-if-not-nde">Situation : décence énergétique OK</li>
                        <li class="fr-hidden display-if-nde">Situation : non décence énergétique</li>
                        <li class="fr-hidden display-if-conso">
                            DPE :
                            <span class="fr-hidden display-if-dpe-before-2023">Avant</span>
                            2023
                        </li>
                        <li class="fr-hidden display-if-conso">Bail : 2023</li>
                        <li class="fr-hidden display-if-conso">
                            Consommation :
                            <span class="conso-amount"></span>
                            kWh/m²/an
                        </li>
                    </li>
                </ul>
            </div>
        </div>
        <form action="{{ path('envoi_signalement') }}" name="signalement" class="needs-validation" novalidate>
            <div class="fr-form-group fr-mb-0 fr-hidden" id="signalement-consentement-tiers-bloc">
                <div class="fr-toggle">
                    <input type="checkbox" class="fr-toggle__input" id="signalement-consentement-tiers"
                           name="signalement[isConsentementTiers]" required>
                    <label class="fr-toggle__label" for="signalement-consentement-tiers">
                        Je certifie avoir le droit de déposer un signalement pour le compte d'un tiers.
                        <br>
                        L'occupant recevra un email de confirmation du dépôt de ce signalement.
                    </label>
                    <p class="fr-error-text fr-hidden">
                        Pour déposer un signalement au nom d'une tierce personne vous devez en avoir
                        l'autorisation.
                    </p>
                </div>
            </div>
            <div class="fr-form-group">
                <div class="fr-toggle fr-toggle--border-bottom">
                    <input type="checkbox" class="fr-toggle__input" id="signalement-accept-visite"
                           name="is-visite-accepted" required>
                    <label class="fr-toggle__label" for="signalement-accept-visite">
                        En validant mon signalement, j'autorise les services compétents à programmer et effectuer,
                        si nécessaire, une visite au domicile pour évaluer les désordres.
                    </label>
                    <p class="fr-error-text fr-hidden">
                        Vous devez accepter l'autorisation de visite pour transmettre votre signalement.
                    </p>
                </div>
            </div>
            <div class="fr-form-group">
                <div class="fr-toggle fr-toggle--border-bottom">
                    <input type="checkbox" class="fr-toggle__input" id="signalement-accept-cgu"
                           name="signalement[isCguAccepted]" required>
                    <label class="fr-toggle__label" for="signalement-accept-cgu">
                        J'ai pris connaissance et j'accepte sans réserve que mes déclarations
                        soient partagées entre l’ensemble des partenaires
                        pour le traitement de ma demande conformément aux finalités indiquées dans les 
                        <a href="#" aria-controls="cguModal" data-fr-opened="false">Conditions Générales d'Utilisation</a>
                        &nbsp;de la plateforme « Histologe ».
                    </label>
                    <p class="fr-error-text fr-hidden">
                        Vous devez accepter les Conditions Générales d'Utilisation pour transmettre votre signalement.
                    </p>
                </div>
            </div>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--center">
                    <progress max="100" id="form_global_file_progress" value="0" class="final-progress fr-hidden"></progress>
                </div>
            </div>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--center">
                    <button class="fr-btn fr-fi-checkbox-circle-fill fr-btn--icon-right" type="submit"
                            id="form_finish_submit">Confirmer
                    </button>
                </div>
            </div>
            {% if 'back_' not in app.request.get('_route') %}
                <input type="hidden" name="_token" value="{{ csrf_token('new_signalement') }}">
            {% else %}
                {{ form_widget(form._token) }}
            {% endif %}
        </form>
    </section>
</div>