
{% macro customPagination(pages, currentPage, routeName, queryParams) %}
<nav role="navigation" class="fr-pagination" aria-label="Pagination">
    <ul class="fr-pagination__list">
        <li>
            <a class="fr-pagination__link fr-pagination__link--first"
               {% if currentPage > 1 %}
                       href="{{ path(routeName, queryParams | merge({page: 1})) }}"
                {% else %}
                   aria-disabled="true"
               {% endif %}>
                Première page
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"
               {% if currentPage > 1 %}
                       href="{{ path(routeName, queryParams | merge({page: currentPage - 1})) }}"
               {% else %}
                   aria-disabled="true"
               {% endif %} role="link">
                Page précédente
            </a>
        </li>

        {% if currentPage > 3 %}
            <li>
                <a class="fr-pagination__link" href="{{ path(routeName, queryParams | merge({page: 1})) }}">1</a>
            </li>
        {% endif %}
        {% if currentPage > 4 %}
            <li>
                <a class="fr-pagination__link" title="placeholder">...</a>
            </li>
        {% endif %}

        {% for i in max(1, currentPage - 2)..min(pages, currentPage + 2)%}
            {% if i > 0 %}
                <li>
                    <a class="fr-pagination__link" {{ currentPage == i ? 'aria-current="page"' : '' }}
                    href="{{ path(routeName, queryParams | merge({page: i})) }}"
                    title="Page {{ i }}"
                    data-page="{{ i }}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if currentPage < pages - 3 %}
            <li>
                <a class="fr-pagination__link" title="placeholder">...</a>
            </li>
        {% endif %}
        {% if currentPage < pages - 2 %}
            <li>
                <a class="fr-pagination__link" href="{{ path(routeName, queryParams | merge({page: pages})) }}">{{ pages }}</a>
            </li>
        {% endif %}

        <li>
            <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"
               {% if currentPage < pages %}
                   href="{{ path(routeName, queryParams | merge({page: currentPage + 1})) }}"
               {% else %}
                   aria-disabled="true"
               {% endif %} role="link">
                Page suivante
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-pagination__link--last"
               {% if currentPage < pages %}
                   href="{{ path(routeName, queryParams | merge({page: pages})) }}"
               {% else %}
                   aria-disabled="true"
               {% endif %}
               data-page="{{ pages }}">
                Dernière page
            </a>
        </li>
    </ul>
</nav>
{% endmacro %}

{% macro historyEntriesVizualisation(historyEntryChanges, isSubChange = false) %}
{% import _self as macros %}
{% if not isSubChange %}
<div class="fr-table fr-table--sm fr-table--multiline fr-m-0">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table style="table-layout: fixed;">
{% endif %}
                    {% for name, change in historyEntryChanges %}
                        {% if change.old is defined and change.new is defined %}
                            <tr>
                                <td class="history-diff-title">{{ name }}</td>
                                {% if change.old is defined %}
                                    <td class="history-diff-old">
                                        {% if change.old is iterable %}
                                            {{ change.old|join(', ')|diff(change.new|join(', '), 'old') }}
                                        {% else %}
                                            {{ change.old|diff(change.new, 'old') }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% if change.new is defined %}
                                    <td class="history-diff-new">
                                        {% if change.new is iterable %}
                                            {{ change.new|join(', ')|diff(change.old|join(', '), 'new') }}
                                        {% else %}
                                            {{ change.new|diff(change.old, 'new') }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% elseif change.old is defined or change.new is defined %}
                            <tr>
                                <td class="history-diff-title">{{ name }}</td>
                                <td class="history-diff-old">
                                    {% if change.old is defined %}
                                        {{ change.old|join(', ')|diff('', 'old') }}
                                    {% endif %}
                                </td>
                                <td class="history-diff-new">
                                    {% if change.new is defined %}
                                        {{ change.new|join(', ')|diff('', 'new') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            {{ macros.historyEntriesVizualisation(change, true) }}
                        {% endif %}
                    {% endfor %}
{% if not isSubChange %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}