
{% macro customPagination(pages, currentPage, routeName, queryParams) %}
<nav role="navigation" class="fr-pagination" aria-label="Pagination">
    <ul class="fr-pagination__list">
        <li>
            <a class="fr-pagination__link fr-pagination__link--first"
               {% if currentPage > 1 %}
                       href="{{ path(routeName, queryParams | merge({page: 1})) }}"
                {% else %}
                   aria-disabled="true"
               {% endif %}>
                Première page
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"
               {% if currentPage > 1 %}
                       href="{{ path(routeName, queryParams | merge({page: currentPage - 1})) }}"
               {% else %}
                   aria-disabled="true"
               {% endif %} role="link">
                Page précédente
            </a>
        </li>

        {% if currentPage > 3 %}
            <li>
                <a class="fr-pagination__link" href="{{ path(routeName, queryParams | merge({page: 1})) }}">1</a>
            </li>
        {% endif %}
        {% if currentPage > 4 %}
            <li>
                <a class="fr-pagination__link" title="placeholder">...</a>
            </li>
        {% endif %}

        {% for i in max(1, currentPage - 2)..min(pages, currentPage + 2)%}
            {% if i > 0 %}
                <li>
                    <a class="fr-pagination__link" {{ currentPage == i ? 'aria-current="page"' : '' }}
                    href="{{ path(routeName, queryParams | merge({page: i})) }}"
                    title="Page {{ i }}"
                    data-page="{{ i }}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if currentPage < pages - 3 %}
            <li>
                <a class="fr-pagination__link" title="placeholder">...</a>
            </li>
        {% endif %}
        {% if currentPage < pages - 2 %}
            <li>
                <a class="fr-pagination__link" href="{{ path(routeName, queryParams | merge({page: pages})) }}">{{ pages }}</a>
            </li>
        {% endif %}

        <li>
            <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"
               {% if currentPage < pages %}
                   href="{{ path(routeName, queryParams | merge({page: currentPage + 1})) }}"
               {% else %}
                   aria-disabled="true"
               {% endif %} role="link">
                Page suivante
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-pagination__link--last"
               {% if currentPage < pages %}
                   href="{{ path(routeName, queryParams | merge({page: pages})) }}"
               {% else %}
                   aria-disabled="true"
               {% endif %}
               data-page="{{ pages }}">
                Dernière page
            </a>
        </li>
    </ul>
</nav>
{% endmacro %}

{% macro formatValue(value) %}
    {%- if value is iterable -%}
        {{ value|join(', ') }}
    {%- elseif value is same as false -%}
        false
    {%- elseif value is same as true -%}
        true
    {%- else -%}
        {{ value }}
    {%- endif -%}
{% endmacro %}

{% macro historyEntriesVizualisation(historyEntryChanges, isSubChange = false, parentName = '') %}
{% import _self as macros %}
{% if not isSubChange %}
<div class="fr-table fr-table--sm fr-table--multiline fr-m-0">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table class="history-diff">
{% endif %}
                    {% for name, change in historyEntryChanges %}
                        {% set old = change.old is defined ? macros.formatValue(change.old) : null %}
                        {% set new = change.new is defined ? macros.formatValue(change.new) : null %}

                        {% if old is not null or new is not null %}
                            <tr>
                                <td class="history-diff-title">
                                    {{ name }}
                                    {% if parentName %}
                                        <small><br>({{ parentName }})</small>
                                    {% endif %}
                                </td>
                                <td class="history-diff-old">
                                    {% if old is not null %}
                                        {{ old|diff(new ?? '', 'old') }}
                                    {% endif %}
                                </td>
                                <td class="history-diff-new">
                                    {% if new is not null %}
                                        {{ new|diff(old ?? '', 'new') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            {{ macros.historyEntriesVizualisation(change, true, name) }}
                        {% endif %}
                    {% endfor %}
{% if not isSubChange %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endmacro %}