{% use 'form_div_layout.html.twig' %}

{% block form_row %}
    {% set widget_attr = {} %}
    {% if help is not empty %}
        {% set widget_attr = {attr: {'aria-describedby': id ~"_help"}} %}
    {% endif %}
    {% if type is defined and type == 'file' %}
        {% set row_attr = row_attr|merge({'class': (row_attr.class|default('') ~ ' fr-upload-group fr-input-group')|trim}) %}
    {% elseif 'choice' in block_prefixes %}
        {% set row_attr = row_attr|merge({'class': (row_attr.class|default('') ~ ' fr-select-group')|trim}) %}
    {% elseif 'checkbox' in block_prefixes %}
        {% if row_attr.class is defined and row_attr.class starts with 'fr-toggle' %}
            {% set row_attr = row_attr|merge({'class': row_attr.class}) %}
        {% else %}
            {% set row_attr = row_attr|merge({'class': (row_attr.class|default('') ~ ' fr-checkbox-group fr-mb-6v')|trim}) %}
        {% endif %}
    {% else %} 
        {% set row_attr = row_attr|merge({'class': (row_attr.class|default('') ~ ' fr-input-group')|trim}) %}
    {% endif %}
    {% if errors|length > 0 %}
        {% if 'choice' in block_prefixes %}
            {% set row_attr = row_attr|merge({'class': (row_attr.class ~ ' fr-select-group--error')|trim}) %}
        {% else %}
            {% set row_attr = row_attr|merge({'class': (row_attr.class ~ ' fr-input-group--error')|trim}) %}
        {% endif %}
    {% endif %}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {% if 'checkbox' in block_prefixes %}
            {{form_widget(form, widget_attr)}}
            {{form_label(form)}}
        {% else %}
            {{form_label(form)}}
            {{form_widget(form, widget_attr)}}
        {% endif %}
        {{form_errors(form)}}
    </div>
{% endblock form_row %}

{% block form_errors %}
    {% if errors|length > 0 %}
        <p class="fr-error-text">
            {% for error in errors %}
                {{ error.message }}
                {% if not loop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endblock form_errors %}

{%- block search_widget %}
    {% set type = type|default('search') %}
    <div class="fr-search-bar fr-mt-2v">
        {{ block('form_widget_simple') }}
        <button class="fr-btn" title="Rechercher">Rechercher</button>
    </div>
{%- endblock search_widget %}

{% block form_widget_simple %}
    {% if type is defined and type == 'file' %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' fr-upload')|trim}) %}
    {% else %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' fr-input')|trim}) %}
    {% endif %}
    {{parent()}}
{% endblock form_widget_simple %}

{% block choice_widget_collapsed %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' fr-select')|trim}) %}
    {{parent()}}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' fr-input')|trim}) %}
    {{parent()}}
{% endblock textarea_widget %}

{% block form_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' fr-label')|trim}) %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' label-required')|trim}) %}
    {% endif %}
    <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {{block('form_label_content')}}
    </{{ element|default('label') }}>
{% endblock form_label %}

{% block form_label_content %}
    {% if label is not same as(false) %}
        {{ parent() }}
    {% endif %}
    {{ block('form_help')}}
{% endblock form_label_content %}

{% block form_help %}
    {% if help is not empty %}
        {% set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' fr-hint-text')|trim})%}
        <{{ element|default('span') }} id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {{ block('form_help_content') }}
        </{{ element|default('span') }}>
    {% endif %}
{% endblock form_help %}

{% block button_attributes %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' fr-btn')|trim}) %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {{ block('attributes') }}
{% endblock button_attributes %}

{% block choice_widget_expanded %}
    {% set display_mode = display_mode|default('inline') %}
    <div {{ block('widget_container_attributes') }} class="fr-fieldset fr-mt-1w fr-mb-0">
    {% if not form|length and nochoiceslabel is defined %}
        {{ nochoiceslabel }}
    {% else %}
        {% for child in form %}
            <div class="fr-fieldset__element {% if display_mode == 'inline' and 'radio' in child.vars.block_prefixes %}fr-fieldset__element--inline{% elseif display_mode == 'block' and 'radio' in child.vars.block_prefixes %}fr-border--light fr-p-2w fr-mx-2w {% endif %}">
                <div class="{% if 'radio' in child.vars.block_prefixes %}fr-radio-group{% else %}fr-checkbox-group{% endif %}">
                    {{form_widget(child)}}
                    {{form_label(child, null, {translation_domain: choice_translation_domain})}}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock choice_widget_expanded %}

{% block search_checkbox_row %}
    <div class="search-checkbox-container fr-input-group {% if errors|length > 0 %}fr-select-group--error{% endif %}">   
        <div class="fr-input-group fr-mb-0">
            {% if label is not same as(false) %}
                <label for="{{ id }}_input" class="fr-label">
                    {{ label }}
                    {{form_help(form)}}
                </label>
            {% endif %}
            <input id="{{ id }}_input" type="text" placeholder="{{ noselectionlabel }}" class="fr-input">
        </div>
        {{ block('choice_widget_expanded') }}
        {{ block('form_errors') }}
    </div>
{% endblock %}

{% block choice_enum_widget_expanded %}
    <div {{ block('widget_container_attributes') }}>
    {% if not form.vars|length and nochoiceslabel is defined %}
        {{ nochoiceslabel }}
    {% else %}
        {% for child in form.vars.choices %}
            <div class="fr-fieldset__element">
                <div class="fr-checkbox-group">
                    <input name="{{form.vars.full_name}}" id="checkboxes-{{child.value}}"
                        type="checkbox" value="{{child.value}}"
                        {% if child.value in form.vars.value %}
                        checked="checked"
                        {% endif %}
                        >
                    <label class="fr-label" for="checkboxes-{{child.value}}">
                        {{child.label}}
                    </label>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock choice_enum_widget_expanded %}

{% block search_checkbox_enum_row %}
    <div class="search-checkbox-container fr-input-group {% if errors|length > 0 %}fr-select-group--error{% endif %}">   
        <div class="fr-input-group fr-mb-0">
            {% if label is not same as(false) %}
                <label for="{{ id }}_input" class="fr-label">{{ label }}</label>
            {% endif %}
            <input id="{{ id }}_input" type="text" placeholder="{{ noselectionlabel }}" class="fr-input">
        </div>
        {{ block('choice_enum_widget_expanded') }}
        {{ block('form_errors') }}
    </div>
{% endblock %}

{% block phone_row %}
    <div class="phone-input-container fr-input-group {% if errors|length > 0 %}fr-input-group--error fr-select-group--error{% endif %}">   
        <div class="fr-input-group fr-mb-0">
            {% if label is not same as(false) %}
                <label for="{{ id }}_input" class="fr-label">
                    {{ label }}
                    {% if help is not same as(false) %}
                        <span id="{{ id }}_help" class="fr-hint-text">{{ help }}</span>
                    {% endif %}
                </label>
            {% endif %}

            <div class="fr-grid-row fr-grid-row--gutters fr-mt-1v phone-number-row-container">
                <div class="fr-col-12 fr-col-md-4">
                    <select class="fr-select" id="{{ id }}_select" title="Indicatif national">
                        {% for region, label in countryCodes  %}
                        <option value="{{ region }}" {% if region is same as selectedCode %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="fr-col-12 fr-col-md-8">
                    <div class="fr-input-wrap fr-icon-phone-line">
                        <input type="tel" id="{{ id }}_input" class="fr-input" value="{{ inputNumber }}">
                    </div>
                </div>
                <input type="hidden" name="{{form.vars.full_name}}" value="{{ data }}">
            </div>
        </div>
        {{ block('form_errors') }}
    </div>
{% endblock %}