{% extends 'back/base_bo.html.twig' %}

{% block title %}Connexions SI externes{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils SA',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Connexions SI externes',
            'level3Link': '',
        } %}

        <header>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--left">
                    <h1 class="fr-mb-0">Connexions SI externes</h1>
                    <p><em>Données sur les {{ day_period}} derniers jours</em></p>
                </div>
            </div>
        </header>
    </section>

    {{ form_start(form) }}

    <section class="fr-container--fluid overflow-visible">
        {{ form_errors(form) }}
        <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-2">
                {{ form_row(form.reference) }}
            </div>
            <div class="fr-col-12 fr-col-lg-2">
                {{ form_row(form.territory) }}
            </div>
            <div class="fr-col-12 fr-col-lg-2">
                {{ form_row(form.partner) }}
            </div>
            <div class="fr-col-12 fr-col-lg-2">
                {{ form_row(form.status) }}
            </div>
            <div class="fr-col-12 fr-col-lg-2">
                {{ form_row(form.action) }}
            </div>
            <div class="fr-col-12 fr-col-lg-2">
                <a href="{{ path('back_interconnexion_index') }}" class="fr-link fr-link--icon-left fr-icon-close-circle-line">Réinitialiser les résultats</a>
            </div>
        </div>
    </section>

    <section class="fr-col-12 fr-py-5v">
        <h2 class="fr-mb-0" id="desc-table">{{ singular_or_plural(totalConnexions, 'connexion à un SI externe trouvée', 'connexions à un SI externe trouvées') }}</h2>
    </section>
    
    <section class="fr-col-3 fr-pt-0">
        {{ form_row(form.orderType) }}
    </section>

    {{ form_end(form) }}

    <section class="fr-col-12 fr-pt-0 fr-px-5v">
        {% set tableHead %}
            <th scope="col">Référence</th>
            <th scope="col">Dernière synchro</th>
            <th scope="col">Partenaire</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
            <th scope="col">Statut</th>
            <th scope="col">Détails</th>
        {% endset %}
        
        {% set tableBody %}
            {% for connection in connections %}
                {% set syncAt = connection.createdAt|date('d/m/Y H:i:s') %}
                {% set isResponseValid = connection.status == 'success'
                    and connection.response|length > 0
                    and connection.response != '[]' %}
                <tr>
                    <td>
                        {% if connection.uuid is not null %}
                            <a href="{{ path('back_signalement_view', {'uuid': connection.uuid}) }}">{{ connection.reference }}</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>{{ syncAt }}</td>
                    <td><a href="{{ path('back_partner_view', {'id' : connection.id}) }}">{{ connection.nom }}</a></td>
                    <td>{{ connection.service }}</td>
                    <td>{{ connection.action }}</td>
                    <td>
                        <span class="fr-badge fr-badge--no-icon {{ isResponseValid ? 'fr-badge--success' : 'fr-badge--error' }}">
                            {{ isResponseValid ? 'Success' : 'Fail' }}
                        </span>
                    </td>
                   <td>
                       {% set modalId = 'modal-' ~ loop.index %}
                       <button data-fr-opened="false"
                               aria-controls="{{ modalId }}"
                               type="button"
                               title="Afficher les détails de synchronisation pour {{ connection.reference }} le {{ syncAt  }}"
                               class="fr-btn fr-fi-eye-fill">
                       </button>
                       {% include 'back/interconnexion/_modal_detail.html.twig' %}
                   </td>
                </tr>
            {% endfor %}
        {% endset %}

        {% include '_partials/back/table.html.twig' with { 'tableLabel': 'Connexions SI externes', 'tableHead': tableHead, 'tableBody': tableBody, 'cancelSortable': true } %}

        <div id="interconnexion-pagination" class="fr-grid-row fr-mt-2v fr-grid-row--center">
            {% import '_partials/macros.html.twig' as macros %}
            {{ macros.customPagination(pages, searchInterconnexion.page, 'back_interconnexion_index', searchInterconnexion.urlParams) }}
        </div>
    </section>

{% endblock %} 
