{% extends 'base.html.twig' %}

{% block title %}Compléter le type et la composition du logement #{{ signalement.reference }}{% endblock %}

{% block body %}

<main class="fr-container fr-pb-5w" id="content">
	<nav role="navigation" class="fr-breadcrumb fr-mb-1w fr-mt-2w" aria-label="Voir le fil d'Ariane">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
		<div class="fr-collapse" id="breadcrumb-1">
			<ol class="fr-breadcrumb__list">
				<li><a class="fr-breadcrumb__link" href="{{ path('front_suivi_signalement', {code: signalement.codeSuivi}) }}">Votre dossier #{{ signalement.reference }}</a></li>
				<li><a class="fr-breadcrumb__link" href="{{ path('front_suivi_signalement_dossier', {code: signalement.codeSuivi}) }}">Détails du dossier</a></li>
				<li><a class="fr-breadcrumb__link" aria-current="page">Compléter le type et la composition du logement</a></li>
			</ol>
		</div>
	</nav>
	{{ form_start(form, {'attr': {'id': 'form-usager-complete-type-composition'}}) }}
	<div class="fr-grid-row fr-mt-3w">
		<div class="fr-col-12">
			<h1 class="title-blue-france">Compléter les informations</h1>
			<div class="fr-mb-3w">
				Complétez votre dossier en remplissant les champs ci-dessous.
				<br>
				Les champs marqués d'un astérisque (<span class="text-required">*</span>) sont obligatoires.
				<br>
				Les autres champs sont facultatifs, mais peuvent aider à une meilleure prise en charge du dossier.
			</div>
			{{ form_errors(form) }}
			<h2>Type et composition du logement</h2>
			<fieldset class="fr-fieldset">
				<div class="fr-fieldset__element">
					{{ form_row(form.natureLogement) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.natureAutrePrecision) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.etage) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.avecFenetres) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.superficie) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.pieceUnique) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.nbPieces) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.pieceAVivre9m) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.cuisine) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.cuisineCollective) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.salleDeBain) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.salleDeBainCollective) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.wc) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.wcCollective) }}
				</div>
				<div class="fr-fieldset__element">
					{{ form_row(form.wcCuisine) }}
				</div>
			</fieldset>
		</div>
		<div class="fr-col-12">
			<ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline fr-btns-group--icon-left">
				<li>
					{{ form_row(form.save) }}
				</li>
				<li>
					<a href="{{ path('front_suivi_signalement_dossier', {code: signalement.codeSuivi}) }}" class="fr-btn fr-btn--secondary">Annuler</a>
				</li>
			</ul>
		</div>
	</div>
	{{ form_end(form) }}
</main>
{% endblock %}
