{% extends 'back/base_bo.html.twig' %}

{% block title %}Mes brouillons{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Liste des signalements',
            'level2Link': path('back_signalement_drafts'),
            'level2Label': 'Retour à la liste des signalements',
            'level3Title': 'Brouillons',
            'level3Link': '',
        } %}
        <header>
            <div class="fr-grid-row">
                <div class="fr-col-6 fr-text--left">
                    <h1 class="fr-h1 fr-mb-0">Brouillons</h1>
                </div>
                <div class="fr-col-6 fr-text--right">
                    <a class="fr-btn fr-btn--success fr-btn--icon-left fr-icon-add-line" href="{{path('back_signalement_create')}}">Créer un signalement</a>
                </div>
            </div>
        </header>
    </section>
    <section class="fr-container--fluid">
        {% for signalement in drafts %}
            <div class="fr-card">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <div class="fr-grid-row">
                            <div class="fr-col-xl-8 fr-col-lg-6 fr-col-12">
                                <h3 class="fr-card__title fr-my-1v">#{{signalement.reference}} - {{signalement.nomOccupant|upper}} {{signalement.prenomOccupant|capitalize}}</h3>
                                <p class="fr-my-1v fr-text--bold fr-text--lg">{{signalement.adresseOccupant}}, {{signalement.cpOccupant}} {{signalement.villeOccupant}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="fr-card__footer">
                        <div class="fr-grid-row">
                            <div class="fr-col-12 fr-text--right">
                                <div class="fr-display-inline-flex">
                                    <a href="{{ path('back_signalement_edit_draft', { 'uuid': signalement.uuid }) }}" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-line fr-mx-1w">
                                        Terminer le signalement
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
