<h2 class="fr-h4">Coordonnées</h2>
{% include 'back/signalement_create/tabs/_partial_facultative.html.twig' %}

<div class="fr-alert fr-alert--warning fr-alert--sm fr-mb-5v">
    <p>Renseigner l'adresse e-mail de la personne occupant le logement ou d'un tiers est recommandé pour un meilleur suivi du dossier.</p>
</div>

{% form_theme formCoordonnees 'form/dsfr_theme.html.twig' %}
{{ form_start(formCoordonnees, {'attr': {'id': 'bo-form-signalement-coordonnees'}}) }}
{{ form_errors(formCoordonnees) }}
<div class="fr-grid-row fr-grid-row--gutters">

    <div class="fr-col-12 fr-col-md-6">
        <fieldset class="fr-fieldset">
            <legend>
                <h3 class="fr-h5">Occupant</h3>
            </legend>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.nomOccupant) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.prenomOccupant) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.mailOccupant) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.telOccupant) }}
            </div>
        </fieldset>

        <fieldset class="fr-fieldset">
            <legend>
                <h3 class="fr-h5">Bailleur</h3>
            </legend>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.typeProprio) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.denominationProprio) }}
            </div>
            <ul class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-autocomplete-list">
            </ul>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.nomProprio) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.prenomProprio) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.mailProprio) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.telProprio) }}
            </div>
        </fieldset>
        <fieldset class="fr-fieldset">
            <legend>
                <h4 class="fr-h6">Adresse postale</h4>
            </legend>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.adresseCompleteProprio) }}
                <div class="fr-address-group-container">
                    <div class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-address-proprio-group">
                    </div>
                </div>
                <div class="fr-mt-n2w">
                    <a href="#" class="fr-link fr-icon-edit-line fr-link--icon-left bo-signalement-manual-address-switcher">Saisir une adresse manuellement</a>
                </div>
            </div>
            <div class="fr-hidden fr-w-100 bo-form-signalement-manual-address-container">
                <div class="fr-fieldset__element">
                    {{ form_row(formCoordonnees.adresseProprio) }}
                </div>
                <div class="fr-fieldset__element">
                    {{ form_row(formCoordonnees.codePostalProprio) }}
                </div>
                <div class="fr-fieldset__element">
                    {{ form_row(formCoordonnees.villeProprio) }}
                </div>
            </div>
        </fieldset>
    </div>

    <div class="fr-col-12 fr-col-md-6">
        <fieldset class="fr-fieldset">
            <legend>
                <h3 class="fr-h5">Tiers</h3>
            </legend>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.profileDeclarantTiers) }}
            </div>
            <div id="warning_profile_declarant_bailleur_occupant" class="fr-alert fr-alert--warning fr-alert--sm fr-mt-n2w fr-mb-2w fr-hidden">
                <p>
                    <strong>Propriétaire occupant</strong> représente un profil occupant. 
                    Merci de bien renseigner le nom, prénom et e-mail de l'occupant, dans le cas inverse vos informations seront utilisées.
                </p>
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.lienDeclarantOccupant) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.isProTiersDeclarant) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.structureDeclarant) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.nomDeclarant) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.prenomDeclarant) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.mailDeclarant) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.telDeclarant) }}
            </div>
        </fieldset>

        <fieldset class="fr-fieldset">
            <legend>
                <h3 class="fr-h5">Gestionnaire / agence</h3>
            </legend>
            <div class="fr-fieldset__element fr-mb-5v">
                <div class="fr-alert fr-alert--info fr-alert--sm">
                    <p>Si le logement est géré par une agence, renseignez les coordonnées de l'agence.</p>
                </div>
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.denominationAgence) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.nomAgence) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.prenomAgence) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.mailAgence) }}
            </div>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.telAgence) }}
            </div>
        </fieldset>
        <fieldset class="fr-fieldset">
            <legend>
                <h4 class="fr-h6">Adresse postale</h4>
            </legend>
            <div class="fr-fieldset__element">
                {{ form_row(formCoordonnees.adresseCompleteAgence) }}
                <div class="fr-address-group-container">
                    <div class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-address-agence-group">
                    </div>
                </div>
                <div class="fr-mt-n2w">
                    <a href="#" class="fr-link fr-icon-edit-line fr-link--icon-left bo-signalement-manual-address-switcher">Saisir une adresse manuellement</a>
                </div>
            </div>
            <div class="fr-hidden fr-w-100 bo-form-signalement-manual-address-container">
                <div class="fr-fieldset__element">
                    {{ form_row(formCoordonnees.adresseAgence) }}
                </div>
                <div class="fr-fieldset__element">
                    {{ form_row(formCoordonnees.codePostalAgence) }}
                </div>
                <div class="fr-fieldset__element">
                    {{ form_row(formCoordonnees.villeAgence) }}
                </div>
            </div>
        </fieldset>
    </div>

    <div class="fr-col-6">
        <div class="fr-grid-row fr-grid-row--left">
            {{ form_row(formCoordonnees.previous) }}
        </div>
    </div>
    <div class="fr-col-6">
        <div class="fr-grid-row fr-grid-row--right">
            {{ form_row(formCoordonnees.forceSave) }}
            {{ form_row(formCoordonnees.draft) }}
            {{ form_row(formCoordonnees.save) }}
        </div>
    </div>

</div>
{{ form_end(formCoordonnees) }}