<h2 class="fr-h4">Désordres</h2>
<p>Renseignez ici les désordres déclarés dans le logement. Vous devez renseigner au moins 1 désordre.</p>
<div class="fr-alert fr-alert--warning">
	<p>
		Vous ne pourrez plus ajouter de désordres après l'enregistrement du signalement ! Veuillez renseigner <u>tous</u> les désordres.
	</p>
</div>

{% form_theme formDesordres 'form/dsfr_theme.html.twig' %}
{{ form_start(formDesordres, {'attr': {'id': 'bo-form-signalement-desordres'}}) }}

<div class="fr-grid-row fr-grid-row--gutters fr-mt-3v">
    <div class="fr-col-12">
        <fieldset class="fr-fieldset">
            <div class="fr-fieldset__element">
                {{ form_row(formDesordres.details) }}
            </div>
        </fieldset>
    </div>

    <div class="fr-col-6">
        <h3 class="fr-h5">Logement</h3>
        <span>Désordres déclarés dans le logement</span>
        <span class="fr-hint-text">Sélectionnez au moins 1 désordre dans la liste</span>
        <button class="fr-btn fr-btn--icon-left fr-icon-add-line"
            title="Sélectionner les désordres" type="button"
            data-fr-opened="false" aria-controls="fr-modal-desordres-logement-add"
            >
            Sélectionner les désordres
        </button>
        {{ _self.display_criteres('LOGEMENT', criteresByZone['LOGEMENT']) }}
    </div>
    <div class="fr-col-6">
        <h3 class="fr-h5">Bâtiment</h3>
        <span>Désordres déclarés dans le bâtiment</span>
        <span class="fr-hint-text">Sélectionnez au moins 1 désordre dans la liste</span>
        <button class="fr-btn fr-btn--icon-left fr-icon-add-line"
            title="Sélectionner les désordres" type="button"
            data-fr-opened="false" aria-controls="fr-modal-desordres-batiment-add"
            >
            Sélectionner les désordres
        </button>
        {{ _self.display_criteres('BATIMENT', criteresByZone['BATIMENT']) }}
    </div>

    <div class="fr-col-6">
        <div class="fr-grid-row fr-grid-row--left">
            {{ form_row(formDesordres.previous) }}
        </div>
    </div>
    <div class="fr-col-6">
        <div class="fr-grid-row fr-grid-row--right">
            {{ form_row(formDesordres.forceSave) }}
            {{ form_row(formDesordres.draft) }}
            {{ form_row(formDesordres.save) }}
        </div>
    </div>

</div>

{% set desordres_logement = [] %}
{% set desordres_batiment = [] %}

{% for field in formDesordres %}
    {% if field.vars.name starts with 'desordres_LOGEMENT' and not field.rendered %}
        {% set desordres_logement = desordres_logement|merge([field]) %}
    {% elseif field.vars.name starts with 'desordres_BATIMENT' and not field.rendered %}
        {% set desordres_batiment = desordres_batiment|merge([field]) %}
    {% endif %}
    {% set nuisibles_autres_critere = '_details_type_nuisibles' %}
    {% set nuisibles_logement_autres_critere = '_desordres_logement_nuisibles_autres' %}
    {% set precisionHauteur = 'desordres_logement_lumiere_plafond_trop_bas' %}

    {% if field.vars.name starts with 'precisions_' and not field.rendered %}
        {% set critereId = field.vars.id|replace({'signalement_draft_desordres_precisions_': ''}) %}
        {% set critereId = critereId|replace({'_details_type_nuisibles': ''}) %}
        {% set critereId = critereId|replace({'_desordres_logement_nuisibles_autres': ''}) %}
        {% set critereId = critereId|replace({'_desordres_batiment_nuisibles_autres': ''}) %}
        <dialog 
            aria-labelledby="fr-modal-title-{{ critereId }}" 
            id="modal-precisions-{{ critereId }}" 
            class="fr-modal" 
            data-critereId={{ critereId }}
            data-critereSlug={{ field.vars.attr['data-slug-critere'] }}
        >
            <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6"> 
                        <div class="fr-modal__body">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" type="button" title="Fermer la fenêtre modale" aria-controls="modal-precisions-{{ critereId }}">Fermer</button>
                            </div>
                            <div class="fr-modal__content">
                                <h1 id="fr-modal-title-{{ critereId }}" class="fr-modal__title">Editer les détails du désordre : {{ field.vars.label }}</h1>
                                <p>Renseignez les détails du désordre</p>
                                
                                {# Vérification si le champ texte existe pour le critère nuisibles #}
                                {% set detailsFieldName = field.vars.name ~ nuisibles_logement_autres_critere ~ nuisibles_autres_critere %}
                                {% if field.vars.name ends with nuisibles_autres_critere or (formDesordres and attribute(formDesordres, detailsFieldName) is defined) %}
                                    <fieldset class="fr-fieldset">
                                        <div class="fr-fieldset__element">
                                            <div class="fr-input-group">
                                                <label class="fr-label" for="{{ field.vars.id }}">
                                                    Précisez le type de nuisible
                                                </label>
                                                {% if formDesordres and attribute(formDesordres, detailsFieldName) is defined %}
                                                    {{ form_widget(attribute(formDesordres, detailsFieldName)) }}
                                                {% else %}
                                                    {{ form_widget(field) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </fieldset>
                                {% endif %}

                                {% for child in field %}
                                    <fieldset class="fr-fieldset">
                                        <div class="fr-fieldset__element">
                                            <div class="fr-checkbox-group">
                                                {{ form_widget(child) }}
                                                <label class="fr-label" for="{{ child.vars.id }}"><span>{{ child.vars.label|raw }}</span></label>
                                                {# Vérification si le champ texte existe pour le critère plafond trop bas #}
                                                {% if field.vars.attr['data-slug-critere'] is same as precisionHauteur %}
                                                    <div class="fr-mt-2v">
                                                        {% set piece = '_toutes_pieces' %}
                                                        {% if 'cuisine' in child.vars.label|raw %}
                                                            {% set piece = '_cuisine' %}
                                                        {% elseif 'salle de bain' in child.vars.label|raw %}
                                                            {% set piece = '_salle_de_bain' %}
                                                        {% elseif 'salon' in child.vars.label|raw %}
                                                            {% set piece = '_piece_a_vivre' %}
                                                        {% endif %}
                                                        {% set detailsFieldName = field.vars.name ~ '_' ~ precisionHauteur ~ piece %}
                                                        <label for="{{ detailsFieldName }}">Précisez la hauteur du plafond (en cm)</label>
                                                        {% if formDesordres and attribute(formDesordres, detailsFieldName) is defined %}
                                                            {{ form_widget(attribute(formDesordres, detailsFieldName)) }}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </fieldset>
                                {% endfor %}
                            </div>
                            <div class="fr-modal__footer">
                                <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                    <button class="fr-btn fr-icon-check-line valid-edit-precisions" type="button" aria-controls="modal-precisions-{{ critereId }}">Valider</button>
                                    {# todo comment gérer l'annulation ?  #}
                                    {# <button class="fr-btn fr-btn--secondary fr-icon-close-line" type="button" aria-controls="modal-precisions-{{ critereId }}">Annuler</button> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dialog>
    {% endif %}
{% endfor %}
{% macro display_criteres(zone, criteres) %}
    <div class="fr-col-12" id="list-critere-{{zone}}">
        <h4 class="fr-h6 fr-mt-5v fr-hidden">Désordres sélectionnés</h4>
        {# Le reste est ajouté en js  #}
    </div>
{% endmacro %}

{% macro modal_add_criteres(id, title, desordres, zone) %}
    <dialog aria-labelledby="fr-modal-title-{{ id }}" id="fr-modal-{{ id }}" class="fr-modal" data-zone={{ zone }}>
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" type="button" title="Fermer la fenêtre modale" aria-controls="fr-modal-{{ id }}">Fermer</button>
                        </div>
                        <div class="fr-modal__content fr-pb-32v">
                            <h1 id="fr-modal-title-{{ id }}" class="fr-modal__title">{{ title }}</h1>
                            <p>Sélectionnez un ou plusieurs désordres dans la liste ci-dessous. Les détails des désordres seront à saisir dans un second temps.</p>
                            {% for field in desordres %}
                                {{ form_row(field) }}
                            {% endfor %}
                        </div>
                        <div class="fr-modal__footer fr-zindex-100">
                            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <button class="fr-btn fr-icon-check-line valid-add-critere" type="button" aria-controls="fr-modal-{{ id }}">Valider</button>
                                {# <button class="fr-btn fr-btn--secondary fr-icon-close-line" type="button" aria-controls="fr-modal-{{ id }}">Annuler</button> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
{% endmacro %}

{{ _self.modal_add_criteres('desordres-batiment-add', 'Désordres dans le bâtiment', desordres_batiment, 'BATIMENT') }}
{{ _self.modal_add_criteres('desordres-logement-add', 'Désordres dans le logement', desordres_logement, 'LOGEMENT') }}


{{ form_end(formDesordres) }}