{% extends 'back/base_bo.html.twig' %}

{% block title %}Administration - Tous mes signalements{% endblock %}

{% block content %}

    <section class="fr-pt-5v {{ app.request.get('_route') == 'back_signalements_index' ? container_class : 'fr-pl-5v' }}">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Liste des signalements',
            'level2Link': '',
            'level2Label': '',
        } %}
    </section>
    <div id="app-signalement-view"
         data-ajaxurl="{{ path('back_signalements_list_json') }}"
         data-ajaxurl-export-csv="{{ path('back_signalement_list_export') }}"
         data-ajaxurl-settings="{{ path('back_settings') }}"
         data-ajaxurl-contact="{{ sites_faciles_url }}une-question/"
         data-ajaxurl-remove-signalement="{{ path('back_signalement_delete', {'uuid' : '<uuid>'}) }}"
         data-platform-name="{{ platform.name }}"
    >

    </div>
{% endblock %}
