{% extends 'back/base_bo.html.twig' %}

{% block title %}Administration - Tous mes signalements{% endblock %}

{% block content %}

    {% if platform.feature_enable_menu_horizontale %}
        <section class="fr-pt-5v {{ app.request.get('_route') == 'back_signalement_index' ? container_class : 'fr-pl-5v' }}">
            {% include 'back/breadcrumb_bo.html.twig' with {
                'level2Title': 'Liste des signalements',
                'level2Link': '',
                'level2Label': '',
            } %}
        </section>
    {% else %}
        <section class="fr-pt-5v fr-pl-5v">
            {% include 'back/breadcrumb_bo.html.twig' with {
                'level2Title': 'Liste des signalements',
                'level2Link': '',
                'level2Label': '',
            } %}
        </section>
    {% endif %}
    <div id="app-signalement-list"
         data-ajaxurl="{{ path('back_signalement_list_json') }}"
         data-ajaxurl-export-csv="{{ path('back_signalement_list_export') }}"
         data-ajaxurl-settings="{{ path('back_widget_settings') }}"
         data-ajaxurl-contact="{{ path('front_contact') }}"
         data-ajaxurl-remove-signalement="{{ path('back_signalement_delete', {'uuid' : '<uuid>'}) }}"
         data-feature-enable-menu-horizontale="{{ platform.feature_enable_menu_horizontale }}"
    >

    </div>
{% endblock %}
