{% extends 'back/base_bo.html.twig' %}

{% block title %}Administration - Tous mes signalements{% endblock %}

{% block customscripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block content %}
    <div id="app-signalement-list"
         data-ajaxurl="{{ path('back_signalement_list_json') }}"
         data-ajaxurl-export-csv="{{ path('back_signalement_list_export') }}"
         data-ajaxurl-settings="{{ path('back_widget_settings') }}"
         data-ajaxurl-remove-signalement="{{ path('back_v2_signalement_delete', {'uuid' : '<uuid>'}) }}"
    >

    </div>
{% endblock %}
