{% extends 'back/base_bo.html.twig' %}

{% block title %} Administration - Nouveauté(s) {% endblock %}

{% block content %}
    <section class="fr-grid-row fr-grid-row--middle fr-p-5v ">
        <div class="fr-col-6">
            <h1 class="fr-h2 fr-mb-0">Notification(s)</h1>
        </div>
        <div class="fr-col-6 fr-text--right">
            <div id="notification-selected-buttons" class="fr-hidden">
                <span id="notification-selected-buttons-count"></span> sélectionnée(s) :
                <form method="POST" action="{{ path('back_notifications_list_read') }}">
                    <button type="submit" class="fr-btn fr-fi-check-line fr-btn--icon-left">Marquer comme lue(s)</button>
                    <input type="hidden" name="selected_notifications" value="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('mark_as_read_'~app.user.id) }}">
                </form>
                <form method="POST" action="{{ path('back_notifications_list_delete') }}">
                    <button type="submit" class="fr-btn fr-fi-delete-line fr-btn--danger fr-btn--icon-left">Supprimer</button>
                    <input type="hidden" name="selected_notifications" value="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('delete_notifications_'~app.user.id) }}">
                </form>
            </div>
            <div id="notification-all-buttons">
                <a href="{{ path('back_notifications_list_read') }}?mark_as_read={{ csrf_token('mark_as_read_'~app.user.id) }}"
                class="fr-btn fr-fi-check-line fr-btn--icon-left">Marquer comme lus (tous)</a>
                <a href="{{ path('back_notifications_list_delete') }}?delete_all_notifications={{ csrf_token('delete_all_notifications_'~app.user.id) }}"
                class="fr-btn fr-fi-delete-line fr-btn--danger fr-btn--icon-left">Vider</a>
            </div>
        </div>
    </section>
    <section class="fr-col-12 fr-table fr-table--bordered fr-pt-0">
        <table class="fr-display-inline-table">
            <thead>
            <tr>
                <th></th>
                <th>Signalement</th>
                <th>Date</th>
                <td>Desc.</td>
                <th>Par</th>
                <th class="fr-text--right">actions</th>
            </tr>
            </thead>
            <tbody>
            <tr style="background: white!important">
                <td colspan="6" class="fr-text--bold">{{ count_notification(app.user) }}  Nouveau(x) suivi(s)</td>
            </tr>
            {% for notification in notifications %}
                <tr class="partner-row">
                    <td>
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group">
                                <input name="check-notification-{{ notification.id }}" id="check-notification-{{ notification.id }}" type="checkbox" class="check-notification" data-notification-id="{{ notification.id }}">
                                <label class="fr-label" for="check-notification-{{ notification.id }}">&nbsp;</label>
                            </div>
                        </div>
                    </td>
                    <td>{{ notification.suivi.signalement.reference }}</td>
                    <td>{{ notification.suivi.createdAt|format_datetime(locale='fr') }}</td>
                    <td>{{ notification.suivi.description|replace({'&t=___TOKEN___':''})|replace({'?t=___TOKEN___':''})|raw }}</td>
                    <td>{{ notification.suivi.createdBy ? notification.suivi.createdBy.nomComplet : notification.signalement.nomOccupant|upper~' '~notification.signalement.prenomOccupant|capitalize }}</td>
                    <td class="fr-text--right">
                        <a href="{{ path('back_signalement_view',{uuid:notification.suivi.signalement.uuid}) }}#suivis"
                           class="fr-btn fr-btn--sm {{ notification.isSeen ? 'fr-fi-check-line fr-btn--success':'fr-fi-eye-fill' }}"></a>
                        <a href="{{ path('back_notifications_delete_notification',{id:notification.id}) }}?_token={{ csrf_token('back_delete_notification_'~notification.id) }}"
                           class="fr-btn fr-btn--sm fr-btn--danger fr-fi-delete-line"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="fr-text--center">Aucun suivi non lu</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="fr-grid-row fr-mt-2v fr-grid-row--center">
            <nav role="navigation" class="fr-pagination" aria-label="Pagination">
                <ul class="fr-pagination__list">
                    <li>
                        <a class="fr-pagination__link fr-pagination__link--first"
                                {% if pages > 1 %}
                            href="{{ path('back_notifications_list', {page : 1 }) }}"
                        {% else %}
                            aria-disabled="true"
                                {% endif %}>
                            Première page
                        </a>
                    </li>
                    <li>
                        <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"
                                {% if pages > 1 and page != 1 %}
                                    href="{{ path('back_notifications_list', {page : page - 1 }) }}"
                                {% else %}
                                    aria-disabled="true"
                                {% endif %} role="link">
                            Page précédente
                        </a>
                    </li>
                    <li>
                        <a class="fr-pagination__link" {{ page == 1 ? 'aria-current="page"' : '' }}
                           title="Page 1"
                           data-page="1"
                           href="{{ path('back_notifications_list', {page : 1 }) }}">
                            1
                        </a>
                    </li>
                    {% if pages > 1 %}
                        {% for i in 2..pages %}
                            <li class="{% if loop.index > 2 and loop.index < pages-3 %}fr-hidden{% endif %}">
                                <a class="fr-pagination__link" {{ page == i ? 'aria-current="page"' : '' }}
                                   href="{{ path('back_notifications_list', {page : i }) }}"
                                   title="Page {{ i }}"
                                   data-page="{{ i }}">
                                    {{ i }}
                                </a>
                            </li>
                            {% if loop.index is same as(3) %}
                                <li>
                                    <a class="fr-pagination__link" title="placeholder">
                                        ...
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <li>
                        <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"
                                {% if pages > 1  and page < pages %}
                                    href="{{ path('back_notifications_list', {page : page + 1 }) }}"
                                {% else %}
                                    aria-disabled="true"
                                {% endif %} role="link">
                            Page suivante
                        </a>
                    </li>
                    <li>
                        <a class="fr-pagination__link fr-pagination__link--last"
                                {% if pages > 1 %}
                                    href="{{ path('back_notifications_list', {page : pages }) }}"
                                {% else %}
                                    aria-disabled="true"
                                {% endif %}
                           data-page="{{ pages }}">
                            Dernière page
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}