{% extends 'back/base_bo.html.twig' %}

{% block title %} Administration - Nouveauté(s) {% endblock %}

{% block content %}
    <section class="fr-p-4v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Notifications',
            'level2Link': '',
            'level2Label': '',
        } %}
    </section>
    <section class="fr-grid-row fr-grid-row--middle fr-p-4v ">
        <div class="fr-col-12 fr-col-md-6">
            <h1 class="fr-h2 fr-mb-0">Notification(s)</h1>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-text--md-right">
            <div id="notification-selected-buttons" class="fr-hidden">
                <span id="notification-selected-buttons-count"></span> sélectionnée(s) :
                <form method="POST" action="{{ path('back_notifications_list_read', searchNotification.urlParams) }}">
                    <button type="submit" class="fr-btn fr-fi-check-line fr-btn--icon-left fr-btn--block fr-btn--md-inline">Marquer comme lue(s)</button>
                    <input type="hidden" name="selected_notifications" value="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('mark_as_read_'~app.user.id) }}">
                </form>
                <form method="POST" action="{{ path('back_notifications_list_delete', searchNotification.urlParams) }}">
                    <button type="submit" class="fr-btn fr-fi-delete-line fr-btn--danger fr-btn--icon-left fr-btn--block fr-btn--md-inline">Supprimer</button>
                    <input type="hidden" name="selected_notifications" value="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('delete_notifications_'~app.user.id) }}">
                </form>
            </div>
            <div id="notification-all-buttons">
                {% set routeParams = {mark_as_read: csrf_token('mark_as_read_'~app.user.id)}|merge(searchNotification.urlParams) %}
                <a href="{{ path('back_notifications_list_read', routeParams) }}"
                class="fr-btn fr-fi-check-line fr-btn--icon-left fr-btn--block fr-btn--md-inline">Marquer comme lus (tous)</a>
                {% set routeParams = {delete_all_notifications: csrf_token('delete_all_notifications_'~app.user.id)}|merge(searchNotification.urlParams) %}
                <a href="{{ path('back_notifications_list_delete', routeParams) }}"
                class="fr-btn fr-fi-delete-line fr-btn--danger fr-btn--icon-left fr-btn--block fr-btn--md-inline">Vider</a>
            </div>
        </div>
    </section>

    <section class="fr-col-12 fr-px-4v">
        <h2 class="fr-h6 fr-mb-0" id="desc-table">{{ count_notification(app.user) }} nouveau(x) suivi(s)</h2>
    </section>
    
    {{ form_start(form) }}
    <section class="fr-col-12 fr-col-lg-3 fr-pt-0">
        {{ form_row(form.orderType) }}
    </section>
    {{ form_end(form) }}

    <section class="fr-col-12 fr-pt-0 fr-px-4v">
        {% set tableHead %}
            <th scope="col"></th>
            <th scope="col">Signalement</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Par</th>
            <th scope="col" class="fr-text--right">actions</th>
        {% endset %}

        {% set tableBody %}
            {% for notification in notifications %}
                <tr class="partner-row">
                    <td>
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group">
                                <input name="check-notification-{{ notification.id }}" id="check-notification-{{ notification.id }}" type="checkbox" class="check-notification" data-notification-id="{{ notification.id }}">
                                <label class="fr-label" for="check-notification-{{ notification.id }}">&nbsp;</label>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ notification.signalement.reference }}
                        <br>
                        ({{ notification.signalement.villeOccupant }})
                    </td>
                    <td>{{ notification.createdAt|format_datetime(locale='fr', timezone=territory_timezone, pattern='d MMMM yyyy à HH:mm:ss') }}</td>
                    <td class="word-wrap-anywhere">{{ notification.suivi? transform_suivi_description(notification.suivi)|raw : notification.description }}</td>
                    {% if notification.suivi and notification.suivi.createdBy %}
                        {% set auteur =  notification.suivi.createdBy.nomComplet %} 
                    {% elseif notification.affectation and notification.affectation.answeredBy %}
                        {% set auteur = notification.affectation.answeredBy.nomComplet %}
                    {% else %}
                        {% set auteur = notification.signalement.nomOccupant|upper~' '~notification.signalement.prenomOccupant|capitalize %}   
                    {% endif %}
                    <td>{{ auteur }}</td>
                    <td class="fr-text--right fr-ws-nowrap">
                        {% set link = path('back_signalement_view', {uuid: notification.signalement.uuid}) ~ (notification.suivi ? '#suivis' : '') %}
                        <a href="{{ link }}"
                        class="fr-btn fr-btn--sm {{ notification.isSeen ? 'fr-fi-check-line fr-btn--success':'fr-fi-eye-fill' }}"></a>
                        {% set routeParams = {id: notification.id, _token: csrf_token('back_delete_notification_'~notification.id)}|merge(searchNotification.urlParams) %}
                        <a href="{{ path('back_notifications_delete_notification', routeParams) }}"
                        class="fr-btn fr-btn--sm fr-btn--danger fr-fi-delete-line"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="fr-text--center">Aucun suivi non lu</td>
                </tr>
            {% endfor %}
        {% endset %}

        {% include '_partials/back/table.html.twig' with { 'tableLabel': 'Liste des notifications', 'tableHead': tableHead, 'tableBody': tableBody, cancelSortable: true } %}
        
        <div class="fr-grid-row fr-mt-2v fr-grid-row--center" id="notifications-pagination">
            {% import '_partials/macros.html.twig' as macros %}
            {{ macros.customPagination(pages, searchNotification.page, 'back_notifications_list', searchNotification.urlParams) }}
        </div>
    </section>
{% endblock %}
