<dialog aria-labelledby="fr-modal-add-suivi-title" id="fr-modal-add-suivi" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-10">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-add-suivi">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-add-suivi-title" class="fr-modal__title">
                            Ajouter un suivi
                        </h1>
                        {{ form_start(addSuiviForm, {'attr': {'id': 'signalement-add-suivi-form', 'data-submit-type':'formData'}}) }}
                        <div class="fr-container">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12">
                                    <div class="fr-input-group">
                                        <span class="no-field-errors"></span>
                                    </div>
                                    {{ form_errors(addSuiviForm) }}
                                    {% if show_email_alert(signalement.mailDeclarant) and show_email_alert(signalement.mailOccupant) %}
                                        <p class="fr-badge fr-badge--error">L'adresse e-mail de l'usager n'est pas valide. Vous ne pouvez pas lui envoyer le suivi.</p>
                                    {% endif %}
                                </div>
                                <div class="fr-col-12">
                                    {{ form_row(addSuiviForm.isPublic) }}
                                </div>
                                <div class="fr-col-12 fr-col-md-7" id="suivi-description">
                                    {{ form_row(addSuiviForm.description) }}
                                </div>
                                <div class="fr-col-12 fr-col-md-5" id="suivi-files">
                                    {{ form_row(addSuiviForm.files) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(addSuiviForm) }}
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <button type="submit" class="fr-btn fr-btn--icon-left fr-icon-check-line"
                                        form="signalement-add-suivi-form" id="signalement-add-suivi-submit">
                                    Enregistrer le suivi interne
                                </button>
                            </li>
                            <li>
                                <button class="fr-btn fr-btn--secondary fr-icon-close-line" aria-controls="fr-modal-add-suivi" type="button">
                                    Annuler
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>