{% extends 'back/base_bo.html.twig' %}

{% block title %}Zones du territoire{% endblock %}

{% block content %}
    <section class="fr-pt-4v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils admin',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Mon territoire',
            'level3Link': path('back_territory_management_index'),
            'level4Title': 'Zones',
            'level4Link': '',
        } %}

        <header>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-8 fr-text--left">
                    <h1 class="fr-mb-0">Gérer les zones du territoires</h1>
                    <p>
                        Les zones peuvent être créées, éditées et supprimées par les responsables territoire uniquement. 
                    </p>
                </div>
                <div class="fr-col-12 fr-col-md-4 fr-text--md-right">
                    <button class="fr-btn fr-btn--icon-left fr-icon-add-line fr-btn--block fr-btn--md-inline"
                        title="Ajouter une zone"
                        data-fr-opened="false" aria-controls="fr-modal-zone-add"
                        >Ajouter une zone</button>
                </div>
            </div>
        </header>
    </section>

    {{ form_start(form) }}

    <section class="fr-col-12" aria-labelledby="filters-title">
        {% include '_partials/back/filters-title.html.twig' with {
            'skiplink_href': '#list-zones',
            'skiplink_label': 'Accéder à la liste des zones'
        } %}
        {{ form_errors(form) }}
        <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-3">
                {{ form_row(form.queryName) }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="fr-col-12 fr-col-lg-3">
                    {{ form_row(form.territory) }}
                </div>
            {% endif %}
            <div class="fr-col-12 fr-col-lg-3">
                {{ form_row(form.type) }}
            </div>
            <div class="fr-col-12 fr-col-lg-3">
                <a href="{{ path('back_territory_management_zone_index') }}" class="fr-link fr-link--icon-left fr-icon-close-circle-line">Réinitialiser les résultats</a>
            </div>
        </div>
    </section>

    <section class="fr-col-12 fr-py-5v" id="title-list-results" aria-labelledby="desc-table">
        {% include 'back/zone/_title-list-results.html.twig' %}
    </section>
    
    <section class="fr-col-12 fr-col-lg-3 fr-pt-0">
        {{ form_row(form.orderType) }}
    </section>

    {{ form_end(form) }}

    <section class="fr-col-12" id="table-list-results">
        {% include 'back/zone/_table-list-results.html.twig' %}
    </section>

    {# Modale d'ajout #}
    <div data-ajax-form>
        <dialog aria-labelledby="fr-modal-title-zone-add" id="fr-modal-zone-add" class="fr-modal">
            <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                        <div class="fr-modal__body">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-zone-add">Fermer</button>
                            </div>
                            <div class="fr-modal__content">
                                <h1 id="fr-modal-title-zone-add" class="fr-modal__title">
                                    Ajouter une zone
                                </h1>
                                {{form(addForm, {'attr': {'id': 'form-add-zone'}} )}}
                            </div>
                            <div class="fr-modal__footer">
                                <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                    <button class="fr-btn fr-icon-check-line" form="form-add-zone" type="submit"
                                        >Valider</button>
                                    <button class="fr-btn fr-btn--secondary fr-icon-close-line" type="button" aria-controls="fr-modal-zone-add"
                                        >Annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dialog>
    </div>
    {# Modale de suppression #}
    <div data-ajax-form>
        <dialog aria-labelledby="fr-modal-title-zone-delete" id="fr-modal-zone-delete" class="fr-modal">
            <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                        <div class="fr-modal__body">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-zone-delete">Fermer</button>
                            </div>
                            <div class="fr-modal__content">
                                <h1 id="fr-modal-title-zone-delete" class="fr-modal__title">
                                    Supprimer la zone : <span id="fr-modal-zone-delete-zone-name"></span>
                                </h1>
                                <p>Vous êtes sur le point de supprimer une zone.</p>
                                <p>Une fois la zone supprimée :</p>
                                <ul>
                                    <li>Elle sera retirée de tous les partenaires sur lesquels elle est positionnées</li>
                                </ul>
                                <form action="#" id="zone_delete_form" method="POST" data-submit-type="formData">
                                    <input type="hidden" name="search_params" value="{{ app.request.query.all|url_encode }}">
                                </form>
                            </div>
                            <div class="fr-modal__footer">
                                <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                    <button class="fr-btn fr-icon-check-line" form="zone_delete_form" type="submit">Oui, supprimer</button>
                                    <button class="fr-btn fr-btn--secondary fr-icon-close-line" type="button" aria-controls="fr-modal-zone-delete">Non, annuler</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dialog>
    </div>
{% endblock %}