{% extends 'back/base_bo.html.twig' %}

{% block title %}Comptes archivés ou sans territoires et/ou partenaires{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils SA',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Comptes archivés',
            'level3Link': '',
        } %}
        <header>
            <div class="fr-grid-row">
                <div class="fr-col-6 fr-text--left">
                    <h1 class="fr-h1 fr-mb-0">Comptes archivés</h1>
                </div>
            </div>
        </header>
    </section>

    {% form_theme form 'form/dsfr_theme.html.twig' %}
    {{ form_start(form) }}

    {% if is_granted('ROLE_ADMIN') %}
    <section class="fr-container--fluid">
        {{ form_errors(form) }}
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-3">
                {{ form_row(form.queryUser) }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="fr-col-12 fr-col-lg-3">
                    {{ form_row(form.territory) }}
                </div>
            {% endif %}
            <div class="fr-col-12 fr-col-lg-3">
                {{ form_row(form.partner) }}
            </div>
            <div class="fr-col-12 fr-col-lg-3">
                <a href="{{ path('back_archived_users_index') }}" class="fr-link fr-link--icon-left fr-icon-close-circle-line">Réinitialiser les résultats</a>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="fr-col-12 fr-py-5v">
        <h2 class="fr-mb-0" id="desc-table">{{ singular_or_plural(users|length, 'compte archivé ou sans territoire et/ou partenaire trouvé', 'comptes archivés ou sans territoire et/ou partenaire trouvés') }}</h2>
    </section>
    
    <section class="fr-col-3 fr-pt-0">
        {{ form_row(form.orderType) }}
    </section>

    {{ form_end(form) }}

    <section class="fr-col-12 fr-pt-0 fr-px-5v">
        {% set tableHead %}
            <th scope="col">Partenaire</th>
            <th scope="col">Territoire</th>
            <th scope="col">Statut part.</th>
            <th scope="col">E-mail</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col" class="fr-text--right">Actions</th>
        {% endset %}

        {% set tableBody %}
            {% for user in users %}
                <tr class="user-row">
                    <td>
                        {% if user.partners.isEmpty%}
                            aucun
                        {% else %}
                            {% for partner in user.partners %}
                                {{ partner.nom }}
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.partners.isEmpty %}
                            aucun
                        {% else %}
                            {% for partner in user.partners %}
                                {% if partner.territory %}
                                    {{ partner.territory.zip ~ ' - ' ~ partner.territory.name }}
                                {% else %}
                                    aucun
                                {% endif %}
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.partners.isEmpty %}
                            <span class="fr-badge fr-badge--info fr-badge--no-icon fr-ws-nowrap ">AUCUN</span>
                        {% else %}
                            {% for partner in user.partners %}
                                {% set classe = 'fr-badge--success' %}
                                {% set statut = 'actif' %}
                                {% if partner.isArchive %}
                                    {% set classe = 'fr-badge--error' %}
                                    {% set statut = 'archivé' %}
                                {% endif %}
                                <span class="fr-badge {{ classe }} fr-badge--no-icon fr-ws-nowrap ">{{ statut|upper }}</span>
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ user.email|clean_tagged_text(constant('App\\Entity\\User::SUFFIXE_ARCHIVED'), 'left') }}</ail td>
                    <td>{{ user.nom}}</ail td>
                    <td>{{ user.prenom}}</ail td>
                    <td class="fr-text--right">
                        <a href="{{ path('back_archived_users_reactiver', {'id': user.id}) }}"
                        class="fr-btn fr-icon-flashlight-fill fr-btn--sm" title="Réactiver le compte {{user.email|clean_tagged_text(constant('App\\Entity\\User::SUFFIXE_ARCHIVED'), 'left')}}"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun utilisateur trouvé</td>
                </tr>
            {% endfor %}
        {% endset %}

        {% include '_partials/back/table.html.twig' with { 'tableLabel': 'Liste des comptes archivés ou sans territoires et/ou partenaires', 'tableHead': tableHead, 'tableBody': tableBody, 'cancelSortable': true } %}

        <div class="fr-grid-row fr-mt-2v fr-grid-row--center">
            {% import '_partials/macros.html.twig' as macros %}
            {{ macros.customPagination(pages, searchArchivedUser.page, 'back_archived_users_index', searchArchivedUser.urlParams) }}
        </div>
    </section>


{% endblock %}
