<div class="signalement-visites-buttons fr-text--right fr-btns-group fr-btns-group--inline fr-btns-group--sm fr-btns-group--right fr-btns-group--icon-left">
    {% if signalement.interventions is empty %} 
        <button class="fr-btn fr-fi-calendar-line" aria-controls="add-visite-modal" data-fr-opened="false">
            Ajouter une visite
        </button>
    {% elseif intervention.status is same as constant('App\\Entity\\Intervention::STATUS_PLANNED') %}    
        {% if is_granted('SIGN_ADD_VISITE', intervention.signalement) %}
            {% if workflow_can(intervention, 'cancel') %}
                <button class="fr-btn fr-btn--danger fr-fi-close-line" aria-controls="cancel-visite-modal-{{intervention.id}}" data-fr-opened="false">
                    Annuler la visite
                </button>
            {% endif %}
            <button class="fr-btn fr-btn--secondary fr-fi-edit-line" aria-controls="reschedule-visite-modal-{{intervention.id}}" data-fr-opened="false">
                Modifier la date
            </button>
            {% if workflow_can(intervention, 'confirm') %}
                <button class="fr-btn fr-fi-check-line" aria-controls="confirm-visite-modal-{{intervention.id}}" data-fr-opened="false">
                    Confirmer la visite
                </button>
            {% endif %}
        {% endif %}
    {% elseif intervention.status is same as constant('App\\Entity\\Intervention::STATUS_DONE') %}
        {% if signalement.interventions is empty or intervention.files is empty or intervention.getRapportDeVisite is empty%}
            {% if is_granted('SIGN_ADD_VISITE', intervention.signalement) %}
                <button 
                    class="fr-btn fr-fi-file-fill"
                    aria-controls="edit-visite-modal-{{intervention.id}}"  
                    data-fr-opened="false"
                    >
                    Ajouter un rapport de visite
                </button>
            {% endif %}
        {% else %}
            {% if is_granted('SIGN_ADD_VISITE', intervention.signalement) %}
                <button 
                    class="fr-btn fr-btn--secondary fr-fi-edit-line" 
                    aria-controls="edit-visite-modal-{{intervention.id}}" 
                    data-fr-opened="false">
                    Editer le rapport
                </button>
            {% endif %}
            <a href="{{ asset('_up/'~intervention.getRapportDeVisite.first.filename)~'/' ~ signalement.uuid }}"
                class="fr-btn"
                title="Afficher le document"
                rel="noopener"
                target="_blank">
                <span aria-hidden="true" class="fr-fi-file-line fr-icon--sm"></span> Voir le rapport de visite
            </a>
        {% endif %}
        {% if is_granted('SIGN_ADD_VISITE', intervention.signalement)%}
            <button 
                class="fr-btn fr-btn--secondary fr-icon-camera-fill open-modal-upload-files-btn" 
                data-fr-opened="false" 
                aria-controls="visites-upload-files-{{intervention.id}}"
                data-file-type="photo"
                data-document-type="PHOTO_VISITE"
                data-accepted-type-mimes={{ get_accepted_mime_type('photo')}}
				data-accepted-extensions="{{ get_accepted_extensions('photo')}}"
                data-intervention-id="{{intervention.id}}">
                Ajouter les photos de la visite
            </button>
        {% endif %}
    {% else %}
        &nbsp;
    {% endif %}
</div>