<dialog aria-labelledby="fr-modal-confirm-visite-modal-{{intervention.id}}" role="dialog" id="confirm-visite-modal-{{intervention.id}}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <form method="POST" name="signalement-confirm-visite" enctype="application/json" action="{{ path('back_signalement_visite_confirm',{uuid:signalement.uuid}) }}">
                        
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="confirm-visite-modal-{{intervention.id}}">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-confirm-visite-modal-{{intervention.id}}" class="fr-modal__title">Conclusion de la visite du {{ intervention.date.format('d/m/Y') }}</h1>

                            <div class="fr-alert fr-alert--info">
                                <p>
                                    La conclusion et le commentaire seront partagés à l'usager.
                                </p>
                            </div>

                            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-my-3w">
                                <div class="fr-col-12 fr-mb-3v">
                                    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                        <legend class="fr-fieldset__legend fr-text--regular">
                                            La visite a-t-elle eu lieu ?*
                                        </legend>
                                        <p id="signalement-confirm-visite-done-error" class="fr-error-text fr-hidden fr-my-3v">
                                            Veuillez préciser si la visite a eu lieu.
                                        </p>
                                        <div class="fr-radio-group">
                                            <input type="radio" id="visite-confirm-1" name="visite-confirm[visiteDone]" value="1">
                                            <label for="visite-confirm-1">Visite effectuée</label>
                                        </div>
                                        <div class="fr-radio-group">
                                            <input type="radio" id="visite-confirm-0" name="visite-confirm[visiteDone]" value="0">
                                            <label for="visite-confirm-0">Visite non effectuée</label>
                                        </div>
                                    </fieldset>
                                    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                        <legend class="fr-fieldset__legend fr-text--regular">
                                            L'occupant était-il présent ?*
                                        </legend>
                                        <p id="signalement-confirm-visite-occupant-present-error" class="fr-error-text fr-hidden fr-my-3v">
                                            Veuillez préciser si l'occupant était présent.
                                        </p>
                                        <div class="fr-radio-group">
                                            <input type="radio" id="visite-occupant-present-1" name="visite-confirm[occupantPresent]" value="1">
                                            <label for="visite-occupant-present-1">Oui</label>
                                        </div>
                                        <div class="fr-radio-group">
                                            <input type="radio" id="visite-occupant-present-0" name="visite-confirm[occupantPresent]" value="0">
                                            <label for="visite-occupant-present-0">Non</label>
                                        </div>
                                    </fieldset>
                                    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                        <legend class="fr-fieldset__legend fr-text--regular">
                                            Quelle est la conclusion de la visite ?*
                                        </legend>
                                        <p id="signalement-confirm-visite-procedure-error" class="fr-error-text fr-hidden fr-my-3v">
                                            Veuillez préciser la conclusion de la visite.
                                        </p>
                                        <select name="visite-confirm[concludeProcedure]" class="fr-select">
                                            <option value=""></option>
                                            {% for procedureTypeName, procedureTypeValue in listProceduresTypes %}
                                                <option value="{{ procedureTypeName }}">{{ procedureTypeValue }}</option>
                                            {% endfor %}
                                        </select>
                                    </fieldset>
                                    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                        <legend class="fr-fieldset__legend fr-text--regular">
                                            Commentaire de visite*
                                        </legend>
                                        <p id="signalement-confirm-visite-details-error" class="fr-error-text fr-hidden fr-my-3v">
                                            Veuillez saisir un commentaire pour la visite.
                                        </p>
                                        <textarea class="fr-input fr-input--no-resize editor" name="visite-confirm[details]" minlength="10"></textarea>
                                    </fieldset>
                                    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                        <legend class="fr-fieldset__legend fr-text--regular">
                                            Rapport de visite (facultatif) // TODO
                                        </legend>
                                    </fieldset>
                                </div>
                            </div>                   
                            <input type="hidden" name="visite-confirm[intervention]" value="{{intervention.id}}">
                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_confirm_visit_'~intervention.id) }}">
                        </div>
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-fi-checkbox-line fr-btn--secondary" aria-controls="confirm-visite-modal-{{intervention.id}}">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button type="submit" class="fr-btn fr-fi-checkbox-line">
                                        Valider
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>