{% if formType is not same as 'edit' %}
    <fieldset class="fr-fieldset fr-fieldset--inline">
        <legend class="fr-fieldset__legend fr-text--regular required">
            La visite a-t-elle eu lieu ?
        </legend>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
            <div class="fr-radio-group">
                <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-1" name="visite-{{ formType }}[visiteDone]" value="1">
                <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-1">Visite effectuée</label>
            </div>
        </div>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
            <div class="fr-radio-group">
                <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-0" name="visite-{{ formType }}[visiteDone]" value="0">
                <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-0">Visite non effectuée</label>
            </div>
        </div>
        <p id="signalement-confirm-visite-done-error" class="fr-error-text fr-hidden fr-messages-group fr-mt-n1w">
            Veuillez préciser si la visite a eu lieu.
        </p>
    </fieldset>
    <fieldset class="fr-fieldset fr-fieldset--inline">
        <legend class="fr-fieldset__legend fr-text--regular required">
            L'occupant était-il présent ?
        </legend>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
            <div class="fr-radio-group">
                <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-1" name="visite-{{ formType }}[occupantPresent]" value="1">
                <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-1">Oui</label>
            </div>
        </div>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
            <div class="fr-radio-group">
                <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-0" name="visite-{{ formType }}[occupantPresent]" value="0">
                <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-0">Non</label>
            </div>
        </div>
        <p id="signalement-confirm-visite-occupant-present-error" class="fr-error-text fr-messages-group fr-hidden fr-mt-n1w">
            Veuillez préciser si l'occupant était présent.
        </p>
    </fieldset>
    <fieldset class="fr-fieldset fr-fieldset--inline">
        <legend class="fr-fieldset__legend fr-text--regular required">
            Le propriétaire était-il présent ?
        </legend>
         <div class="fr-fieldset__element fr-fieldset__element--inline">
            <div class="fr-radio-group">
                <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-1" name="visite-{{ formType }}[proprietairePresent]" value="1">
                <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-1">Oui</label>
            </div>
        </div>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
            <div class="fr-radio-group">
                <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-0" name="visite-{{ formType }}[proprietairePresent]" value="0">
                <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-0">Non</label>
            </div>
        </div>
        <p id="signalement-confirm-visite-proprietaire-present-error" class="fr-error-text fr-messages-group fr-hidden fr-mt-n1w">
            Veuillez préciser si le propriétaire était présent.
        </p>
    </fieldset>
    <fieldset id="fieldset-conclude-procedure" class="fr-fieldset fr-fieldset--inline fr-mb-5v fr-w-100-left fr-hidden">
        <legend class="fr-fieldset__legend fr-text--regular required">
            Quelle est la conclusion de la visite ?
        </legend>
        <div class="search-checkbox-container fr-input-group fr-w-100">
            <input id="visite-{{ formType }}[concludeProcedure]_input" type="text" placeholder="Sélectionner une ou plusieurs conclusions" class="fr-input">
            <button type="button" class="fr-btn--close fr-btn fr-hidden" style="top:2.5rem;">Fermer</button>
            <div class="search-checkbox" class="fr-hidden">
                {% set listProceduresTypes = enum('\\App\\Entity\\Enum\\ProcedureType') %}
                {% for type in listProceduresTypes.cases() %}
                <div class="fr-fieldset__element topped">
                    <div class="fr-checkbox-group">
                        <input name="visite-{{ formType }}[concludeProcedure][]" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-checkboxes-{{ type.value }}" type="checkbox" value="{{ type.value }}">
                        <label class="fr-label" for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-checkboxes-{{ type.value }}">
                            {{ type.label() }}
                        </label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <p id="signalement-confirm-visite-procedure-error" class="fr-error-text fr-hidden fr-messages-group fr-mt-n1w">
            Veuillez préciser la conclusion de la visite.
        </p>
    </fieldset>
{% endif %}

{% if formType is not same as 'confirm' %}
<div class="fr-fieldset fr-mb-5v">
    <div class="fr-form-group">
        <div class="fr-toggle">
            <input type="checkbox" class="fr-toggle__input"
                id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-notify-usager"
                name="visite-{{ formType }}[notifyUsager]"
                value="1">
            <label class="fr-toggle__label"
                for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-notify-usager">
                {% if formType is same as 'edit' %}
                    En cochant cette case, l'usager sera notifié des modifications
                {% else %}
                    En cochant cette case, l'usager sera notifié des informations de cette visite
                {% endif %}
            </label>
        </div>
    </div>
</div>
{% endif %}

<div class="fr-input-group">
    <label class="fr-label" for="visite-{{ formType }}[details]">
        Commentaire de visite <span class="fr-text-default--error">*</span>
    </label>
    <textarea class="fr-input fr-input--no-resize editor field-visite-details" id="visite-{{ formType }}[details]" name="visite-{{ formType }}[details]" minlength="10">{{
        intervention is defined and intervention.details ? intervention.details : ''
    }}</textarea>
    <p id="signalement-confirm-visite-details-error" class="fr-error-text fr-messages-group fr-hidden">
        Veuillez saisir un commentaire pour la visite.
    </p>
</div>

{% if not intervention is defined or not intervention.rapportDeVisite %}
    <div class="fr-upload-group fr-mb-5v">
        <label class="fr-label" for="visite-{{ formType }}[rapport]">Rapport de visite (facultatif) 
            <span class="fr-hint-text">Formats supportés : {{ get_accepted_extensions()}}</span>
        </label>
        <input class="fr-upload" type="file" accept={{ get_accepted_mime_type()}} name="visite-{{ formType }}[rapport]">
    </div>
{% elseif intervention is defined and intervention.rapportDeVisite %}
    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
        <ul class="fr-btns-group fr-btns-group--inline-sm fr-btns-group--sm">
            <li>
                <a href="{{ sign_url(path('show_file', {uuid: intervention.rapportDeVisite.uuid})) }}" class="fr-btn" title="Afficher le document" rel="noopener" target="_blank">Voir le rapport de visite
                </a>
            </li>
            <li>
                <a href="{{ path('back_signalement_visite_deleterapport',{intervention:intervention.id}) }}?_token={{ csrf_token('delete_rapport') }}" title="Supprimer le rapport" class="fr-btn fr-btn--secondary fr-background--white fr-fi-delete-line "></a>
            </li>
        </ul>
    </fieldset>
{% endif %}