<div class="fr-grid-row fr-mt-3v fr-mb-3w">
    <div class="fr-col-12 fr-col-md-6">
        <div class="fr-mb-3v">
            {% include 'back/signalement/view/visites/visite-status.html.twig' %}
        </div>
        <div class="fr-mb-3v">
            <strong>Date de visite :</strong>
            {% if signalement.interventions is empty or intervention.date is empty %}
                Non renseignée
            {% else %}
                {{ intervention.date.format('d/m/Y') }}
            {% endif %}
        </div>
        <div class="fr-mb-3v">
            <strong>Occupant présent :</strong>
            {% if signalement.interventions is empty or intervention.occupantPresent is not defined %}
                Non renseigné
            {% elseif intervention.occupantPresent %}
                Oui
            {% else %}
                Non
            {% endif %}
        </div>
    </div>
    <div class="fr-col-12 fr-col-md-6">
        <div class="fr-mb-3v">
            <strong>Analyse :</strong>
            {% if signalement.interventions is empty or intervention.concludeProcedure is empty %}
                <span class="fr-badge fr-badge--no-icon" title="Non disponible">Non disponible</span>
            {% else %}
                {{ intervention.concludeProcedure.label }}
            {% endif %}
        </div>
        <div class="fr-mb-3v">
            <strong>Partenaire :</strong>
            {% if signalement.interventions is empty or intervention.partner is empty %}
                Non renseigné
            {% else %}
                {{ intervention.partner.nom }}
            {% endif %}
        </div>
        <div class="fr-mb-3v">
            <strong>Rapport :</strong>
            {% if signalement.interventions is empty or intervention.documents is empty %}
                <span class="fr-badge fr-badge--no-icon" title="Non disponible">Non disponible</span>
            {% else %}
                <a href="{{ asset('_up/'~intervention.documents[0]) }}"
                    class="fr-btn fr-btn--sm fr-fi-file-line fr-btn--icon-left" title="Afficher le document" target="_blank">Voir le rapport de visite</a>
            {% endif %}
        </div>
    </div>
    <div class="fr-col-12">
        <strong>Commentaire du partenaire :</strong>
        <div class="fr-highlight fr-mt-3v">
            <p>
            {% if signalement.interventions is empty or intervention.details is empty %}
                Non renseigné
            {% else %}
                {{ intervention.details|raw }}
            {% endif %}
            </p>
        </div>
    </div>
</div>