{% if formType is not same as 'edit' %}
    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
        <legend class="fr-fieldset__legend fr-text--regular required">
            La visite a-t-elle eu lieu ?
        </legend>
        <p id="signalement-confirm-visite-done-error" class="fr-error-text fr-hidden fr-my-3v">
            Veuillez préciser si la visite a eu lieu.
        </p>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-1" name="visite-{{ formType }}[visiteDone]" value="1">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-1">Visite effectuée</label>
        </div>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-0" name="visite-{{ formType }}[visiteDone]" value="0">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-0">Visite non effectuée</label>
        </div>
    </fieldset>
    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
        <legend class="fr-fieldset__legend fr-text--regular required">
            L'occupant était-il présent ?
        </legend>
        <p id="signalement-confirm-visite-occupant-present-error" class="fr-error-text fr-hidden fr-my-3v">
            Veuillez préciser si l'occupant était présent.
        </p>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-1" name="visite-{{ formType }}[occupantPresent]" value="1">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-1">Oui</label>
        </div>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-0" name="visite-{{ formType }}[occupantPresent]" value="0">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-0">Non</label>
        </div>
    </fieldset>
    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
        <legend class="fr-fieldset__legend fr-text--regular required">
            Le propriétaire était-il présent ?
        </legend>
        <p id="signalement-confirm-visite-proprietaire-present-error" class="fr-error-text fr-hidden fr-my-3v">
            Veuillez préciser si le propriétaire était présent.
        </p>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-1" name="visite-{{ formType }}[proprietairePresent]" value="1">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-1">Oui</label>
        </div>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-0" name="visite-{{ formType }}[proprietairePresent]" value="0">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-0">Non</label>
        </div>
    </fieldset>
    <fieldset id="fieldset-conclude-procedure" class="fr-fieldset fr-fieldset--inline fr-mb-5v fr-hidden">
        <legend class="fr-fieldset__legend fr-text--regular required">
            Quelle est la conclusion de la visite ?
        </legend>
        <p id="signalement-confirm-visite-procedure-error" class="fr-error-text fr-hidden fr-my-3v">
            Veuillez préciser la conclusion de la visite.
        </p>
        <select name="visite-{{ formType }}[concludeProcedure][]" class="fr-select" multiple="multiple">
            {% set listProceduresTypes = enum('\\App\\Entity\\Enum\\ProcedureType') %}
            {% for type in listProceduresTypes.cases() %}
                <option value="{{ type.value }}">{{ type.label() }}</option>
            {% endfor %}
        </select>
        <p class="fr-text--sm fr-pt-1v">
            Maintenez la touche CTRL enfoncée pour sélectionner plusieurs motifs.
        </p>
    </fieldset>
{% endif %}

{% if formType is not same as 'confirm' %}
<div class="fr-form-group">
    <div class="fr-toggle">
        <input type="checkbox" class="fr-toggle__input"
            id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-notify-usager"
            name="visite-{{ formType }}[notifyUsager]"
            value="1">
        <label class="fr-toggle__label"
            for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-notify-usager">
            {% if formType is same as 'edit' %}
                En cochant cette case, l'usager sera notifié des modifications
            {% else %}
                En cochant cette case, l'usager sera notifié des informations de cette visite
            {% endif %}
        </label>
    </div>
</div>
{% endif %}

<fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
    <legend class="fr-fieldset__legend fr-text--regular required">
        Commentaire de visite
    </legend>
    <p id="signalement-confirm-visite-details-error" class="fr-error-text fr-hidden fr-my-3v">
        Veuillez saisir un commentaire pour la visite.
    </p>
    <textarea class="fr-input fr-input--no-resize editor field-visite-details" id="visite-{{ formType }}[details]" name="visite-{{ formType }}[details]" minlength="10">{{
        intervention is defined and intervention.details ? intervention.details : ''
    }}</textarea>
</fieldset>

{% if not intervention is defined or intervention.files is empty %}
<fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
    <legend class="fr-fieldset__legend fr-text--regular">
        Rapport de visite (facultatif)
    </legend>
    <input type="file" accept="application/*" name="visite-{{ formType }}[rapport]">
</fieldset>
{% elseif intervention is defined and intervention.files|length %}
<fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
	<ul class="fr-btns-group fr-btns-group--inline-sm fr-btns-group--sm">
		<li>
			<a href="{{ asset('_up/'~intervention.files[0].filename)~'/' ~ intervention.signalement.uuid }}" class="fr-btn" title="Afficher le document" rel="noopener" target="_blank">Voir le rapport de visite
			</a>
		</li>
		<li>
			<a href="{{ path('back_signalement_visite_deleterapport',{uuid:intervention.signalement.uuid, intervention:intervention.id}) }}?_token={{ csrf_token('delete_rapport') }}" title="Supprimer le rapport" class="fr-btn fr-btn--secondary fr-background--white fr-fi-delete-line "></a>
		</li>
	</ul>
</fieldset>
{% endif %}