<div class="fr-grid-row fr-mt-3v fr-mb-3w">
    <div class="fr-col-12 fr-col-md-6">
        {% if intervention is defined and intervention.type == enum('App\\Entity\\Enum\\InterventionType').VISITE_CONTROLE %}
            <div class="fr-mb-3v">
                <strong>Type de visite :</strong>
                {{ intervention.type.label() }}
            </div>
        {% endif %}
        <div class="fr-mb-3v">
            {% include 'back/signalement/view/visites/visite-status.html.twig' %}
        </div>
        <div class="fr-mb-3v">
            <strong>Date de visite :</strong>
            {% if signalement.interventions is empty or intervention.scheduledAt is empty %}
                Non renseignée
            {% else %}
                {{ (intervention.scheduledAt.format('H')) > 0
                ? intervention.scheduledAt|date('d/m/Y à H:i', signalement.getTimezone)
                : intervention.scheduledAt|date('d/m/Y') }}
            {% endif %}
        </div>
        <div class="fr-mb-3v">
            <strong>Occupant présent :</strong>
            {% if signalement.interventions is empty or intervention.occupantPresent is null %}
                Non renseigné
            {% elseif intervention.occupantPresent %}
                Oui
            {% else %}
                Non
            {% endif %}
        </div>
        <div class="fr-mb-3v">
            <strong>Propriétaire présent :</strong>
            {% if signalement.interventions is empty or intervention.proprietairePresent is null %}
                Non renseigné
            {% elseif intervention.proprietairePresent %}
                Oui
            {% else %}
                Non
            {% endif %}
        </div>
    </div>
    <div class="fr-col-12 fr-col-md-6">
        <div class="fr-mb-3v">
            <strong>Analyse :</strong>
            {% if signalement.interventions is empty or intervention.concludeProcedure is empty %}
                <span class="fr-badge fr-badge--no-icon" title="Non disponible">Non disponible</span>
            {% else %}
                {% for procedure in intervention.concludeProcedure %}
                    {% include '_partials/signalement/conclude-procedure.html.twig' %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="fr-mb-3v">
            <strong>Partenaire :</strong>
            {% if signalement.interventions is empty or intervention.partner is empty %}
                Non renseigné
            {% else %}
                {{ intervention.partner.nom }}
                {% if intervention.partner.territory is not same as signalement.territory or intervention.partner.isArchive %}
                    (partenaire supprimé)
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="fr-col-12">
        <strong>Commentaire du partenaire :</strong>
        <div class="fr-highlight fr-background--white fr-py-3v fr-my-3v fr-ml-0">
            <p>
            {% if signalement.interventions is empty or intervention.details is empty %}
                Non renseigné
            {% else %}
                {{ intervention.details|raw }}
            {% endif %}
            </p>
        </div>
    </div>
</div>

<div class="fr-grid-row fr-grid-row--middle fr-grid-row--gutters fr-mb-3v">
    {% for index, photo in signalement.files|filter(
        photo => photo.fileType == 'photo'
                and photo.intervention is not null
                and photo.intervention.id is same as intervention.id
        ) %}
        <div class="fr-col-6 fr-col-md-2 fr-rounded signalement-file-item">
            <div class="fr-hidden" id="tippy_photovisite_{{ photo.id }}">
                {% include '_partials/_tippy_photo_template.html.twig' %}
            </div>
            <div class="fr-px-5w fr-py-8w fr-rounded fr-border fr-text--center part-infos-hover" 
                 data-template="tippy_photovisite_{{ photo.id }}"
                 style="background: url('{{ path('show_file', {uuid: photo.uuid}) }}?variant=thumb')no-repeat center center/cover">
                <button 
                    class="fr-btn fr-btn--sm fr-icon-eye-line open-photo-album" 
                    data-id={{ photo.id }} 
                    title="Voir la photo {{ photo.filename }}"
                ></button>
                {% if is_granted('FILE_EDIT', photo) %}
                    {% set DocumentType = enum('\\App\\Entity\\Enum\\DocumentType') %}
                    {% include 'back/signalement/view/edit-modals/edit-file.html.twig' %}
                    {% set partner = photo.uploadedBy ? photo.uploadedBy.partnerInTerritoryOrFirstOne(signalement.territory) %}       
                    <button 
                        class="fr-btn fr-btn--sm fr-btn--secondary fr-background--white fr-fi-edit-line btn-signalement-file-edit"
                        id="file_edit_{{ photo.id }}" 
                        title="Editer la photo {{ photo.filename }}"
                        aria-controls="fr-modal-edit-file"
                        data-fr-opened="false" 
                        data-filename="{{ photo.filename }}" 
                        data-type="photo" 
                        data-file-id="{{ photo.id}}" 
                        data-signalement-uuid="{{ signalement.uuid}}" 
                        data-file-path="{{ path('show_file', {uuid: photo.uuid}) }}?variant=thumb"
                        data-description="{{ photo.description }}" 
                        data-documentType="{{ photo.documentType.name }}" 
                        data-createdAt="{{ photo.createdAt is defined ? photo.createdAt|date('d.m.Y') : 'N/R' }}"
                        data-partner-name="{{ partner ? partner.nom ~ ' - ' : '' }}"
                        data-user-name="{{ photo.uploadedBy.nomComplet ?? 'N/R' }}"
                        data-desordreSlug="{{ photo.desordreSlug }}"
                        data-signalement-desordres="{{ criteres | json_encode }}"
                    ></button>
                {% endif %}                
                {% if is_granted('FILE_DELETE', photo) %}
                    {% include '_partials/_modal_file_delete.html.twig' %}
                    <button class="fr-btn fr-btn--sm fr-btn--secondary fr-background--white fr-fi-delete-line btn-signalement-file-delete"
                        id="file_delete_{{ photo.id }}" 
                        title="Supprimer la photo {{ photo.filename }}"
                        aria-controls="fr-modal-delete-file"
                        data-fr-opened="false" 
                        data-filename="{{ photo.filename }}" 
                        data-type="photo" 
                        data-file-id="{{ photo.id}}"                     
                    ></button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<div class="fr-grid-row fr-grid-row--middle fr-grid-row--gutters fr-mb-3v">
    <div class="fr-col-12">
        {% for index, doc in signalement.files|filter(
            doc => doc.fileType == 'document'
                    and doc.documentType.name == 'PHOTO_VISITE'
                    and doc.intervention is not null
                    and doc.intervention.id is same as intervention.id
            ) %}
            <div class="fr-grid-row fr-grid-row--middle fr-background-alt--grey fr-p-3v signalement-file-item">
                <div class="fr-col-9">
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-lg-2">
                            {{ doc.createdAt is defined ? doc.createdAt|date('d.m.Y') : 'N/R' }}
                        </div>
                        <div class="fr-col-12 fr-col-lg-4">
                            <i>{{ doc.title|truncate_filename(45) }}</i>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6 fr-pl-3v">
                            <b>{{ doc.description }}</b>
                        </div>
                    </div>
                </div>
                <div class="fr-col-3 fr-text--right">
                    <a href="{{ path('show_file', {uuid: doc.uuid}) }}"
                        class="fr-btn fr-btn--sm fr-icon-eye-fill img-box" title="Afficher le document {{ doc.filename }} - ouvre une nouvelle fenêtre"
                        target="_blank" rel="noopener"></a>    
                        
                    {% if is_granted('FILE_EDIT', doc) %}
                        {% set DocumentType = enum('\\App\\Entity\\Enum\\DocumentType') %}
                        {% include 'back/signalement/view/edit-modals/edit-file.html.twig' %}
                        {% set partner = doc.uploadedBy ? doc.uploadedBy.partnerInTerritoryOrFirstOne(signalement.territory) %}       
                        <button 
                            class="fr-btn fr-btn--sm fr-btn--secondary fr-background--white fr-fi-edit-line btn-signalement-file-edit"
                            id="file_edit_{{ doc.id }}" 
                            title="Editer la photo {{ doc.filename }}"
                            aria-controls="fr-modal-edit-file"
                            data-fr-opened="false" 
                            data-filename="{{ doc.filename }}" 
                            data-type="document" 
                            data-file-id="{{ doc.id}}" 
                            data-signalement-uuid="{{ signalement.uuid}}" 
                            data-description="{{ doc.description }}" 
                            data-documentType="{{ doc.documentType.name }}" 
                            data-createdAt="{{ doc.createdAt is defined ? doc.createdAt|date('d.m.Y') : 'N/R' }}"
                            data-partner-name="{{ partner ? partner.nom ~ ' - ' : '' }}"
                            data-user-name="{{ doc.uploadedBy.nomComplet ?? 'N/R' }}"
                            data-desordreSlug="{{ doc.desordreSlug }}"
                            data-signalement-desordres="{{ criteres | json_encode }}"
                        ></button>
                    {% endif %}        
                    {% if is_granted('FILE_DELETE', doc) %}
                        <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-delete-line btn-signalement-file-delete"
                            id="file_delete_{{ doc.id }}" 
                            title="Supprimer le document {{ doc.filename }}"
                            aria-controls="fr-modal-delete-file"
                            data-fr-opened="false" 
                            data-filename="{{ doc.filename }}" 
                            data-type="document" 
                            data-file-id="{{ doc.id}}"                     
                        ></button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
