<div class="signalement-visites-buttons fr-text--right">
    {% if signalement.interventions is empty %} 
        <button class="fr-btn fr-btn--sm fr-fi-calendar-line fr-btn--icon-left" aria-controls="add-visite-modal" data-fr-opened="false">
            Ajouter une visite
        </button>
    {% elseif intervention.status is same as constant('App\\Entity\\Intervention::STATUS_PLANNED') %}    
        {% if is_granted('INTERVENTION_EDIT_VISITE', intervention) %}
            {% if workflow_can(intervention, 'cancel') %}
                <button class="fr-btn fr-btn--sm fr-btn--danger fr-fi-close-line fr-btn--icon-left" aria-controls="cancel-visite-modal-{{intervention.id}}" data-fr-opened="false">
                    Annuler la visite
                </button>
            {% endif %}
            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-edit-line fr-btn--icon-left" aria-controls="reschedule-visite-modal-{{intervention.id}}" data-fr-opened="false">
                Modifier la date
            </button>
            {% if workflow_can(intervention, 'confirm') %}
                <button class="fr-btn fr-btn--sm fr-fi-check-line fr-btn--icon-left" aria-controls="confirm-visite-modal-{{intervention.id}}" data-fr-opened="false">
                    Confirmer la visite
                </button>
            {% endif %}
        {% endif %}
    {% elseif intervention.status is same as constant('App\\Entity\\Intervention::STATUS_DONE') %}
        {% if signalement.interventions is empty or intervention.files is empty %}
            {% if isDocumentsEnabled and is_granted('INTERVENTION_EDIT_VISITE', intervention) %}
                <button 
                    class="fr-btn fr-btn--sm fr-fi-file-fill fr-btn--icon-left open-modal-upload-files-btn" 
                    data-fr-opened="false" 
                    aria-controls="visites-upload-files-{{intervention.id}}"
                    data-file-type="document"
                    data-document-type="PROCEDURE_RAPPORT_DE_VISITE"
                    data-intervention-id="{{intervention.id}}">
                    Ajouter un rapport de visite
                </button>
            {% endif %}
        {% else %}
            {% if is_granted('INTERVENTION_EDIT_VISITE', intervention) %}
                <button 
                    class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-edit-line fr-btn--icon-left" 
                    aria-controls="edit-visite-modal-{{intervention.id}}" 
                    data-fr-opened="false">
                    Editer le rapport
                </button>
            {% endif %}
            <a href="{{ asset('_up/'~intervention.files[0].filename)~'/' ~ signalement.uuid }}"
                class="fr-btn fr-btn--sm"
                title="Afficher le document"
                rel="noopener"
                target="_blank">
                <span aria-hidden="true" class="fr-fi-file-line fr-icon--sm"></span> Voir le rapport de visite
            </a>
        {% endif %}
        {% if isDocumentsEnabled and is_granted('INTERVENTION_EDIT_VISITE', intervention)%}
            <button 
                class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-icon-camera-fill open-modal-upload-files-btn" 
                data-fr-opened="false" 
                aria-controls="visites-upload-files-{{intervention.id}}"
                data-file-type="photo"
                data-document-type="PHOTO_VISITE"
                data-intervention-id="{{intervention.id}}">
                Ajouter les photos de la visite
            </button>
        {% endif %}
    {% else %}
        &nbsp;
    {% endif %}
</div>