{% if formType is not same as 'edit' %}
    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
        <legend class="fr-fieldset__legend fr-text--regular">
            La visite a-t-elle eu lieu ?*
        </legend>
        <p id="signalement-confirm-visite-done-error" class="fr-error-text fr-hidden fr-my-3v">
            Veuillez préciser si la visite a eu lieu.
        </p>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-1" name="visite-{{ formType }}[visiteDone]" value="1">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-1">Visite effectuée</label>
        </div>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-0" name="visite-{{ formType }}[visiteDone]" value="0">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-confirm-0">Visite non effectuée</label>
        </div>
    </fieldset>
    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
        <legend class="fr-fieldset__legend fr-text--regular">
            L'occupant était-il présent ?*
        </legend>
        <p id="signalement-confirm-visite-occupant-present-error" class="fr-error-text fr-hidden fr-my-3v">
            Veuillez préciser si l'occupant était présent.
        </p>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-1" name="visite-{{ formType }}[occupantPresent]" value="1">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-1">Oui</label>
        </div>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-0" name="visite-{{ formType }}[occupantPresent]" value="0">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-occupant-present-0">Non</label>
        </div>
    </fieldset>
    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
        <legend class="fr-fieldset__legend fr-text--regular">
            Le propriétaire était-il présent ?*
        </legend>
        <p id="signalement-confirm-visite-proprietaire-present-error" class="fr-error-text fr-hidden fr-my-3v">
            Veuillez préciser si le propriétaire était présent.
        </p>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-1" name="visite-{{ formType }}[proprietairePresent]" value="1">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-1">Oui</label>
        </div>
        <div class="fr-radio-group">
            <input type="radio" id="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-0" name="visite-{{ formType }}[proprietairePresent]" value="0">
            <label for="visite-{{ formType }}-{{ intervention is defined ? intervention.id : '' }}-proprietaire-present-0">Non</label>
        </div>
    </fieldset>
    <fieldset id="fieldset-conclude-procedure" class="fr-fieldset fr-fieldset--inline fr-mb-5v fr-hidden">
        <legend class="fr-fieldset__legend fr-text--regular">
            Quelle est la conclusion de la visite ?*
        </legend>
        <p id="signalement-confirm-visite-procedure-error" class="fr-error-text fr-hidden fr-my-3v">
            Veuillez préciser la conclusion de la visite.
        </p>
        <select name="visite-{{ formType }}[concludeProcedure][]" class="fr-select" multiple="multiple">
            {% set listProceduresTypes = enum('\\App\\Entity\\Enum\\ProcedureType') %}
            {% for type in listProceduresTypes.cases() %}
                <option value="{{ type.value }}">{{ type.label() }}</option>
            {% endfor %}
        </select>
    </fieldset>
{% endif %}
<fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
    <legend class="fr-fieldset__legend fr-text--regular">
        Commentaire de visite*
    </legend>
    <p id="signalement-confirm-visite-details-error" class="fr-error-text fr-hidden fr-my-3v">
        Veuillez saisir un commentaire pour la visite.
    </p>
    <textarea class="fr-input fr-input--no-resize editor field-visite-details" id="visite-{{ formType }}[details]" name="visite-{{ formType }}[details]" minlength="10">{{
        intervention is defined and intervention.details ? intervention.details : ''
    }}</textarea>
</fieldset>
{% if not intervention is defined or intervention.documents is empty %}
<fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
    <legend class="fr-fieldset__legend fr-text--regular">
        Rapport de visite (facultatif)
    </legend>
    <input type="file" accept="application/*" name="visite-{{ formType }}[rapport]">
</fieldset>
{% endif %}