<dialog aria-labelledby="fr-modal-edit-visite-modal-{{intervention.id}}" role="dialog" id="edit-visite-modal-{{intervention.id}}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <form method="POST" name="signalement-edit-visite" enctype="application/json" action="{{ path('back_signalement_visite_edit',{uuid:signalement.uuid}) }}">
                        
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="edit-visite-modal-{{intervention.id}}">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-edit-visite-modal-{{intervention.id}}" class="fr-modal__title">Edition de la visite du {{ intervention.date.format('d/m/Y') }}</h1>

                            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-my-3w">
                                <div class="fr-col-12 fr-mb-3v">
                                    {% set formType = 'edit' %}
                                    {% include 'back/signalement/view/visites/visites-form-confirm-fields.html.twig' %}

                                    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                        <div class="fr-toggle">
                                            <input type="checkbox" class="fr-toggle__input" id="visite-{{ formType }}-{{ intervention.id }}-notify-usager" name="visite-{{ formType }}[notifyUsager]" value="1">
                                            <label for="visite-{{ formType }}-{{ intervention.id }}-notify-usager">En cochant cette case, l'usager sera notifié des modifications</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <input type="hidden" name="visite-edit[intervention]" value="{{intervention.id}}">
                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_edit_visit_'~intervention.id) }}">
                        </div>
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-fi-checkbox-line fr-btn--secondary" aria-controls="edit-visite-modal-{{intervention.id}}">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button type="submit" class="fr-btn fr-fi-checkbox-line">
                                        Valider
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>