<h2 class="fr-h3 fr-mb-2v">Mes infos</h2>
<h4 class="fr-mb-2v">Adresse du logement</h4>
<div class="fr-mb-4v">
{{ signalement.adresseOccupant }}
{{ signalement.cpOccupant }}
{{ signalement.villeOccupant }}
{% if signalement.complementAdresseOccupant %}
	<br>
	{{signalement.complementAdresseOccupant}}
{% endif %}
</div>

<h4 class="fr-mb-2v">Les coordonnées de l'occupant</h4>
<div class="fr-mb-4v">
{{signalement.civiliteOccupant(false)}}
{{ signalement.nomOccupant|capitalize }}
{{ signalement.prenomOccupant|capitalize }}
{% if signalement.mailOccupant %}
	<br>
	{{ signalement.mailOccupant }}
	{% if show_email_alert(signalement.mailOccupant) %}
		<p class="fr-badge fr-badge--error">Format non valide, merci de nous le signaler.</p>
	{% endif %}
{% endif %}
{% if signalement.telOccupant %}
	<br>
	{{ signalement.telOccupant }}
{% endif %}
{% if signalement.telOccupantBis %}
	<br>
	{{ signalement.telOccupantBis }}
{% endif %}
</div>

<h4 class="fr-mb-2v">Les coordonnées du bailleur</h4>
<div class="fr-mb-4v">
{{signalement.nomProprio}}
{% if signalement.prenomProprio %}
	{{ signalement.prenomProprio }}
{% endif %}
{% if signalement.adresseProprio %}
	<br>
	{{ signalement.adresseProprio }}
{% endif %}
{% if signalement.codePostalProprio %}
	{{ signalement.codePostalProprio }}
{% endif %}
{% if signalement.villeProprio %}
	{{ signalement.villeProprio }}
{% endif %}
{% if signalement.mailProprio %}
	<br>
	{{ signalement.mailProprio }}
	{% if show_email_alert(signalement.mailProprio) %}
		<p class="fr-badge fr-badge--error">Format non valide, merci de nous le signaler.</p>
	{% endif %}
{% endif %}
{% if signalement.telProprio %}
	<br>
	{{ signalement.telProprio }}
{% endif %}
{% if signalement.telProprioSecondaire %}
	<br>
	{{ signalement.telProprioSecondaire }}
{% endif %}
</div>
{% if 
signalement.isProprioAverti is not same as true 
and signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR_OCCUPANT
and signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR
%}
<div class="fr-callout fr-icon-information-line">
    <h4 class="fr-mb-2v">Prévenez votre bailleur (propriétaire) !</h4>
    <p class="fr-callout__text">
		Il est recommandé d'informer le bailleur du logement des problèmes rencontrés dans le logement.
		<br>
		Nous vous mettons à disposition un modèle de courrier à remplir et envoyer à votre bailleur. 
		Cliquez sur le bouton ci-dessous pour le télécharger.
		<br>
    </p>
	<a class="fr-btn fr-btn--icon-left open-modal-upload-files-btn fr-icon-arrow-down-line fr-mt-2v" download href="{{ asset('build/files/Lettre-information-proprietaire-bailleur_A-COMPLETER.pdf') }}">
		Télécharger le courrier
	</a>
</div>
{% endif %}

<div class="fr-mb-4v">
<h4 class="fr-mb-2v">Type et composition du logement</h4>
<section class="fr-accordion fr-mb-4v">
	<h3 class="fr-accordion__title">
		<button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-type-composition">Afficher les informations</button>
	</h3>
	<div class="fr-collapse" id="accordion-type-composition">
		Nature du logement  :
		{{ signalement.natureLogement|capitalize }}
		{% if signalement.typeCompositionLogement %}
			{% if signalement.typeCompositionLogement.typeLogementNatureAutrePrecision %}
				({{signalement.typeCompositionLogement.typeLogementNatureAutrePrecision}})
			{% endif %}
			{% if signalement.typeCompositionLogement.typeLogementRdc == 'oui' %}, RDC
			{% endif %}
			{% if signalement.typeCompositionLogement.typeLogementDernierEtage == 'oui' %}, Dernier étage
			{% endif %}
			{% if signalement.typeCompositionLogement.typeLogementSousCombleSansFenetre == 'oui' %}, Combles sans fenêtres
			{% endif %}
		{% endif %}
		<br>
		Superficie en m² :
		{{ signalement.superficie }}
		m²
		<br>
		{% if signalement.typeCompositionLogement %}
			La hauteur jusqu'au plafond est de 2m (200cm) ou plus ?
			{{ signalement.typeCompositionLogement.compositionLogementHauteur(false)|capitalize }}
			<br>
			Une seule ou plusieurs pièces ?
			{{ signalement.typeCompositionLogement.compositionLogementPieceUnique(false) }}
			<br>
			Nombre de pièces à vivre :
			{{ signalement.typeCompositionLogement.compositionLogementNbPieces }}
			<br>
			Est-ce qu'au moins une des pièces à vivre (salon, chambre) fait 9m² ou plus ?
			{{ signalement.typeCompositionLogement.typeLogementCommoditesPieceAVivre9m(false)|capitalize }}
			<br>
			Cuisine ou coin cuisine ?
			{{ signalement.typeCompositionLogement.typeLogementCommoditesCuisine|capitalize }}
			<br>
			{% if signalement.typeCompositionLogement.typeLogementCommoditesCuisine == 'non' %}
				Accès à une cuisine collective ?
				{{ signalement.typeCompositionLogement.typeLogementCommoditesCuisineCollective|capitalize }}
				<br>
			{% endif %}
			Salle de bain, salle d'eau avec douche ou baignoire ?
			{{ signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain|capitalize }}
			<br>
			{% if signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain == 'non' %}
				Accès à une salle de bain ou des douches collectives ?
				{{ signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBainCollective|capitalize }}
				<br>
			{% endif %}
			Toilettes (WC) ?
			{{ signalement.typeCompositionLogement.typeLogementCommoditesWc|capitalize }}
			<br>
			{% if signalement.typeCompositionLogement.typeLogementCommoditesWc == 'non' %}
				Accès à des toilettes (WC) collectives ?
				{{ signalement.typeCompositionLogement.typeLogementCommoditesWcCollective|capitalize }}
				<br>
			{% endif %}
			{% if signalement.typeCompositionLogement.typeLogementCommoditesWcCuisine == 'oui' %}
				Toilettes (WC) et cuisine dans la même pièce
				<br>
			{% endif %}
		{% endif %}
		Nombre de personnes :
		{{ signalement.nbOccupantsLogement }}
		<br>
		{% if signalement.typeCompositionLogement %}
			Enfants de moins de 6 ans ?
			{{signalement.typeCompositionLogement.compositionLogementEnfants|capitalize}}
			<br>
		{% endif %}
	</div>
</section>
</div>

<div class="fr-mb-4v">
<h4 class="fr-mb-2v">Situation du foyer</h4>
<section class="fr-accordion fr-mb-4v">
	<h3 class="fr-accordion__title">
		<button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-situation-foyer">Afficher les informations</button>
	</h3>
	<div class="fr-collapse" id="accordion-situation-foyer">
		{% if signalement.isLogementSocial %}
			Logement social : Oui
			<br>
		{% endif %}
		{% if signalement.isRelogement is same as true %}
			Demande de relogement : Oui
			<br>
		{% endif %}
		{% if signalement.isAllocataire in [null, ''] %}
			{% elseif signalement.isAllocataire in ['oui', '1'] %}
				Allocataire : Oui
				<br>
			{% elseif signalement.isAllocataire in ['non', '0'] %}
				Allocataire : Non
				<br>
			{% elseif signalement.isAllocataire %}
				Allocataire :
				{{ signalement.isAllocataire }}
				<br>
		{% endif %}
		{% if (signalement.dateNaissanceOccupant) %}
			Date de naissance :
			{{ signalement.dateNaissanceOccupant.format('d/m/Y') }}
			<br>
		{% elseif signalement.naissanceOccupants %}
			Date de naissance :
			{{ signalement.naissanceOccupants}}
			<br>
		{% endif %}
		{% if signalement.numAllocataire %}
			N° allocataire :
			{{ signalement.numAllocataire }}
			<br>
		{% endif %}
		{% if signalement.situationFoyer %}
			{% if signalement.situationFoyer.logementSocialMontantAllocation %}
				Montant allocation :
				{{ signalement.situationFoyer.logementSocialMontantAllocation }}
				€
				<br>
			{% endif %}
			{% if signalement.situationFoyer.travailleurSocialQuitteLogement(false) %}
				Souhaite quitter le logement :
				{{signalement.situationFoyer.travailleurSocialQuitteLogement(false)|capitalize}}
				<br>
			{% endif %}
			{% if signalement.situationFoyer.travailleurSocialAccompagnement(false) %}
				Accompagnement par un ou une travailleuse sociale :
				{{signalement.situationFoyer.travailleurSocialAccompagnement(false)|capitalize}}
				<br>
			{% endif %}
		{% endif %}
		{% if signalement.informationComplementaire %}
			{% if signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireRsa %}
				Bénéficiaire RSA :
				{{signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireRsa|capitalize}}
				<br>
			{% endif %}
			{% if signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireFsl %}
				Bénéficiaire FSL :
				{{signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireFsl|capitalize}}
				<br>
			{% endif %}
			{% if signalement.informationComplementaire.informationsComplementairesSituationOccupantsRevenuFiscal %}
				Revenu fiscal de référence :
				{{signalement.informationComplementaire.informationsComplementairesSituationOccupantsRevenuFiscal}}
				€
				<br>
			{% endif %}
		{% endif %}
	</div>
</div>

<div class="fr-mb-4v">
	<h4 class="fr-mb-2v">Les désordres</h4>
	{% if signalement.createdFrom %}
		{% if infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] is defined %}
			<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
				<div class="fr-col-2 fr-col-md-1">
					<img src="{{asset('img/form/BATIMENT/Picto-batiment.svg')}}" class="fr-disorder-overview-image">
				</div>
				<div class="fr-col-10 fr-col-md-11 fr-h5 fr-disorder-overview-title">Le bâtiment</div>
			</div>
			{% set zone = 'logement' %}
			{% for situation,criteres in infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] %}
				{% include 'front/_partials/_desordre-v2.html.twig' %}
			{% endfor %}
		{% endif %}
		{% if infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] is defined %}
			<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
				<div class="fr-col-2 fr-col-md-1">
					<img src="{{asset('img/form/LOGEMENT/Picto-logement.svg')}}" class="fr-disorder-overview-image">
				</div>
				<div class="fr-col-10 fr-col-md-11 fr-h5 fr-disorder-overview-title">Le logement</div>
			</div>
			{% set zone = 'batiment' %}
			{% for situation,criteres in infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] %}
				{% include 'front/_partials/_desordre-v2.html.twig' %}
			{% endfor %}
		{% endif %}
	{% else %}
		{% for situation,criteres in infoDesordres['criticitesArranged'] %}
			<section class="fr-accordion">
				<h3 class="fr-accordion__title">
					<button class="fr-accordion__btn" aria-expanded="false" aria-controls="desordre-collapse-{{ loop.index }}">
						<strong>{{ situation|capitalize }}</strong>
					</button>
				</h3>
				<div class="fr-collapse" id="desordre-collapse-{{ loop.index }}">
					{% for critere,criticite in criteres %}
						{# TODO à revoir avec le nouvel algo de criticité (les scores ne sont plus forcément 1, 2, 3, et le isDanger est au niveau de la criticité) #}
						{% if criticite.score is same as(1) %}
							{% set icon = 'moyen' %}
						{% elseif criticite.score is same as(2) %}
							{% set icon = 'grave' %}
						{% else %}
							{% set icon = 'tres-grave' %}
						{% endif %}
						<ul>
							<li class="fr-grid-row">
								<div class="fr-col-md-2 fr-col-lg-1">
									<img src="{{ asset('img/'~icon~'-actif.svg') }}" alt="" width="50">
								</div>
								<div class="fr-col-md-10 fr-col-lg-11">
									<strong>{{ critere }}</strong>
									<br>
									{{ criticite.label|capitalize }}
								</div>
							</li>
						</ul>
					{% endfor %}
				</div>
			</section>
		{% endfor %}
	{% endif %}
</div>

<h4 class="fr-mb-2v">Photos</h4>
<div class="fr-mb-4v">
	{% if signalement.files|filter(photo => photo.fileType == 'photo')|length %}
		Cliquez sur la photo pour l'ouvrir dans un nouvel onglet.
		<br>
		{% for photo in signalement.files|filter(photo => photo.fileType == 'photo') %}
			<a href="{{ asset('_up/'~photo.filename~'?variant=resize') }}&t={{ csrf_token('suivi_signalement_ext_file_view') }}" class="photo-preview" target="_blank" rel="noopener">
				<img src="{{ asset('_up/'~photo.filename~'?variant=thumb') }}&t={{ csrf_token('suivi_signalement_ext_file_view') }}" alt="{{photo.title}}">
			</a>
		{% endfor %}
	{% else %}
		Aucune photo à afficher, si vous avez ajouté des photos dans votre signalement, rafraîchissez la page pour les voir apparaître.
	{% endif %}
</div>

<div class="fr-mb-4v">
	<h4 class="fr-mb-2v">La procédure</h4>
	<section class="fr-accordion fr-mb-4v">
		<h3 class="fr-accordion__title">
			<button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-procedure-demarche">Afficher les informations</button>
		</h3>
		<div class="fr-collapse" id="accordion-procedure-demarche">
			Bailleur (propriétaire) prévenu ?
			{% if signalement.isProprioAverti is null %}
			{% elseif signalement.isProprioAverti %}
				Oui
			{% else %}
				Non
			{% endif %}
			<br>
			{% if signalement.informationProcedure %}
				Assurance contactée ? 
				{{signalement.informationProcedure.infoProcedureAssuranceContactee(false)|capitalize}}
				<br>
				{% if signalement.informationProcedure.infoProcedureAssuranceContactee == 'oui' %}
					Réponse de l'assurance : 
					{{ signalement.informationProcedure.infoProcedureReponseAssurance | nl2br  }}
					<br>
				{% endif %}
				Si des travaux sont faits, voulez-vous rester dans le logement ? 
				{{signalement.informationProcedure.infoProcedureDepartApresTravaux(false)|capitalize}}
			{% endif %}
		</div>
	</section>
</div>

<h4 class="fr-mb-2v">En savoir plus</h4>
<div class="fr-mb-4v">
	Cliquez sur les liens ci-dessous pour consulter la documentation et trouver des réponses à vos questions !
	<ul class="fr-list fr-list--none">
		<li>
			<a href="{{ gitbook.faq }}/usager/traitement-signalement/evolution-dossier" class="fr-link" target="_blank" rel="noopener">J'ai déposé un signalement, et après ?</a>
		</li>
		<li>
			<a href="{{path('front_obligations_entretien')}}" class="fr-link" target="_blank" rel="noopener">Propriétaire, locataire : les obligations</a>
		</li>
		<li>
			<a href="{{path('front_aides_travaux')}}" class="fr-link" target="_blank" rel="noopener">Aides aux travaux</a>
		</li>
		<li>
			<a href="{{path('politique_de_confidentialite')}}" class="fr-link" target="_blank" rel="noopener">Politique de confidentialité</a>
		</li>
	</ul>
</div>

