<div id="suivi_{{ suivi.id }}" class="message-box {{ messageBoxClass }}">
	<div>
		<strong>
			{% if suivi.type is same as constant('App\\Entity\\Suivi::TYPE_TECHNICAL') %}
				Suivi automatique
			{% elseif suivi.partner %}
				{{ suivi.partner.isArchive ? 'Partenaire supprimé' : suivi.partner.nom }}
			{% elseif suivi.createdBy is not null and suivi.category in enum('App\\Entity\\Enum\\SuiviCategory').categoriesSubmittedByUsager() %}
				{{ suivi.createdBy is same as signalement.getSignalementUsager.getOccupant ? 'OCCUPANT' : 'DECLARANT' }}
			{% elseif suivi.createdBy is not null %}
				{{ suivi.createdBy.getPartnerInTerritoryOrFirstOne(suivi.signalement.territory) ? suivi.createdBy.getPartnerInTerritoryOrFirstOne(suivi.signalement.territory).nom : '' }}
			{% else %}
				{{ suivi.getCreatedByLabel(forBailleur: not forUsager) }}
			{% endif %}
			-
			{{ suivi.createdAt|date('d/m/Y') }}
		</strong>
	</div>
	{% if isUnreadMessage %}
		<span class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--warning fr-mb-1w">Nouveau message</span>
	{% endif %}
	<div class="message-box-message">
		{% set recipient = forUsager ? constant('App\\Service\\Signalement\\Suivi\\SuiviRecipient::USAGER') : constant('App\\Service\\Signalement\\Suivi\\SuiviRecipient::DEFAULT') %}
		{{ suivi.description(recipient: recipient)|replace({'___TOKEN___':csrf_token('suivi_signalement_ext_file_view')})|raw }}
	</div>
</div>