
<div class="signalement-card fr-mb-3w">
	<div class="fr-grid-row fr-grid-row--gutters">
		<div class="fr-col-12 fr-col-md-6">
			{% if signalement.isNotOccupant %}
				Déclarant
			{% else %}
				Déclarant occupant
			{% endif %}
			<br>
			<span class="info">
				{% if signalement.prenomDeclarant %}
					{{ signalement.prenomDeclarant }} {{ signalement.nomDeclarant }}
				{% else %}
					{{ signalement.prenomOccupant }} {{ signalement.nomOccupant }}
				{% endif %}
			</span>
		</div>
		<div class="fr-col-12 fr-col-md-6">
			Référence du dossier
			<br>
			<span class="info">
				#{{ signalement.reference }}
				{% if signalement.referenceInjonction and signalement.statut is not same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR %}
					<small>(#{{ signalement.referenceInjonction }})</small>
				{% endif %}
			</span>
		</div>
		<div class="fr-col-12 fr-col-md-6">
			{% if signalement.isNotOccupant %}
				Personne occupant le logement
				<br>
				<span class="info">{{ signalement.prenomOccupant }} {{ signalement.nomOccupant }}</span>
			{% endif %}
		</div>
		<div class="fr-col-12 fr-col-md-6">
			Statut du dossier
			<br>
			<span class="info">
				{{ include('front/_partials/_suivi_signalement_card_status.html.twig') }}
			</span>
		</div>
		{% if link is not defined or link is same as true %}
			<div class="fr-col-12 fr-text--right">
				<a class="fr-link fr-icon-arrow-right-line fr-link--icon-right" href="{{ path('front_suivi_signalement',{code:signalement.codeSuivi}) }}">Retour à l'accueil du dossier</a>
			</div>
		{% endif %}
	</div>	
</div>
