{% extends 'back/base_bo.html.twig' %}

{% block title %}Logs IDOSS{% endblock %}

{% block content %}
<section class="fr-p-5v">
	<header>
		<div class="fr-grid-row">
			<div class="fr-col-12 fr-text--left">
				<h1 class="fr-mb-0">Logs IDOSS</h1>
			</div>
		</div>
	</header>
</section>

<section class="fr-grid-row fr-grid-row--middle fr-px-5v">
	<div class="fr-col-12 fr-table fr-table--lg fr-table--no-caption">
		<div class="fr-table__wrapper">
			<div class="fr-table__container">
				<div class="fr-table__content">
					<table class="fr-cell--multiline"  aria-label="Liste des comptes inactifs" aria-describedby="desc-table-inactive">
					<caption>Erreurs</caption>
						<thead>
							<tr>
								<th scope="col">Signalement</th>
								<th scope="col">Date</th>
								<th scope="col">action</th>
								<th scope="col">Réponse</th>
								<th scope="col">Code</th>
							</tr>
						</thead>
						<tbody>
							{% for error in errors %}
								<tr class="user-row">
									<td><a href="{{path('back_signalement_view', {'uuid': error.uuid})}}">{{error.reference}}</a></td>
									<td>{{error.createdAt|date('d/m/Y H:i:s')}}</td>
									<td>{{error.action}}</td>
									<td>{{error.response}}</td>
									<td>{{error.codeStatus}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
		<div class="fr-col-12 fr-table fr-table--lg fr-table--no-caption">
		<div class="fr-table__wrapper">
			<div class="fr-table__container">
				<div class="fr-table__content">
					<table class="fr-cell--multiline"  aria-label="Liste des comptes inactifs" aria-describedby="desc-table-inactive">
					<caption>Success</caption>
						<thead>
							<tr>
								<th scope="col">Signalement</th>
								<th scope="col">Date</th>
								<th scope="col">action</th>
								<th scope="col">Réponse</th>
								<th scope="col">Code</th>
							</tr>
						</thead>
						<tbody>
							{% for item in success %}
								<tr class="user-row">
									<td><a href="{{path('back_signalement_view', {'uuid': item.uuid})}}">{{item.reference}}</a></td>
									<td>{{item.createdAt|date('d/m/Y H:i:s')}}</td>
									<td>{{item.action}}</td>
									<td>{{item.response}}</td>
									<td>{{item.codeStatus}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
