{% set tableHead %}
    <th scope="col" class="number">Id</th>
    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_ADMIN_TERRITORY') and app.user.userPartners|length > 1) %}
        <th scope="col">Territoire</th>
    {% endif %}
    <th scope="col" data-responsive-title="1">Nom</th>
    <th scope="col">Type</th>
    <th scope="col">Compétences</th>
    <th scope="col">Codes INSEE</th>
    <th scope="col">Zones</th>
    <th scope="col">Notifiable</th>
    <th scope="col">Nb utilisateurs actifs</th>
    <th scope="col" class="fr-text--right">Actions</th>
{% endset %}

{% set tableBody %}
    {% for partner in partners %}
        {% set isNotifiable = partner['isNotifiable'] %}
        {% set partner = partner[0] %}
        <tr class="partner-row">
            <td>{{ partner.id }}</td>
            {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_ADMIN_TERRITORY') and app.user.userPartners|length > 1) %}
                <td>{{ partner.territory ? partner.territory.zipAndName : 'aucun' }}</td>
            {% endif %}
            <td>{{ partner.nom }}</td>
            <td>{{ partner.type ? partner.type.label : (partner.isCommune ? 'Commune':'N/A') }}</td>
            <td>
                {% if partner.competence %}
                    <div class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ partner.competence|length }}</div>
                {% else %}
                    /
                {% endif %}
            </td>
            <td>
                {% if partner.insee %}
                    {% for insee in partner.insee|slice(0, 4) %}
                        <div class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ insee }}</div>
                    {% endfor %}
                    {% if partner.insee|length > 4 %}
                        + {{partner.insee|length - 4}}
                    {% endif %}
                {% else %}
                    /
                {% endif %}
            </td>
            <td>
                {% if partner.zones or partner.excludedZones %}
                    {% for zone in partner.zones %}
                        <div class="fr-badge fr-badge--success fr-badge--no-icon fr-mb-1v">{{ zone.name }}</div>
                    {% endfor %}
                    {% for zone in partner.excludedZones %}
                        <div class="fr-badge fr-badge--error fr-badge--no-icon fr-mb-1v">{{ zone.name }}</div>
                    {% endfor %}
                {% else %}
                    /
                {% endif %}
            </td>
            <td>
                {% if isNotifiable %}
                    <div class="fr-badge fr-badge--success fr-badge--no-icon fr-mb-1v">oui</div>
                {% else %}
                    <div class="fr-badge fr-badge--error fr-badge--no-icon fr-mb-1v">non</div>
                {% endif %}
            </td>
            <td>
                {{ partner.users|filter(user => user.statut is same as enum('App\\Entity\\Enum\\UserStatus').ACTIVE )|length }}
            </td>
            <td class="fr-text--right fr-ws-nowrap">
                <a href="{{ path('back_partner_view', {'id': partner.id}) }}"
                class="fr-btn fr-fi-arrow-right-line fr-btn--sm"></a>
                <button class="fr-btn fr-btn--danger fr-fi-delete-line fr-btn--sm btn-delete-partner"
                    id="partners_delete_{{ partner.id }}" aria-controls="fr-modal-partner-delete"
                    data-fr-opened="false" data-partnername="{{ partner.nom }}" data-partnerid="{{ partner.id }}"></button>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun partenaire trouvé</td>
        </tr>
    {% endfor %}
{% endset %}

{% include '_partials/back/table.html.twig' with { 'tableLabel': 'Liste des partenaires', 'tableHead': tableHead, 'tableBody': tableBody, 'cancelSortable': true } %}

<div class="fr-grid-row fr-mt-2v fr-grid-row--center" id="partner-pagination">
    {% import '_partials/macros.html.twig' as macros %}
    {{ macros.customPagination(pages, searchPartner.page, 'back_partner_index', searchPartner.urlParams) }}
</div>
