{% extends 'back/base_bo.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block content %}
    {% if is_granted('ROLE_ADMIN_TERRITORY') and app.request.get('_route') is not same as('back_partner_new') %}
        {% include '_partials/_modal_user_transfer.html.twig' %}
    {% endif %}
    {% include '_partials/_modal_user_delete.html.twig' %}
    <section class="fr-col-12 fr-p-5v">
        <h2 class="fr-h2 fr-mb-0">Partenaire {{ partner.nom ? '"'~partner.nom~'"' : '' }}</h2>
        {% if partner.competence %}
            ({% for competence in partner.competence %}
                <span class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ competence }}</span>
                {# <span class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ competence.label }}</span> #}
            {% endfor %})
        {% endif %}
        <span class="fr-hint-text">Ci dessous les informations du partenaire, vous pouvez les éditer si nécessaire.</span>
        <div class="fr-pt-5v">
            {{ include('back/partner/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}