{% extends 'back/base_bo.html.twig' %}

{% block title %}Partenaire index{% endblock %}

{% block content %}
    {% include '_partials/_modal_partner_delete.html.twig' %}
    <section class="fr-p-5v">
        <header>
            <div class="fr-grid-row">
                <div class="fr-col-6 fr-text--left">
                    <h1 class="fr-h1 fr-mb-0">Partenaires</h1>
                </div>
                <div class="fr-col-6 fr-text--right">
                    <a class="fr-btn fr-btn--success fr-btn--icon-left fr-btn--md fr-fi-add-circle-line" href="{{ path('back_partner_new') }}"
                        >Ajouter un partenaire</a>
                </div>
            </div>
        </header>
    </section>
    <form action="#" name="bo-filters-form" id="bo_filters_form" method="POST"
              class="fr-background--grey fr-p-2v fr-grid-row fr-grid-row--bottom">
        <div class="fr-col-4 fr-p-2v">
            <div class="fr-search-bar fr-mt-2v" id="header-search">
                <input class="fr-input" placeholder="Rechercher un partenaire" type="search" id="header-search-input"
                    name="bo-filters-usersterms" value="{{ userTerms ?? '' }}">
                <button class="fr-btn" title="Rechercher">
                    {{userTerms is null ? 'Rechercher un partenaire' : userTerms}}
                </button>&nbsp;
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="fr-col-3 fr-p-2v">
                <select id="bo-filters-territories" class="fr-select" onchange="this.form.submit()" name="territory">
                    <option value="" {{ currentTerritory is null ? 'selected' : '' }}>Territoires</option>
                    {% for territory in territories %}
                        <option value="{{ territory.id }}" {{ currentTerritory ? (territory.id == currentTerritory.id ? 'selected' : '') : ''  }}>{{ territory.name|upper }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="fr-col-3 fr-p-2v">
            <select id="bo-filters-types" class="fr-select" onchange="this.form.submit()" name="type">
                <option value="" {{ currentType is null ? 'selected' : '' }}>Type</option>
                {% for key, type in types %}
                    <option value="{{ key }}" {{ currentType ? (key == currentType ? 'selected' : '') : '' }}>{{ type|upper }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="fr-col-2 fr-p-2v">
            <a href="{{ path('back_partner_index') }}" class="fr-link fr-link--icon-left fr-icon-close-circle-line">Réinitialiser</a>
        </div>
    </form>
    <section class="fr-grid-row fr-grid-row--middle fr-p-5v ">
        <div class="fr-col-6">
            <h1 class="fr-h2 fr-mb-0" id="desc-table">{{total}} partenaires trouvés</h1>
        </div>
    </section>
    <section class="fr-col-12 fr-table fr-table--bordered fr-pt-0">
        <table class="fr-display-inline-table sortable">
            <thead>
            <tr>
                <th>Id</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="number">Dpt.</th>
                {% endif %}
                <th>Nom</th>
                <th>Type</th>
                <th>Compétences</th>
                <th>Codes INSEE</th>
                <th class="fr-text--right">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for partner in partners %}
                <tr class="partner-row">
                    <td>{{ partner.id }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ partner.territory ? partner.territory.zip : 0 }}</td>
                    {% endif %}
                    <td>{{ partner.nom }}</td>
                    <td>{{ partner.type ? partner.type.label : (partner.isCommune ? 'Commune':'Partenaire') }}</td>
                    <td>
                        {% if partner.competence %}
                            <div class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ partner.competence|length }}</div>
                        {% else %}
                            /
                        {% endif %}
                    </td>
                    <td>
                        {% if partner.insee %}
                            {% for insee in partner.insee|slice(0, 4) %}
                                <div class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ insee }}</div>
                            {% endfor %}
                            {% if partner.insee|length > 4 %}
                                + {{partner.insee|length - 4}}
                            {% endif %}
                        {% else %}
                            /
                        {% endif %}
                    </td>
                    <td class="fr-text--right">
                        <a href="{{ path('back_partner_view', {'id': partner.id}) }}"
                           class="fr-btn fr-fi-arrow-right-line fr-btn--sm"></a>
                        <a href="#" class="fr-btn fr-btn--danger fr-fi-delete-line fr-btn--sm btn-delete-partner"
                            id="partners_delete_{{ partner.id }}" aria-controls="fr-modal-partner-delete"
                            data-fr-opened="false" data-partnername="{{ partner.nom }}" data-partnerid="{{ partner.id }}"></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun partenaire trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="fr-grid-row fr-mt-2v fr-grid-row--center">
            {% import '_partials/macros.html.twig' as macros %}
            {{ macros.customPagination(pages, page, 'back_partner_index', {territory: (currentTerritory ? currentTerritory.id : null), type: (currentType ? currentType : null), userTerms: userTerms}) }}
        </div>
    </section>


{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
