{% extends 'back/base_bo.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block content %}
    {% if is_granted('ROLE_ADMIN_TERRITORY') and app.request.get('_route') is not same as('back_partner_new') %}
        <div data-ajax-form>
            {% include '_partials/_modal_user_transfer.html.twig' %}
        </div>
    {% endif %}
    {% include '_partials/_modal_user_create.html.twig' %}
    <div data-ajax-form>
        {% include '_partials/_modal_user_delete.html.twig' %}
    </div>
    {% include '_partials/_modal_user_edit.html.twig' %}
    <section class="fr-p-5v">
        {% if is_granted('ROLE_ADMIN_TERRITORY') %}
            {% include 'back/breadcrumb_bo.html.twig' with {
                'level2Title': 'Outils admin',
                'level2Link': '',
                'level2Label': '',
                'level3Title': 'Partenaires',
                'level3Link': path('back_partner_index'),
                'level3Label': 'Retour à la liste des partenaires',
                'level4Title': 'Voir le partenaire '~partner.nom,
                'level4Link': '',
                'level4Label': '',
            } %}
        {% endif %}            
        <header>         
            <div class="fr-grid-row"> 
                <div class="fr-col-12">
                    <h1>{{ partner.nom }}</h1>
                    <p>Territoire : {{ partner.territory ? partner.territory.zipAndName : ''}}</p>
                </div>
            </div>          
        </header>
        {% if partner.receiveEmailNotifications is same as false %}  
            <div class="fr-alert fr-alert--warning">
                <h3 class="fr-alert__title">Ce partenaire n'est pas notifiable.</h3>
                <p>Cela signifie qu'il n'a pas d'adresse e-mail de contact ou qu'elle n'est pas notifiable et qu'aucun utilisateur ne reçoit de notifications par e-mail.</p>
            </div>     
        {% endif %}
    </section>

    <div class="fr-tabs">
        <ul class="fr-tabs__list" role="tablist" aria-label="Informations du partenaire">
            <li role="presentation">
                <button id="tabpanel-informations" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-informations-panel">Informations</button>
            </li>
            <li role="presentation">
                <button id="tabpanel-perimetre" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-perimetre-panel">Périmètre</button>
            </li>
            <li role="presentation">
                <button id="tabpanel-agents" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-agents-panel">Agents</button>
            </li>
        </ul>
        <div id="tabpanel-informations-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-informations" tabindex="0">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-6">
                    <h2>Informations du partenaire</h2>
                </div>
                <div class="fr-col-6 fr-text--right">
                    <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-btn--md fr-fi-edit-line" href="{{ path('back_partner_edit', {'id': partner.id}) }}">Modifier les infos</a>
                </div>
            </div>
            <h3>Informations générales</h3>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-6">
                    <div><b>Nom :</b> {{ partner.nom }}</div>
                </div>
                <div class="fr-col-6">
                    <div><b>Territoire :</b> {{ partner.territory ? partner.territory.zipAndName : ''}}</div>
                </div>
                <div class="fr-col-6">
                    <div>
                        <b>E-mail de contact :</b> {{ partner.email }}
                        {% if show_email_partner_alert_brevo(partner.email)|default(false) %}
                            <span class="fr-badge fr-badge--warning fr-badge--sm">Problème d'e-mail non remis</span>
                        {% endif %}
                    </div>
                </div>
                <div class="fr-col-6">
                    <div><b>Type :</b> {{ partner.type ? partner.type.label : (partner.isCommune ? 'Commune':'N/A') }}</div>
                </div>
                <div class="fr-col-6"><b>Compétences :</b>
                    {% if partner.competence %}
                        {% for competence in partner.competence %}
                            <span class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ competence.label }}</span>
                        {% endfor %}
                    {% else %}
                        /
                    {% endif %}
                </div>
                {% if partner.type and partner.type.name == 'BAILLEUR_SOCIAL' %}
                    <div class="fr-col-6">
                        <div><b>Dénomination officielle bailleur :</b> {{ partner.bailleur ? partner.bailleur.name : 'N/A' }}</div>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and partnerAutoAffectationRules|length > 0 %}
                    <div class="fr-col-6">
                        <span>Règles d'auto-affectation concernant ce partenaire</span>
                        <ul>
                        {% for partnerAutoAffectationRule in partnerAutoAffectationRules %}
                            <li>{{ partnerAutoAffectationRule.description(false)}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}  
            </div>
            {% if partner.isEsaboraActive or partner.isIdossActive %}
                <h3>Interfaçage</h3>
                <div class="fr-grid-row fr-grid-row--gutters">
                    {% if partner.isEsaboraActive %}
                        <div class="fr-col-6">
                            <div><b>URL ESABORA :</b> {{ partner.esaboraUrl }}</div>
                        </div>
                        <div class="fr-col-6">
                            <div>
                                <b>Synchronisation ESABORA :</b>
                                {% if partner.isEsaboraActive %}
                                    <span class="fr-badge fr-badge--success">Active</span>
                                {% else %}
                                    <span class="fr-badge fr-badge--info">Inactive</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="fr-col-6">
                            <div><b>Token ESABORA :</b> {{ partner.esaboraToken }}</div>
                        </div>
                        <div class="fr-col-6">
                            <div><b>Dernière synchro : </b>{{ last_job_date ? last_job_date|date('d/m/Y à H:i') : '-' }}</div>
                        </div>
                    {% endif %}
                    {% if partner.isIdossActive %}
                        <div class="fr-col-6">
                            <div><b>URL iDoss :</b> {{ partner.idossUrl }}</div>
                        </div>
                        <div class="fr-col-6">
                            <div>
                                <b>Synchronisation iDoss :</b>
                                <span class="fr-badge fr-badge--success">Active</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div id="tabpanel-perimetre-panel" class="fr-tabs__panel fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-perimetre" tabindex="0">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-6">
                    <h2>Périmètre d'intervention</h2>
                </div>
                <div class="fr-col-6 fr-text--right">
                    <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-btn--md fr-fi-edit-line" href="{{ path('back_partner_edit_perimetre', {'id': partner.id}) }}">Modifier le périmètre</a>
                </div>
                <div class="fr-col-12">
                    <p>
                        Le périmètre d'intervention du partenaire correspond aux zones géographiques sur lesquelles il intervient. 
                        Le partenaire pourra uniquement être affecté et intervenir sur les dossiers des zones définies dans son périmètre.
                        <br> 
                        Si aucun périmètre n'est défini, le partenaire pourra être affecté à n'importe quel dossier du territoire.
                    </p>
                    <div class="fr-callout">
                        <p class="fr-callout__text">
                            Les périmètres définis ne sont pas cumulatifs.
                            <br>
                            Par exemple : vous ajoutez le code INSEE d'une commune et une zone OPAH à un partenaire, le partenaire pourra être affecté aux dossiers qui sont dans la commune <u>ET</u> aux dossiers se trouvant dans la zone OPAH sélectionnée, même si elle ne correspond pas à ce code INSEE.
                        </p>
                    </div>
                </div>
                <div class="fr-col-12">
                    <h3>Code(s) INSEE</h3>
                    {% if partner.insee %}
                        {% for insee in partner.insee %}
                            <span class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ insee }}</span>
                        {% endfor %}
                    {% else %}
                        <b><i>Aucune code INSEE</i></b>
                    {% endif %}
                </div>
                <div class="fr-col-12">
                    <h3>Zones</h3>
                    <p>
                        Les zones doivent être créées dans la partie Outils Admin > Zones.
                    </p>
                    {% if partner.zones|length %}
                        {% for zone in partner.zones %}
                            <span class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ zone.name }}</span>
                        {% endfor %}
                    {% else %}
                        <b><i>Aucune zone</i></b>
                    {% endif %}
                </div>
                <div class="fr-col-12">
                    <h3>Zones à exclure</h3>
                    <p>
                        Si vous souhaitez que le partenaire n'intervienne pas sur les dossiers d'une zone spécifique, sélectionnez une zone à exclure.
                        <br> 
                        Ces zones à exclure sont prioritaires sur les codes insee et les zones. Dès qu'un signalement se trouve dans une zone à exclure, ce partenaire ne peut pas y être affecté, quels que soient la configuration des codes insee et des zones.
                        <br>
                        Les zones doivent être créées dans la partie Outils Admin > Zones.
                    </p>
                    {% if partner.excludedZones|length %}
                        {% for zone in partner.excludedZones %}
                            <span class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ zone.name }}</span>
                        {% endfor %}
                    {% else %}
                        <b><i>Aucune zone à exclure</i></b>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="tabpanel-agents-panel" class="fr-tabs__panel fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-agents" tabindex="0">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-6">
                    <h2 id="desc-table">Agents du partenaire</h2>
                </div>
                <div class="fr-col-6 fr-text--right">
                    <a href="#" 
                        class="fr-btn fr-btn--success fr-btn--icon-left fr-btn--md fr-fi-add-line fr-btn-add-user"
                        id="partner_users_create" 
                        aria-controls="fr-modal-user-create"
                        data-fr-opened="false" 
                        data-partnerid="{{ partner.id }}">Ajouter un utilisateur</a>
                </div>
            </div>
            <div id="view-agent-list">
                {% include 'back/partner/_view-agent-list.html.twig' %}
            </div>
        </div>
    </div>
    
{% endblock %}
