{% extends 'service_secours/base.html.twig' %}

{% block body %}
    <main class="fr-container fr-mb-5w" id="content">
        <section class="fr-grid-row fr-grid-row--center">
            <div class="fr-mt-5v fr-col-md-12">
                <h1>Bienvenue {{serviceSecoursRoute.name}}</h1>

                {% set current_step = form.vars.cursor.currentStep %}
                {% if current_step === 'step1' %}
                    {% set step_number = 1 %}
                    {% set step_title = 'Vos coordonnées' %}
                    {% set next_step_title = 'Infos sur le logement' %}
                {% elseif current_step === 'step2' %}
                    {% set step_number = 2 %}
                    {% set step_title = 'Infos sur le logement' %}
                    {% set next_step_title = 'Occupation du logement' %}
                {% elseif current_step === 'step3' %}
                    {% set step_number = 3 %}
                    {% set step_title = 'Occupation du logement' %}
                    {% set next_step_title = 'Propriétaire / bailleur' %}
                {% elseif current_step === 'step4' %}
                    {% set step_number = 4 %}
                    {% set step_title = 'Propriétaire / bailleur' %}
                    {% set next_step_title = 'Désordres' %}
                {% elseif current_step === 'step5' %}
                    {% set step_number = 5 %}
                    {% set step_title = 'Désordres' %}
                {% endif %}

                {% if current_step != 'step6' %}
                    <div class="fr-stepper">
                        <h2 class="fr-stepper__title">
                            {{step_title}} <span class="fr-stepper__state">Étape {{ step_number }} sur 5</span>
                        </h2>
                        <div class="fr-stepper__steps" data-fr-current-step="{{ step_number }}" data-fr-steps="5"></div>
                        {% if next_step_title is defined %}
                            <p class="fr-stepper__details">
                                <span class="fr-text--bold">Étape suivante :</span> {{ next_step_title }}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}

                {{ form_start(form, {'attr': {'id': 'fo-form-service-secours'}}) }}
                {# Afficher uniquement les erreurs globales du formulaire, pas celles des champs individuels #}
                {% for error in form.vars.errors %}
                    {% if error.origin is same as(form) %}
                    <div class="fr-alert fr-alert--error fr-mb-2w">
                        <p>{{ error.message }}</p>
                    </div>
                    {% endif %}
                {% endfor %}

                {% if current_step == 'step1' %}
                    <h3 class="fr-h5">Vos coordonnées</h3>
                    {{ form_row(form.step1.matriculeDeclarant) }}
                    {{ form_row(form.step1.nomDeclarant) }}
                    {{ form_row(form.step1.dateMission) }}
                    {{ form_row(form.step1.origineMission) }}
                    {{ form_row(form.step1.ordreMission) }}
                {% elseif current_step == 'step2' %}
                    {{ form_row(form.step2.adresseCompleteOccupant) }}
                    <div id="fo-form-service-secours-adresse">
                        <div class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-address-group">
                        </div>
                    </div>
                    <div class="fr-my-2w">
                        <button type="button" class="fr-link fr-link--icon-left fr-icon-edit-line manual-address-switcher">Saisir une adresse manuellement</button>
                    </div>
				    <div class="fr-hidden fr-mb-2w manual-address-container">
                        {{ form_row(form.step2.adresseOccupant) }}
                        {{ form_row(form.step2.cpOccupant) }}
                        {{ form_row(form.step2.villeOccupant) }}
                        {{ form_row(form.step2.inseeOccupant) }}
                    </div>
                    {{ form_row(form.step2.adresseAutreOccupant) }}
					{{ form_row(form.step2.isLogementSocial, {display_mode: 'block'}) }}
                    {{ form_row(form.step2.natureLogement, {display_mode: 'block'}) }}
                    <div class="fr-hidden nature-logement-autre-container fr-input-group">
                        {{ form_row(form.step2.natureLogementAutre) }}
                    </div>
                    <div class="fr-hidden type-etage-logement-appartement-container fr-input-group">
                        {{ form_row(form.step2.typeEtageLogement, {display_mode: 'block'}) }}
                        <div class="fr-hidden etage-occupant-container fr-input-group fr-pl-4w">
                            {{ form_row(form.step2.etageOccupant) }}
                        </div>
                    </div>
                    {{ form_row(form.step2.nbPiecesLogement) }}
                    {{ form_row(form.step2.superficie) }}
                {% elseif current_step == 'step3' %}
                    <h3 class="fr-h5">Coordonnées de l'occupant</h3>
                    {{ form_row(form.step3.profilOccupant, {display_mode: 'block'}) }}
                    {{ form_row(form.step3.nomOccupant) }}
                    {{ form_row(form.step3.prenomOccupant) }}
                    {{ form_row(form.step3.mailOccupant) }}
                    {{ form_row(form.step3.telOccupant) }}
                    <h3 class="fr-h5">Situation du foyer</h3>
                    {{ form_row(form.step3.nbAdultesDansLogement) }}
                    {{ form_row(form.step3.nbEnfantsDansLogement) }}
                    {{ form_row(form.step3.isEnfantsMoinsSixAnsDansLogement, {display_mode: 'block'}) }}
                    {{ form_row(form.step3.autreVulnerabilite) }}
                {% elseif current_step == 'step4' %}
                    <h3 class="fr-h5">Informations sur le bailleur</h3>
                    {{ form_row(form.step4.isBailleurAverti, {display_mode: 'block'}) }}
                    {% if form.step4.denominationProprio is defined %}
                        <div class="fr-input-group">
                            {{ form_label(form.step4.denominationProprio) }}
                            {{ form_widget(form.step4.denominationProprio) }}
                            <ul class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-autocomplete-list">
                            </ul>
                        </div>
                    {% endif %}
                    {% if form.step4.nomProprio is defined %}
                        {{ form_row(form.step4.nomProprio) }}
                    {% endif %}
                    {% if form.step4.prenomProprio is defined %}
                        {{ form_row(form.step4.prenomProprio) }}
                    {% endif %}
                    {{ form_row(form.step4.mailProprio) }}
                    {{ form_row(form.step4.telProprio) }}
                    <div class="fr-my-2w">
                        <button type="button" class="fr-link fr-link--icon-left fr-icon-add-line" id="show-informations-syndic-container">Ajouter les coordonnées du syndic</button>
                    </div>
                    <div class="fr-hidden fr-mb-3w" id="informations-syndic-container">
                        <h3 class="fr-h5">Informations sur le syndic</h3>
                        {{ form_row(form.step4.denominationAgence) }}
                        {{ form_row(form.step4.nomAgence) }}
                        {{ form_row(form.step4.mailAgence) }}
                        {{ form_row(form.step4.telAgence) }}
                    </div>
                {% elseif current_step == 'step5' %}
                    {{ form_row(form.step5.desordres) }}
                    {{ form_row(form.step5.desordresAutre) }}
                    {{ form_row(form.step5.autresOccupantsDesordre) }}
                {% elseif current_step == 'step6' %}
                    <div class="fr-mt-5v fr-mb-5v">
                        //RECAP
                    </div>
                    {{form_row(form.step6.hidden)}}
                {% endif %}

                <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline fr-btns-group--icon-left">
                    {% if form.navigator.finish is defined %}
                        <li>{{ form_row(form.navigator.finish) }}</li>
                    {% endif %}
                    {% if form.navigator.next is defined %}
                        <li>{{ form_row(form.navigator.next) }}</li>
                    {% endif %}
                    {% if form.navigator.previous is defined %}
                        <li>{{ form_row(form.navigator.previous) }}</li>
                    {% endif %}
                </ul>

                {{ form_end(form) }}

            </div>
        </section>
    </main>
{% endblock %}
