{% extends 'service_secours/base.html.twig' %}

{% block body %}
    <main class="fr-container fr-mb-5w" id="content">
        <section class="fr-grid-row fr-grid-row--center">
            <div class="fr-mt-5v fr-col-md-12">
                <h1>Bienvenue {{serviceSecoursRoute.name}}</h1>

                {% set current_step = form.vars.cursor.currentStep %}
                {% if current_step === 'step1' %}
                    {% set step_number = 1 %}
                    {% set step_title = 'Vos coordonnées' %}
                    {% set next_step_title = 'Infos sur le logement' %}
                {% elseif current_step === 'step2' %}
                    {% set step_number = 2 %}
                    {% set step_title = 'Infos sur le logement' %}
                    {% set next_step_title = 'Occupation du logement' %}
                {% elseif current_step === 'step3' %}
                    {% set step_number = 3 %}
                    {% set step_title = 'Occupation du logement' %}
                    {% set next_step_title = 'Propriétaire / bailleur' %}
                {% elseif current_step === 'step4' %}
                    {% set step_number = 4 %}
                    {% set step_title = 'Propriétaire / bailleur' %}
                    {% set next_step_title = 'Désordres' %}
                {% elseif current_step === 'step5' %}
                    {% set step_number = 5 %}
                    {% set step_title = 'Désordres' %}
                {% endif %}

                {% if current_step != 'step6' %}
                    <div class="fr-stepper">
                        <h2 class="fr-stepper__title">
                            {{step_title}} <span class="fr-stepper__state">Étape {{ step_number }} sur 5</span>
                        </h2>
                        <div class="fr-stepper__steps" data-fr-current-step="{{ step_number }}" data-fr-steps="5"></div>
                        {% if next_step_title is defined %}
                            <p class="fr-stepper__details">
                                <span class="fr-text--bold">Étape suivante :</span> {{ next_step_title }}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}

                {{ form_start(form, {'attr': {'id': 'fo-form-service-secours'}}) }}
                {# Afficher uniquement les erreurs globales du formulaire, pas celles des champs individuels #}
                {% for error in form.vars.errors %}
                    {% if error.origin is same as(form) %}
                    <div class="fr-alert fr-alert--error fr-mb-2w">
                        <p>{{ error.message }}</p>
                    </div>
                    {% endif %}
                {% endfor %}

                {% if current_step == 'step1' %}
                    <h3 class="fr-h5">Vos coordonnées</h3>
                    {{ form_row(form.step1.matriculeDeclarant) }}
                    {{ form_row(form.step1.nomDeclarant) }}
                    {{ form_row(form.step1.dateMission) }}
                    {{ form_row(form.step1.origineMission) }}
                    {{ form_row(form.step1.ordreMission) }}
                {% elseif current_step == 'step2' %}
                    {{ form_row(form.step2.adresseCompleteOccupant) }}
                    <input
                            type="hidden"
                            id="signalement_draft_address_filterSearchAddressTerritory"
                            value="{{ serviceSecoursRoute.territory.zip }}"
                    />
                    <div id="fo-form-service-secours-adresse">
                        <div class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-address-group">
                        </div>
                    </div>
                    <div class="fr-my-2w">
                        <button type="button" class="fr-link fr-link--icon-left fr-icon-edit-line manual-address-switcher">Saisir une adresse manuellement</button>
                    </div>
				    <div class="fr-hidden fr-mb-2w manual-address-container">
                        {{ form_row(form.step2.adresseOccupant) }}
                        {{ form_row(form.step2.cpOccupant) }}
                        {{ form_row(form.step2.villeOccupant) }}
                        {{ form_row(form.step2.inseeOccupant) }}
                    </div>
                    {{ form_row(form.step2.adresseAutreOccupant) }}
					{{ form_row(form.step2.isLogementSocial, {display_mode: 'block'}) }}
                    {{ form_row(form.step2.natureLogement, {display_mode: 'block'}) }}
                    <div class="fr-hidden nature-logement-autre-container fr-input-group">
                        {{ form_row(form.step2.natureLogementAutre) }}
                    </div>
                    <div class="fr-hidden type-etage-logement-appartement-container fr-input-group">
                        {{ form_row(form.step2.typeEtageLogement, {display_mode: 'block'}) }}
                        <div class="fr-hidden etage-occupant-container fr-input-group fr-pl-4w">
                            {{ form_row(form.step2.etageOccupant) }}
                        </div>
                    </div>
                    {{ form_row(form.step2.nbPiecesLogement) }}
                    {{ form_row(form.step2.superficie) }}
                {% elseif current_step == 'step3' %}
                    <h3 class="fr-h5">Coordonnées de l'occupant</h3>
                    {{ form_row(form.step3.profilOccupant, {display_mode: 'block'}) }}
                    {{ form_row(form.step3.nomOccupant) }}
                    {{ form_row(form.step3.prenomOccupant) }}
                    {{ form_row(form.step3.mailOccupant) }}
                    {{ form_row(form.step3.telOccupant) }}
                    <h3 class="fr-h5">Situation du foyer</h3>
                    {{ form_row(form.step3.nbAdultesDansLogement) }}
                    {{ form_row(form.step3.nbEnfantsDansLogement) }}
                    {{ form_row(form.step3.isEnfantsMoinsSixAnsDansLogement, {display_mode: 'block'}) }}
                    {{ form_row(form.step3.autreVulnerabilite) }}
                {% elseif current_step == 'step4' %}
                    {% if form.step4.isBailleurAverti is defined %}
                        <h3 class="fr-h5">Informations sur le bailleur</h3>
                        {{ form_row(form.step4.isBailleurAverti, {display_mode: 'block'}) }}
                    {% endif %}
                    {% if form.step4.denominationProprio is defined %}
                        <div class="fr-input-group">
                            {{ form_label(form.step4.denominationProprio) }}
                            {{ form_widget(form.step4.denominationProprio) }}
                            <ul class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-autocomplete-list">
                            </ul>
                        </div>
                    {% endif %}
                    {% if form.step4.nomProprio is defined %}
                        {{ form_row(form.step4.nomProprio) }}
                    {% endif %}
                    {% if form.step4.prenomProprio is defined %}
                        {{ form_row(form.step4.prenomProprio) }}
                    {% endif %}
                    {% if form.step4.mailProprio is defined %}
                        {{ form_row(form.step4.mailProprio) }}
                    {% endif %}
                    {% if form.step4.telProprio is defined %}
                        {{ form_row(form.step4.telProprio) }}
                    {% endif %}
                    {% if form.step4.isBailleurAverti is defined %}
                    <div class="fr-my-2w">
                        <button type="button" class="fr-link fr-link--icon-left fr-icon-add-line" id="show-informations-syndic-container">Ajouter les coordonnées du syndic</button>
                    </div>
                    {% endif %}
                    <div class="{% if form.step4.isBailleurAverti is defined %}fr-hidden{% endif %} fr-mb-3w" id="informations-syndic-container">
                        <h3 class="fr-h5">Informations sur le syndic</h3>
                        {{ form_row(form.step4.denominationSyndic) }}
                        {{ form_row(form.step4.nomSyndic) }}
                        {{ form_row(form.step4.mailSyndic) }}
                        {{ form_row(form.step4.telSyndic) }}
                        {{ form_row(form.step4.telSyndicSecondaire) }}
                    </div>
                {% elseif current_step == 'step5' %}
                    {{ form_row(form.step5.desordres) }}
                    {{ form_row(form.step5.desordresAutre) }}
                    {{ form_row(form.step5.autresOccupantsDesordre, {display_mode: 'block'}) }}
                    <div
                            class="fr-upload-group js-upload-photos"
                            data-ajaxurl-handle-upload="{{ path('handle_upload') }}">
                        <p class="fr-text--lg">
                            <span class="fr-text--bold">Photos</span><br>
                            <span>Si possible, ajoutez des photos des problèmes sélectionnés.</span>
                        </p>

                        {% if form.step5.photos.vars.help %}
                            <span class="fr-hint-text fr-mb-2w">{{ form.step5.photos.vars.help }}</span>
                        {% endif %}
                        <button
                                type="button"
                                class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line"
                                data-upload-photos-trigger>
                            Ajouter des photos
                        </button>

                        <div class="fr-hidden">
                            {{ form_widget(form.step5.photos, {
                                attr: {
                                    'data-upload-photos-input': '',
                                    'accept': 'image/jpeg,image/png,image/gif,application/pdf'
                                }
                            }) }}
                        </div>

                        {{ form_errors(form.step5.photos) }}
                        <div class="fr-mt-2w" data-upload-photos-list></div>
                        <div data-upload-photos-hidden-container
                             data-input-name="{{ form.step5.uploadedFiles.vars.full_name }}"
                             data-uploaded-files='{{ form.step5.vars.data.uploadedFiles|json_encode|e("html_attr") }}'
                        >

                        </div>
                        {% do form.step5.uploadedFiles.setRendered %}

                    </div>
                {% elseif current_step == 'step6' %}
                    <div class="fr-mt-5v fr-mb-5v">
                        <h3 class="fr-h5">Récapitulatif et validation</h3>
                        <div>Vérifiez les informations saisies puis validez le signalement.</div>
                    </div>
                    
                    <div class="signalement-group-data-card">
                        <div class="fr-display-flex-row fr-justify-content-space-between fr-align-items-center">
                            <h4 class="fr-h6">Vos coordonnées</h4>
                            <button
                                type="submit"
                                name="step"
                                class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-edit-line fr-btn--icon-left"
                                value="step1"
                                aria-label="Modifier les coordonnées" title="Modifier les coordonnées">
                                <span class="fr-hidden fr-unhidden-md">Modifier</span>
                            </button>
                        </div>
                        {% if data.step1.matriculeDeclarant %}
                            Matricule : {{ data.step1.matriculeDeclarant }}<br>
                        {% endif %}
                        {% if data.step1.nomDeclarant %}
                            Nom : {{ data.step1.nomDeclarant }}<br>
                        {% endif %}
                        {% if data.step1.dateMission %}
                            Date de la mission : {{ data.step1.dateMission|format_datetime(locale='fr', timezone=territory_timezone, pattern='d MMMM yyyy') }}<br>
                        {% endif %}
                        {% if data.step1.origineMission %}
                            Engin à l'origine du signalement : {{ data.step1.origineMission }}<br>
                        {% endif %}
                        {% if data.step1.ordreMission %}
                            Ordre de la mission : {{ data.step1.ordreMission }}<br>
                        {% endif %}
                    </div>
                    
                    <div class="signalement-group-data-card">
                        <div class="fr-display-flex-row fr-justify-content-space-between fr-align-items-center">
                            <h4 class="fr-h6">Infos sur le logement</h4>
                            <button
                                type="submit"
                                name="step"
                                class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-edit-line fr-btn--icon-left"
                                value="step2"
                                aria-label="Modifier les infos sur le logement" title="Modifier les infos sur le logement">
                                <span class="fr-hidden fr-unhidden-md">Modifier</span>
                            </button>
                        </div>
                        {{ data.step2.adresseOccupant }} <br>
                        {% if data.step2.adresseAutreOccupant %}
                            {{ data.step2.adresseAutreOccupant }}<br>
                        {% endif %}
                        {{ data.step2.cpOccupant }} {{ data.step2.villeOccupant }}<br>
                        {% if data.step2.isLogementSocial %}
                            Logement social : {{ data.step2.isLogementSocial|format_answer }}<br>
                        {% endif %}
                        {% if data.step2.natureLogement %}
                            Nature du logement : {{ data.step2.natureLogement }}
                            {% if  data.step2.natureLogement is same as 'autre' and data.step2.natureLogementAutre %}
                                ({{ data.step2.natureLogementAutre }})
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if data.step2.typeEtageLogement is not null %}
                            Etage : {{ data.step2.typeEtageLogement.label }}
                            {% if data.step2.typeEtageLogement is same as enum('\\App\\Entity\\Enum\\EtageType').AUTRE and data.step2.etageOccupant %}
                                ({{ data.step2.etageOccupant }})
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if data.step2.nbPiecesLogement %}
                             Nombre de pièces à vivre : {{ data.step2.nbPiecesLogement }}<br>
                        {% endif %}
                        {% if data.step2.superficie %}
                            Superficie : {{ data.step2.superficie }} m²<br>
                        {% endif %}
                    </div>
                    
                    <div class="signalement-group-data-card">
                        <div class="fr-display-flex-row fr-justify-content-space-between fr-align-items-center">
                            <h4 class="fr-h6">Occupation du logement</h4>
                            <button
                                type="submit"
                                name="step"
                                class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-edit-line fr-btn--icon-left"
                                value="step3"
                                aria-label="Modifier l'occupation du logement" title="Modifier l'occupation du logement">
                                <span class="fr-hidden fr-unhidden-md">Modifier</span>
                            </button>
                        </div>
                        {% if data.step3.nomOccupant %}
                            {{ data.step3.nomOccupant }} 
                            {% if data.step3.prenomOccupant %}
                                {{ data.step3.prenomOccupant }}
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if data.step3.profilOccupant and data.step3.profilOccupant is not same as 'indetermine' %}
                            {% if data.step3.profilOccupant is same as 'logement_vacant' %}
                                Logement vacant<br>
                            {% else %}
                                {% set ProfilOccupant = enum('\\App\\Entity\\Enum\\ProfileOccupant') %}
                                {{ ProfilOccupant.from(data.step3.profilOccupant).label }}<br>
                            {% endif %}
                        {% endif %}
                        {% if data.step3.mailOccupant %}
                            {{ data.step3.mailOccupant }}<br>
                        {% endif %}
                        {% if data.step3.telOccupant %}
                            {{ data.step3.telOccupant }}<br>
                        {% endif %}
                        {% if data.step3.nbAdultesDansLogement %}
                            {{ singular_or_plural(data.step3.nbAdultesDansLogement, 'adulte', 'adultes') }}<br>
                        {% endif %}
                        {% if data.step3.nbEnfantsDansLogement %}
                            {{ singular_or_plural(data.step3.nbEnfantsDansLogement, 'mineur', 'mineurs') }}<br>
                        {% endif %}
                        {% if data.step3.isEnfantsMoinsSixAnsDansLogement %}
                             Mineurs de 6 ans ou moins : {{ data.step3.isEnfantsMoinsSixAnsDansLogement|format_answer }}<br>
                        {% endif %}
                        {% if data.step3.autreVulnerabilite %}
                            Autre situation de vulnérabilité : {{ data.step3.autreVulnerabilite }}<br>
                        {% endif %}
                    </div>
                    
                    <div class="signalement-group-data-card">
                        <div class="fr-display-flex-row fr-justify-content-space-between fr-align-items-center">
                            <h4 class="fr-h6">Propriétaire / Syndic</h4>
                            <button
                                type="submit"
                                name="step"
                                class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-edit-line fr-btn--icon-left"
                                value="step4"
                                aria-label="Modifier les informations propriétaire / syndic" title="Modifier les informations propriétaire / syndic">
                                <span class="fr-hidden fr-unhidden-md">Modifier</span>
                            </button>
                        </div>
                        {% set showBailleur = data.step4.isBailleurAverti or data.step4.denominationProprio or data.step4.nomProprio or data.step4.prenomProprio or data.step4.mailProprio or data.step4.telProprio %}
                        {% set showSyndic = data.step4.denominationSyndic or data.step4.nomSyndic or data.step4.mailSyndic or data.step4.telSyndic or data.step4.telSyndicSecondaire %}
                        {% if showBailleur %}                            
                            <strong>Propriétaire / Bailleur</strong><br>
                            {% if data.step4.isBailleurAverti %}
                                Bailleur averti : {{ data.step4.isBailleurAverti|format_answer }}<br>
                            {% endif %}
                            {% if data.step4.denominationProprio %}
                                Dénomination du bailleur : {{ data.step4.denominationProprio }}<br>
                            {% endif %}
                            {% if data.step4.nomProprio %}                            
                                Nom du bailleur  : {{ data.step4.nomProprio }}<br>
                            {% endif %}
                            {% if data.step4.prenomProprio %}
                                Prénom du bailleur : {{ data.step4.prenomProprio }}<br>
                            {% endif %}
                            {% if data.step4.mailProprio %}
                                Adresse e-mail du bailleur : {{ data.step4.mailProprio }}<br>
                            {% endif %}
                            {% if data.step4.telProprio %}
                                Téléphone du bailleur : {{ data.step4.telProprio|phone }}<br>
                            {% endif %}
                        {% endif %}
                        {% if showBailleur and showSyndic %}
                            <br><hr>
                        {% endif %}
                        {% if showSyndic %}
                            <strong>Syndic</strong><br>
                            {% if data.step4.denominationSyndic %}
                                Dénomination du syndic : {{ data.step4.denominationSyndic }}<br>
                            {% endif %}
                            {% if data.step4.nomSyndic %}
                                Nom du ou de la représentante : {{ data.step4.nomSyndic }}<br>
                            {% endif %}
                            {% if data.step4.mailSyndic %}
                                Adresse e-mail  : {{ data.step4.mailSyndic }}<br>
                            {% endif %}
                            {% if data.step4.telSyndic %}
                                Téléphone : {{ data.step4.telSyndic|phone }}<br>
                            {% endif %}
                            {% if data.step4.telSyndicSecondaire %}
                                Téléphone secondaire : {{ data.step4.telSyndicSecondaire|phone }}<br>
                            {% endif %}
                        {% endif %}
                    </div>
                    
                    <div class="signalement-group-data-card">
                        <div class="fr-display-flex-row fr-justify-content-space-between fr-align-items-center">
                            <h4 class="fr-h6">Désordres</h4>
                            <button
                                type="submit"
                                name="step"
                                class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-edit-line fr-btn--icon-left"
                                value="step5"
                                aria-label="Modifier les désordres" title="Modifier les désordres">
                                <span class="fr-hidden fr-unhidden-md">Modifier</span>
                            </button>
                        </div>
                        {% if data.step5.autresOccupantsDesordre %}
                            Désordres rencontrés par d'autres occupants de l'immeuble : {{ data.step5.autresOccupantsDesordre|format_answer }}<br>
                        {% endif %}
                        {% if data.step5.desordres %}
                            <ul>
                            {% for desordre in desordres %}
                                {% if desordre.slugCritere in data.step5.desordres %}                                    
                                    <li>{{ desordre.labelCritere }}
                                    {% if desordre.labelCritere is same as 'Autre' and data.step5.desordresAutre %}
                                        : <br>
                                        <span class="fr-border--left-thick"><i>{{ data.step5.desordresAutre }}</i></span><br>
                                    {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    {{form_row(form.step6.hidden)}}
                {% endif %}
                <div class="fr-col-12">
                    <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                        {% if form.navigator.finish is defined %}
                            <li>{{ form_row(form.navigator.finish) }}</li>
                        {% endif %}
                        {% if form.navigator.nextReview is defined %}
                            <li>{{ form_row(form.navigator.nextReview) }}</li>
                        {% endif %}
                        {% if form.navigator.next is defined %}
                            <li>{{ form_row(form.navigator.next) }}</li>
                        {% endif %}
                        {% if form.navigator.previous is defined %}
                            <li>{{ form_row(form.navigator.previous) }}</li>
                        {% endif %}
                    </ul>
                </div>
                {{ form_end(form) }}

            </div>
        </section>
    </main>
{% endblock %}
