{% extends 'back/base_bo.html.twig' %}

{% block content %}
    <section class="fr-p-5v">
        <header>
            <div class="fr-grid-row fr-grid-row--middle">
                <div class="fr-col-12 fr-col-md-6">
                    <h1 class="fr-h2 fr-mb-3v">Edition signalement #{{ signalement.reference }}</h1>
                    {% if signalement.isNotOccupant %}
                        <small class="fr-background-contrast--red-marianne fr-text-default--error fr-rounded fr-p-1v fr-text--bold fr-fi-information-fill fr-link--icon-right fr-pr-3v">&nbsp;
                            Signalement par un tiers</small>
                    {% else %}
                        <small class="fr-background-alt--blue-france fr-text-label--blue-france fr-rounded fr-p-1v fr-text--bold fr-fi-information-fill fr-link--icon-right fr-pr-3v">&nbsp;
                            Signalement par l'occupant</small>
                    {% endif %}
                    <text><strong>Déposé le:</strong> {{ signalement.createdAt|format_datetime(locale='fr') }}</text>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-text--right">
                    <a href="{{ path('back_signalement_view',{uuid:signalement.uuid}) }}"
                       class="fr-btn fr-btn--secondary fr-btn--icon-left fr-fi-arrow-left-s-line-double fr-mb-5v">Retour</a>
                </div>
            </div>
        </header>
        <hr>
        {% include '_partials/_signalement_steps_tabs.html.twig' %}
        {# <div class="fr-grid-row">
           <div class="fr-col-12">
               {{ form_start(form,{'name':'signalement-edit'}) }}
               {{ form_widget(form) }}

               <div class="fr-grid-row">
                   <div class="fr-col-12 fr-text--center">
                       <a href="{{ path('back_signalement_view',{uuid:signalement.uuid}) }}" class="fr-btn fr-btn--secondary fr-fi-arrow-left-line fr-btn--icon-left">Retour</a>
                       <button class="fr-btn fr-fi-check-line fr-btn--icon-left" type="submit"> Mettre à jour</button>
                   </div>
               </div>
               {{ form_end(form) }}
           </div>
       </div> #}
    </section>
{% endblock %}