{% extends 'back/base_bo.html.twig' %}

{% set picto_yes = '<p class="fr-badge fr-badge--success" data-action="click" data-item="%s" data-url="'~path('back_signalement_switch_value',{uuid:signalement.uuid})~'" data-token="'~csrf_token('signalement_switch_value_'~signalement.uuid)~'">Oui</p>' %}
{% set picto_no = '<p class="fr-badge fr-badge--error" data-action="click" data-item="%s" data-url="'~path('back_signalement_switch_value',{uuid:signalement.uuid})~'" data-token="'~csrf_token('signalement_switch_value_'~signalement.uuid)~'">Non</p>' %}
{% set picto_nsp = '<p class="fr-badge fr-badge--warning" data-action="click" data-item="%s" data-url="'~path('back_signalement_switch_value',{uuid:signalement.uuid})~'" data-token="'~csrf_token('signalement_switch_value_'~signalement.uuid)~'">NSP</p>' %}
{% set procedures = ["RSD" , "Mise en sécurité","Incurie","Insalubrité", "Décence", "ADIL"] %}


{% block content %}
    {% include '_partials/_modal_affectation.html.twig' %}
    {% include '_partials/_modal_dpe.html.twig' %}
    {% if signalement.statut is not same as(1) and not isClosed and not isClosedForMe and ((isAffected and isAccepted)) or is_granted('ROLE_ADMIN_TERRITORY') %}
        {% include '_partials/_modal_cloture.html.twig' %}
    {% endif %}
    {% if canEditNDE %}
        {% include '_partials/_modal_edit_nde.html.twig' %}        
    {% endif %}
    <section id="signalement-{{ signalement.id }}-content"
        class="fr-p-5v fr-background--white {{ isClosedForMe or signalement.statut is same as(6) or signalement.statut is same as(8) ? 'signalement-invalid':'' }}">
        
        {% include 'back/signalement/view/header.html.twig' %}
        
        {% include 'back/signalement/view/tags.html.twig' %}
        
        {% include 'back/signalement/view/address-qualifications.html.twig' %}
        
        {% include 'back/signalement/view/user-declaration.html.twig' %}
        
        {% include 'back/signalement/view/information.html.twig' %}
        
        {% include 'back/signalement/view/nde.html.twig' %}
        
        {% include 'back/signalement/view/photos-documents.html.twig' %}
        
        {% include 'back/signalement/view/partners.html.twig' %}

        {% include 'back/signalement/view/visites/visites-list.html.twig' %}



        
        <hr id="suivis">
        {% if (is_granted('ROLE_ADMIN_PARTNER') or (isAffected and isAccepted)) and signalement.statut is not same as(1) and signalement.statut is not same as(6) and not isClosedForMe %}
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <strong class="fr-fi-calendar-fill fr-icon--sm fr-text-label--blue-france"> Suivis du
                        signalement</strong>
                    <span class="fr-hint-text">Ci-dessous l'historique des changements d'états et interventions du signalement.</span>
                    <strong>Nouveau suivi:</strong>
                    <form method="POST"
                          action="{{ path('back_signalement_add_suivi',{uuid:signalement.uuid}) }}"
                          name="signalement-add-suivi" id="signalement-add-suivi-form" class="tinyCheck">
                        <div class="fr-input-group">
                            <label class="fr-label" for="signalement-add-suivi-content">
                            <span class="fr-hint-text"> Décrivez la ou les action(s) menée(s). 10 caractères minimum <sup
                                        class="fr-text-default--error">*</sup></span>
                            </label>
                            <textarea class="fr-input fr-input--no-resize editor" id="signalement-add-suivi-content"
                                      name="signalement-add-suivi[content]" minlength="10"></textarea>
                            <p class="fr-error-text fr-hidden">
                                Merci de proposer une rapide description (minimum 10 caractères).
                            </p>
                        </div>
                        <div class="fr-grid-row">
                            <div class="fr-col-6">
                                <button type="submit" class="fr-btn fr-fi-eye-off-fill fr-btn--icon-left"
                                        name="signalement-add-suivi[isPublic]" value="0"
                                        form="signalement-add-suivi-form" disabled> Enregistrer
                                </button>
                                <button type="submit" class="fr-btn fr-btn--secondary fr-fi-eye-fill fr-btn--icon-left"
                                        name="signalement-add-suivi[isPublic]" form="signalement-add-suivi-form"
                                        disabled value="1"
                                        onclick="return confirm('Attention, ce suivi sera visible par l\'usager.\nVoulez-vous vraiment envoyer ce message de suivi ?')">
                                    Enregistrer et envoyer à
                                    l'usager
                                </button>
                            </div>
                            {% if signalement.statut is not same as(1) and not isClosed and not isClosedForMe and ((isAffected and isAccepted))or is_granted('ROLE_ADMIN_TERRITORY') %}
                                <div class="fr-col-6 fr-text--right">
                                    <a href="#" aria-controls="cloture-modal" data-fr-opened="false"
                                       class="fr-btn fr-btn--danger fr-fi-close-line fr-btn--icon-left">Cloturer
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('signalement_add_suivi_'~signalement.id) }}">
                    </form>
                </div>
            </div>
            <hr class=" fr-mt-5v">
        {% endif %}
        {% for suivi in signalement.suivis|reverse %}            
            {% if suivi.type is same as constant('App\\Entity\\Suivi::TYPE_TECHNICAL') %}
                <div class="fr-grid-row fr-grid-row--middle fr-stripped fr-rounded fr-p-5v">
                    <div class="fr-col-2">
                        <strong>Message automatique</strong>
                        <br>
                        <small>{{ suivi.createdAt|date('d/m/Y') }}</small>
                    </div>
                    <div class="fr-col-9 bloc-suivi-content-row fr-pl-3v">
                        {{ suivi.description|replace({'&t=___TOKEN___':''})|replace({'?t=___TOKEN___':''})|raw }}
                    </div>
                    <div class="fr-col-1 fr-text--right">
                        {% if suivi.isPublic %}
                            <span class="fr-fi-eye-fill" title="Visible par l'usager"></span>
                        {% else %}
                            <span class="fr-fi-eye-off-fill" title="Non visible par l'usager"></span>
                        {% endif %}
                    </div>
                </div>

            {% elseif suivi.createdBy is not null %}
                <div class="fr-grid-row fr-grid-row--middle fr-stripped fr-rounded fr-p-5v {% if 'ROLE_USAGER' in suivi.createdBy.roles %}fr-background-alt--orange-terre-battue{% endif %}">
                    <div class="fr-col-2 part-infos-hover"
                        data-user="{{ suivi.createdBy.nomComplet }}"
                        data-mail="{{ suivi.createdBy.email }}">
                        <strong>{{ suivi.createdBy.nom|upper~' '~ suivi.createdBy.prenom|capitalize }}</strong>
                        <br>
                        <small>[{{ 
                            'ROLE_USAGER' in suivi.createdBy.roles
                                ? (suivi.createdBy.email is same as signalement.mailDeclarant
                                    ? 'DECLARANT'
                                    : 'OCCUPANT'
                                )
                                : (suivi.createdBy.partner
                                    ? (suivi.createdBy.partner.isArchive or ('ROLE_ADMIN' not in suivi.createdBy.roles and suivi.createdBy.partner.territory is not same as(signalement.territory))
                                        ? 'Partenaire supprimé'
                                        : suivi.createdBy.partner.nom
                                    )
                                    : 'Aucun')
                        }}]</small> <br>
                        <small>{{ suivi.createdAt|date('d/m/Y') }}</small>
                    </div>
                    <div class="fr-col-9 bloc-suivi-content-row fr-pl-3v">
                        {{ suivi.description|replace({'&t=___TOKEN___':''})|replace({'?t=___TOKEN___':''})|raw }}
                    </div>
                    <div class="fr-col-1 fr-text--right">
                        {% if suivi.isPublic %}
                            <span class="fr-fi-eye-fill" title="Visible par l'usager"></span>
                        {% else %}
                            <span class="fr-fi-eye-off-fill" title="Non visible par l'usager"></span>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="fr-grid-row fr-grid-row--middle fr-stripped fr-rounded fr-p-5v fr-background-alt--orange-terre-battue">
                   <div class="fr-col-2">
                        <strong>{{ signalement.isNotOccupant ? signalement.nomDeclarant|upper~' '~signalement.prenomDeclarant|capitalize : signalement.nomOccupant|upper~' '~signalement.prenomOccupant|capitalize }}</strong>
                        <br>
                        <small>[{{ signalement.isNotOccupant ? 'DECLARANT':'OCCUPANT'}}]</small> <br>
                        <small>{{ suivi.createdAt|date('d/m/Y') }}</small>
                    </div>
                    <div class="fr-col-9 bloc-suivi-content-row fr-pl-3v">
                        {{ suivi.description|replace({'&t=___TOKEN___':''})|replace({'?t=___TOKEN___':''})|raw }}
                    </div>
                    <div class="fr-col-1 fr-text--right">
                        {% if suivi.isPublic %}
                            <span class="fr-fi-eye-fill" title="Visible par l'usager"></span>
                        {% else %}
                            <span class="fr-fi-eye-off-fill" title="Non visible par l'usager"></span>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        tippy('.part-infos-hover', {
            content: (reference) => '<strong style="white-space: nowrap">' + reference.getAttribute('data-user') + '</strong>' + '<hr class="fr-pb-1v"><span style="white-space: nowrap">' + reference.getAttribute('data-mail') + '</span>',
            allowHTML: true,
            interactive: true,
            theme: 'light-border',
            arrow: true,
            placement: "bottom",
            maxWidth: "100%"
        });
        tippy('#tags_select_tooltip_btn', {
            content: (reference) => {
                let template = document.querySelector('template#tags_tooltip_template');
                let newEl = document.importNode(template.content, true);
                newEl.querySelectorAll('[data-tag-add]').forEach(el => {
                    el.addEventListener('click', addTagEvent)
                });
                newEl.querySelector('form[name="new-tag-form"]')?.addEventListener('submit', (event) => {
                    event.preventDefault();
                    let form = event.target;
                    let data = new FormData(form);
                    fetch(form.getAttribute('action'), {
                        method: 'POST',
                        body: data
                    }).then(r => {
                        r.json().then(res => {
                            form.reset();
                            let container = document.querySelector(`#tags_inactive_container`);
                            let template = document.querySelector(`template#tag_template`).content;
                            let tag = template.querySelector('span:first-child').cloneNode(true);
                            tag.setAttribute('data-value', res.tag.id);
                            tag.innerHTML = res.tag.label + '&nbsp;&nbsp;';
                            let deleter = document.createElement('span');

                            deleter.classList.add('fr-fi-delete-line', 'fr-mt-2v', 'fr-text-label--red-marianne', 'fr-icon--sm')
                            deleter.addEventListener('click', persistRemoveTagEvent);
                            tag.appendChild(deleter);
                            tag.addEventListener('click', addTagEvent);
                            container.appendChild(tag);
                        });
                    }).catch(e => {
                    });
                });
                newEl?.querySelectorAll('span.tag--deleter')?.forEach(tagDeleter => {
                    tagDeleter.addEventListener('click', persistRemoveTagEvent);
                });
                return newEl;
            },
            trigger: 'click',
            hideOnClick: 'toggle',
            allowHTML: true,
            interactive: true,
            theme: 'light-border',
            placement: "left",
            maxWidth: "500px",
            arrow: false,
        })
        
        {% if isClosedForMe or signalement.statut is same as(6) %}
        document?.querySelector('#signalement-{{ signalement.id }}-content').querySelectorAll('button:not(.reopen,.reaffect,.img-box,.fr-accordion__btn),.fr-btn:not(.reopen,.reaffect,.img-box,.fr-fi-file-pdf-fill)').forEach(input => {
            input.remove()
        })
        {% endif %}
    </script>
{% endblock %}