<section class="fr-p-3v fr-container-sml fr-mb-5v">
    <div class="fr-grid-row fr-grid-row--middle">
        <div class="fr-col-12 fr-col-lg-9">
            <div class="fr-display-inline-flex fr-align-items-center">
                {{ user_avatar_or_placeholder(app.user, 80) }}
                <div class="fr-ml-3v fr-mt-3v">
                    <p class="fr-h2 fr-mt-1v fr-mb-0">Bonjour {{ app.user.prenom }}</p>
                    <h1 class="fr-h6 fr-mb-0 fr-pb-0 fr-ml-1v">Bienvenue sur votre tableau de bord !</h1>
                    <p class="fr-text--xs fr-mt-1v fr-ml-2v">Les compteurs de l'intitulé des onglets se mettent à jour toutes les 5 minutes.</p>
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') or settings.isMultiTerritoire %}
            <div class="fr-col-12 fr-col-lg-3">
                <div class="fr-select-group">
                    <label class="fr-label" for="filter-territoires">Territoire</label>
                    <select class="fr-select"
                            id="filter-territoires"
                            name="filter-territoires"
                    >
                        <option value="all">Tous</option>
                        {% for territoire in settings.territories %}
                            <option value="{{ territoire.id }}"
                                    {% if territoireSelectedId is defined and territoire.id == territoireSelectedId %}selected{% endif %}>
                                {{ territoire.zip }} - {{ territoire.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
    </div>
</section>
