{% extends 'back/base_bo.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
    {% if feature_new_dashboard %}
        <div id="dashboard" data-url-login="{{ path('app_login') }}">
            {% include 'back/dashboard/_header.html.twig' %}
            <section class="fr-container--fluid fr-container-sml">
                <div class="fr-tabs">
                    <ul class="fr-tabs__list" role="tablist" aria-label="">
                        <li role="presentation">
                            <button type="button"
                                    id="tabpanel-dernieres-actions"
                                    class="fr-tabs__tab"
                                    tabindex="0"
                                    role="tab"
                                    aria-selected="true"
                                    aria-controls="tabpanel-dernieres-actions-panel">Accueil
                            </button>
                        </li>
                        <li role="presentation">
                            <button type="button"
                                    id="tabpanel-dossiers-nouveaux"
                                    class="fr-tabs__tab"
                                    tabindex="-1"
                                    role="tab"
                                    aria-selected="false"
                                    aria-controls="tabpanel-dossiers-nouveaux-panel">Nouveaux dossiers
                                ({{ tab_count_kpi.countNouveauxDossiers }})
                            </button>
                        </li>
                    {% if (is_granted('ROLE_ADMIN_TERRITORY')) %}
                            <li role="presentation">
                                <button type="button"
                                        id="tabpanel-dossiers-a-fermer"
                                        class="fr-tabs__tab"
                                        tabindex="-1"
                                        role="tab"
                                        aria-selected="false"
                                        aria-controls="tabpanel-dossiers-a-fermer-panel">A fermer
                                    ({{ tab_count_kpi.countDossiersAFermer }})
                                </button>
                            </li>
                        {% endif %}
                        <li role="presentation">
                            <button type="button"
                                    id="tabpanel-dossiers-messages-usagers"
                                    class="fr-tabs__tab"
                                    tabindex="-1"
                                    role="tab"
                                    aria-selected="false"
                                    aria-controls="tabpanel-dossiers-messages-usagers-panel">Messages usagers
                                ({{ tab_count_kpi.countDossiersMessagesUsagers }})
                            </button>
                        </li>
                        <li role="presentation">
                            <button type="button"
                                    id="tabpanel-dossiers-a-verifier"
                                    class="fr-tabs__tab"
                                    tabindex="-1"
                                    role="tab"
                                    aria-selected="false"
                                    aria-controls="tabpanel-dossiers-a-verifier-panel">A vérifier
                                ({{ tab_count_kpi.countDossiersAVerifier }})
                            </button>
                        </li>
                    </ul>
                    <!-- Onglet 1 : Accueil -->
                    {% include 'back/dashboard/tabs/accueil/tab_accueil.html.twig' %}

                    <!-- Onglet 2 : Nouveaux dossiers -->
                    {% include 'back/dashboard/tabs/dossiers_nouveaux/tab_dossier_nouveaux.html.twig' %}

                    {% if (is_granted('ROLE_ADMIN_TERRITORY')) %}
                    <!-- Onglet 3 : A fermer -->
                        {% include 'back/dashboard/tabs/dossiers_a_fermer/tab_dossier_a_fermer.html.twig' %}
                    {% endif %}

                    <!-- Onglet 4 : Messages usagers -->
                    {% include 'back/dashboard/tabs/dossiers_messages_usagers/tab_dossier_messages_usagers.html.twig' %}

                    <!-- Onglet 5 : A vérifier -->
                    {% include 'back/dashboard/tabs/dossiers_a_verifier/tab_dossier_a_verifier.html.twig' %}

                </div>
            </section>
        </div>
    {% else %}
        <div
                id="app-dashboard"
                data-ajaxurl-settings="{{ path('back_widget_settings') }}"
                data-ajaxurl-KPI="{{ path('back_dashboard_widget', {widgetType: 'data-kpi'}) }}"
                data-ajaxurl-partners="{{ path('back_dashboard_widget', {widgetType: 'affectations-partenaires'}) }}"
                data-ajaxurl-signalements-nosuivi="{{ path('back_dashboard_widget', {widgetType: 'signalements-acceptes-sans-suivi'}) }}"
                data-ajaxurl-signalements-per-territoire="{{ path('back_dashboard_widget', {widgetType: 'signalements-territoires'}) }}"
                data-ajaxurl-connections-esabora="{{ path('back_dashboard_widget', {widgetType: 'esabora-evenements'}) }}"
        ></div>
    {% endif %}
{% endblock %}
