{% extends 'back/base_bo.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div
        id="app-dashboard"
        data-ajaxurl-settings="{{ path('back_widget_settings') }}"
        data-ajaxurl-KPI="{{ path('back_dashboard_widget', {widgetType: 'data-kpi'}) }}"
        data-ajaxurl-partners="{{ path('back_dashboard_widget', {widgetType: 'affectations-partenaires'}) }}"
        data-ajaxurl-signalements-nosuivi="{{ path('back_dashboard_widget', {widgetType: 'signalements-acceptes-sans-suivi'}) }}"
        data-ajaxurl-signalements-per-territoire="{{ path('back_dashboard_widget', {widgetType: 'signalements-territoires'}) }}"
        data-ajaxurl-connections-esabora="{{ path('back_dashboard_widget', {widgetType: 'esabora-evenements'}) }}"
        data-feature-enable-menu-horizontale="{{ platform.feature_enable_menu_horizontale }}"
        ></div>
{% endblock %}
