{% extends 'back/base_bo.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block customscripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block content %}
    <div
        id="app-dashboard"
        data-ajaxurl-filter="{{ path('back_dashboard_widget', {widgetType: 'data-kpi'}) }}"
        data-ajaxurl-partners="{{ path('back_dashboard_widget', {widgetType: 'affectations-partenaires'}) }}"
        data-ajaxurl-signalements-nosuivi="{{ path('back_dashboard_widget', {widgetType: 'signalements-accepte-sans-suivi'}) }}"
        data-ajaxurl-signalements-per-territoire="{{ path('back_dashboard_widget', {widgetType: 'signalements-territoires'}) }}"
        data-ajaxurl-connections-esabora="{{ path('back_dashboard_widget', {widgetType: 'esabora-evenements'}) }}"
        ></div>
{% endblock %}
