<dialog aria-labelledby="fr-modal-add-visite-modal" role="dialog" id="add-visite-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <form method="POST" name="signalement-add-visite" class="signalement-add-visite" enctype="multipart/form-data" action="{{ path('back_signalement_visite_add',{uuid:signalement.uuid}) }}">

                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-btn--close fr-btn" aria-controls="add-visite-modal">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-add-visite-modal" class="fr-modal__title">Définir une date de visite</h1>

                            <div class="fr-alert fr-alert--warning">
                                <p>
                                    Si vous choisissez une <strong>date à venir</strong>,
                                    un e-mail sera automatiquement envoyé à l'usager.
                                </p>
                            </div>

                            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-my-3w">
                                <div class="fr-col-12 fr-mb-3v">
                                    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                        <legend class="fr-fieldset__legend fr-text--regular required">
                                            Date de la visite
                                        </legend>
                                        <p id="signalement-add-visite-date-error" class="fr-error-text fr-hidden fr-my-3v">
                                            Veuillez préciser la date de la visite.
                                        </p>
                                        <input type="date" class="fr-input add-fields-if-past-date" data-fields="visite-add-past-date-complementary-fields" name="visite-add[date]" required>
                                    </fieldset>

                                    <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                        <legend class="fr-fieldset__legend fr-text--regular">
                                            Heure de la visite
                                        </legend>
                                        <p id="signalement-add-visite-date-error" class="fr-error-text fr-hidden fr-my-3v">
                                            Veuillez préciser l'heure de la visite.
                                        </p>
                                        <input type="time" class="fr-input" data-fields="visite-add-past-date-complementary-fields" name="visite-add[time]">
                                    </fieldset>
                                    
                                    {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                                        <fieldset class="fr-fieldset fr-fieldset--inline fr-mb-5v">
                                            <legend class="fr-fieldset__legend fr-text--regular required">
                                                Opérateur de visite
                                            </legend>
                                            <p id="signalement-add-visite-partner-error" class="fr-error-text fr-hidden fr-my-3v">
                                                Veuillez sélectionner le partenaire en charge de la visite
                                            </p>
                                            <p id="signalement-add-visite-partner-double-error" class="fr-error-text fr-hidden fr-my-3v">
                                                Ce partenaire a déjà une visite en cours.
                                                Veuillez terminer ou annuler la visite ou sélectionner un autre partenaire.
                                            </p>
                                            <select name="visite-add[partner]" class="fr-select visite-partner-select" required>
                                                <option value=""></option>
                                                {% for partner in partnersCanVisite %}
                                                    {% set alertPartner = false %}
                                                    {% for pendingVisite in pendingVisites %}
                                                        {% if pendingVisite.partner is not null and pendingVisite.partner.id is same as partner.id %}
                                                            {% set alertPartner = true %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <option
                                                        value="{{ partner.id }}"
                                                        class="{{ alertPartner ? 'alert-partner' : '' }}"
                                                        >
                                                        {{ partner.nom|upper }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </fieldset>
                                    {% else %}
                                        <input type="hidden" name="visite-add[partner]" value="{{ app.user.partner.id }}">
                                    {% endif %}

                                    <div id="visite-add-past-date-complementary-fields" class="fr-hidden">
                                        {% set formType = 'add' %}
                                        {% include 'back/signalement/view/visites/visites-form-confirm-fields.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_add_visit_'~signalement.id) }}">
                        </div>
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-close-line" aria-controls="add-visite-modal">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button type="submit" class="fr-btn fr-icon-checkbox-line" id="form-signalement-add-visite-submit">
                                        Valider
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>
