<dialog 
    aria-labelledby="fr-modal-visites-upload-files-{{intervention.id}}" 
    id="visites-upload-files-{{intervention.id}}" 
    class="fr-modal fr-modal-visites-upload-files" 
    role="dialog" 
    data-file-type="document"
    data-intervention-id="{{intervention.id}}"
    data-has-changes="false"
    data-validated="false"
    data-add-file-route="{{ path('back_signalement_add_file',{uuid:signalement.uuid}) }}"
    data-add-file-token="{{ csrf_token('signalement_add_file_'~signalement.id) }}"
    data-edit-file-route="{{ path('back_signalement_edit_file',{uuid:signalement.uuid}) }}"
    data-edit-file-token="{{ csrf_token('signalement_edit_file_'~signalement.id) }}"
    data-delete-tmp-file-route="{{ path('back_signalement_delete_tmpfile',{id:'REPLACE'}) }}"
    data-waiting-suivi-route="{{ path('back_signalement_file_waiting_suivi',{uuid:signalement.uuid}) }}"
    >
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="visites-upload-files-{{intervention.id}}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <div class="type-conditional type-document">
                            <h1 class="fr-modal__title" id="fr-modal-visites-upload-files-{{intervention.id}}">
                                Ajout du rapport de visite
                            </h1>
                            <div class="fr-alert fr-alert--warning fr-alert--sm">
                                <p>Le rapport de visite sera partagé à l'usager.</p>
                            </div>                         
                        </div>
                        <div class="type-conditional type-photo">
                            <h1 class="fr-modal__title">
                                Ajout des photos de la visite
                            </h1>
                            <div>
                                Ajouter une ou plusieurs photos au signalement. 
                            </div>
                            <div class="fr-alert fr-alert--warning fr-alert--sm">
                                <p>Les photos seront partagées à l'usager.</p>
                            </div>
                        </div>
                        <div class="modal-upload-upload-container fr-mb-4w">
                            <div class="modal-upload-drop-section">
                                <span class="fr-icon-upload-2-line fr-icon--lg fr-text-label--blue-france"></span>
                                <div class="modal-upload-drop-section-label fr-mt-1w">
                                    Faites glisser vos documents ici
                                </div>
                            </div>
                            <p class="fr-mb-1w">ou</p>
                            <button class="modal-upload-files-selector fr-btn fr-icon-search-line fr-btn--icon-left fr-btn--secondary">Parcourir les fichiers de l'appareil</button>
                            <input type="file" class="modal-upload-files-selector-input" multiple accept="application/*">
                        </div>
                        <div class="modal-upload-list-section" id="modal-upload-file-dynamic-content">
                            <div class="modal-upload-list"></div>
                        </div>
                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <button class="fr-btn fr-btn--secondary fr-icon-close-line" aria-controls="visites-upload-files-{{intervention.id}}">
                                Annuler
                            </button>
                            <button class="fr-btn fr-icon-check-line" aria-controls="visites-upload-files-{{intervention.id}}" id="btn-validate-modal-upload-files">
                                Valider
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>