{% extends 'back/base_bo.html.twig' %}

{% block title %}Liste des comptes en instance d'archivage{% endblock %}

{% block content %}
    {% include '_partials/_modal_user_edit.html.twig' %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils admin',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Utilisateurs inactifs',
            'level3Link': '',
        } %}

        <header>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--left">
                    <h1>Liste des comptes en instance d'archivage</h1>
                    <p>
                        La liste des comptes d'agents inactifs depuis plus de 1 an, ces comptes seront archivés sous 15 jours.
                    </p>
                </div>
            </div>
        </header>
    </section>

    <section class="fr-col-12 fr-grid-row fr-grid-row--middle fr-p-4v">
        <div class="fr-col-12 fr-col-md-6">
            <h2 class="fr-mb-0" id="desc-table">{{ singular_or_plural(users|length, 'utilisateur trouvé', 'utilisateurs trouvés') }}</h2>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-text--right">
            <a href="{{path('back_user_export_inactive_accounts')}}" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-download-fill"> Exporter les résultats</a>
        </div>
    </section>

    <section class="fr-col-12 fr-pt-0 fr-px-5v">
        {% set tableHead %}
            {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_ADMIN_TERRITORY') and app.user.userPartners|length > 1) %}
                <th scope="col">Territoire</th>
            {% endif %}
            <th scope="col">Utilisateur</th>
            <th scope="col">E-mail</th>
            <th scope="col">Partenaire</th>
            <th scope="col">Statut du compte</th>
            <th scope="col">Date de création</th>
            <th scope="col">Dernière connexion</th>
            <th scope="col">Date d'archivage prévue</th>
        {% endset %}

        {% set tableBody %}
            {% for user in users %}
                <tr class="signalement-row">
                    {% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_ADMIN_TERRITORY') and app.user.userPartners|length > 1) %}
                        <td>
                            {% for partner in user.partners %}
                                {% if partner.territory %}
                                    {{ partner.territory.zip ~ ' - ' ~ partner.territory.name }}
                                {% else %}
                                    N/A
                                {% endif %}
                                {% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                    <td>{{ user.prenom }} {{ user.nom }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for partner in user.partners %}
                            {{ partner.nom }}
                            {% if not loop.last %}<br>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if user.statut is same as constant('App\\Entity\\User::STATUS_INACTIVE') %}
                            <span class="fr-badge fr-badge--no-icon fr-badge--error">Non activé</span>
                        {% elseif user.statut is same as constant('App\\Entity\\User::STATUS_ACTIVE') %}
                            <span class="fr-badge fr-badge--no-icon fr-badge--success">Activé</span>
                        {% else %}
                            {{ user.statutLabel }}
                        {% endif %}
                    </td>
                    <td>{{ user.createdAt|date('d/m/Y') }}</td>
                    <td>{{ user.lastLoginAt ? user.lastLoginAt|date('d/m/Y') : '-'}}</td>
                    <td>{{ user.archivingScheduledAt|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
        {% endset %}

        {% include '_partials/back/table.html.twig' with { 'tableLabel': 'Liste des comptes inactifs', 'tableHead': tableHead, 'tableBody': tableBody, 'cancelSortable': true } %}
        
    </section>

{% endblock %}
