
<div class="fr-mb-4v">
    Dossier déposé le : {{ signalement.createdAt|date('d/m/Y') }}
    {% if signalement.creationSource is same as enum('App\\Entity\\Enum\\CreationSource').API %}
        via API par {{ signalement.createdBy.email }} pour le partenaire {{ signalement.createdByPartner.nom }}.
    {% elseif signalement.creationSource is same as enum('App\\Entity\\Enum\\CreationSource').FORM_PRO_BO %}
        par {{ signalement.createdBy.prenom }} {{ signalement.createdBy.nom }}{% if signalement.createdBy.getPartnerInTerritory(signalement.territory) %}, du partenaire {{ signalement.createdBy.getPartnerInTerritory(signalement.territory).nom }}{% endif %} depuis le formulaire pro.
    {% elseif signalement.creationSource is same as enum('App\\Entity\\Enum\\CreationSource').IMPORT %}
        par import
    {% else %}
        depuis le formulaire usager.
    {% endif %}
    {% if signalement.referenceInjonction and signalement.statut is not same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR %}
        <br>
        Le dossier existait auparavant en démarche accélérée sous la référence #{{ signalement.referenceInjonction }}.
    {% endif %}
</div>
