<nav role="navigation" class="fr-translate menu-actions-signalement fr-nav fr-mb-3v fr-mt-3v">
    <div class="fr-nav__item">
        <button aria-controls="header-menu" aria-expanded="false" type="button" class="fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-settings-5-line">
            Actions
        </button>
        <div class="fr-collapse fr-translate__menu fr-menu" id="header-menu">
            <ul class="fr-menu__list">
                {% set currentPartner =  app.user.partnerInTerritoryOrFirstOne(signalement.territory) %}
                {% set isAloneInCurrentPartner = app.user.isAloneInPartner(currentPartner) %}
                {% if is_granted('AFFECTATION_CANCEL_REFUSED', affectation) %}
                    <li>
                        {% if isAloneInCurrentPartner %}
                            <form id="signalement-affectation-response-form" action="{{ path('back_signalement_affectation_accept',{affectation:affectation.id}) }}" method="POST" class="inline-form">
                                <button class="fr-nav__link fr-btn--icon-left fr-icon-checkbox-circle-fill">
                                    Annuler le refus de l'affectation
                                </button>
                                <input type="hidden" name="_token" value="{{ csrf_token('signalement_affectation_response_'~signalement.id) }}">
                            </form>
                        {% else %}
                            <button
                                data-fr-opened="false" 
                                aria-controls="accept-affectation-modal"
                                class="fr-nav__link fr-btn--icon-left fr-icon-checkbox-circle-fill">
                                Annuler le refus de l'affectation
                            </button>
                        {% endif %}
                    </li>
                {% elseif is_granted('SIGN_REOPEN', signalement) %}
                    <li>
                        <button
                            class="fr-nav__link fr-btn--icon-left fr-fi-lock-fill"
                            aria-controls="reopen-all-signalement-modal" 
                            data-fr-opened="false"
                            >
                            Rouvrir pour tous
                        </button>
                    </li>
                {% elseif is_granted('AFFECTATION_REOPEN', affectation) %}
                    <li>
                        <button
                            class="fr-nav__link fr-btn--icon-left fr-fi-lock-fill"
                            aria-controls="reopen-signalement-modal" 
                            data-fr-opened="false">
                            Rouvrir pour {{ currentPartner ? currentPartner.nom : 'N/A' }}
                        </button>
                    </li>
                {% elseif is_granted('SIGN_CLOSE', signalement) %}
                    <li>
                        <button
                            id="test-bouton-cloturer" 
                            class="fr-nav__link fr-btn--icon-left fr-icon-close-line"
                            aria-controls="cloture-modal" 
                            data-fr-opened="false">
                            Clôturer
                        </button>
                    </li>
                {% elseif affectation and is_granted('AFFECTATION_CLOSE', affectation) %}
                    <li>
                        <button
                            id="link-bouton-cloturer"
                            class="fr-nav__link fr-btn--icon-left fr-icon-close-line"
                            aria-controls="cloture-modal" 
                            data-fr-opened="false">
                            Clôturer
                        </button>
                    </li>
                {% endif %}
                {% if is_granted('SIGN_VIEW', signalement) %}
                    <li>
                        <a href="{{ path('back_signalement_gen_pdf',{uuid:signalement.uuid}) }}"
                            class="fr-nav__link fr-btn--icon-left fr-icon-file-download-line"
                            title="Télécharger le PDF">
                            Télécharger le PDF
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <button
                            class="fr-nav__link fr-btn--icon-left fr-icon-send-plane-fill" 
                            aria-controls="send-lien-suivi-modal" 
                            data-fr-opened="false" 
                            title="Envoyer le lien de suivi">
                            Envoyer le lien de suivi
                        </button>
                    </li>
                    {% if 
                        signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR and 
                        signalement.mailProprio is not null and
                        signalement.suiviReponseBailleur is null %}
                        <li>
                            <a href="{{ path('send_mail_injonction_bailleur',{uuid:signalement.uuid}) }}"
                                class="fr-nav__link fr-btn--icon-left fr-icon-send-plane-line"
                                title="Envoyer le mail au bailleur">
                                Envoyer le mail au bailleur
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if is_granted('SIGN_SUBSCRIBE', signalement) %}
                    {% if isUserSubscribed %}
                            <li>
                                {% if isAloneInCurrentPartner and affectation %}
                                    <button 
                                        class="fr-nav__link fr-btn--icon-left fr-icon-eye-off-line disabled"
                                        aria-disabled="true" tabindex="-1" title="Vous ne pouvez pas quitter le dossier, étant le seul agent de votre partenaire.">
                                        Se retirer du dossier
                                    </button>
                                {% elseif subscriptionsInMyPartner|length > 1 or not affectation %}
                                    <a href="{{ path('back_signalement_unsubscribe', {uuid: signalement.uuid}) }}?_token={{ csrf_token('unsubscribe') }}"
                                        class="fr-nav__link fr-btn--icon-left fr-icon-eye-off-line">
                                        Se retirer du dossier
                                    </a>
                                {% else %}
                                    <button
                                        class="fr-nav__link fr-btn--icon-left fr-icon-eye-off-line"
                                        aria-controls="transfer-subscription-modal" 
                                        data-fr-opened="false"
                                        >
                                        Se retirer du dossier
                                    </button>
                                {% endif %}
                                    <button
                                        class="fr-nav__link fr-btn--icon-left fr-icon-user-add-line"
                                        aria-controls="agents-subscription-modal" 
                                        data-fr-opened="false"
                                        >
                                        Abonner un agent
                                    </button>
                            </li>
                        {% elseif not is_granted('AFFECTATION_CANCEL_REFUSED', affectation) %}
                            <li>
                                <a href="{{ path('back_signalement_subscribe', {uuid: signalement.uuid}) }}?_token={{ csrf_token('subscribe') }}"
                                    class="fr-nav__link fr-btn--icon-left fr-icon-eye-line simple-ajax-link">
                                    Rejoindre le dossier
                                </a>
                            </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>