{% extends 'back/base_bo.html.twig' %}

{% block title %}Partenaires archivés ou sans territoires{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils SA',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Partenaires archivés',
            'level3Link': '',
        } %}
        <header>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--left">
                    <h1 class="fr-h1 fr-mb-0">Partenaires archivés</h1>
                </div>
            </div>
        </header>
    </section>

    {{ form_start(form) }}

    {% if is_granted('ROLE_ADMIN') %}
    <section class="fr-container--fluid">
        {{ form_errors(form) }}
        <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
                {{ form_row(form.queryArchivedPartner) }}
            </div>
            <div class="fr-col-12 fr-col-lg-4">
                {{ form_row(form.territory) }}
            </div>
            <div class="fr-col-12 fr-col-lg-4">
                <a href="{{ path('back_archived_partner_index') }}" class="fr-link fr-link--icon-left fr-icon-close-circle-line">Réinitialiser les résultats</a>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="fr-col-12 fr-py-5v">
        <h2 class="fr-mb-0" id="desc-table">{{ singular_or_plural(archivedPartners|length, 'partenaire archivé ou sans territoire trouvé', 'partenaires archivés ou sans territoire trouvés') }}</h2>
    </section>
    
    <section class="fr-col-12 fr-col-lg-3 fr-pt-0">
        {{ form_row(form.orderType) }}
    </section>

    {{ form_end(form) }}

    <section class="fr-col-12 fr-pt-0 fr-px-4v">
        {% set tableHead %}
            <th scope="col">Territoire</th>
            <th scope="col" data-responsive-title="1">Nom</th>
            <th scope="col">Statut</th>
            <th scope="col">E-mail</th>
            <th scope="col">Type</th>
        {% endset %}

        {% set tableBody %}
            {% for partner in archivedPartners %}
                {% if partner is null %}
                    {% set classe = 'fr-badge--info' %}
                    {% set statut = 'aucun' %}
                {% elseif partner and partner.isArchive  %}
                    {% set classe = 'fr-badge--error' %}
                    {% set statut = 'archivé' %}
                {% else %}
                    {% set classe = 'fr-badge--success' %}
                    {% set statut = 'actif' %}
                {% endif %}
                <tr class="user-row">
                    <td>{{ partner.territory ? partner.territory.zipAndName : 'aucun' }}</td>
                    <td>{{ partner.nom}}</td>
                    <td><span class="fr-badge {{ classe }} fr-badge--no-icon fr-ws-nowrap ">{{ statut|upper }}</span></td>
                    <td>{{ partner.email|clean_tagged_text(constant('App\\Entity\\User::SUFFIXE_ARCHIVED'), 'left') }}</td>
                    <td>{{ partner.type is null ? 'N/R' : partner.type.label}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun partenaire trouvé</td>
                </tr>
            {% endfor %}
        {% endset %}

        {% include '_partials/back/table.html.twig' with { 'tableLabel': 'Liste des partenaires archivés ou sans territoires', 'tableHead': tableHead, 'tableBody': tableBody, 'cancelSortable': true } %}
        
        <div class="fr-grid-row fr-mt-2v fr-grid-row--center">    
            {% import '_partials/macros.html.twig' as macros %}
            {{ macros.customPagination(pages, searchArchivedPartner.page, 'back_archived_partner_index', searchArchivedPartner.urlParams) }}
        </div>
    </section>


{% endblock %}
