{% extends 'back/base_bo.html.twig' %}

{% block title %}Partenaires archivés ou sans territoires{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        <header>
            <div class="fr-grid-row">
                <div class="fr-col-6 fr-text--left">
                    <h1 class="fr-h1 fr-mb-0">Partenaires archivés</h1>
                </div>
            </div>
        </header>
    </section>
    {% if is_granted('ROLE_ADMIN') %}
    <section class="fr-container--fluid">
        <form action="#" name="bo-filters-form" id="bo_filters_form" method="POST"
              class="fr-background--grey fr-p-2v fr-grid-row fr-grid-row--bottom">
              
            <div class="fr-col-4 fr-p-2v">
                <div class="fr-search-bar fr-mt-2v" id="header-search">
                    <input class="fr-input" placeholder="Partenaire" type="search" id="header-search-input"
                        name="bo-filters-partnerterms" value="{{ partnerTerms ?? '' }}">
                    <button class="fr-btn" title="Rechercher">
                        {{partnerTerms is null ? 'Partenaire' : partnerTerms}}
                    </button>&nbsp;
                </div>
            </div>
            <div class="fr-col-3 fr-p-2v">
                <select id="bo-filters-territories" class="fr-select fr-select-submit" name="territory">
                    <option value="" {{ not isNoneTerritory and currentTerritory is null ? 'selected' : '' }}>Tous les territoires</option>
                    <option value="none" {{ isNoneTerritory ? 'selected' : '' }}>Aucun</option>
                    {% for territory in territories %}
                        <option value="{{ territory.id }}" {{ currentTerritory ? (territory.id == currentTerritory.id ? 'selected' : '') : ''  }}>{{ territory.name|upper }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="fr-col-2 fr-p-2v">
                <a href="{{ path('back_archived_partner_index') }}" class="fr-link fr-link--icon-left fr-icon-close-circle-line">Réinitialiser</a>
            </div>
        </form>
    </section>
    {% endif %}
    <section class="fr-grid-row fr-grid-row--middle fr-p-5v">
        <h1 class="fr-h2 fr-mb-0" id="desc-table">{{total}} partenaires archivés ou sans territoires trouvés</h1>
    </section>
    <section class="fr-col-12 fr-table fr-table--bordered fr-pt-0">
        <table class="fr-display-inline-table sortable" aria-label="Liste des partenaires archivés ou sans territoires" aria-describedby="desc-table">
            <thead>
            <tr>
                <th>Dpt.</th>
                <th>Statut</th>
                <th>E-mail</th>
                <th>Nom</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            {% for partner in partners %}
                {% if partner is null %}
                    {% set classe = 'fr-badge--info' %}
                    {% set statut = 'aucun' %}
                {% elseif partner and partner.isArchive  %}
                    {% set classe = 'fr-badge--error' %}
                    {% set statut = 'archivé' %}
                {% else %}
                    {% set classe = 'fr-badge--success' %}
                    {% set statut = 'actif' %}
                {% endif %}
                <tr class="user-row">
                    <td>{{ partner.territory }}</td>
                    <td><span class="fr-badge {{ classe }} fr-badge--no-icon fr-ws-nowrap ">{{ statut|upper }}</span></td>
                    <td>{{ partner.email|clean_tagged_text(constant('App\\Entity\\User::SUFFIXE_ARCHIVED'), 'left') }}</ail td>
                    <td>{{ partner.nom}}</ail td>
                    <td>{{ partner.type is null ? 'N/R' : partner.type.label}}</ail td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun partenaire trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="fr-grid-row fr-mt-2v fr-grid-row--center">    
            {% import '_partials/macros.html.twig' as macros %}
            {{ macros.customPagination(pages, page, 'back_archived_partner_index', {territory: (currentTerritory ? currentTerritory.id : (isNoneTerritory ? 'none' : null)), partnerTerms: partnerTerms}) }}
        </div>
    </section>


{% endblock %}
