{% extends 'back/base_bo.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {# {{ dump(dates) }} #}
    {# {{ dump(situations) }} {{ dump(totaux) }}{{ dump(criteres) }}{{ dump(villes) }} #}
    {# {{ dump(dates) }} #}
    <div class="fr-background--white">
        {% include '_partials/_search_filter_form.html.twig' %}
    </div>
    <section class="fr-background-alt--blue-france fr-p-5v">
        {% for k,f in filter|filter(f=> f is not empty) %}
            {% if k is not same as ('dates') %}
                <div class="fr-grid-row fr-grid-row--gutters {# fr-p-5v #}">
                    <div class="fr-col-12">
                        <h3 class="fr-mb-0 fr-border--bottom--orange">{{ k|capitalize }}</h3>
                    </div>
                    {% for val in f %}
                        <div class="fr-col">
                            <div class="fr-grid-row fr-rounded fr-background--white fr-p-5v">
                                <div class="fr-col"><small class="fr-badge fr-badge--success">{{ filter[k] }}</small>
                                </div>
                                <div class="fr-col fr-text--right">TEST</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </section>
    {# <section class="fr-grid-row fr-pt-0 fr-grid-row--center">
        <div class="fr-col-12 fr-p-5v">
            <canvas id="sign-cloture" width="100%" height="25%" aria-label="Hello ARIA World" role="img"></canvas>
        </div>
    </section>
    <section class="fr-grid-row fr-pt-0 fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-p-5v">
            <canvas id="situations" width="100%" height="25%" aria-label="Hello ARIA World" role="img"></canvas>
        </div>
    </section>
    <section class="fr-grid-row fr-pt-0 fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-p-5v">
            <canvas id="criteres" width="100%" height="100%" aria-label="Hello ARIA World" role="img"></canvas>
        </div>
    </section>
    <section class="fr-grid-row fr-pt-0 fr-grid-row--center">
        <div class="fr-col-12 fr-p-5v">
            <canvas id="villes" width="100%" height="25%" aria-label="Hello ARIA World" role="img"></canvas>
        </div>
    </section> #}
{% endblock %}
{% block javascripts %}
    {# <script>
        const labelsCloture = [{% for k,date in dates %}(new Date({{ k*1000 }})).toLocaleString('default', { month: 'short' }) +' '+ (new Date({{ k*1000 }})).getUTCFullYear(),{% endfor %}];
        const ctxCloture = document.getElementById('sign-cloture');
        const chartCloture = new Chart(ctxCloture, {
                type: 'bar',
                data: {
                    labels: labelsCloture,
                    datasets: [
                        {
                            label: 'Signalements',
                            data: [{% for date in dates %}"{{ date.open }}",{% endfor %}],
                            backgroundColor: '#000091',
                        },
                        {
                            label: 'Clôtures',
                            data: [{% for date in dates %}"{{ date.close ?? 0 }}",{% endfor %}],
                            backgroundColor: '#FF9940',
                        }
                    ]
                },
                options: {
                    animation: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Signalements ({{ totaux.open }}) - Clôtures ({{ totaux.closed }})'
                        },
                    },
                    responsive: true,

                }
            }
        );
        const labelsSituation = [{% for situation in situations|keys %}"{{ situation|upper|raw }}",{% endfor %}];
        const ctxSituation  = document.getElementById('situations');
        const chartSituation = new Chart(ctxSituation, {
                type: 'radar',
                data: {
                    labels: labelsSituation,
                    datasets: [
                        {
                            data: [{% for situation,count in situations %}"{{ (count.count/totaux.all)*100 }}",{% endfor %}],
                            backgroundColor: '#00009199',
                        },
                    ]
                },
                options: {
                    animation: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Par situation (en % du total des signalements)'
                        },
                    },
                    responsive: true,

                }
            }
        );
        const labelsCritere = [{% for critere in criteres|keys[:15] %}"{{ critere|upper|raw }}",{% endfor %}];
        const ctxCritere  = document.getElementById('criteres');
        const chartCritere = new Chart(ctxCritere, {
                type: 'radar',
                data: {
                    labels: labelsCritere,
                    datasets: [
                        {
                            data: [{% for critere,count in criteres[:15] %}"{{ (count.count/totaux.all)*100 }}",{% endfor %}],
                            backgroundColor: '#FF994099',
                        },
                    ]
                },
                options: {
                    animation: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'TOP 15 par critères (en % du total des signalements)'
                        },
                    },
                    responsive: true,

                }
            }
        );
        const labelsVille = [{% for ville in villes|keys[:15] %}"{{ ville|upper|raw }}",{% endfor %}];
        const ctxVille  = document.getElementById('villes');
        const chartVille = new Chart(ctxVille, {
                type: 'bar',
                data: {
                    labels: labelsVille,
                    datasets: [
                        {
                            label:'Ville',
                            data: [{% for ville,count in villes[:15] %}"{{ count }}",{% endfor %}],
                            backgroundColor: '#00009199',
                        },
                    ]
                },
                options: {
                    animation: false,
                    plugins: {
                        title: {
                            display: true,
                            text: 'TOP 15 répartition par Ville'
                        },
                    },
                    responsive: true,

                }
            }
        );
    </script> #}
{% endblock %}
