<div class="fr-grid-row fr-grid-row--gutters fr-mt-3w">
    <div class="fr-col-12 fr-col-md-6" data-ajax-form>
        {% if canEditSignalement %}
            {% include 'back/signalement/view/edit-modals/edit-address.html.twig' %}
        {% endif %}
        <h3 class="fr-h5">
            Adresse du logement
            {% if canEditSignalement %}
            <a href="#" data-fr-opened="false" aria-controls="fr-modal-edit-address" class="fr-ml-6v fr-btn--icon-left fr-icon-edit-line fr-a-edit">
                Modifier
            </a>
            {% endif %}
        </h3>
        
        {{ signalement.adresseOccupant }},
		{% if signalement.complementAdresseOccupant %}
            <br>
            {{signalement.complementAdresseOccupant}}
        {% endif %}
        <br>
        {{ signalement.cpOccupant ~' '~ signalement.villeOccupant|upper }}
        <br>
        {% if signalement.geoloc.lat is defined and signalement.geoloc.lng is defined %}
            <a target="_blank" rel="noreferrer noopener" class="force-link-color"
                href="http://www.openstreetmap.org/?mlat={{ signalement.geoloc.lat }}&mlon={{ signalement.geoloc.lng }}#map=18/{{ signalement.geoloc.lat }}/{{ signalement.geoloc.lng }}">
                Voir sur la carte
            </a>
        {% endif %}
        {% if signalement.manualAddressOccupant %}
            <div class="fr-alert fr-alert--info fr-alert--sm fr-mt-3v">
                Cette adresse a été éditée manuellement lors de la déclaration.
            </div>
        {% endif %}
    </div>
    
    <div class="fr-col-12 fr-col-md-6">
        <h3 class="fr-h5">Situation(s) suspectée(s) à la déclaration usager</h3>
        {% for qualificationStatusLabel in listQualificationStatusesLabelsCheck %}
            {% include '_partials/signalement/qualification.html.twig' with { 'inlist': false } %}
        {% endfor %}
        {% if listConcludeProcedures %}
        <div class="fr-mt-3v">
            <h3 class="fr-h5">Situation(s) observée(s) après visite</h3>
            {% for concludeProcedure in listConcludeProcedures %}
                {% set typeBadge = 'info' %}
                {% if concludeProcedure is same as 'Mise en sécurité / Péril' %}
                    {% set typeBadge = 'error' %}
                {% elseif concludeProcedure is same as 'Insalubrité' %}
                    {% set typeBadge = 'warning' %}
                {% endif %}
                <small class="fr-badge fr-badge--{{typeBadge}} fr-badge--no-icon fr-mb-1v">{{ concludeProcedure }}</small>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
