<div class="fr-grid-row fr-mt-3w">
    <div class="fr-col-12 fr-col-md-6">
        <h3 class="fr-h5">Adresse du logement</h3>
        {{ signalement.adresseOccupant }},
        <br>
        {{ signalement.etageOccupant ? 'étage ' ~ signalement.etageOccupant ~ ',' : '' }}
        {{ signalement.escalierOccupant ? 'escalier ' ~ signalement.escalierOccupant ~ ',' : '' }}
        {{ signalement.numAppartOccupant ? 'appartement ' ~ signalement.numAppartOccupant ~ ',' : '' }}
        {{ signalement.adresseAutreOccupant ? signalement.adresseAutreOccupant ~ ',' : '' }}
        <br>
        {{ signalement.cpOccupant ~' '~ signalement.villeOccupant|upper }}
        <br>
        {% if signalement.geoloc.lat is defined and signalement.geoloc.lng is defined %}
            <a target="_blank" rel="noreferrer"
                href="http://www.openstreetmap.org/?mlat={{ signalement.geoloc.lng }}&mlon={{ signalement.geoloc.lat }}#map=18/{{ signalement.geoloc.lng }}/{{ signalement.geoloc.lat }}">
                Voir sur la carte
            </a>
        {% endif %}
    </div>
    
    <div class="fr-col-12 fr-col-md-6">
        <h3 class="fr-h5">Situation(s) suspectée(s)</h3>
        {% if can_see_nde_qualification(signalementQualificationNDE) and is_granted('USER_SEE_NDE', app.user) %}
            <small class="fr-background-alt--blue-france fr-text-label--blue-france fr-rounded fr-p-1v fr-text--bold fr-px-3v">
                Non décence énergétique
            </small>
        {% endif %}
        {% for qualificationStatusLabel in listQualificationStatusesLabelsCheck %}
            {% include '_partials/signalement/qualification.html.twig' with { 'inlist': false } %}
        {% endfor %}
        {% if listQualificationStatusesLabelsConfirmed %}
        <div class="fr-mt-3v">
            <strong>Situation(s) avérée(s) :</strong>
            {% for qualificationStatusLabel in listQualificationStatusesLabelsConfirmed %}
                {% include '_partials/signalement/qualification.html.twig' with { 'inlist': false } %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>