<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6">
        <h3 class="fr-h5">Criticité du signalement</h3>
        <div><strong class="fr-text--lg">{{ signalement.score|round(2) }} %</strong></div>
        {% if createdFromDraft %}
            <div>(Score bâtiment : {{ signalement.scoreBatiment|round(2) }} % - Score logement : {{ signalement.scoreLogement|round(2) }} %)</div>
        {% endif %}
        <a
            href="https://documentation.signal-logement.beta.gouv.fr/partenaires/premiers-pas-sur-histologe/presentation-de-linterface#score-de-criticite-et-prequalification-comment-ca-marche"
            target="_blank" rel="noreferrer noopener"
            title="En savoir plus - Ouvre une nouvelle fenêtre">En savoir plus</a>
    </div>

    <div class="fr-col-12 fr-col-md-6">
        <h3 class="fr-h5">Situation(s) suspectée(s)</h3>
        {% for qualificationStatusLabel in listQualificationStatusesLabelsCheck %}
            {% include '_partials/signalement/qualification.html.twig' with { 'inlist': false } %}
        {% endfor %}
        {% if listConcludeProcedures %}
        <div class="fr-mt-3v">
            <h3 class="fr-h5">Situation(s) observée(s) après visite</h3>
            {% for concludeProcedure in listConcludeProcedures %}
                {% set typeBadge = 'info' %}
                {% if concludeProcedure is same as 'Mise en sécurité / Péril' %}
                    {% set typeBadge = 'error' %}
                {% elseif concludeProcedure is same as 'Insalubrité' %}
                    {% set typeBadge = 'warning' %}
                {% endif %}
                <small class="fr-badge fr-badge--{{typeBadge}} fr-badge--no-icon fr-mb-1v">{{ concludeProcedure }}</small>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
