<header>
    {% include 'back/breadcrumb_bo.html.twig' with {
        'canFix': true,
        'level2Title': 'Liste des signalements',
        'level2Link': path('back_signalements_index'),
        'level2Label': 'Retour à la liste des signalements',
        'level3Title': 'Signalement #'~signalement.reference,
        'level3Link': '',
    } %}

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-7">
            {% include 'back/signalement/view/header/_badges.html.twig' %}
            {% include 'back/signalement/view/header/_title.html.twig' %}
            {% include 'back/signalement/view/header/_address.html.twig' %}
            {% include 'back/signalement/view/header/_tags.html.twig' %}
        </div>

        <div class="fr-col-5">
            {% include 'back/signalement/view/header/_esabora_alert.html.twig' %}
            {% include 'back/signalement/view/header/_infos-creation.html.twig' %}

            <div class="fr-mb-4v fr-text--right">
                <p class="fr-badge fr-badge--new fr-badge--no-icon">{% 
                    if signalement.profileDeclarant %}
                        {% if signalement.profileDeclarant is same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR %}
                            tiers bailleur
                        {% else %}
                            {{ signalement.profileDeclarant.label }}
                        {% endif %}
                    {% else %}
                        {% if signalement.isNotOccupant %}
                            tiers déclarant
                        {% else %}
                            occupant
                        {% endif %}
                    {% endif
                %}</p>
            </div>

            <div class="fr-mb-4v fr-text--right">
                {% if canAnswerAffectation %}   
                    <form id="signalement-affectation-response-form" action="{{ path('back_signalement_affectation_accept',{affectation:affectation.id}) }}" method="POST" class="inline-form">
                        <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success">
                            Accepter
                        </button>
                        <input type="hidden" name="_token" value="{{ csrf_token('signalement_affectation_response_'~signalement.id) }}">
                    </form>
                    <div data-ajax-form class="fr-display-inline">
                        {% include '_partials/_modal_refus_affectation.html.twig' %}
                    </div>
                    <a href="#" class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-close-circle-fill fr-btn--danger"
                        data-fr-opened="false" aria-controls="refus-affectation-modal">Refuser
                    </a>

                    <div class="fr-notice fr-notice--info fr-my-4v fr-text--left">
                        <div class="fr-container">
                            <div class="fr-notice__body">
                                <p>
                                    <span class="fr-notice__title">Vous devez accepter l'affectation pour pouvoir traiter le dossier.</span>
                                </p>
                            </div>
                        </div>
                    </div>

                {% elseif canCancelRefusedAffectation %}
                    <form method="POST" action="{{ path('back_signalement_affectation_accept',{affectation:affectation.id}) }}">
                        <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill reaffect fr-mb-3v">
                            Annuler le refus
                        </button>
                        <input type="hidden" name="_token" value="{{ csrf_token('signalement_affectation_response_'~signalement.id) }}">
                    </form>

                {% elseif canValidateOrRefuseSignalement %}
                    <div class="admin-territory-validation">
                        <form id="signalement-validation-response-form" action="{{ path('back_signalement_accept',{uuid:signalement.uuid}) }}" class="inline-form">
                            <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success" name="signalement-validation-response[accept]" value="1">
                                Valider le signalement
                            </button>
                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_validation_response_'~signalement.id) }}">
                        </form>
                        <div data-ajax-form class="fr-display-inline">
                            {% include '_partials/_modal_refus_signalement.html.twig' %}
                        </div>
                        <a href="#" class="fr-btn fr-btn--sm fr-btn--icon-left fr-fi-close-line fr-btn--danger"
                            aria-controls="refus-signalement-modal" data-fr-opened="false">
                            Refuser le signalement
                        </a>
                    </div>

                    <div class="fr-notice fr-notice--info fr-my-4v fr-text--left">
                        <div class="fr-container">
                            <div class="fr-notice__body">
                                <p>
                                    <span class="fr-notice__title">En tant que responsable de territoire, vous devez valider ou refuser ce signalement.</span>
                                </p>
                            </div>
                        </div>
                    </div>

                {% elseif is_granted('SIGN_REOPEN', signalement) %}
                    <button class="fr-btn fr-btn--sm fr-btn--success fr-fi-lock-fill fr-btn--icon-left fr-mt-1v reopen"
                            aria-controls="reopen-all-signalement-modal" data-fr-opened="false">
                        Rouvrir pour tous
                    </button>

                {% elseif canReopenAffectation %}
                    <button class="fr-btn fr-btn--sm fr-btn--success fr-fi-lock-fill fr-btn--icon-left fr-mt-1v reopen"
                            aria-controls="reopen-signalement-modal" data-fr-opened="false">
                        Rouvrir pour {{ app.user.partnerInTerritoryOrFirstOne(signalement.territory) ? app.user.partnerInTerritoryOrFirstOne(signalement.territory).nom : 'N/A' }}
                    </button>

                {% elseif is_granted('SIGN_CLOSE', signalement) %}
                    <button id="test-bouton-cloturer" aria-controls="cloture-modal" data-fr-opened="false"
                        class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-close-line fr-btn--icon-left keep-when-signalement-closed">
                        Clôturer
                    </button>
                
                {% elseif affectation and is_granted('AFFECTATION_CLOSE', affectation) %}
                    <a id="link-bouton-cloturer" href="#" aria-controls="cloture-modal" data-fr-opened="false"
                        class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-close-line fr-btn--icon-left">
                        Clôturer
                    </a>
                {% endif %}

                {% if is_granted('SIGN_VIEW', signalement) %}
                    <a href="{{ path('back_signalement_gen_pdf',{uuid:signalement.uuid}) }}"
                    class="fr-btn fr-btn--sm fr-btn--icon-left fr-fi-file-pdf-fill fr-mt-1v ignore-blank-style"
                    title="Télécharger le PDF">Télécharger le PDF
                    </a>
                {% endif %}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div class="fr-mt-4v fr-text--right">
                <a href="#" aria-controls="send-lien-suivi-modal" data-fr-opened="false"
                class="fr-a-edit fr-btn--icon-left fr-icon-send-plane-fill"
                title="Envoyer le lien de suivi">Envoyer le lien de suivi
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
