<header>
    {% include 'back/breadcrumb_bo.html.twig' with {
        'level2Title': 'Liste des signalements',
        'level2Link': path('back_signalement_index'),
        'level2Label': 'Retour à la liste des signalements',
        'level3Title': 'Signalement #'~signalement.reference,
        'level3Link': '',
    } %}

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-7">
            <div class="fr-mb-4v">      
                <span class="fr-badge fr-badge--blue-ecume fr-badge--no-icon fr-m-1v">          
                    {% if signalement.isLogementSocial is null %}
                        Parc non renseigné
                    {% elseif signalement.isLogementSocial %}
                        Parc public
                    {% else %}
                        Parc privé
                    {% endif %}
                </span>

                <span class="fr-badge fr-badge--blue-ecume fr-badge--no-icon fr-m-1v">   
                    {% if signalement.isAllocataire in [null, ''] %}
                        Allocataire non renseigné
                    {% elseif signalement.isAllocataire in ['oui', '1'] %}
                        Allocataire
                    {% elseif signalement.isAllocataire in ['non', '0'] %}
                        Non allocataire
                    {% elseif signalement.isAllocataire %}
                        Allocataire {{ signalement.isAllocataire }}
                    {% endif %}
                </span>

                <span class="fr-badge fr-badge--blue-ecume fr-badge--no-icon fr-m-1v">   
                    {% if signalement.isProprioAverti is null %}
                        Bailleur averti : NSP
                    {% elseif signalement.isProprioAverti %}
                        Bailleur averti
                    {% else %}
                        Bailleur non-averti
                    {% endif %}
                </span>

            </div>

            <div class="fr-display-inline-flex fr-align-items-center">
                <h1 class="fr-h2">#{{ signalement.reference }} {{ signalement.nomOccupant|upper }} {{ signalement.prenomOccupant }}</h1>
                <div class="fr-h2 fr-ml-3v">
                    {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                        {% if signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_NEED_VALIDATION') %}
                            <span class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-warning-line" aria-hidden="true"></span> Nouveau</span>
                        {% elseif signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_ACTIVE') %}
                            <span class="fr-badge fr-badge--success fr-badge--no-icon"><span class="fr-icon-message-2-line" aria-hidden="true"></span> En cours</span>
                        {% elseif signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_REFUSED') %}
                            <span class="fr-badge fr-badge--new fr-badge--no-icon"><span class="fr-icon-close-line" aria-hidden="true"></span> Refusé</span>
                        {% elseif signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_CLOSED')
                            or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_ARCHIVED') %}
                            <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Clôturé</span>
                        {% endif %}
                    {% else %}
                        {% if isAffected and not isAccepted and not isRefused and not needValidation and not isClosed and not isClosedForMe %}
                            <span class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-warning-line" aria-hidden="true"></span> Nouveau</span>
                        {% elseif isAccepted %}
                            <span class="fr-badge fr-badge--success fr-badge--no-icon"><span class="fr-icon-message-2-line" aria-hidden="true"></span> En cours</span>
                        {% elseif isRefused %}
                            <span class="fr-badge fr-badge--new fr-badge--no-icon"><span class="fr-icon-close-line" aria-hidden="true"></span> Refusé</span>
                        {% elseif isClosedForMe %}
                            <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Clôturé</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div data-ajax-form>
                {% if canEditSignalement %}
                    {% include 'back/signalement/view/edit-modals/edit-address.html.twig' %}
                {% endif %}

                <span class="fr-h5">
                    {{ signalement.adresseOccupant }}
                    {% if signalement.complementAdresseOccupant %}- {{signalement.complementAdresseOccupant}}{% endif %},
                    {{ signalement.cpOccupant ~' '~ signalement.villeOccupant|capitalize }}
                    {% if canEditSignalement %}
                    <a href="#" data-fr-opened="false" aria-controls="fr-modal-edit-address" class="fr-ml-6v fr-btn--icon-left fr-icon-edit-line fr-a-edit">
                        Modifier
                    </a>
                    {% endif %}
                </span>

                {% if signalement.manualAddressOccupant %}
                    <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-3v">
                        Cette adresse a été éditée manuellement.
                    </div>
                {% endif %}

                {% if signalement.geoloc.lat is defined and signalement.geoloc.lng is defined %}
                    <div class="fr-mt-3v">
                        <a target="_blank" rel="noreferrer noopener" class="force-link-color"
                            href="http://www.openstreetmap.org/?mlat={{ signalement.geoloc.lat }}&mlon={{ signalement.geoloc.lng }}#map=18/{{ signalement.geoloc.lat }}/{{ signalement.geoloc.lng }}"
                            title="Voir sur la carte - Ouvre une nouvelle fenêtre">
                            Voir sur la carte
                        </a>
                    </div>
                {% endif %}
            </div>
            
            {% if not needValidation %}
            <div class="fr-mt-4v fr-p-4v fr-background-alt--grey">
                <strong>Etiquettes</strong>
                {% include 'back/signalement/view/tags.html.twig' %}
            </div>
            {% endif %}
        </div>

        <div class="fr-col-5">
            <div class="fr-mb-4v fr-text--right">
                Dossier déposé le : {{ signalement.createdAt|date('d/m/Y') }}
            </div>

            <div class="fr-mb-4v fr-text--right">
                <p class="fr-badge fr-badge--new fr-badge--no-icon">{% 
                    if signalement.profileDeclarant %}
                        {% if signalement.profileDeclarant is same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR %}
                            tiers bailleur
                        {% else %}
                            {{ signalement.profileDeclarant.label }}
                        {% endif %}
                    {% else %}
                        {% if signalement.isNotOccupant %}
                            tiers déclarant
                        {% else %}
                            occupant
                        {% endif %}
                    {% endif
                %}</p>
            </div>

            <div class="fr-mb-4v fr-text--right">                        
                {% if isAffected and not isAccepted and not isRefused and not needValidation and not isClosed and not isClosedForMe %}
                    <form action="{{ path('back_signalement_affectation_response',{signalement:signalement.id,user:app.user.id,affectation:isAffected.id}) }}"
                            class="tinyCheck" id="signalement-affectation-response-form"
                            name="signalement-affectation-response-form" method="POST">
                        <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success"
                                name="signalement-affectation-response[accept]" value="1">
                            Accepter
                        </button>
                        <a href="#" class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-close-circle-fill fr-btn--danger"
                            data-fr-opened="false" aria-controls="refus-affectation-modal">Refuser
                        </a>
                        <input type="hidden" name="_token"
                                value="{{ csrf_token('signalement_affectation_response_'~signalement.id) }}">
                    </form>
                    {% include '_partials/_modal_refus_affectation.html.twig' %}

                    <div class="fr-notice fr-notice--info fr-my-4v fr-text--left">
                        <div class="fr-container">
                            <div class="fr-notice__body">
                                <p>
                                    <span class="fr-notice__title">Vous devez accepter l'affectation pour pouvoir traiter le dossier.</span>
                                </p>
                            </div>
                        </div>
                    </div>

                {% elseif isRefused %}
                    <form method="POST" action="{{ path('back_signalement_affectation_response',{signalement:signalement.id,user:app.user.id,affectation:isRefused.id}) }}">
                        <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill reaffect fr-mb-3v"
                                name="signalement-affectation-response[accept]" value="1"
                                >
                            Annuler le refus
                        </button>
                        <input type="hidden" name="_token"
                                value="{{ csrf_token('signalement_affectation_response_'~signalement.id) }}">
                    </form>

                {% elseif needValidation and not isClosedForMe and is_granted('ROLE_ADMIN_TERRITORY') %}
                    <div class="admin-territory-validation">
                        <form id="signalement-validation-response-form"
                                action="{{ path('back_signalement_validation_response',{uuid:signalement.uuid}) }}"
                                class="tinyCheck inline-form">
                            <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success"
                                    name="signalement-validation-response[accept]" value="1"
                                    >
                                Valider le signalement
                            </button>
                            <input type="hidden" name="_token"
                                    value="{{ csrf_token('signalement_validation_response_'~signalement.id) }}">
                        </form>
                        {% include '_partials/_modal_refus_signalement.html.twig' %}
                        <a href="#" class="fr-btn fr-btn--sm fr-btn--icon-left fr-fi-close-line fr-btn--danger"
                            aria-controls="refus-signalement-modal" data-fr-opened="false">
                            Refuser le signalement
                        </a>
                    </div>

                    <div class="fr-notice fr-notice--info fr-my-4v fr-text--left">
                        <div class="fr-container">
                            <div class="fr-notice__body">
                                <p>
                                    <span class="fr-notice__title">En tant que responsable de territoire, vous devez valider ou refuser ce signalement.</span>
                                </p>
                            </div>
                        </div>
                    </div>

                {% elseif isClosedForMe or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_CLOSED') or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_REFUSED') %}
                    {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                        {% if isClosed %}
                            <button class="fr-btn fr-btn--sm fr-btn--success fr-fi-lock-fill fr-btn--icon-left fr-mt-1v reopen"
                                    aria-controls="reopen-all-signalement-modal" data-fr-opened="false">
                                Rouvrir pour tous
                            </button>
                        {% else %}
                            <button aria-controls="cloture-modal" data-fr-opened="false"
                                class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-close-line fr-btn--icon-left keep-when-signalement-closed" id="test-bouton-cloturer">
                                Clôturer
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if signalement.statut is not same as constant('App\\Entity\\Signalement::STATUS_CLOSED') or (is_granted('ROLE_ADMIN_TERRITORY') or isAffected) %}
                        <button class="fr-btn fr-btn--sm fr-btn--success fr-fi-lock-fill fr-btn--icon-left fr-mt-1v reopen"
                                aria-controls="reopen-signalement-modal" data-fr-opened="false">
                            Rouvrir pour {{ app.user.partnerInTerritory(signalement.territory) ? app.user.partnerInTerritory(signalement.territory).nom : app.user.partners.first.nom }}
                        </button>
                    {% endif %}
                
                {% elseif (signalement.statut is not same as constant('App\\Entity\\Signalement::STATUS_NEED_VALIDATION') and not isClosed and not isClosedForMe and isAffected and isAccepted) or is_granted('ROLE_ADMIN_TERRITORY') %}
                    <a href="#" aria-controls="cloture-modal" data-fr-opened="false"
                        class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-close-line fr-btn--icon-left">
                        Clôturer
                    </a>
                {% endif %}

                {% if is_granted('SIGN_VIEW', signalement) %}
                    <a href="{{ path('back_signalement_gen_pdf',{uuid:signalement.uuid}) }}"
                    class="fr-btn fr-btn--sm fr-btn--icon-left fr-fi-file-pdf-fill fr-mt-1v ignore-blank-style"
                    title="Télécharger le PDF">Télécharger le PDF
                    </a>
                {% endif %}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div class="fr-mt-4v fr-text--right">
                <a href="#" aria-controls="send-lien-suivi-modal" data-fr-opened="false"
                class="fr-a-edit fr-btn--icon-left fr-icon-send-plane-fill"
                title="Envoyer le lien de suivi">Envoyer le lien de suivi
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
