<header>
    {% include 'back/breadcrumb_bo.html.twig' with {
        'canFix': true,
        'level2Title': 'Liste des signalements',
        'level2Link': path('back_signalements_index'),
        'level2Label': 'Retour à la liste des signalements',
        'level3Title': 'Signalement #'~signalement.reference,
        'level3Link': '',
    } %}

    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-7">
            <div class="fr-mb-4v">      
                <span class="fr-badge fr-badge--blue-ecume fr-badge--no-icon fr-m-1v">
                    {% if signalement.isLogementSocial is null %}
                        Parc non renseigné
                    {% elseif signalement.isLogementSocial %}
                        Parc public
                    {% else %}
                        Parc privé
                    {% endif %}
                </span>

                <span class="fr-badge fr-badge--blue-ecume fr-badge--no-icon fr-m-1v">
                    {% if signalement.isAllocataire in [null, ''] %}
                        Allocataire non renseigné
                    {% elseif signalement.isAllocataire in ['oui', '1'] %}
                        Allocataire
                    {% elseif signalement.isAllocataire in ['non', '0'] %}
                        Non allocataire
                    {% elseif signalement.isAllocataire %}
                        Allocataire {{ signalement.isAllocataire }}
                    {% endif %}
                </span>

                <span class="fr-badge fr-badge--blue-ecume fr-badge--no-icon fr-m-1v">
                    {% if signalement.isProprioAverti is null %}
                        Bailleur averti : NSP
                    {% elseif signalement.isProprioAverti %}
                        Bailleur averti
                    {% else %}
                        Bailleur non-averti
                    {% endif %}
                </span>

                {% if signalement.isLogementVacant %}
                    <span class="fr-badge fr-badge--blue-ecume fr-badge--no-icon fr-m-1v">
                        Logement vacant
                    </span>
                {% endif %}
                
                {% for zone in zones %}
                    <span class="fr-badge fr-badge--blue-ecume fr-badge--no-icon fr-m-1v">{{zone.name}}</span>
                {% endfor %}
            </div>

            <div class="fr-display-inline-flex fr-align-items-center">
                <h1 class="fr-h2">#{{ signalement.reference }} {{ signalement.nomOccupant|upper }} {{ signalement.prenomOccupant }}</h1>
                <div class="fr-h2 fr-ml-3v">
                    {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                        {% if signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').NEED_VALIDATION %}
                            <span class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-warning-line" aria-hidden="true"></span> Nouveau</span>
                        {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').ACTIVE %}
                            <span class="fr-badge fr-badge--success fr-badge--no-icon"><span class="fr-icon-message-2-line" aria-hidden="true"></span> En cours</span>
                        {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').REFUSED %}
                            <span class="fr-badge fr-badge--new fr-badge--no-icon"><span class="fr-icon-close-line" aria-hidden="true"></span> Refusé</span>
                        {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').CLOSED %}
                            <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Fermé</span>
                        {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').ARCHIVED %} <!-- NE DOIT PAS ARRIVER -->
                            <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Archivé</span>
                        {% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').DRAFT %} <!-- NE DOIT PAS ARRIVER -->
                            <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Brouillon</span>
                        {% endif %}
                    {% else %}
                        {% if affectation and not isAffectationAccepted and not isAffectationRefused and not isSignalementClosed and not isClosedForMe %}
                            <span class="fr-badge fr-badge--warning fr-badge--no-icon"><span class="fr-icon-warning-line" aria-hidden="true"></span> Nouveau</span>
                        {% elseif isAffectationAccepted %}
                            <span class="fr-badge fr-badge--success fr-badge--no-icon"><span class="fr-icon-message-2-line" aria-hidden="true"></span> En cours</span>
                        {% elseif isAffectationRefused %}
                            <span class="fr-badge fr-badge--new fr-badge--no-icon"><span class="fr-icon-close-line" aria-hidden="true"></span> Refusé</span>
                        {% elseif isClosedForMe %}
                            <span class="fr-badge fr-badge--error fr-badge--no-icon"><span class="fr-icon-checkbox-circle-line" aria-hidden="true"></span> Clôturé</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div data-ajax-form>
                {% if canEditSignalement %}
                    {% include 'back/signalement/view/edit-modals/edit-address.html.twig' %}
                {% endif %}

                <span class="fr-h5">
                    {{ signalement.adresseOccupant }}
                    {% if signalement.complementAdresseOccupant %}- {{signalement.complementAdresseOccupant}}{% endif %},
                    {{ signalement.cpOccupant ~' '~ signalement.villeOccupant|capitalize }}
                    {% if canEditSignalement %}
                    <a href="#" data-fr-opened="false" aria-controls="fr-modal-edit-address" class="fr-ml-6v fr-btn--icon-left fr-icon-edit-line fr-a-edit">
                        Modifier
                    </a>
                    {% endif %}
                </span>

                {% if signalement.manualAddressOccupant %}
                    <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-3v">
                        Cette adresse a été éditée manuellement.
                    </div>
                {% endif %}

                <div class="fr-mt-3v">
                    <ul class="fr-btns-group fr-btns-group--inline-lg fr-btns-group--icon-left fr-btns-group--sm">
                        {% if signalement.geoloc.lat is defined and signalement.geoloc.lng is defined %}
                            <li>
                                <button 
                                    class="fr-btn fr-icon-france-line" 
                                    data-fr-opened="false" 
                                    aria-controls="fr-modal-localisation"
                                >
                                    Voir sur la carte
                                </button>
                            </li>
                        {% elseif is_granted('SIGN_EDIT', signalement) %}
                            <li>
                                <button 
                                    class="fr-btn fr-icon-map-pin-2-line" 
                                    data-fr-opened="false" 
                                    aria-controls="fr-modal-pick-localisation"
                                >
                                    Sélectionner le bâtiment sur la carte
                                </button>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN_TERRITORY') and signalementOnSameAddress|length > 0 %}
                            <li>
                                <a href="{{ path('back_signalements_index', { 'isImported': 'oui', 'searchTerms': signalement.adresseOccupant, 'communes[]': signalement.cpOccupant }) }}" class="fr-btn fr-icon-alarm-warning-line">
                                    {{ signalementOnSameAddress|length > 1 ? signalementOnSameAddress|length ~ ' signalements à la même adresse' : signalementOnSameAddress|length ~  ' signalement à la même adresse' }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
            {% if signalement.statut is not same as enum('App\\Entity\\Enum\\SignalementStatus').NEED_VALIDATION %}
            <div class="fr-mt-4v fr-p-4v fr-background-alt--grey">
                <strong>Etiquettes</strong>
                {% include 'back/signalement/view/tags.html.twig' %}
            </div>
            {% endif %}
        </div>

        <div class="fr-col-5">
            <div class="fr-mb-4v fr-text--right">
                Dossier déposé le : {{ signalement.createdAt|date('d/m/Y') }}
                {% if signalement.createdBy is not null %}
                     depuis le formulaire pro
                {% elseif signalement.isImported is same as true %}
                     par import
                {% else %}
                     depuis le formulaire usager
                {% endif %}
            </div>

            <div class="fr-mb-4v fr-text--right">
                <p class="fr-badge fr-badge--new fr-badge--no-icon">{% 
                    if signalement.profileDeclarant %}
                        {% if signalement.profileDeclarant is same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR %}
                            tiers bailleur
                        {% else %}
                            {{ signalement.profileDeclarant.label }}
                        {% endif %}
                    {% else %}
                        {% if signalement.isNotOccupant %}
                            tiers déclarant
                        {% else %}
                            occupant
                        {% endif %}
                    {% endif
                %}</p>
            </div>

            <div class="fr-mb-4v fr-text--right">
                {% if canAnswerAffectation %}
                    <form id="signalement-affectation-response-form" action="{{ path('back_signalement_affectation_accept',{affectation:affectation.id}) }}" method="POST" class="inline-form">
                        <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success">
                            Accepter
                        </button>
                        <input type="hidden" name="_token" value="{{ csrf_token('signalement_affectation_response_'~signalement.id) }}">
                    </form>
                    <div data-ajax-form class="fr-display-inline">
                        {% include '_partials/_modal_refus_affectation.html.twig' %}
                    </div>
                    <a href="#" class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-close-circle-fill fr-btn--danger"
                        data-fr-opened="false" aria-controls="refus-affectation-modal">Refuser
                    </a>

                    <div class="fr-notice fr-notice--info fr-my-4v fr-text--left">
                        <div class="fr-container">
                            <div class="fr-notice__body">
                                <p>
                                    <span class="fr-notice__title">Vous devez accepter l'affectation pour pouvoir traiter le dossier.</span>
                                </p>
                            </div>
                        </div>
                    </div>

                {% elseif canCancelRefusedAffectation %}
                    <form method="POST" action="{{ path('back_signalement_affectation_accept',{affectation:affectation.id}) }}">
                        <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill reaffect fr-mb-3v">
                            Annuler le refus
                        </button>
                        <input type="hidden" name="_token" value="{{ csrf_token('signalement_affectation_response_'~signalement.id) }}">
                    </form>

                {% elseif canValidateOrRefuseSignalement %}
                    <div class="admin-territory-validation">
                        <form id="signalement-validation-response-form" action="{{ path('back_signalement_accept',{uuid:signalement.uuid}) }}" class="inline-form">
                            <button class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-checkbox-circle-fill fr-btn--success" name="signalement-validation-response[accept]" value="1">
                                Valider le signalement
                            </button>
                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_validation_response_'~signalement.id) }}">
                        </form>
                        <div data-ajax-form class="fr-display-inline">
                            {% include '_partials/_modal_refus_signalement.html.twig' %}
                        </div>
                        <a href="#" class="fr-btn fr-btn--sm fr-btn--icon-left fr-fi-close-line fr-btn--danger"
                            aria-controls="refus-signalement-modal" data-fr-opened="false">
                            Refuser le signalement
                        </a>
                    </div>

                    <div class="fr-notice fr-notice--info fr-my-4v fr-text--left">
                        <div class="fr-container">
                            <div class="fr-notice__body">
                                <p>
                                    <span class="fr-notice__title">En tant que responsable de territoire, vous devez valider ou refuser ce signalement.</span>
                                </p>
                            </div>
                        </div>
                    </div>

                {% elseif is_granted('SIGN_REOPEN', signalement) %}
                    <button class="fr-btn fr-btn--sm fr-btn--success fr-fi-lock-fill fr-btn--icon-left fr-mt-1v reopen"
                            aria-controls="reopen-all-signalement-modal" data-fr-opened="false">
                        Rouvrir pour tous
                    </button>

                {% elseif canReopenAffectation %}
                    <button class="fr-btn fr-btn--sm fr-btn--success fr-fi-lock-fill fr-btn--icon-left fr-mt-1v reopen"
                            aria-controls="reopen-signalement-modal" data-fr-opened="false">
                        Rouvrir pour {{ app.user.partnerInTerritoryOrFirstOne(signalement.territory) ? app.user.partnerInTerritoryOrFirstOne(signalement.territory).nom : 'N/A' }}
                    </button>

                {% elseif is_granted('SIGN_CLOSE', signalement) %}
                    <button id="test-bouton-cloturer" aria-controls="cloture-modal" data-fr-opened="false"
                        class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-close-line fr-btn--icon-left keep-when-signalement-closed">
                        Clôturer
                    </button>
                
                {% elseif affectation and is_granted('AFFECTATION_CLOSE', affectation) %}
                    <a id="link-bouton-cloturer" href="#" aria-controls="cloture-modal" data-fr-opened="false"
                        class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-close-line fr-btn--icon-left">
                        Clôturer
                    </a>
                {% endif %}

                {% if is_granted('SIGN_VIEW', signalement) %}
                    <a href="{{ path('back_signalement_gen_pdf',{uuid:signalement.uuid}) }}"
                    class="fr-btn fr-btn--sm fr-btn--icon-left fr-fi-file-pdf-fill fr-mt-1v ignore-blank-style"
                    title="Télécharger le PDF">Télécharger le PDF
                    </a>
                {% endif %}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div class="fr-mt-4v fr-text--right">
                <a href="#" aria-controls="send-lien-suivi-modal" data-fr-opened="false"
                class="fr-a-edit fr-btn--icon-left fr-icon-send-plane-fill"
                title="Envoyer le lien de suivi">Envoyer le lien de suivi
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
