<hr class="fr-mt-3w">

<div class="fr-grid-row">
    <div class="fr-col-9 fr-col-md-6">
        <h3 class="fr-h5">Informations</h3>
    </div>
    <div class="fr-col-3 fr-col-md-6 fr-text--right">
        <button class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-fi-file-pdf-line" data-fr-opened="false" id="modal-dpe-opener" aria-controls="modal-dpe"
                data-dpe-url="https://koumoul.com/data-fair/api/v1/datasets/dpe-france/values_agg?field=code_insee_commune_actualise&format=json&agg_size=20&q_mode=simple&geo_adresse_in={{ (signalement.adresseOccupant~' '~signalement.cpOccupant~' '~signalement.villeOccupant)|replace({'  ':' '})|url_encode }}&size=100&select=%2A&sampling=neighbors">
            Consulter le(s) DPE
        </button>
    </div>
</div>

<div class="fr-container--fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-6">
            {% if signalement.isNotOccupant %}
                <div class="fr-mb-3v fr-p-3v fr-background-alt--grey">
                    <strong>Coordonnées du tiers déclarant</strong>
                    <div class="fr-grid-row">
                        <div class="fr-col-12 fr-col-md-6">
                            <strong>Nom :</strong> {{ signalement.nomDeclarant }}
                        </div>
                        <div class="fr-col-12 fr-col-md-6">
                            <strong>Prénom :</strong> {{ signalement.prenomDeclarant }}
                        </div>
                        <div class="fr-col-12">
                            <strong>Courriel :</strong>
                            <a href="mailto:{{ signalement.mailDeclarant }}">{{ signalement.mailDeclarant }}</a>
                        </div>
                        <div class="fr-col-12">
                            <strong>Tél. :</strong> {{ signalement.telDeclarant }}
                        </div>
                        {% if signalement.lienDeclarantOccupant %}
                        <div class="fr-col-12 fr-col-md-6">
                            <strong>Lien :</strong>
                            {{ signalement.lienDeclarantOccupant|signalement_lien_declarant_occupant }}
                        </div>
                        {% endif %}
                        {% if signalement.structureDeclarant %}
                        <div class="fr-col-12 fr-col-md-6">
                            <strong>Structure :</strong> {{ signalement.structureDeclarant }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="fr-mb-3v fr-p-3v fr-background-alt--grey">
                <strong>Coordonnées de l'occupant</strong>
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Nom :</strong> {{ signalement.nomOccupant }}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Prénom :</strong> {{ signalement.prenomOccupant }}
                    </div>
                    <div class="fr-col-12">
                        <strong>Courriel :</strong>
                        <a href="mailto:{{ signalement.mailOccupant }}">{{ signalement.mailOccupant }}</a>
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Tél. :</strong>
                        <a href="tel:{{ signalement.telOccupant }}">{{ signalement.telOccupant }}</a>
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Tél. sec. :</strong>
                        <a href="tel:{{ signalement.telOccupantBis }}">{{ signalement.telOccupantBis }}</a>
                    </div>
                    <div class="fr-col-12">
                        <strong>Date de naissance :</strong>
                        {% if (signalement.dateNaissanceOccupant) %}
                            {{ signalement.dateNaissanceOccupant.format('d/m/Y') }}
                        {% else %}
                            {{ signalement.naissanceOccupants ?? '-' }}
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="fr-mb-3v fr-p-3v fr-background-alt--grey">
                <strong>Coordonnées du bailleur</strong>
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <strong>Nom :</strong> {{ signalement.nomProprio ?? 'N/R' }}
                    </div>
                    <div class="fr-col-12">
                        <strong>Courriel :</strong>
                        <a href="mailto:{{ signalement.mailProprio }}">{{ signalement.mailProprio ?? 'N/R' }}</a>
                    </div>
                    <div class="fr-col-12">
                        <strong>Tél. :</strong>
                        <a href="tel:{{ signalement.telProprio }}">{{ signalement.telProprio ?? 'N/R' }}</a>
                    </div>
                    <div class="fr-col-12">
                        <strong>Adresse :</strong> {{ signalement.adresseProprio ?? 'N/R' }}
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-col-12 fr-col-md-6">
            <div class="fr-mb-3v fr-p-3v fr-background-alt--grey">
                <strong>Composition du logement</strong>
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Adultes :</strong> {{ signalement.nbAdultes }}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Enfants + 6 ans :</strong> {{ signalement.nbEnfantsP6 }}
                    </div>
                    <div class="fr-col-12">
                        <strong>Enfants - 6 ans :</strong> {{ signalement.nbEnfantsM6 }}
                    </div>
                </div>
            </div>

            <div class="fr-mb-3v fr-p-3v fr-background-alt--grey">
                <strong>Informations sur le logement</strong>
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Type :</strong> {{ signalement.natureLogement }}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Surface :</strong> {{ signalement.superficie }}m²
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Allocataire :</strong>
                        {% if signalement.isAllocataire %}
                            <p class="fr-badge fr-badge--info fr-badge--sm fr-badge--no-icon">{{ signalement.isAllocataire }}</p>
                        {% else %}
                            <p class="fr-badge fr-badge--error fr-badge--sm fr-badge--no-icon">NON</p>
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>N° allocataire :</strong>
                        {% if signalement.isAllocataire %}
                            {{ signalement.numAllocataire }}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Propriétaire averti :</strong>
                        {% if signalement.isProprioAverti %}
                            {{ picto_yes|format('IsProprioAverti')|raw }}
                        {% else %}
                            {{ picto_no|format('IsProprioAverti')|raw }}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Préavis de départ :</strong>
                        {% if signalement.isPreavisDepart is null %}
                            {{ picto_nsp|format('IsPreavisDepart')|raw }}
                        {% elseif signalement.isPreavisDepart %}
                            {{ picto_yes|format('IsPreavisDepart')|raw }}
                        {% else %}
                            {{ picto_no|format('IsPreavisDepart')|raw }}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Logement social :</strong>
                        {% if signalement.isLogementSocial is null %}
                            {{ picto_nsp|format('IsLogementSocial')|raw }}
                        {% elseif signalement.isLogementSocial %}
                            {{ picto_yes|format('IsLogementSocial')|raw }}
                        {% else %}
                            {{ picto_no|format('IsLogementSocial')|raw }}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Demande relogement :</strong>
                        {% if signalement.isRelogement is null %}
                            {{ picto_nsp|format('IsRelogement')|raw }}
                        {% elseif signalement.isRelogement %}
                            {{ picto_yes|format('IsRelogement')|raw }}
                        {% else %}
                            {{ picto_no|format('IsRelogement')|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>