<hr class="fr-mt-3w">

<div class="fr-grid-row">
    <div class="fr-col-9 fr-col-md-6">
        <h3 class="fr-h5">Composition du logement</h3>
    </div>
</div>

<div class="fr-container--fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
            <strong>Logement :</strong>
            {% if signalement.typeCompositionLogement %}
                {{ signalement.typeCompositionLogement.compositionLogementPieceUnique is same as 'piece_unique' ? 'Pièce unique' : 'Plusieurs pièces' }}
            {% else %}
                N/C
            {% endif %}
        </div>
        
        <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
            <strong>Superficie totale :</strong>
            {% if signalement.superficie %}
                {{ signalement.superficie }}m²
            {% else %}
                N/C
            {% endif %}
        </div>
        
        <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
            <strong>Nombre de pièces à vivre :</strong>
            {% if signalement.typeCompositionLogement and signalement.typeCompositionLogement.compositionLogementNbPieces %}
                {{ signalement.typeCompositionLogement.compositionLogementNbPieces }}
            {% else %}
                N/C
            {% endif %}
        </div>
        
        <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
            <strong>RDC :</strong>
            {% if signalement.typeCompositionLogement %}
                {{ signalement.typeCompositionLogement.typeLogementRdc ?? 'non' }}
            {% else %}
                N/C
            {% endif %}
        </div>
        
        <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
            <strong>Dernier étage :</strong>
            {% if signalement.typeCompositionLogement %}
                {{ signalement.typeCompositionLogement.typeLogementDernierEtage ?? 'non' }}
            {% else %}
                N/C
            {% endif %}
        </div>
        
        {% if signalement.typeCompositionLogement and signalement.typeCompositionLogement.typeLogementDernierEtage is same as 'oui' %}
            <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
                <strong>Combles sans fenêtres :</strong> {{ signalement.typeCompositionLogement.typeLogementSousCombleSansFenetre ?? 'non' }}
                {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementSousCombleSansFenetre is same as 'oui' } %}
            </div>
    
        {% elseif signalement.typeCompositionLogement and signalement.typeCompositionLogement.typeLogementRdc is not same as 'oui' and signalement.typeCompositionLogement.typeLogementDernierEtage is not same as 'oui' %}
            <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
                <strong>Sous-sol sans fenêtres :</strong> {{ signalement.typeCompositionLogement.typeLogementSousSolSansFenetre ?? 'non' }}
                {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementSousSolSansFenetre is same as 'oui' } %}
            </div>
        
        {% endif %}
        
        {% if signalement.typeCompositionLogement %}
            {% for i in 0..signalement.typeCompositionLogement.compositionLogementNbPieces - 1 %}
                <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
                    <strong>Pièce à vivre {{ loop.index }} :</strong>
                    <br>
                    Superficie : {{ signalement.typeCompositionLogement.typeLogementPiecesAVivrePieceSuperficie[i] ?? '/' }}
                    {% if signalement.typeCompositionLogement.typeLogementPiecesAVivrePieceHauteur is not same as null %}
                    <br>
                    Hauteur > 2,20m : {{ signalement.typeCompositionLogement.typeLogementPiecesAVivrePieceHauteur[i] is same as 'nsp' ? 'Ne sait pas' : signalement.typeCompositionLogement.typeLogementPiecesAVivrePieceHauteur[i] }}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

        <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
            <strong>Cuisine / coin cuisine :</strong>
            {% if signalement.typeCompositionLogement %}
                <br>
                <ul>
                    <li>
                        Dans le logement : {{ signalement.typeCompositionLogement.typeLogementCommoditesCuisine }}
                        {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesCuisine is same as 'non' } %}
                    </li>
                    {% if signalement.typeCompositionLogement.typeLogementCommoditesCuisine is same as 'non' %}
                        <li>
                            Collective : {{ signalement.typeCompositionLogement.typeLogementCommoditesCuisineCollective }}
                            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesCuisineCollective is same as 'non' } %}
                        </li>
                    {% else %}
                        <li>
                            Hauteur > 2m : {{ signalement.typeCompositionLogement.typeLogementCommoditesCuisineHauteurPlafond is same as 'nsp' ? 'Ne sait pas' : signalement.typeCompositionLogement.typeLogementCommoditesCuisineHauteurPlafond }}
                            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesCuisineHauteurPlafond is same as 'non' } %}
                        </li>
                    {% endif %}
                </ul>

            {% else %}
                N/C
            {% endif %}
        </div>

        <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
            <strong>SDB (baignoire ou douche) :</strong>
            {% if signalement.typeCompositionLogement %}
                <br>
                <ul>
                    <li>
                        Dans le logement : {{ signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain }}
                        {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain is same as 'non' } %}
                    </li>
                    {% if signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain is same as 'non' %}
                        <li>
                            Collective : {{ signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBainCollective }}
                            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBainCollective is same as 'non' } %}
                        </li>
                    {% else %}
                        <li>
                            Hauteur > 2m : {{ signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBainHauteurPlafond is same as 'nsp' ? 'Ne sait pas' : signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBainHauteurPlafond }}
                            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBainHauteurPlafond is same as 'non' } %}
                        </li>
                    {% endif %}
                </ul>

            {% else %}
                N/C
            {% endif %}
        </div>

        <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
            <strong>WC :</strong>
            {% if signalement.typeCompositionLogement %}
                <br>
                <ul>
                    <li>
                        Dans le logement : {{ signalement.typeCompositionLogement.typeLogementCommoditesWc }}
                        {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesWc is same as 'non' } %}
                    </li>
                    {% if signalement.typeCompositionLogement.typeLogementCommoditesWc is same as 'non' %}
                        <li>
                            Collectifs : {{ signalement.typeCompositionLogement.typeLogementCommoditesWcCollective }}
                            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesWcCollective is same as 'non' } %}
                        </li>
                    {% else %}
                        <li>
                            Hauteur > 2m : {{ signalement.typeCompositionLogement.typeLogementCommoditesWcHauteurPlafond is same as 'nsp' ? 'Ne sait pas' : signalement.typeCompositionLogement.typeLogementCommoditesWcHauteurPlafond }}
                            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesWcHauteurPlafond is same as 'non' } %}
                        </li>
                    {% endif %}
                </ul>

            {% else %}
                N/C
            {% endif %}
        </div>

        {% if signalement.typeCompositionLogement and signalement.typeCompositionLogement.typeLogementCommoditesCuisine is same as 'oui' and signalement.typeCompositionLogement.typeLogementCommoditesWc is same as 'oui' %}
        <div class="fr-col-12 fr-col-md-4 fr-mb-1v">
            <strong>WC et cuisine dans la même pièce :</strong>
            {{ signalement.typeCompositionLogement.typeLogementCommoditesWcCuisine }}
            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesWcCuisine is same as 'oui' } %}
        </div>
        {% endif %}
    </div>
</div>

<hr class="fr-mt-3w">

<div class="fr-grid-row">
    <div class="fr-col-9 fr-col-md-6">
        <h3 class="fr-h5">Informations</h3>
    </div>
    <div class="fr-col-3 fr-col-md-6 fr-text--right">
        <button class="fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left fr-fi-file-pdf-line" data-fr-opened="false" id="modal-dpe-opener" aria-controls="modal-dpe"
                data-dpe-url="https://koumoul.com/data-fair/api/v1/datasets/dpe-france/values_agg?field=code_insee_commune_actualise&format=json&agg_size=20&q_mode=simple&geo_adresse_in={{ (signalement.adresseOccupant~' '~signalement.cpOccupant~' '~signalement.villeOccupant)|replace({'  ':' '})|url_encode }}&size=100&select=%2A&sampling=neighbors">
            Consulter le(s) DPE
        </button>
        {% if not isNewFormEnabled and canEditSignalement %}
            <a href="{{ path('back_signalement_edit',{uuid:signalement.uuid}) }}"
                class="fr-btn fr-btn--sm fr-btn--icon-left fr-fi-edit-fill" title="Modifier les infos">Modifier les infos</a>
        {% endif %}
    </div>
</div>

<div class="fr-container--fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
        {% if signalement.isNotOccupant %}
        {% include 'back/signalement/view/edit-modals/edit-coordonnees-tiers.html.twig' %}
        <div class="fr-col-12 fr-col-md-6 fr-mb-1v">
            <div class="fr-p-3v fr-background-alt--grey">
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-md-9">
                        <h4 class="fr-h6">Coordonnées du tiers déclarant</h4>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-text--right">
                        {% if isNewFormEnabled %}
                        <a href="#" data-fr-opened="false" aria-controls="fr-modal-edit-coordonnees-tiers">Modifier</a>
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Nom :</strong> {{ signalement.nomDeclarant }}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Prénom :</strong> {{ signalement.prenomDeclarant }}
                    </div>
                    <div class="fr-col-12">
                        <strong>Courriel :</strong>
                        <a href="mailto:{{ signalement.mailDeclarant }}">{{ signalement.mailDeclarant }}</a>
                    </div>
                    <div class="fr-col-12">
                        <strong>Tél. :</strong> {{ signalement.telDeclarantDecoded }}
                    </div>
                    {% if signalement.lienDeclarantOccupant %}
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Lien :</strong>
                        {{ signalement.lienDeclarantOccupant|signalement_lien_declarant_occupant }}
                    </div>
                    {% endif %}
                    {% if signalement.structureDeclarant %}
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Structure :</strong> {{ signalement.structureDeclarant }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v">
            {% include 'back/signalement/view/edit-modals/edit-coordonnees-foyer.html.twig' %}
            <div class="fr-p-3v fr-background-alt--grey">
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-md-9">
                        <h4 class="fr-h6">Coordonnées du foyer</h4>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-text--right">
                        {% if isNewFormEnabled %}
                        <a href="#" data-fr-opened="false" aria-controls="fr-modal-edit-coordonnees-foyer">Modifier</a>
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Nom :</strong> {{ signalement.nomOccupant }}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Prénom :</strong> {{ signalement.prenomOccupant }}
                    </div>
                    <div class="fr-col-12">
                        <strong>Courriel :</strong>
                        <a href="mailto:{{ signalement.mailOccupant }}">{{ signalement.mailOccupant }}</a>
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Tél. :</strong>
                        <a href="tel:{{ signalement.telOccupantDecoded }}">{{ signalement.telOccupantDecoded }}</a>
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Tél. sec. :</strong>
                        <a href="tel:{{ signalement.telOccupantBisDecoded }}">{{ signalement.telOccupantBisDecoded }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v">
            {% include 'back/signalement/view/edit-modals/edit-coordonnees-bailleur.html.twig' %}
            <div class="fr-p-3v fr-background-alt--grey">
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-md-9">
                        <h4 class="fr-h6">Coordonnées du bailleur</h4>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-text--right">
                        {% if isNewFormEnabled %}
                        <a href="#" data-fr-opened="false" aria-controls="fr-modal-edit-coordonnees-bailleur">Modifier</a>
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Nom :</strong> {{ signalement.nomProprio ?? 'N/R' }}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Prénom :</strong> {{ signalement.prenomProprio ?? 'N/R' }}
                    </div>
                    <div class="fr-col-12">
                        <strong>Courriel :</strong>
                        {% if signalement.mailProprio %}
                            <a href="mailto:{{ signalement.mailProprio }}">{{ signalement.mailProprio }}</a>
                        {% else %}
                            N/R
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Tél. :</strong>
                        {% if signalement.telProprio %}
                            <a href="mailto:{{ signalement.telProprioDecoded }}">{{ signalement.telProprioDecoded }}</a>
                        {% else %}
                            N/R
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Tél. sec. :</strong>
                        {% if signalement.telProprioSecondaire %}
                            <a href="mailto:{{ signalement.telProprioSecondaireDecoded }}">{{ signalement.telProprioSecondaireDecoded }}</a>
                        {% else %}
                            N/R
                        {% endif %}
                    </div>
                    <div class="fr-col-12">
                        <strong>Adresse :</strong> {{ signalement.adresseProprio ? signalement.adresseProprio ~ ', ' ~ signalement.codePostalProprio ~ ' ' ~ signalement.villeProprio : 'N/R' }}
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v">
            {% include 'back/signalement/view/edit-modals/edit-informations-logement.html.twig' %}
            <div class="fr-p-3v fr-background-alt--grey">
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-md-9">
                        <h4 class="fr-h6">Informations sur le logement</h4>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-text--right">
                        {% if isNewFormEnabled %}
                        <a href="#" data-fr-opened="false" aria-controls="fr-modal-edit-informations-logement">Modifier</a>
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Type :</strong> {{ signalement.natureLogement|capitalize }}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Nb. personnes :</strong>
                        {% if signalement.typeCompositionLogement %}
                            {{ signalement.nbOccupantsLogement }}

                        {% else %}
                            {{ signalement.nbAdultes + signalement.nbEnfantsP6 + signalement.nbEnfantsM6 }} :
                            {{ signalement.nbAdultes }} {{ signalement.nbAdultes > 1 ? 'adultes' : 'adulte' }}
                            {% if signalement.nbEnfantsP6 %}
                                - {{ signalement.nbEnfantsP6 ?? '0' }} {{ signalement.nbEnfantsP6 > 1 ? 'enfants' : 'enfant' }} de plus de 6 ans
                            {% endif %}
                            {% if signalement.nbEnfantsM6 %}
                                - {{ signalement.nbEnfantsM6 ?? '0' }} {{ signalement.nbEnfantsM6 > 1 ? 'enfants' : 'enfant' }} de moins de 6 ans
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Enfants -6 ans :</strong>
                        {% if signalement.typeCompositionLogement %}
                            {% if signalement.typeCompositionLogement.compositionLogementEnfants is same as 'oui' %}
                                {{ static_picto_yes|raw }}
                            {% elseif signalement.typeCompositionLogement.compositionLogementEnfants is same as 'non' %}
                                {{ static_picto_no|raw }}
                            {% else %}
                                Ne sait pas
                            {% endif %}
                        {% else %}
                            {% if signalement.nbEnfantsM6 > 0 %}
                                {{ static_picto_yes|raw }}
                            {% else %}
                                {{ static_picto_no|raw }}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Date arrivée :</strong>
                        {% if signalement.typeCompositionLogement %}
                            {{ signalement.typeCompositionLogement.bailDpeDateEmmenagement }}
                        {% else %}
                            N/C
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Bail :</strong>
                        {% if signalement.typeCompositionLogement %}
                            {% if signalement.typeCompositionLogement.bailDpeBail is same as 'oui' %}
                                {{ static_picto_yes|raw }}
                            {% elseif signalement.typeCompositionLogement.bailDpeBail is same as 'non' %}
                                {{ static_picto_no|raw }}
                            {% else %}
                                Ne sait pas
                            {% endif %}
                        {% else %}
                            N/C
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Etat des lieux :</strong>
                        {% if signalement.typeCompositionLogement %}
                            {% if signalement.typeCompositionLogement.bailDpeEtatDesLieux is same as 'oui' %}
                                {{ static_picto_yes|raw }}
                            {% elseif signalement.typeCompositionLogement.bailDpeEtatDesLieux is same as 'non' %}
                                {{ static_picto_no|raw }}
                            {% else %}
                                Ne sait pas
                            {% endif %}
                        {% else %}
                            N/C
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>DPE :</strong>
                        {% if signalement.typeCompositionLogement %}
                            {% if signalement.typeCompositionLogement.bailDpeDpe is same as 'oui' %}
                                {{ static_picto_yes|raw }}
                            {% elseif signalement.typeCompositionLogement.bailDpeDpe is same as 'non' %}
                                {{ static_picto_no|raw }}
                            {% else %}
                                Ne sait pas
                            {% endif %}
                        {% else %}
                            N/C
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v">
            {% include 'back/signalement/view/edit-modals/edit-situation-foyer.html.twig' %}
            <div class="fr-p-3v fr-background-alt--grey">
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-md-9">
                        <h4 class="fr-h6">Situation du foyer</h4>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-text--right">
                        {% if isNewFormEnabled %}
                        <a href="#" data-fr-opened="false" aria-controls="fr-modal-edit-situation-foyer">Modifier</a>
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Logement social :</strong>
                        {% if signalement.isLogementSocial is null %}
                            Ne sait pas
                        {% elseif signalement.isLogementSocial %}
                            {{ static_picto_yes|raw }}
                        {% else %}
                            {{ static_picto_no|raw }}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Demande relogement :</strong>
                        {% if signalement.isRelogement is null %}
                            Ne sait pas
                        {% elseif signalement.isRelogement %}
                            {{ static_picto_yes|raw }}
                        {% else %}
                            {{ static_picto_no|raw }}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Allocataire :</strong>
                        {% if signalement.isAllocataire is null %}
                            Ne sait pas
                        {% elseif signalement.isAllocataire %}
                            <p class="fr-badge fr-badge--info fr-badge--no-icon">{{ signalement.isAllocataire }}</p>
                        {% else %}
                            {{ static_picto_no|raw }}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Date de naissance :</strong>
                        {% if (signalement.dateNaissanceOccupant) %}
                            {{ signalement.dateNaissanceOccupant.format('d/m/Y') }}
                        {% else %}
                            {{ signalement.naissanceOccupants ?? 'N/C' }}
                        {% endif %}
                    </div>
                    {% if signalement.isAllocataire %}
                        <div class="fr-col-12 fr-col-md-6">
                            <strong>N° allocataire :</strong>
                            {{ signalement.numAllocataire }}
                        </div>
                        <div class="fr-col-12 fr-col-md-6">
                            <strong>Montant allocation :</strong>
                            {% if signalement.situationFoyer and signalement.situationFoyer.logementSocialMontantAllocation %}
                                {{ signalement.situationFoyer.logementSocialMontantAllocation }} €
                            {% else %}
                                N/C
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="fr-col-12">
                        <strong>Souhaite quitter le logement :</strong>
                        {% if signalement.situationFoyer %}
                            {% if signalement.situationFoyer.travailleurSocialQuitteLogement is same as 'oui' %}
                                {{ static_picto_yes|raw }}
                            {% elseif signalement.situationFoyer.travailleurSocialQuitteLogement is same as 'non' %}
                                {{ static_picto_no|raw }}
                            {% else %}
                                Ne sait pas
                            {% endif %}
                        {% else %}
                            N/C
                        {% endif %}
                    </div>
                    <div class="fr-col-12">
                        <strong>Accompagnement par un ou une travailleuse sociale :</strong>
                        {% if signalement.situationFoyer %}
                            {% if signalement.situationFoyer.travailleurSocialAccompagnementDeclarant is same as 'oui' %}
                                {{ static_picto_yes|raw }}
                            {% elseif signalement.situationFoyer.travailleurSocialAccompagnementDeclarant is same as 'non' %}
                                {{ static_picto_no|raw }}
                            {% else %}
                                Ne sait pas
                            {% endif %}
                        {% else %}
                            N/C
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-col-12 fr-col-md-6 fr-mb-1v">
            {% include 'back/signalement/view/edit-modals/edit-procedure-demarches.html.twig' %}
            <div class="fr-p-3v fr-background-alt--grey">
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-md-9">
                        <h4 class="fr-h6">Procédure et démarches</h4>
                    </div>
                    <div class="fr-col-12 fr-col-md-3 fr-text--right">
                        {% if isNewFormEnabled %}
                        <a href="#" data-fr-opened="false" aria-controls="fr-modal-edit-procedure-demarches">Modifier</a>
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Bailleur averti :</strong>
                        {% if signalement.isProprioAverti is null %}
                            Ne sait pas
                        {% elseif signalement.isProprioAverti %}
                            {{ static_picto_yes|raw }}
                        {% else %}
                            {{ static_picto_no|raw }}
                        {% endif %}
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <strong>Contact assurance :</strong>
                        {% if signalement.informationProcedure %}
                            {% if signalement.informationProcedure.infoProcedureAssuranceContactee is same as 'oui' %}
                                {{ static_picto_yes|raw }}
                            {% elseif signalement.informationProcedure.infoProcedureAssuranceContactee is same as 'non' %}
                                {{ static_picto_no|raw }}
                            {% else %}
                                Ne sait pas
                            {% endif %}
                        {% else %}
                            N/C
                        {% endif %}
                    </div>
                    <div class="fr-col-12">
                        <strong>Réponse assurance :</strong>
                        {% if signalement.informationProcedure and signalement.informationProcedure.infoProcedureReponseAssurance %}
                            <br>
                            {{ signalement.informationProcedure.infoProcedureReponseAssurance|raw }}
                        {% else %}
                            N/C
                        {% endif %}
                    </div>
                    <div class="fr-col-12">
                        <strong>Souhaite garder le logement après travaux :</strong>
                        {% if signalement.informationProcedure %}
                            {# Careful : reversed regarding the question in the form #}
                            {% if signalement.informationProcedure.infoProcedureDepartApresTravaux is same as 'oui' %}
                                {{ static_picto_no|raw }}
                            {% elseif signalement.informationProcedure.infoProcedureDepartApresTravaux is same as 'non' %}
                                {{ static_picto_yes|raw }}
                            {% else %}
                                Ne sait pas
                            {% endif %}
                        {% else %}
                            N/C
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>