{% if can_see_nde_edit_zone(signalementQualificationNDE) and is_granted('SIGN_SEE_NDE', signalement) %}
    <hr class="fr-mt-3w">

    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-8">
            <h3 id="title-nde" class="fr-h6">Non décence énergétique</h3>
        </div>
        <div class="fr-col-12 fr-col-md-4 fr-text--right">
            {% if is_granted('SIGN_EDIT_NDE', signalement) %}
                <button class="fr-btn fr-btn--secondary fr-fi-edit-line fr-btn--icon-left" data-fr-opened="false"
                        aria-controls="fr-modal-edit-nde">
                    Modifier
                </button>
            {% endif %}
        </div>
        <div class="fr-col-12 fr-col-md-6">
            <strong>Consommation d'énergie :</strong> 
            <span class="fr-badge fr-badge--info fr-badge--sm">
            {% if signalementQualificationNDE is same as null or signalementQualificationNDE.details.DPE is same as null or signalementQualificationNDE.details.consommation_energie is same as null %}
                A renseigner
            {% else %}
                {% if signalementQualificationNDE.details.date_dernier_dpe|date('Y') < '2023' and signalement.superficie is not null and signalement.superficie > 0 %}
                    {% set calcul = signalementQualificationNDE.details.consommation_energie / signalement.superficie %}
                {% else %}
                    {% set calcul = signalementQualificationNDE.details.consommation_energie %}
                {% endif %}
                {{calcul|round(2)}} kWh/m²/an
            {% endif %} 
            </span>
        </div>
        <div class="fr-col-12 fr-col-md-6">
            <strong>Classe énergétique :</strong>
            {% if signalement.typeCompositionLogement %}
                {{signalement.typeCompositionLogement.bailDpeClasseEnergetique(false)}}
            {% endif %}
        </div>
        {% if signalementQualificationNDE %}            
            <div class="fr-col-12 fr-col-md-6">                    
                <strong>Analyse :</strong> <span class="{{ signalementQualificationNDE.status|status_to_css }}">{{ signalementQualificationNDE.status.label }}</span>
            </div>
        {% endif %}
        <div class="fr-col-12">
            <strong>Désordre(s) concerné(s) :</strong> 
            <ul class="fr-list">
            {% if signalement.isV2 %}
                {% for desordrePrecision in signalementQualificationNDECriticite %}
                    <li> {{ desordrePrecision.desordreCritere.labelCritere}} : {{desordrePrecision.label|raw}}</li>
                {% endfor %}
            {% else %}
                {% for criticite in signalementQualificationNDECriticite %}
                    <li> {{ criticite.critere.label}} - Etat {{criticite.scoreLabel}} : {{criticite.label}}</li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        <div class="fr-col-12 fr-col-md-6">
            <strong>Entrée dans le logement :</strong> {{ signalement.dateEntree  ? ( signalement.dateEntree|date('Y') < '2023' ? 'Avant 2023' : 'A partir de 2023' ) : ''}}
        </div>
        <div class="fr-col-12 fr-col-md-6">        
            {% if signalementQualificationNDE %}      
                <strong>DPE :</strong> {{ signalementQualificationNDE.details.DPE ? 'Oui' : (signalementQualificationNDE.details.DPE is same as null ? 'A vérifier' : 'Non') }} 
            {% elseif signalement.typeCompositionLogement %}
                <strong>DPE :</strong> {{ signalement.typeCompositionLogement.bailDpeDpe is same as 'oui' ? 'Oui' : (signalement.typeCompositionLogement.bailDpeDpe is same as null ? 'A vérifier' : 'Non')  }} 
            {% else %}  
                <strong>DPE :</strong> A vérifier            
            {% endif %}
        </div>
        <div class="fr-col-12 fr-col-md-6">  
            {% if signalementQualificationNDE %}      
                <strong>Date dernier DPE :</strong> {{ signalementQualificationNDE.details.date_dernier_dpe ? ( signalementQualificationNDE.details.date_dernier_dpe|date('Y') < '2023' ? 'Avant 2023' : 'A partir de 2023' ) : ''}}
            {% elseif signalement.typeCompositionLogement %}
                <strong>Date dernier DPE :</strong>
                {% if signalement.typeCompositionLogement.desordresLogementChauffageDetailsDpeAnnee %}
                    {% if signalement.typeCompositionLogement.desordresLogementChauffageDetailsDpeAnnee is same as 'before2023' %}
                        Avant 2023
                    {% elseif signalement.typeCompositionLogement.desordresLogementChauffageDetailsDpeAnnee is same as 'post2023' %}
                        A partir de 2023
                    {% elseif signalement.typeCompositionLogement.desordresLogementChauffageDetailsDpeAnnee is same as 'nsp' %}
                        Ne sait pas
                    {% endif %}
                {% endif %}
            {% else %}  
                <strong>Date dernier DPE :</strong> A vérifier            
            {% endif %}            
        </div>
    </div>
{% endif %}