{% if can_see_nde_edit_zone(signalementQualificationNDE) and is_granted('USER_SEE_NDE', app.user) %}
    <hr class="fr-mt-3w">

    <h3 id="title-nde" class="fr-h5">Non décence énergétique</h3>

    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-5">
            <strong>Consommation d'énergie :</strong> 
            <span class="fr-badge fr-badge--info fr-badge--sm">
            {% if signalementQualificationNDE.details.DPE is same as null  %}
                A renseigner
            {% else %}
                {% if signalementQualificationNDE.details.date_dernier_dpe|date('Y') < '2023' and signalement.superficie is not null and signalement.superficie > 0 %}
                    {% set calcul = signalementQualificationNDE.details.consommation_energie / signalement.superficie %}
                {% else %}
                    {% set calcul = signalementQualificationNDE.details.consommation_energie %}
                {% endif %}
                {{calcul|round(2)}} kWh/m²/an
            {% endif %} 
            </span>
        </div>
        <div class="fr-col-12 fr-col-md-5">                    
            <strong>Analyse :</strong> <span class="{{ signalementQualificationNDE.status|status_to_css }}">{{ signalementQualificationNDE.status.label }}</span>
        </div>
                        
        {% if canEditNDE %}
            <div class="fr-col-12 fr-col-md-2 fr-text--right">
                <button class="fr-btn fr-btn--secondary fr-fi-edit-line fr-btn--icon-left" data-fr-opened="false"
                        aria-controls="fr-modal-edit-nde">
                    Modifier
                </button>
            </div>
        {% endif %}
    </div>
    <div class="fr-grid-row">
        <strong>Désordre(s) concerné(s) :</strong> 
        <ul class="fr-list">
            {% for criticite in signalementQualificationNDECriticite %}
                <li> {{ criticite.critere.label}} - Etat {{criticite.scoreLabel}} : {{criticite.label}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-6">
        <strong>Entrée dans le logement :</strong> {{ signalement.dateEntree  ? ( signalement.dateEntree|date('Y') < '2023' ? 'Avant 2023' : 'A partir de 2023' ) : ''}}
        </div>
        <div class="fr-col-12 fr-col-md-6">
        <strong>DPE :</strong> {{ signalementQualificationNDE.details.DPE ? 'Oui' : (signalementQualificationNDE.details.DPE is same as null ? 'A vérifier' : 'Non') }} 
        </div>
    </div>
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-6">
        <strong>Dernier bail :</strong> {{ signalementQualificationNDE.dernierBailAt  ? ( signalementQualificationNDE.dernierBailAt|date('Y') < '2023' ? 'Avant 2023' : 'A partir de 2023' ) : ''}}
        </div>
        <div class="fr-col-12 fr-col-md-6">
        <strong>Date dernier DPE :</strong> {{ signalementQualificationNDE.details.date_dernier_dpe  ? ( signalementQualificationNDE.details.date_dernier_dpe|date('Y') < '2023' ? 'Avant 2023' : 'A partir de 2023' ) : ''}}
        </div>
    </div>
{% endif %}