{% if canSeePartnerAffectation %}
    <div class="fr-grid-row">
        <div class="fr-col-9 fr-col-md-6">
            <h3 class="fr-h5">Partenaires affectés</h3>
        </div>
        <div class="fr-col-3 fr-col-md-6">
            <div class="fr-text--right fr-btns-group fr-btns-group--sm fr-btns-group--inline fr-btns-group--right fr-btns-group--icon-left">
                <button 
                    class="fr-btn fr-btn--secondary fr-btn--icon-left"
                    data-fr-opened="false"
                    aria-controls="fr-modal-historique-affectation"
                >
                    Voir l'historique des affectations
                </button>
                 {% if canTogglePartnerAffectation %}
                    <button class="fr-btn fr-fi-add-line fr-btn--icon-left" data-fr-opened="false" aria-controls="fr-modal-affectation">
                        Affecter des partenaires
                    </button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for partnerAffectation in signalement.affectations %}
                <div class="fr-col-12 fr-col-md-6 partner-row">
                    <div class="fr-mb-3v fr-p-3v fr-background-alt--grey">
                        <div class="fr-grid-row fr-grid-row--middle">
                            <div class="fr-col-12 fr-col-lg-7">
                                {{ partnerAffectation.partner ? partnerAffectation.partner.nom : 'AUCUN' }}
                                <br>
                                {% if partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_CLOSED') %}
                                    <span class="fr-hint-text">
                                        Cloturé le {{ partnerAffectation.answeredAt|date('d/m/Y') }}
                                        <br>
                                        {{ partnerAffectation.answeredBy ? 'par ' ~ partnerAffectation.answeredBy.nomComplet }}
                                    </span>
                                {% elseif partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_ACCEPTED') %}
                                    <span class="fr-hint-text">
                                        Accepté le {{ partnerAffectation.answeredAt|date('d/m/Y') }}
                                        <br>
                                        {{ partnerAffectation.answeredBy ? 'par ' ~ partnerAffectation.answeredBy.nomComplet }}
                                    </span>
                                {% elseif partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_REFUSED') %}
                                    <span class="fr-hint-text">
                                        Refusé le {{ partnerAffectation.answeredAt|date('d/m/Y') }}
                                        <br>
                                        {{ partnerAffectation.answeredBy ? 'par ' ~ partnerAffectation.answeredBy.nomComplet }}
                                    </span>
                                {% else %}
                                    <span class="fr-hint-text">
                                        Affecté le {{ partnerAffectation.createdAt|date('d/m/Y') }}
                                        <br>
                                        {{ partnerAffectation.affectedBy ? 'par ' ~ partnerAffectation.affectedBy.nomComplet }}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="fr-col-10 fr-col-lg-3">
                                {% if partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_WAIT') %}
                                    <span class="fr-badge fr-badge--info fr-badge--sm">En attente</span>
                                {% elseif partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_ACCEPTED') %}
                                    <span class="fr-badge fr-badge--success fr-badge--sm">Acceptée</span>
                                {% elseif partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_REFUSED') %}
                                    <span class="fr-badge fr-badge--sm fr-text-label--red-marianne fr-background-contrast--red-marianne fr-fi-close-line">Refusée</span>
                                {% elseif partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_CLOSED') %}
                                    <span class="fr-badge fr-badge--sm fr-fi-close-circle-fill">Clôturée</span>
                                {% endif %}
                            </div>
                            {% if signalement.statut is not same as constant('App\\Entity\\Signalement::STATUS_CLOSED') %}
                                <div class="fr-col-2 fr-text--right">
                                    <button title="Désaffecter le partenaire"
                                            data-delete="{{ path('back_signalement_remove_partner',{uuid:signalement.uuid,affectation:partnerAffectation.id}) }}"
                                            data-token="{{ csrf_token('signalement_remove_partner_'~signalement.id) }}"
                                            class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-delete-line partner-row-delete"></button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% elseif
        not isClosedForMe
        and isAffectationAccepted %}
    <div class="fr-my-3w">
        <h3 class="fr-h5">Partenaires impliqués</h3>
        {% for partnerAffectation in signalement.affectations %}
            {% if partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_WAIT') %}
                <span class="fr-badge fr-badge--info fr-badge--sm">{{ partnerAffectation.partner ? partnerAffectation.partner.nom : 'AUCUN' }}</span>
            {% elseif partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_ACCEPTED') %}
                <span class="fr-badge fr-badge--success fr-badge--sm">{{ partnerAffectation.partner ? partnerAffectation.partner.nom : 'AUCUN' }}</span>
            {% elseif partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_REFUSED') %}
                <span class="fr-badge fr-badge--sm fr-text-label--red-marianne fr-background-contrast--red-marianne fr-fi-close-line">{{ partnerAffectation.partner ? partnerAffectation.partner.nom : 'AUCUN' }}</span>
            {% elseif partnerAffectation.statut is same as constant('App\\Entity\\Affectation::STATUS_CLOSED') %}
                <span class="fr-badge fr-badge--sm fr-fi-close-circle-fill">{{ partnerAffectation.partner ? partnerAffectation.partner.nom : 'AUCUN' }}</span>
            {% endif %}
        {% endfor %}
    </div>

{% endif %}
