<div class="photos-album fr-hidden">
    <div class="photos-album-close-button-container">
        <button class="photos-album-btn-close fr-btn fr-btn--icon-left fr-icon-close-line">Fermer</button>
    </div>
    {% set loopLength = allPhotosOrdered|length %}
    <div class="photos-album-navigation-container">
        <div>
            <button class="fr-btn photos-album-swipe" data-direction="-1">&lt;</button>
        </div>
        <div>
            {% for index, photo in allPhotosOrdered %}
            <div class="photos-album-image-item {{ loop.index > 1 ? 'fr-hidden' : 'loop-current' }}" data-id="{{ photo.id }}">
                <div>
                    {{ photo.documentType.label}} - {{ loop.index }} / {{ loopLength }}
                </div>
                <div>
                    <img
                        src="{{ asset('_up/'~photo.filename~'/'~signalement.uuid~'?variant=resize') }}"
                        alt="Photo ajoutée par : {{ photo.uploadedBy.nomComplet ?? 'N/R' }}"
                        >
                </div>
                <div class="fr-mt-1w">
                    {% if photo.documentType is not same as null
                        and photo.documentType is not same as enum('App\\Entity\\Enum\\DocumentType').AUTRE %}
                        {% if photo.documentType is same as enum('App\\Entity\\Enum\\DocumentType').PHOTO_SITUATION
                                and photo.desordreSlug is not same as null %}
                            {{ signalement.getDesordreLabel(photo.desordreSlug) }}
                        {% elseif photo.documentType is same as enum('App\\Entity\\Enum\\DocumentType').PHOTO_VISITE %}
                            {{ photo.documentType.label() }} du {{ photo.intervention.scheduledAt|date('d/m/Y') }} par {{ photo.intervention.partner.nom}}
                        {% else %}
                            {{ photo.documentType.label() }}
                        {% endif %}
                        <br>
                    {% endif %}
                    {% if photo.description is not same as null %}
                        {{ photo.description }}
                    {% endif %}
                </div>
                <div class="fr-mt-1w">
                    Photo ajoutée par {{ photo.uploadedBy.nomComplet ?? 'l\'usager' }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <button class="fr-btn photos-album-swipe" data-direction="1">&gt;</button>
        </div>
    </div>
    <script type="text/javascript" nonce="{{ app.request.attributes.get('csp_script_nonce') }}">
        const histoPhotoIds = []
        {% for index, photo in allPhotosOrdered %}
            histoPhotoIds.push({{ photo.id }})
        {% endfor %}
    </script>
</div>
