{% if zonetitle is not null and listAllPhotos is not defined %}
    <div class="fr-grid-row">
        <div class="fr-col-9 fr-col-md-6">
            <h3 class="fr-h5">{{ zonetitle }}</h3>
        </div>
        <div class="fr-col-3 fr-col-md-6 fr-text--right">
            {% if (is_granted('SIGN_EDIT', signalement)) and filesFilter is not same as 'visite' %}
                <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right fr-btns-group--icon-left">
                    <li>
                        <button
                        class="fr-btn fr-btn--secondary fr-icon-file-add-line open-modal-upload-files-btn"
                        data-fr-opened="false"
                        aria-controls="fr-modal-upload-files"
                        data-file-filter={{filesFilter}}
                        >
                            Ajouter des documents sur la {{filesFilter}}
                        </button>
                    </li>
                </ul>  
            {% endif %}
        </div>
        {% if filesFilter is same as 'situation' %}
            <p class="fr-text--sm fr-mt-n2w fr-mb-2w">
                Ajoutez ici des photos ou documents concernant la situation de l'usager (photos de désordres, bail, DPE, diagnostic et état des lieux). 
                Les fichiers ajoutés sont partagés à l'usager.
                <br>
                Vous ne pouvez pas supprimer les documents ajoutés par l'usager.
            </p>
        {% endif %}
        {% if filesFilter is same as 'procédure' %}
            <p class="fr-text--sm fr-mt-n2w fr-mb-2w">
                Ajoutez ici les documents liés à la procédure (mise en demeure, rapport de visite, arrêté, etc.).
                <br>
                Vous pouvez supprimer uniquement les documents que vous avez ajoutés.
            </p>
        {% endif %}
    </div>
{% endif %}

{% set DocumentType = enum('\\App\\Entity\\Enum\\DocumentType') %}
{% if listAllPhotos is not defined %}
    <div class="container-{{ filesFilter }}">
{% endif %}
        <div class="fr-grid-row fr-grid-row--middle fr-grid-row--gutters fr-mb-3v">
        {% if filesFilter is same as 'visite' %}
            {% set photos = signalement.files|filter(
                photo => (
                    filesFilter is same as 'visite' and photo.isTypeImage and photo.intervention is not null and photo.intervention.id is same as interventionId
                )
            ) %}
        {% else %}
            {% set photos = signalement.getSortedPhotos(filesFilter) %}
        {% endif %}

        {% set nbPhotos = photos|length %}
        {% for photo in photos %}
            {% if listAllPhotos is not defined and filesFilter is same as 'situation' and nbPhotos > 12 and loop.index == 12 %}
                <div class="fr-col-6 fr-col-md-2 fr-text--center">
                    <button class="fr-btn fr-btn--tertiary-no-outline btn-list-all-photo-situation" type="button" 
                        data-url="{{ path('back_signalement_list_all_photo_situation', {uuid: signalement.uuid}) }}">
                        Voir les {{nbPhotos}} photos
                    </button>
                </div>
            {% elseif listAllPhotos is not defined and filesFilter is same as 'situation' and nbPhotos > 12 and loop.index > 12 %}
            {% else %}
                <div class="fr-col-6 fr-col-md-2 fr-rounded signalement-file-item">
                    <div class="fr-hidden" id="tippy_photodoc_{{ photo.id }}">
                        {% include '_partials/_tippy_photo_template.html.twig' %}
                    </div>
                    <div class="fr-px-5w fr-py-8w fr-rounded fr-border fr-text--center part-infos-hover" 
                        data-template="tippy_photodoc_{{ photo.id }}"
                        style="background: url('{{ sign_url(path('show_file', {uuid: photo.uuid, variant: 'thumb'})) }}')no-repeat center center/cover"
                        >
                        <button 
                            class="fr-btn fr-btn--sm fr-icon-eye-line open-photo-album" 
                            data-id={{ photo.id }} 
                            title="Voir la photo {{ photo.filename }}"
                        ></button>
                        {% if is_granted('FILE_EDIT', photo) %}   
                            {% set partner = photo.uploadedBy ? photo.uploadedBy.partnerInTerritoryOrFirstOne(signalement.territory) %}                    
                            <button 
                                class="fr-btn fr-btn--sm fr-btn--secondary fr-background--white fr-fi-edit-line btn-signalement-file-edit"
                                id="file_edit_{{ photo.id }}" 
                                title="Editer la photo {{ photo.filename }}"
                                aria-controls="fr-modal-edit-file"
                                data-fr-opened="false" 
                                data-filename="{{ photo.filename }}" 
                                data-type="photo" 
                                data-file-id="{{ photo.id}}" 
                                data-signalement-uuid="{{ photo.signalement.uuid}}" 
                                data-description="{{ photo.description }}" 
                                data-file-path="{{ sign_url(path('show_file', {uuid: photo.uuid, variant: 'thumb'})) }}"
                                data-file-filter="{{ filesFilter }}"
                                data-documentType="{{ photo.documentType.name }}" 
                                data-desodreSlug="{{ photo.desordreSlug }}"
                                data-createdAt="{{ photo.createdAt is defined ? photo.createdAt|date('d/m/Y') : 'N/R' }}"
                                data-partner-name="{{ partner ? partner.nom ~ ' - ' : '' }}"
                                data-user-name="{{ photo.uploadedBy.nomComplet ?? 'N/R' }}"
                                data-desordreSlug="{{ photo.desordreSlug }}"
                                data-signalement-desordres="{{ criteres | json_encode }}"
                            ></button>
                        {% endif %}
                        {% if is_granted('FILE_DELETE', photo) %}
                            <button class="fr-btn fr-btn--sm fr-btn--secondary fr-background--white fr-fi-delete-line btn-signalement-file-delete"
                                id="file_delete_{{ photo.id }}" 
                                title="Supprimer la photo {{ photo.filename }}"
                                aria-controls="fr-modal-delete-file"
                                data-fr-opened="false" 
                                data-filename="{{ photo.filename }}" 
                                data-file-id="{{ photo.id}}"                     
                            ></button>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% if listAllPhotos is not defined %}
    </div>
{% endif %}

{% if listAllPhotos is not defined %}
    {% set documents = signalement.files|filter(
        doc => doc.isTypeDocument
            and (
                (filesFilter is same as 'situation' and doc.isSituationDocument()) or 
                (filesFilter is same as 'procédure' and doc.isProcedureDocument()) or 
                (filesFilter is same as 'visite' and doc.intervention is not null and doc.intervention.id is same as interventionId)
            )
        )|reverse %}
    {% for doc in documents %}
        {% set partner = doc.uploadedBy ? doc.uploadedBy.partnerInTerritoryOrFirstOne(signalement.territory) %}
        <div class="fr-grid-row fr-grid-row--middle fr-background-alt--grey fr-rounded fr-p-3v signalement-file-item">
            <div class="fr-col-10">
                <div class="fr-grid-row">
                    <div class="fr-col-12 fr-col-lg-1">
                        {{ doc.createdAt is defined ? doc.createdAt|date('d/m/Y') : 'N/R' }}
                    </div>
                    <div class="fr-col-12 fr-col-lg-2">
                        <span class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ doc.documentType.label() }}</span>
                    </div>
                    <div class="fr-col-12 fr-col-lg-5">
                        {{ partner ? partner.nom ~ ' - ' : '' }}{{ doc.uploadedBy.nomComplet ?? 'N/R' }}
                    </div>
                    <div class="fr-col-12 fr-col-lg-4">
                        {% if not doc.isSuspicious %}
                            <i>{{ doc.title|truncate_filename(45) }}</i>
                        {% else %}
                            <i><strong>{{ doc.title|truncate_filename(45) }}</strong> a été désactivé par mesure de sécurité.
                                Une analyse par notre équipe de support est nécéssaire. Merci de votre compréhension.
                            </i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="fr-col-2 fr-text--right">

                {% if not doc.isSuspicious %}
                    <a href="{{ sign_url(path('show_file', {uuid: doc.uuid})) }}"
                            class="fr-btn fr-btn--sm fr-icon-eye-fill img-box" title="Afficher le document {{ doc.filename }}"
                            target="_blank" rel="noopener"></a>
                    {% if doc.documentType is not same as DocumentType.PHOTO_VISITE and is_granted('FILE_EDIT', doc) %}
                        <button class="fr-btn fr-btn--sm fr-btn--secondary fr-background--white fr-fi-edit-line btn-signalement-file-edit"
                            id="file_edit_{{ doc.id }}"
                            title="Editer le document {{ doc.filename }}"
                            aria-controls="fr-modal-edit-file"
                            data-fr-opened="false"
                            data-filename="{{ doc.filename }}"
                            data-type="document"
                            data-file-id="{{ doc.id}}"
                            data-signalement-uuid="{{ signalement.uuid}}" 
                            data-file-filter="{{ filesFilter }}"
                            data-documentType="{{ doc.documentType.name }}"
                            data-desordreSlug="{{ doc.desordreSlug }}"
                            data-createdAt="{{ doc.createdAt is defined ? doc.createdAt|date('d/m/Y') : 'N/R' }}"
                            data-partner-name="{{ partner ? partner.nom ~ ' - ' : '' }}"
                            data-user-name="{{ doc.uploadedBy.nomComplet ?? 'N/R' }}"
                        ></button>
                    {% endif %}
                {% endif %}

                {% if is_granted('FILE_DELETE', doc) %}
                    <button class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-delete-line btn-signalement-file-delete"
                        id="file_delete_{{ doc.id }}" 
                        title="Supprimer le document {{ doc.filename }}"
                        aria-controls="fr-modal-delete-file"
                        data-fr-opened="false" 
                        data-filename="{{ doc.filename }}" 
                        data-file-id="{{ doc.id}}"                     
                    ></button>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if photos|length == 0 and documents|length == 0 %}
        <p class="fr-text--sm">
            Aucun document ou photo disponible
        </p>
    {% endif %}
{% endif %}
