<hr class="fr-mt-3w">

<div id="suivis" class="fr-grid-row">
    <div class="fr-col-9 fr-col-md-6">
        <h3 class="fr-h5">Suivis</h3>
    </div>
    {% if 
        is_granted('COMMENT_CREATE', signalement)
        and not isClosedForMe
        %}
        <div data-ajax-form>
            {% include '_partials/signalement/add_suivi.html.twig' %}
        </div>
        <div class="fr-col-3 fr-col-md-6 fr-text--right">
            <button class="fr-btn fr-btn--icon-left fr-icon-quote-line" data-fr-opened="false"
                    aria-controls="fr-modal-add-suivi">
                Ajouter un suivi
            </button>
        </div>
    {% endif %}
</div>

{% for suivi in signalement.suivis|reverse %}
    <div class="fr-grid-row fr-grid-row--middle fr-background-alt--blue-france fr-p-3v fr-mb-3v suivi-item {% if loop.index > 3 %}fr-hidden{% endif %}">
        <div class="fr-col-3">   
            <strong>{{ suivi.createdAt|date('d/m/Y') }}</strong>
            <br>
            {% if suivi.type is same as constant('App\\Entity\\Suivi::TYPE_TECHNICAL') %}
                Suivi automatique

            {% elseif suivi.createdBy is not null %}
                <div class="fr-hidden" id="tippy_suivi_{{ suivi.id }}">
                    <strong class="fr-ws-nowrap">{{ suivi.createdBy.nomComplet }}</strong>
                    <hr class="fr-pb-1v">
                    <span class="fr-ws-nowrap">{{ suivi.createdBy.email }}</span>
                    {% if suivi.createdBy.fonction %}
                        <hr class="fr-pb-1v">
                        <span class="fr-ws-nowrap">{{ suivi.createdBy.fonction }}</span>
                    {% endif %}
                </div>
                <div class="part-infos-hover" data-template="tippy_suivi_{{ suivi.id }}" >
                {{
                    'ROLE_USAGER' in suivi.createdBy.roles
                        ? (suivi.createdBy.email is same as signalement.mailOccupant
                            ? 'OCCUPANT'~ '\n' ~ suivi.createdBy.nomComplet|capitalize
                            : 'DECLARANT'~ '\n' ~ suivi.createdBy.nomComplet|capitalize
                        )|nl2br
                        : (suivi.createdBy.partnerInTerritoryOrFirstOne(signalement.territory)
                            ? (suivi.createdBy.partnerInTerritoryOrFirstOne(signalement.territory).isArchive
                                ? 'Partenaire supprimé'
                                : suivi.createdBy.partnerInTerritoryOrFirstOne(signalement.territory).nom ~ '\n' ~ suivi.createdBy.prenom ~ ' ' ~ suivi.createdBy.nom
                            )
                            : 'Aucun')|nl2br
                }}
                </div>
            {% else %}
                {# si le suivi est de 2024 ou posterieur on indique annonyme #}
                {% if suivi.createdAt|date('Y') >= 2024 %}
                    Occupant ou déclarant
                {% else %}
                    <strong>{{ signalement.isNotOccupant ? signalement.nomDeclarant|upper~' '~signalement.prenomDeclarant|capitalize : signalement.nomOccupant|upper~' '~signalement.prenomOccupant|capitalize }}</strong>
                    <br>
                    {{ signalement.isNotOccupant ? 'DECLARANT':'OCCUPANT'}}
                {% endif %}
            {% endif %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="fr-col-6 bloc-suivi-content-row fr-pl-3v">
        {% else %}
            <div class="fr-col-7 bloc-suivi-content-row fr-pl-3v">
        {% endif %}
        {{ transform_suivi_description(suivi)|raw}}
        </div>
        <div class="fr-col-2">
            {% if suivi.isPublic %}
                <span class="fr-badge fr-badge--no-icon" title="Visible par l'usager">Visible par l'usager</span>
            {% else %}
                <span class="fr-badge fr-badge--no-icon" title="Suivi interne">Suivi interne</span>
            {% endif %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="fr-col-1 fr-text--right">
                {% if suivi.deletedAt is null %}
                <button title="Supprimer le suivi"
                    data-delete="{{ path('back_signalement_delete_suivi',{uuid:signalement.uuid,suivi:suivi.id}) }}"
                    data-token="{{ csrf_token('signalement_delete_suivi_'~signalement.id) }}"
                    class="fr-btn fr-btn--sm fr-btn--secondary fr-fi-delete-line suivi-row-delete"></button>
                {% endif %}
            </div>            
        {% endif %}
    </div>
{% endfor %}

{% if signalement.suivis|length > 3 %}
    <p class="fr-text--center">
        <a href="#" id="btn-display-all-suivis">Afficher tous les suivis</a>
    </p>
{% endif %}
