{% if canEditSignalement %}
    <a class="fr-btn--icon-left fr-a-edit fr-icon-bookmark-line fr-ml-2v" id="tags_select_tooltip_btn" href="#"
        data-fr-opened="false" aria-controls="fr-modal-etiquettes">Gérer les étiquettes</a>
</button>
    <div>
        <div class="fr-my-3v">
            {% for tag in signalement.tags %}
                <span class="fr-badge fr-badge--blue-ecume fr-mr-1v">{{ tag.label }}</span>
            {% else %}
                <em class="fr-text-default--warning fr-fi-close-line fr-icon--xs">
                    <small>Aucune étiquette attribuée à ce signalement.</small>
                </em>
            {% endfor %}
        </div>
    </div>
{% endif %}

<dialog aria-labelledby="fr-modal-title-modal-etiquettes" role="dialog" id="fr-modal-etiquettes" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-etiquettes">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-etiquettes" class="fr-modal__title">
                            <span class="fr-icon-arrow-right-line fr-icon--lg"></span>Gérer les étiquettes du signalement
                        </h1>
                        <p>
                            Sélectionnez les étiquettes à attribuer au signalement en cliquant dessus.
                            <br>
                            Une fois sélectionnées, elles apparaîtront dans la colonne "Etiquettes sélectionnées".
                        </p>
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-6">
                                <h2 class="fr-h5">Sélectionner les étiquettes</h2>
                                <p>
                                    Recherchez les étiquettes à attribuer au signalement puis cliquez dessus.
                                </p>
                                <div class="fr-search-bar" id="etiquette-filter" role="search">
                                    <label class="fr-label" for="etiquette-filter-input">
                                        Recherche
                                    </label>
                                    <input class="fr-input" placeholder="Rechercher" type="search" id="etiquette-filter-input" name="etiquette-filter-input">
                                    <button class="fr-btn" title="Rechercher">
                                        Rechercher
                                    </button>
                                </div>
                                <div class="fr-my-3v">
                                    {% for tag in tags %}
                                        <span
                                            id="etiquette-badge-add-{{ tag.id }}"
                                            class="fr-badge fr-m-1v signalement-tag-add {% if tag in signalement.tags %}fr-hidden{% endif %}"
                                            data-tagid="{{ tag.id }}" data-taglabel="{{ tag.label }}"
                                            >{{ tag.label }} <span class="fr-icon-add-line" aria-hidden="true"></span></span>
                                    {% else %}
                                        <em class="fr-text-default--warning fr-fi-close-line fr-icon--xs">
                                            <small>Aucune étiquette n'existe sur votre territoire.</small>
                                        </em>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="fr-col-6">
                                <h2 class="fr-h5">Etiquettes sélectionnées</h2>
                                <p>
                                    Cliquez sur une étiquette pour la retirer du signalement.
                                </p>
                                <div id="etiquette-selected-list" class="fr-my-3v">
                                    {% for tag in signalement.tags %}
                                        <span
                                            class="fr-badge fr-badge--blue-ecume fr-m-1v signalement-tag-remove"
                                            data-tagid="{{ tag.id }}"
                                            >{{ tag.label }} <span class="fr-icon-close-line" aria-hidden="true"></span></span>
                                    {% else %}
                                        <em id="no-tag-on-this-signalement" class="fr-text-default--warning fr-fi-close-line fr-icon--xs">
                                            <small>Aucune étiquette attribuée à ce signalement.</small>
                                        </em>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <form method="POST" action="{{ path('back_signalement_save_tags', {uuid: signalement.uuid}) }}" id="form-signalement-save-tags">
                            <input type="hidden" id="input-tag-ids" name="tag-ids"
                                value="{% for tag in signalement.tags %}{{ tag.id }}{% endfor %}"
                                > 
                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_save_tags') }}">
                        </form>
                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <button class="fr-btn" form="form-signalement-save-tags" type="submit"
                                >Valider</button>
                            <button class="fr-btn fr-btn--secondary" type="button" aria-controls="fr-modal-etiquettes"
                                >Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>