{% extends 'back/base_bo.html.twig' %}

{% block title %}Liste des bailleurs{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils SA',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Bailleurs',
            'level3Link': '',
        } %}

        <header>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--left">
                    <h1 class="fr-mb-0">Liste des bailleurs</h1>
                </div>
            </div>
        </header>
    </section>

    {% form_theme form 'form/dsfr_theme.html.twig' %}
    {{ form_start(form) }}

    <section class="fr-container--fluid overflow-visible">
        {{ form_errors(form) }}
        <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4">
                {{ form_row(form.queryName) }}
            </div>
            <div class="fr-col-12 fr-col-lg-4">
                {{ form_row(form.territory) }}
            </div>
            <div class="fr-col-12 fr-col-lg-4">
                <a href="{{ path('back_bailleur_index') }}" class="fr-link fr-link--icon-left fr-icon-close-circle-line">Réinitialiser les résultats</a>
            </div>
        </div>
    </section>

    <section class="fr-col-12 fr-py-5v">
        <h2 class="fr-mb-0" id="desc-table">{{ singular_or_plural(bailleurs|length, 'bailleur trouvé', 'bailleurs trouvés') }}</h2>
    </section>
    
    <section class="fr-col-3 fr-pt-0">
        {{ form_row(form.orderType) }}
    </section>

    {{ form_end(form) }}

    <section class="fr-col-12 fr-pt-0 fr-px-5v">
        {% set tableHead %}
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Territoires</th>
            <th scope="col">Actions</th>
        {% endset %}
        
        {% set tableBody %}
            {% for bailleur in bailleurs %}
                <tr class="signalement-row">
                    <td>{{ bailleur.id }}</td>
                    <td>{{ bailleur.name }}</td>
                    <td>
                        {% for bailleurTerritory in bailleur.bailleurTerritories %}
                            <span class="fr-badge fr-badge--no-icon fr-badge--success">{{bailleurTerritory.territory.zip}} {{bailleurTerritory.territory.name}}</span>
                        {% endfor %}
                    </td>
                    <td class="fr-text--right fr-ws-nowrap">
                        <a href="{{path('back_bailleur_edit', {bailleur: bailleur.id})}}" class="fr-btn fr-icon-edit-line" title="Editer le bailleur {{bailleur.name}}">
                            Editer le bailleur {{ bailleur.name }}
                        </a>
                        {% if not bailleur.signalements|length %}
                            <button 
                                class="fr-btn fr-btn--secondary fr-icon-delete-line open-modal-bailleur-delete" 
                                title="Supprimer le bailleur {{bailleur.name}}" 
                                data-fr-opened="false" 
                                aria-controls="fr-modal-bailleur-delete"
                                data-url="{{path('back_bailleur_delete', {bailleur: bailleur.id})}}?_token={{ csrf_token('bailleur_delete') }}"
                                data-name="{{bailleur.name}}" >
                                Supprimer le bailleur {{ bailleur.name }}
                            </button>
                        {% else %}
                            <button class="fr-btn fr-btn--secondary fr-icon-delete-line" title="Le bailleur est liée à de signalements" disabled>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endset %}

        {% include '_partials/back/table.html.twig' with { 'tableLabel': 'Liste des bailleurs', 'tableHead': tableHead, 'tableBody': tableBody, 'cancelSortable': true } %}

        <div id="territory-pagination" class="fr-grid-row fr-mt-2v fr-grid-row--center">
            {% import '_partials/macros.html.twig' as macros %}
            {{ macros.customPagination(pages, searchBailleur.page, 'back_bailleur_index', searchBailleur.urlParams) }}
        </div>
    </section>

    {# Modale de suppression #}
    <dialog aria-labelledby="fr-modal-title-bailleur-delete" id="fr-modal-bailleur-delete" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-bailleur-delete">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-bailleur-delete" class="fr-modal__title">
                                Supprimer le bailleur : <span id="fr-modal-bailleur-delete-bailleur-name"></span>
                            </h1>
                            <p>Vous êtes sur le point de supprimer un bailleur.</p>
                            <p>Une fois le bailleur supprimée :</p>
                            <ul>
                                <li>Il ne sera plus proposé sur aucun départements</li>
                            </ul>
                        </div>
                        <div class="fr-modal__footer">
                            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <a href="#" class="fr-btn fr-icon-check-line" id="fr-modal-bailleur-delete-btn-submit">Oui, supprimer</a>
                                <button class="fr-btn fr-btn--secondary fr-icon-close-line" type="button" aria-controls="fr-modal-bailleur-delete">Non, annuler</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

{% endblock %}
