{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
	<main>
        {% include "breadcrumbs.html.twig" with { 'breadcrumbsLabel': 'Contact' } %}
		<section class="fr-container">
			<h1 class="fr-mt-5w">Contacter {{ platform.name }}</h1>
		</section>
		<section class="fr-container">
			<h2>Je souhaite signaler un problème de logement</h2>
			<p>
				Vous êtes au bon endroit ! Histologe vous accompagne dans le signalement de vos problèmes de logement. 
				Cliquez sur le bouton ci-dessous pour déposer votre signalement.
			</p>
			<a href="{{ path('front_signalement') }}" class="fr-btn fr-btn--icon-left fr-arrow-up-line">Je dépose un signalement</a>
		</section>
		<section class="fr-container">
			{% include '_partials/_demande-lien-signalement.html.twig' %}
		</section>
		<section class="fr-container">
			<h2 class="fr-mt-5w">J'ai une question sur Histologe</h2>
			<p>
				Vous trouverez peut-être une réponse dans les ressources suivantes :
			</p>
			<ul>
				<li><a href="https://faq.histologe.beta.gouv.fr/" target="_blank" rel="noopener" title="La documentation Histologe - ouvre une nouvelle fenêtre">La documentation Histologe</a></li>
				<li><a href="https://faq.histologe.beta.gouv.fr/usager/signalement/jai-depose-un-signalement-et-maintenant" target="_blank" rel="noopener" title="documentation Histologe : J'ai déposé un signalement, et maintenant ? - ouvre une nouvelle fenêtre">J'ai déposé un signalement, et maintenant ?</a></li>
				<li><a href="{{path('front_cgu')}}">Conditions générales d'utilisation</a></li>
				<li><a href="{{path('politique_de_confidentialite')}}">Politique de confidentialité</a></li>
			</ul>
		</section>
		<section class="fr-container">
			<h2 class="fr-mt-5w">Vous avez une autre question ?</h2>
			<p>Vous ne trouvez pas la réponse à votre question ? Vous souhaitez signaler un problème technique ? Contactez l'équipe Histologe.</p>
			<a href="mailto:{{ contactEmail }}" class="fr-btn fr-btn--icon-left fr-mail-line">Envoyer un message</a>
			<div class="fr-alert fr-alert--warning fr-mt-3w">
				<h3 class="fr-alert__title">N'envoyez pas votre signalement par e-mail !</h3>
				<p>
					Les signalements ne peuvent être pas déposés par e-mail. 
					Pour déposer un signalement, cliquez sur le bouton "Je dépose mon signalement" sur cette page ou sur l'élément "Signalement" dans le menu principal.
				</p>
			</div>
		</section>
		<section class="fr-py-5w fr-mt-5w fr-background-contrast--blue-france">
			<div class="fr-container">
				<h2>Vous êtes acteur de la lutte contre l'habitat indigne et souhaitez en savoir plus sur Histologe ?</h2>
				<p>
					Administrations, départements, associations, bailleurs… Histologe rassemble les acteurs de la lutte contre l'habitat indigne. 
					Si vous souhaitez en savoir plus sur notre service, n'hésitez pas à nous contacter.
				</p>
				{% form_theme form 'form/dsfr_theme.html.twig' %}
				{{ form_start(form) }}
				{{ form_errors(form) }}
				<div class="fr-grid-row fr-grid-row--gutters">
					<div class="fr-col-12 fr-col-md-4">
						{{ form_row(form.nom) }}
					</div>
					<div class="fr-col-12 fr-col-md-4">
						{{ form_row(form.email) }}
					</div>
					<div class="fr-col-12 fr-col-md-4">
						{{ form_row(form.organisme) }}
					</div>
					<div class="fr-col-12">
						{{ form_row(form.objet) }}
					</div>
					<div class="fr-col-12">
						{{ form_row(form.message) }}
					</div>
				</div>
				{{ form_end(form) }}
				<button class="fr-btn fr-fi-mail-fill fr-btn--icon-left fr-mt-3w" form="front_contact">
					Envoyer le message
				</button>
			</div>
		</section>
	</main>
{% endblock %}
