{% extends 'base.html.twig' %}

{% block title %}Détails du dossier #{{ signalement.reference }}{% endblock %}

{% block body %}

<main class="fr-container fr-pb-5w fr-pt-5w" id="content">
	<div class="fr-grid-row fr-grid-row--gutters">

		<div class="fr-col-12 fr-col-md-6">
			<h1 class="title-blue-france">Détails du dossier</h1>

			<h3 class="fr-h5 fr-mb-3v">Coordonnées</h3>
			<div class="fr-mb-1w">
				<strong>Adresse du logement</strong>
			</div>
			{{ signalement.adresseOccupant }}
			{{ signalement.cpOccupant }}
			{{ signalement.villeOccupant }}
			{% if signalement.complementAdresseOccupant %}
				<br>
				{{signalement.complementAdresseOccupant}}
			{% endif %}	

			<h2 class="title-blue-france fr-mb-1w">Déclaration</h2>
			{% if signalement.debutDesordres is not null %}
				<ul>
					<li>Les désordres ont commencé il y a : 
					{{ signalement.debutDesordres.label}}
					</li>
				{% if signalement.hasSeenDesordres is not null %}
					<li>Désordres constatés: {{ signalement.hasSeenDesordres ? 'Oui' : 'Non' }}</li>
				{% endif %}
				</ul>
			{% endif %}

			{% if infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] is defined %}
				<h3 class="fr-h5 fr-mb-3v">Désordres sur le logement</h3>
				{% set zone = 'logement' %}
				{% for situation,criteres in infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] %}
					{% include 'front/_partials/_desordre.html.twig' %}
				{% endfor %}
			{% endif %}
			{% if infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] is defined %}
				<h3 class="fr-h5 fr-mb-3v">Désordres sur le bâtiment ou les parties communes</h3>
				{% set zone = 'batiment' %}
				{% for situation,criteres in infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] %}
					{% include 'front/_partials/_desordre.html.twig' %}
				{% endfor %}
			{% endif %}

		</div>

		<div class="fr-col-12 fr-col-md-6">
			<h2 class="title-blue-france fr-mb-1w">Allez-vous réagir avant que Vikie se fâche ?</h2>
			<ul class="fr-btns-group fr-btns-group--center">
				<li>
					<a href="#" class="fr-btn fr-btn--success">
						Oui
					</a>
				</li>
				<li>
					<a href="#" class="fr-btn fr-btn--orange">
						P'têt ben qu'oui, p'têt ben qu'non
					</a>
				</li>
				<li>
					<a href="#" class="fr-btn fr-btn--danger">
						Non
					</a>
				</li>
			</ul>
		</div>
	</div>
</main>
{% endblock %}
