{% extends 'base.html.twig' %}

{% block title %}Détails du dossier #{{ signalement.reference }}{% endblock %}

{% block body %}

<main class="fr-container fr-pb-5w fr-pt-5w" id="content">
	<div class="fr-grid-row fr-grid-row--gutters">

		<div class="fr-col-12 fr-col-md-12 fr-background-alt--blue-france">
			<p>Votre locataire souhaite tenter une dernière démarche amiable avant le déclenchement des contrôles et procédures légales. </p>
			{% if signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR %}
				{% set maintenant = date() %}
				{% set interval = maintenant.diff(dateLimit) %}
				<p>Il vous reste <strong>{{ interval.days }} jours</strong> pour préciser vos intentions quant aux désordres déclarés par votre locataire. </p>
			{% endif %}
			<p>Des dispositifs d'accompagnement ou d’aides peuvent éventuellement vous être proposés, selon votre situation (voir plus bas). Au-delà de ce délai, le dossier sera automatiquement transmis aux autorités compétentes.</p>
		</div>
		<div class="fr-col-12 fr-col-md-6">
			<h1 class="title-blue-france">Détails du dossier</h1>
			<div class="signalement-card fr-mb-3w">
				<div class="fr-grid-row fr-grid-row--gutters">
					<div class="fr-col-12 fr-col-md-6">
						<div class="fr-mb-1w">
							Déclarant
							<br>
							<span class="info">
								{{signalement.civiliteOccupant(false)}} {{ signalement.nomOccupant|capitalize }} {{ signalement.prenomOccupant|capitalize }}
							</span>
						</div>
						<div class="fr-mb-1w">
							Adresse du logement
							<br>
							<span class="info">
								{{ signalement.getAddressCompleteOccupant() }}
								{% if signalement.complementAdresseOccupant %}
									<br>
									{{signalement.complementAdresseOccupant}}
								{% endif %}
							</span>
						</div>
					</div>
					<div class="fr-col-12 fr-col-md-6">
						<div class="fr-mb-1w">
							Référence du dossier
							<br>
							<span class="info">#{{ signalement.referenceInjonction }}</span>
						</div>
						
						<div class="fr-mb-1w">
							Votre réponse
							<br>
							<span class="info">
								{{suiviReponse ? suiviReponse.category.labelReponseBailleur : 'Aucune'}}
							</span>
						</div>
						
						<div class="fr-mb-1w">
							{% if suiviReponse %}
								Réponse donnée le
								<br>
								<span class="info">
									{{ suiviReponse.createdAt|date('d/m/Y') }}
								</span>
							{% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR %}
								Réponse attendue d'ici le
								<br>
								<span class="info">
									{{ dateLimit|date('d/m/Y') }}
								</span>
							{% endif %}
						</div>
					</div>
				</div>	
			</div>

			<div class="fr-mb-4w">
				<h2 class="title-blue-france fr-mb-1w">Déclaration</h2>
				{% if signalement.debutDesordres is not null %}
					<ul>
						<li>Les désordres ont commencé il y a : 
						{{ signalement.debutDesordres.label}}
						</li>
					{% if signalement.hasSeenDesordres is not null %}
						<li>Désordres constatés: {{ signalement.hasSeenDesordres ? 'Oui' : 'Non' }}</li>
					{% endif %}
					</ul>
				{% endif %}

				{% if infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] is defined %}
					<h3 class="fr-h5 fr-mb-3v">Désordres sur le logement</h3>
					{% set zone = 'logement' %}
					{% for situation,criteres in infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] %}
						{% include 'front/_partials/_desordre.html.twig' %}
					{% endfor %}
				{% endif %}
				{% if infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] is defined %}
					<h3 class="fr-h5 fr-mb-3v">Désordres sur le bâtiment ou les parties communes</h3>
					{% set zone = 'batiment' %}
					{% for situation,criteres in infoDesordres['criticitesArranged'][enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] %}
						{% include 'front/_partials/_desordre.html.twig' %}
					{% endfor %}
				{% endif %}
			</div>

			<div class="fr-mb-4w">
				<h2 class="title-blue-france fr-mb-1w">Les photos et documents du dossier</h2>
				{% set photos = signalement.files|filter(photo => photo.documentType == enum('App\\Entity\\Enum\\DocumentType').PHOTO_SITUATION and photo.isTypeImage) %}
				{% set docs = signalement.files|filter(photo => photo.documentType == enum('App\\Entity\\Enum\\DocumentType').PHOTO_SITUATION and photo.isTypeDocument and not photo.isSuspicious) %}
				{% if photos is empty and docs is empty %}
					Aucun document ou photo disponible
				{% endif %}
				{% if photos is not empty %}
					<p>Cliquez sur une photo pour l'afficher dans un nouvel onglet.</p>
					<div class="fr-grid-row fr-grid-row--middle fr-grid-row--gutters fr-mb-3v">
						{% for photo in photos %}
							<div class="fr-col-6 fr-col-md-4 fr-rounded signalement-file-item">
								<div class="fr-px-5w fr-py-8w fr-rounded fr-border fr-text--center"
									style="background: url('{{ sign_url(path('show_file', {uuid: photo.uuid, variant: 'thumb'})) }}')no-repeat center center/cover"
									>
									<a  href="{{ sign_url(path('show_file', {uuid: photo.uuid, variant: 'resize'})) }}" target="_blank" rel="noopener"
										class="fr-btn fr-btn--sm fr-icon-eye-line" 
										title="Voir la photo {{ photo.filename }} - ouvre une nouvelle fenêtre"
									></a>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
				{% if docs is not empty %}
					<p>Cliquez sur le document pour l'ouvrir dans un nouvel onglet.</p>
					<div class="fr-grid-row fr-grid-row--gutters">
					{% for doc in docs %}			
						<div class="fr-col-12 fr-background-alt--grey fr-mb-2w">
							<div class="fr-grid-row">
								<div class="fr-col-6">
									<span class="fr-badge fr-badge--blue-ecume fr-mb-1v">{{ doc.documentType.label() }}</span>
								</div>
								<div class="fr-col-6 fr-text--right">
									<small>{{ doc.createdAt is defined ? doc.createdAt|date('d/m/Y') : 'N/R' }}</small>
								</div>
								<div class="fr-col-12 fr-p-2v">
									<i><strong>{{ doc.title }}</strong></i>
								</div>
								<div class="fr-col-12">
									<a href="{{ sign_url(path('show_file', {uuid: doc.uuid})) }}"
									class="fr-btn fr-btn--sm fr-btn--icon-left fr-icon-eye-fill img-box"
									title="Afficher le document {{ doc.filename }} - ouvre une nouvelle fenêtre"
									target="_blank"
									rel="noopener">
										Afficher
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>

		<div class="fr-col-12 fr-col-md-6">
			<div class="fr-mb-4w">
				<h2 class="title-blue-france fr-mb-1w">Coordonnées</h2>
				<div class="fr-mb-1w">
					<strong>Vos Coordonnées (bailleur)</strong>
				</div>
				{{signalement.nomProprio}}
				{% if signalement.prenomProprio %}
					{{ signalement.prenomProprio }}
				{% endif %}
				{% if signalement.adresseProprio %}
					<br>
					{{ signalement.adresseProprio }}
				{% endif %}
				{% if signalement.codePostalProprio %}
					{{ signalement.codePostalProprio }}
				{% endif %}
				{% if signalement.villeProprio %}
					{{ signalement.villeProprio }}
				{% endif %}
				{% if signalement.mailProprio %}
					<br>
					{{ signalement.mailProprio }}
					{% if show_email_alert(signalement.mailProprio) %}
						<p class="fr-badge fr-badge--error">Format non valide, merci de nous le signaler.</p>
					{% endif %}
				{% endif %}
				{% if signalement.telProprio %}
					<br>
					{{ signalement.telProprioDecoded|phone }}
				{% endif %}
				{% if signalement.telProprioSecondaire %}
					<br>
					{{ signalement.telProprioSecondaireDecoded|phone }}
				{% endif %}
			</div>

			<div class="fr-mb-4w">
				<div class="fr-callout">
					<h3 class="fr-callout__title">Quelles aides pour rénover mon logement ?</h3>
					<p class="fr-callout__text">En tant que propriétaire, vous pouvez bénéficier d'aides pour rénover votre logement. Estimez vos aides grâce au simulateur France Rénov' en cliquant sur le bouton ci-dessous.</p>
					<a href="https://mesaidesreno.beta.gouv.fr/simulation" target="_blank" title="Mes Aides Réno - Ouvre une nouvelle fenêtre" class="fr-btn">Accéder au simulateur</a>
				</div>
			</div>
		</div>
	</div>
	<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
		<div class="fr-col-12 fr-col-md-8">
			<div class="fr-highlight">
				<p>Bon à savoir : 
					<ul>
						<li>Si vous acceptez de remédier aux désordres, <a href="{{ asset('build/files/Engagement_du_bailleur_a_realiser_des_travaux.docx') }}" target="_blank" rel="noopener" title="Modèle de lettre d'engagement - Ouvre une nouvelle fenêtre">vous devrez signer une lettre d’engagement à réalisation des travaux</a>. Un suivi sera opéré mensuellement avec les deux parties afin de vérifier l’avancement.</li>
						<li>En cas de nécessité vous pourrez mettre un terme à votre engagement et le dossier sera automatiquement transmis aux autorités compétentes.</li>
						<li>Les éléments constitutifs d’un logement décent sont définis par la loi et peuvent être consultés ici : <a href="{{ sites_faciles_url }}blog/habitat-indigne-quelles-procedures/" target="_blank" rel="noopener external" title="Signal Logement : procédures de l'habitat indigne - Ouvre une nouvelle fenêtre">{{ sites_faciles_url }}blog/habitat-indigne-quelles-procedures/</a></li>
						<li>Afin d’améliorer les rapports locatifs, la <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000509310/2025-01-01/" target="_blank" rel="noopener external" title="legifrance.gouv.fr - Ouvre une nouvelle fenêtre">loi n°89-462 du 6 juillet 1989 </a>dispose quelles réparations incombent au locataire d’un logement et lesquelles incombent au propriétaire. Vous pouvez consulter le guide ici : <a href="{{ sites_faciles_url }}blog/entretien-logement-qui-paye-quoi/" target="_blank" rel="noopener external" title="Signal Logement : qui paye quoi - Ouvre une nouvelle fenêtre">{{ sites_faciles_url }}blog/entretien-logement-qui-paye-quoi/</a></li>
					</ul>
				</p>
			</div>
		</div>
		<div class="fr-col-12 fr-col-md-8">
			{% if signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR %}				
				{% if suiviReponse %}
					{% if suiviReponse.category is same as enum('App\\Entity\\Enum\\SuiviCategory').INJONCTION_BAILLEUR_REPONSE_NON %}
						{# pas d'action possible #}
					{% else %}
						<h2 class="title-blue-france fr-mb-1w fr-text--center">Contrat d'engagement</h2>
						<div class="fr-consent-placeholder">
							<h4 class="fr-h6">Je m'engage à résoudre les désordres</h4>
							<p class="fr-mt-5w">{{signalement.prenomProprio}} {{signalement.nomProprio}} le {{ suiviReponse.createdAt|date('d/m/Y') }}</p>
							<p>Vous optez pour une résolution amiable avant le déclenchement des contrôles et procédures.<br>
								Par ce choix <strong>vous vous engagez à remédier dans les meilleurs délais aux désordres</strong> déclarés afin de remettre le logement loué aux normes.<br><br>
								Pour formaliser votre engagement,  <a href="{{ asset('build/files/Engagement_du_bailleur_a_realiser_des_travaux.docx') }}" target="_blank" rel="noopener" title="Modèle de lettre d'engagement - Ouvre une nouvelle fenêtre">merci de compléter le document suivant</a> et de l'envoyer à l'adresse e-mail <a href="mailto:demarche-acceleree@signal-logement.beta.gouv.fr">demarche-acceleree@signal-logement.beta.gouv.fr</a>.<br><br>
								Un suivi sera réalisé mensuellement. Nous vous invitons à mettre à jour le dossier régulièrement avec les justificatifs permettant d’attester de l’avancement des démarches engagées.
							</p>
						</div>
						{% if form is not null %}
						<h2 class="title-blue-france fr-mt-5w fr-text--center" id="form_coordonnees_bailleur_title">Coordonnées manquantes</h2>
							{{ form(form) }}
						{% endif %}
						{% if formStopProcedure is not null %}
							<h2 class="title-blue-france fr-mt-5w fr-text--center" id="form_stop_procedure_bailleur_title">Arrêter la procédure</h2>
							<div class="fr-mt-3w">
								<button type="button" id="stop-procedure-btn" class="fr-btn fr-btn--secondary">Arrêter la procédure</button>
							</div>
							<div id="stop-procedure-form-container" class="fr-hidden fr-mt-2w">
								{{ form(formStopProcedure) }}
							</div>
						{% endif %}
					{% endif %}
				{% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR %}
					<h2 class="title-blue-france fr-mb-1w" id="form_reponse_injonction_bailleur_title">Quelle réponse apportez-vous au locataire ?</h2>
					{{ form(form) }}
				{% endif %}
			{% elseif signalement.statut in [
				enum('App\\Entity\\Enum\\SignalementStatus').NEED_VALIDATION,
				enum('App\\Entity\\Enum\\SignalementStatus').ACTIVE
			] %}
				{% if suiviBasculeProcedure is not empty %}					
					<div class="fr-alert fr-alert--info">
						<p>
							Votre demande a bien été prise en compte, le dossier a été transféré aux partenaires compétents qui reviendront vers vous si besoin.
						</p>
					</div>		
				{% else %}
					<p class="fr-text--center"><strong>Le signalement est à présent en procédure administrative.</strong></p>
				{% endif %}		
			{% else %}
				<p class="fr-text--center"><strong>Le signalement est à présent clos.</strong></p>
			{% endif %}
		</div>

	</div>
</main>
{% endblock %}
