{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% if display_modal != '' %}
        {% include '_partials/_modal_closed_territory.html.twig' with { 'autoopen': '1' } %}
    {% endif %}
    <main>
        <section class="fr-background-contrast--blue-france fr-pt-3w">
            <div class="fr-container fr-grid-row">
                <div class="fr-col-12 fr-col-md-8">
                    <p class="fr-mt-5w">
                        <p class="fr-text--lead">Avec Histologe,</p>
                        <h1>Sortez du mal-logement</h1>
                        {{ form_start(form_postalcode) }}
                        <div class="fr-grid-row fr-grid-row--gutters fr-mb-5v">
                            {{ form_row(form_postalcode.postalcode) }}

                            <div class="fr-col-12 fr-col-md-6 fr-mt-3w">
                                <button 
                                    class="fr-btn fr-btn--icon-left fr-rounded fr-fi-check-line"
                                    form="front_postalcodesearch">Signaler mon problème</button>
                            </div>
                        </div>
                        {{ form_end(form_postalcode) }}
                    </p>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <img src="{{ asset('img/illustration-undraw-home.svg') }}" alt="Illustration cible">
                </div>
            </div>
        </section>

        <section class="fr-container fr-py-5w fr-py-md-10w">
            <h2 class="fr-text--center">Comment ça marche ?</h2>

            <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters comment-ca-marche">
                <div class="fr-col-12 fr-col-md-3 fr-text--center">
                    <img src="{{ asset('img/home/step-1.svg') }}" alt="Etape 1" class="img-mw-100">
                    <br>
                    <span>1. </span>
                    Vous avez constaté des problèmes dans votre logement ?
                </div>
                <div class="fr-col-12 fr-col-md-3 fr-text--center">
                    <img src="{{ asset('img/home/step-2.svg') }}" alt="Etape 2" class="img-mw-100">
                    <br>
                    <span>2. </span>
                    Signalez votre problème en quelques clics sur le service Histologe.
                </div>
                <div class="fr-col-12 fr-col-md-3 fr-text--center">
                    <img src="{{ asset('img/home/step-3.svg') }}" alt="Etape 3" class="img-mw-100">
                    <br>
                    <span>3. </span>
                    Histologe transmet votre signalement à la bonne administration.
                </div>
                <div class="fr-col-12 fr-col-md-3 fr-text--center">
                    <img src="{{ asset('img/home/step-4.svg') }}" alt="Etape 4" class="img-mw-100">
                    <br>
                    <span>4. </span>
                    Le service adapté vous accompagne dans vos démarches.
                </div>
            </div>

            <hr class="fr-mt-5w">

            <h2 class="fr-text--center">J'ai un problème de logement : que faire ?</h2>
            <p class="fr-text--center">
                Cliquez sur les questions pour afficher les réponses.
            </p>

            <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-quel-cas">
                        Dans quel cas déposer un signalement ?
                    </button>
                </h3>
                <div class="fr-collapse" id="accordion-quel-cas">
                    Histologe permet de signaler les <strong>logements non décents</strong>.
                    <br>
                    Un logement est décent s’il remplit toutes les conditions suivantes :
                    <ul>
                        <li>Il est sécurisé</li>
                        <li>Il ne met pas votre santé en danger</li>
                        <li>Il contient des équipements essentiels (eau froide et eau chaude, chauffage, coin cuisine, etc.)</li>
                        <li>Il est aéré correctement</li>
                        <li>Il n'a pas d'infiltrations d’air</li>
                        <li>Il n’a pas de parasites (cafards, punaises de lit…) ou nuisibles (rats…)</li>
                    </ul>
                    <em>
                        Si votre logement ne respecte pas un ou plusieurs critères ou si vous avez un doute,
                        déposez votre signalement sur Histologe !
                    </em>
                    <br>
                    <div class="fr-alert fr-alert--warning fr-mt-3v">
                        <p>
                            L’entretien courant du logement est de votre responsabilité.
                            Veillez à garder votre logement propre et ne pas casser ni abîmer les équipements.
                            Contactez également votre assureur pour savoir si votre problème peut être pris en charge
                            par l'assurance habitation.
                        </p>
                    </div>
                </div>
            </section>
            <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-arret-payer">
                        Mon logement est indécent : est-ce que je peux arrêter de payer mon loyer ?
                    </button>
                </h3>
                <div class="fr-collapse" id="accordion-arret-payer">
                    Non.
                    <br>
                    C’est très important ! Même si votre logement est indécent, vous n’avez pas le droit d’arrêter
                    de payer votre loyer ou une partie.
                    <br>
                    Si vous êtes allocataire, la CAF ou la MSA pourra par contre arrêter de 
                    verser l’allocation logement à votre propriétaire. De votre côté, 
                    <strong>vous devez continuer de payer votre loyer quoiqu’il arrive !</strong>
                </div>
            </section>
            <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-prevenir-proprietaire">
                        Est-ce que je dois prévenir mon propriétaire que je dépose un signalement ?
                    </button>
                </h3>
                <div class="fr-collapse" id="accordion-prevenir-proprietaire">
                    Non.
                    <br>
                    Ce n’est pas obligatoire pour déposer un signalement, mais c’est recommandé !
                    <br>
                    Il est recommandé de prévenir votre propriétaire, bailleur ou agence immobilière par écrit. 
                    Le meilleur moyen est d’envoyer une lettre recommandée. 
                    Cette lettre doit contenir une description des problèmes dans votre logement 
                    et doit informer votre propriétaire qu’il a 2 mois pour vous répondre et commencer les travaux.
                    <div class="fr-alert fr-alert--success fr-mt-3v">
                        <p>
                            Pour vous aider, vous pouvez 
                            <a href="https://faq.histologe.beta.gouv.fr/usager/probleme-logement/avertir-proprietaire" target="_blank" rel="noopener">
                                consulter un modèle de lettre en cliquant ici
                            </a>.
                        </p>
                    </div>
                </div>
            </section>
            <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-voir-signalement">
                        Qui pourra voir mon signalement ?
                    </button>
                </h3>
                <div class="fr-collapse" id="accordion-voir-signalement">
                    Les services publics en charge de votre dossier.
                    <br>
                    En déposant un signalement sur Histologe, les acteurs publics compétents pouvant
                    vous aider à trouver une solution auront accès à votre signalement. Les partenaires sont variés :
                    l’ADIL, la mairie de votre commune, la CAF, l’agence régionale de santé…
                    <br>
                    Les partenaires qui vont voir vos signalements vont dépendre des problèmes dans votre logement !
                </div>
            </section>
            <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-proprietaire-prevenu">
                        Si je dépose un signalement, est-ce que mon propriétaire sera prévenu ?
                    </button>
                </h3>
                <div class="fr-collapse" id="accordion-proprietaire-prevenu">
                    Oui.
                    <br>
                    Si votre logement est indécent, le propriétaire est obligé de faire les travaux pour régler les problèmes.
                    Il sera donc prévenu par les services compétents.
                </div>
            </section>
            <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-nouveau-logement">
                        Est-ce que Histologe va me permettre d'avoir un nouveau logement ?
                    </button>
                </h3>
                <div class="fr-collapse" id="accordion-nouveau-logement">
                    Non.
                    <br>
                    L’objectif du service Histologe et de (re)mettre votre logement aux normes.
                    Ce n’est pas un service de relogement ou de demande de logement social.
                </div>
            </section>

            <h2 class="fr-mt-5w">Un signalement, et après ?</h2>

            <p>
                Une fois réceptionné par nos services, <strong>votre signalement va être qualifié</strong>.
                Nous déterminons à quelle procédure correspond votre situation parmi quatre procédures :
                la non décence, l'infraction au RSD (règlement sanitaire départemental), l'insalubrité et
                le péril. En fonction de la procédure, différents partenaires sont impliqués et différentes
                mesures peuvent être prises.
            </p>

            <p>
                <strong>Quelle que soit la procédure, gardez les infos suivantes à l'esprit :</strong>
            </p>

            <div class="fr-grid-row fr-grid-row--gutters procedure-items">
                <div class="fr-col-12 fr-col-md-6">
                    <span class="fr-icon-success-line" aria-hidden="true"></span>
                    <p>
                        Les procédures et la réalisation des travaux peuvent durer plusieurs mois,
                        n'hésitez pas à mettre à jour votre dossier depuis la page de suivi.
                    </p>
                </div>
                <div class="fr-col-12 fr-col-md-6">
                    <span class="fr-icon-success-line" aria-hidden="true"></span>
                    <p>
                        L’entretien courant du logement est de votre responsabilité.
                        Veillez à garder votre logement propre et ne pas casser ni abîmer les équipements.
                    </p>
                </div>
                <div class="fr-col-12 fr-col-md-6">
                    <span class="fr-icon-success-line" aria-hidden="true"></span>
                    <p>
                        Certains problèmes sont pris en charge par votre assurance habitation : contactez votre assureur !
                    </p>
                </div>
                <div class="fr-col-12 fr-col-md-6">
                    <span class="fr-icon-success-line" aria-hidden="true"></span>
                    <p>
                        Dans tous les cas, vous devez payer votre loyer.
                    </p>
                </div>
            </div>
        </section>

        <section class="fr-py-5w fr-background-contrast--blue-france">
            <h2 class="fr-container fr-pb-5w">Objectif : sortir du mal-logement</h2>

            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-md-8">
                        <figure class="fr-quote">
                            <blockquote>
                                <p>
                                    Logement plein de moisissures et mes vêtements ne sentent pas bon. J'ai honte
                                    d'inviter des amis et du coup j'ai tendance à m'isoler car je n'ai pas envie d'aller
                                    crier mon problème sur les toits. Avec Histologe j'ai pu de chez moi sortir de
                                    l'ombre en quelques clics via mon téléphone portable. Je suis maintenant accompagné
                                    pour m'aider à résoudre ces problèmes.
                                </p>
                            </blockquote>
                            <figcaption>
                                <p class="fr-quote__author">Mathieu F.</p>
                            </figcaption>
                        </figure>

                        <figure class="fr-quote fr-mt-3w">
                            <blockquote>
                                <p>
                                    1 an et 11 mois que j'occupe un appartement sans chauffage malgré les promesses de
                                    mon propriétaire de résoudre ce problème. En déposant un signalement sur la
                                    plateforme Histologe et accompagnée par les bons acteurs, le propriétaire a
                                    finalement missionné un artisan pour m'installer les équipements de chauffage. Avec
                                    mon mari nous n'avons plus froid ! Merci
                                </p>
                            </blockquote>
                            <figcaption>
                                <p class="fr-quote__author">Suzanne R.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="fr-col-12 fr-col-md-4">
                        <img src="{{ asset('img/illustration-undraw-target.svg') }}" alt="Illustration cible">
                    </div>
                </div>
            </div>
        </section>
        <section class="fr-container--fluid fr-py-5w">
            <div class="fr-container">
                <header class="fr-pb-5w">
                    <h2 class="fr-text--center">Le service en quelques chiffres</h2>
                </header>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-card fr-card--no-arrow">
                            <div class="fr-card__body fr-text--center">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title fr-h1 fr-text-title--blue-france">
                                        {{ stats.total }}
                                    </h3>
                                    <p class="fr-card__desc fr-text--lg">signalements enregistrés</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-card fr-card--no-arrow">
                            <div class="fr-card__body fr-text--center">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title fr-h1 fr-text-title--blue-france">
                                        {{ stats.pris_en_compte }} %
                                    </h3>
                                    <p class="fr-card__desc fr-text--lg">des signalements pris en charge</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-card fr-card--no-arrow">
                            <div class="fr-card__body fr-text--center">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title fr-h1 fr-text-title--blue-france">
                                        {{ stats.clotures }} %
                                    </h3>
                                    <p class="fr-card__desc fr-text--lg">de signalements clôturés</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-mt-5w fr-text--center">
                    <a class="fr-btn fr-btn--icon-left fr-fi-arrow-right-line" href="{{ path('front_statistiques') }}">Voir les statistiques</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}