{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% if display_modal != '' %}
        {% include '_partials/_modal_closed_territory.html.twig' with { 'autoopen': '1' } %}
    {% endif %}
    <main>
        <section class="fr-background-contrast--blue-france fr-pt-3w">
            <div class="fr-container fr-grid-row">
                <div class="fr-col-12 fr-col-md-8">
                    <p class="fr-mt-5w">
                        <p class="fr-text--lead">Avec Histologe,</p>
                        <h1>Sortez du mal-logement</h1>
                        {{ form_start(form_postalcode) }}
                        <div class="fr-grid-row fr-grid-row--gutters fr-mb-5v">
                            {{ form_row(form_postalcode.postalcode) }}

                            <div class="fr-col-12 fr-col-md-6 fr-mt-3w">
                                <button 
                                    class="fr-btn fr-btn--icon-left fr-rounded fr-fi-check-line"
                                    form="front_postalcodesearch">Signaler mon problème</button>
                            </div>
                        </div>
                        {{ form_end(form_postalcode) }}
                    </p>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <img src="{{ asset('img/illustration-undraw-home.svg') }}" alt="Illustration cible">
                </div>
            </div>
        </section>

        <section class="fr-container--fluid fr-artwork-decorative--blue-france fr-background--blue-france fr-py-5w fr-py-md-10w">
            <div class="fr-container">
                <div class="fr-grid-row">
                    <div class="fr-col-md-12">
                        <h1 class="fr-h3 fr-text--white">Signalez votre problème de logement</h1>
                        
                        {# <a role="button" href="{{ path('front_signalement') }}"
                           class="fr-btn fr-btn--orange fr-text-label--blue-france fr-mb-5v fr-fi-arrow-right-line fr-btn--icon-right fr-rounded fr-py-5v">Je
                            signale mon ou mes problèmes de logement</a> #}

                        <!-- responsive icons -->
                        <div class="fr-hidden-md fr-py-5v">
                            <div class="fr-grid-row fr-grid-row--center">
                                <div class="fr-text--center fr-text--white">
                                    <div class="fr-grid-row fr-grid-row--center" id="homeslider">
                                        <figure class="fr-col-12 histoslider--items">
                                            <img src="{{ asset('img/icon-house-alert.svg') }}" width="150" alt="">
                                            <figcaption>
                                                Vous avez repéré un ou des problèmes dans votre logement ?
                                            </figcaption>
                                        </figure>
                                        <figure class="fr-col-12 histoslider--items fr-hidden">
                                            <img src="{{ asset('img/icon-house-touch.svg') }}" width="150" alt="">
                                            <figcaption>
                                                Saisissez votre problème en quelques clics sur le service Histologe.
                                            </figcaption>

                                        </figure>
                                        <figure class="fr-col-12 histoslider--items fr-hidden">
                                            <img src="{{ asset('img/icon-house-bar-graph.svg') }}" width="150" alt="">
                                            <figcaption>
                                                Histologe qualifie votre problème et le renvoie vers le service adapté.
                                            </figcaption>

                                        </figure>
                                        <figure class="fr-col-12 histoslider--items fr-hidden">
                                            <img src="{{ asset('img/icon-user-favorite.svg') }}" width="150" alt="">
                                            <figcaption>
                                                Votre problème est traité par le bon partenaire et vous gagnez du temps
                                                !
                                            </figcaption>

                                        </figure>
                                    </div>
                                    <div class="fr-grid-row fr-grid-row--center fr-hidden-md">
                                        <div class="fr-col-12">
                                            <figure class="fr-pagination" id="homeslider_pagination">
                                                <img src="{{ asset('img/bulle.PNG') }}" alt="bulle">
                                                <img src="{{ asset('img/bulle_v.PNG') }}" alt="bulle">
                                                <img src="{{ asset('img/bulle_v.PNG') }}" alt="bulle">
                                                <img src="{{ asset('img/bulle_v.PNG') }}" alt="bulle">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- full size icons -->
                        <div class="fr-displayed-md">
                            <div class="fr-grid-row">
                                <div class="fr-col-12">
                                    <h2 class="fr-text--white home">Comment ça marche ?</h2>
                                </div>
                            </div>
                            <div class="fr-grid-row">
                                <div class="fr-col-12 fr-text--white fr-text--center">
                                    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
                                        <figure class="fr-col fr-m-0">
                                            <img src="{{ asset('img/icon-house-alert.svg') }}" width="100" height="100"
                                                 alt="">
                                            <figcaption>
                                                Vous avez repéré un ou des problèmes dans votre logement ?
                                            </figcaption>
                                        </figure>
                                        <figure class="fr-col fr-m-0">
                                            <img src="{{ asset('img/icon-house-touch.svg') }}" width="100" height="100"
                                                 alt="">
                                            <figcaption>
                                                Saisissez votre problème en quelques clics sur le service Histologe.
                                            </figcaption>

                                        </figure>
                                        <figure class="fr-col fr-m-0">
                                            <img src="{{ asset('img/icon-house-bar-graph.svg') }}" width="100"
                                                 height="100" alt="">
                                            <figcaption>
                                                Histologe qualifie votre problème et le renvoie vers la bonne
                                                administration.
                                            </figcaption>

                                        </figure>
                                        <figure class="fr-col fr-m-0">
                                            <img src="{{ asset('img/icon-user-favorite.svg') }}" width="100"
                                                 height="100" alt="">
                                            <figcaption>
                                                Le service adapté reçoit votre signalement !
                                            </figcaption>

                                        </figure>
                                    </div>
                                    <div class="fr-grid-row fr-grid-row--center">
                                        <figure class="fr-col bar-bulle bar-bulle-right">
                                            <img src="{{ asset('img/bulle.PNG') }}" alt="bulle">
                                        </figure>
                                        <figure class="fr-col bar-bulle bar-bulle-middle">
                                            <img src="{{ asset('img/bulle.PNG') }}" alt="bulle">
                                        </figure>
                                        <figure class="fr-col bar-bulle bar-bulle-middle">
                                            <img src="{{ asset('img/bulle.PNG') }}" alt="bulle">
                                        </figure>
                                        <figure class="fr-col bar-bulle bar-bulle-left">
                                            <img src="{{ asset('img/bulle.PNG') }}" alt="bulle">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="fr-container--fluid fr-py-5v fr-background-alt--blue-france">
            <div class="fr-container fr-py-5w">
                <header class="fr-grid-row">
                    <h3 class="fr-col-12 fr-text-label--blue-france fr-text--center">Les types de problèmes pris en
                        charge</h3>
                    <p class="fr-hint-text fr-text--center fr-w-100"><strong>Cliquez sur les cartes ci-dessous</strong>
                        pour afficher des exemples</p>
                </header>
                <div class="fr-grid-row fr-grid-row--gutters fr-mt-5v">
                    <div class="fr-col-12 fr-col-md-4" role="button">
                        <div class="fr-rounded fr-background--white fr-border--bottom--orange fr-p-3v"
                             aria-controls="problemes-securite" aria-expanded="false">
                            <figure class="fr-m-0 fr-grid-row fr-grid-row--middle fr-grid-row--gutters  fr-text--center">
                                <img src="{{ asset('img/la-house-damage.svg') }}" alt="La sécurité des occupants"
                                     width="50%" class="fr-col-3">
                                <text class="fr-col-9 fr-text--bold fr-h6 fr-mb-0">Sécurité des occupants</text>
                            </figure>
                            <div class="fr-col-12 fr-collapse fr-pl-3v" id="problemes-securite">
                                Par exemple
                                <ul>
                                    <li>Les planchers sont dangereux</li>
                                    <li>L'installation du réseau de gaz a un problème</li>
                                    <li>Le bâtiment n'est pas sécurisé contre les chutes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4" role="button">
                        <div class="fr-rounded fr-background--white fr-border--bottom--orange fr-p-3v"
                             aria-controls="problemes-proprete" aria-expanded="false">
                            <figure class="fr-m-0 fr-grid-row fr-grid-row--middle fr-grid-row--gutters  fr-text--center">
                                <img src="{{ asset('img/la-tint.svg') }}" alt="La propreté du logement" width="50%"
                                     class="fr-col-3">
                                <text class="fr-col-9 fr-text--bold fr-h6 fr-mb-0">Propreté du logement</text>
                            </figure>
                            <div class="fr-col-12 fr-collapse fr-pl-3v" id="problemes-proprete">
                                Par exemple
                                <ul>
                                    <li>Il y a des traces importantes de moisissures</li>
                                    <li>De l'eau s'infiltre dans mon logement</li>
                                    <li>Il y a des nuisibles dans mon appartement (blattes, punaises de lit,
                                        rongeurs...)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4" role="button">
                        <div class="fr-rounded fr-background--white fr-border--bottom--orange fr-p-3v"
                             aria-controls="problemes-confort" aria-expanded="false">
                            <figure class="fr-m-0 fr-grid-row fr-grid-row--middle fr-grid-row--gutters  fr-text--center">
                                <img src="{{ asset('img/la-temperature-low.svg') }}" alt="La propreté du logement"
                                     width="50%" class="fr-col-3">
                                <text class="fr-col-9 fr-text--bold fr-h6 fr-mb-0">Confort du logement</text>
                            </figure>
                            <div class="fr-col-12 fr-collapse fr-pl-3v" id="problemes-confort">
                                Par exemple
                                <ul>
                                    <li>Mon logement est mal isolé</li>
                                    <li>Le chauffage ne fonctionne pas bien</li>
                                    <li>Les installations électriques ne sont pas en bon état</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4" role="button">
                        <div class="fr-rounded fr-background--white fr-border--bottom--orange fr-p-3v"
                             aria-controls="problemes-batiment" aria-expanded="false">
                            <figure class="fr-m-0 fr-grid-row fr-grid-row--middle fr-grid-row--gutters  fr-text--center">
                                <img src="{{ asset('img/la-building.svg') }}" alt="La propreté du logement" width="50%"
                                     class="fr-col-3">
                                <text class="fr-col-9 fr-text--bold fr-h6 fr-mb-0">Etat du bâtiment</text>
                            </figure>
                            <div class="fr-col-12 fr-collapse fr-pl-3v" id="problemes-batiment">
                                Par exemple
                                <ul>
                                    <li>Les escaliers du bâtiment sont abîmés</li>
                                    <li>La toiture n'est pas en bon état</li>
                                    <li>Les façades du bâtiment ne sont pas en bon état</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4" role="button">
                        <div class="fr-rounded fr-background--white fr-border--bottom--orange fr-p-3v"
                             aria-controls="problemes-espace" aria-expanded="false">
                            <figure class="fr-m-0 fr-grid-row fr-grid-row--middle fr-grid-row--gutters  fr-text--center">
                                <img src="{{ asset('img/la-sun.svg') }}" alt="La propreté du logement" width="50%"
                                     class="fr-col-3">
                                <text class="fr-col-9 fr-text--bold fr-h6 fr-mb-0">Espaces de vie</text>
                            </figure>
                            <div class="fr-col-12 fr-collapse fr-pl-3v" id="problemes-espace">
                                Par exemple
                                <ul>
                                    <li>Mon logement est en sous-sol</li>
                                    <li>Il n'y a pas de fenêtre dans mon salon ou ma salle à manger</li>
                                    <li>Les plafonds sont trop bas (moins de 2,20m)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4" role="button">
                        <div class="fr-rounded fr-background--white fr-border--bottom--orange fr-p-3v"
                             aria-controls="problemes-vie" aria-expanded="false">
                            <figure class="fr-m-0 fr-grid-row fr-grid-row--middle fr-grid-row--gutters  fr-text--center">
                                <img src="{{ asset('img/la-users.svg') }}" alt="La propreté du logement" width="50%"
                                     class="fr-col-3">
                                <text class="fr-col-9 fr-text--bold fr-h6 fr-mb-0">Vie commune</text>
                            </figure>
                            <div class="fr-col-12 fr-collapse fr-pl-3v" id="problemes-vie">
                                Par exemple
                                <ul>
                                    <li>Le bruit extérieur est gênant</li>
                                    <li>L'usage des lieux n'est pas respecté</li>
                                    <li>Les déchets sont mal stockés</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="fr-py-5w fr-background-contrast--blue-france">
            <h2 class="fr-container fr-pb-5w">Objectif : sortir du mal-logement</h2>

            <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-8">
                    <figure class="fr-quote">
                        <blockquote>
                            <p>
                                Logement plein de moisissures et mes vêtements ne sentent pas bon. J'ai honte
                                d'inviter des amis et du coup j'ai tendance à m'isoler car je n'ai pas envie d'aller
                                crier mon problème sur les toits. Avec Histologe j'ai pu de chez moi sortir de
                                l'ombre en quelques clics via mon téléphone portable. Je suis maintenant accompagné
                                pour m'aider à résoudre ces problèmes.
                            </p>
                        </blockquote>
                        <figcaption>
                            <p class="fr-quote__author">Mathieu F.</p>
                        </figcaption>
                    </figure>

                    <figure class="fr-quote fr-mt-3w">
                        <blockquote>
                            <p>
                                1 an et 11 mois que j'occupe un appartement sans chauffage malgré les promesses de
                                mon propriétaire de résoudre ce problème. En déposant un signalement sur la
                                plateforme Histologe et accompagnée par les bons acteurs, le propriétaire a
                                finalement missionné un artisan pour m'installer les équipements de chauffage. Avec
                                mon mari nous n'avons plus froid ! Merci
                            </p>
                        </blockquote>
                        <figcaption>
                            <p class="fr-quote__author">Suzanne R.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="fr-col-12 fr-col-md-4">
                    <img src="{{ asset('img/illustration-undraw-target.svg') }}" alt="Illustration cible">
                </div>
            </div>
        </section>
        <section class="fr-container--fluid fr-py-5w">
            <div class="fr-container">
                <header class="fr-pb-5w">
                    <h2 class="fr-text--center">Le service en quelques chiffres</h2>
                </header>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-card fr-card--no-arrow">
                            <div class="fr-card__body fr-text--center">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title fr-h1 fr-text-title--blue-france">
                                        {{ stats.total }}
                                    </h3>
                                    <p class="fr-card__desc fr-text--lg">signalements enregistrés</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-card fr-card--no-arrow">
                            <div class="fr-card__body fr-text--center">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title fr-h1 fr-text-title--blue-france">
                                        {{ stats.pris_en_compte }} %
                                    </h3>
                                    <p class="fr-card__desc fr-text--lg">des signalements pris en charge</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-4">
                        <div class="fr-card fr-card--no-arrow">
                            <div class="fr-card__body fr-text--center">
                                <div class="fr-card__content">
                                    <h3 class="fr-card__title fr-h1 fr-text-title--blue-france">
                                        {{ stats.clotures }} %
                                    </h3>
                                    <p class="fr-card__desc fr-text--lg">de signalements clôturés</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-mt-5w fr-text--center">
                    <a class="fr-btn fr-btn--icon-left fr-fi-arrow-right-line" href="{{ path('front_statistiques') }}">Voir les statistiques</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}