{% extends 'base.html.twig' %}

{% block title %}Déposez votre signalement{% endblock %}

{% block customscripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
  <div class="fr-my-5v">
    <div id="app-signalement-form"
         data-ajaxurl="{{ path('front_nouveau_formulaire') }}"
         data-ajaxurl-dictionary="{{ path('api_dictionary') }}"
         data-ajaxurl-questions="{{ path('api_question_profile') }}?profil="
         data-ajaxurl-desordres="{{ path('api_desordres_profile') }}?profil="
         data-ajaxurl-post-signalement-draft="{{ path('envoi_nouveau_signalement_draft') }}"
         data-ajaxurl-put-signalement-draft="{{ path('mise_a_jour_nouveau_signalement_draft', {uuid: 'uuid'}) }}"
        data-ajaxurl-handle-upload="{{ path('handle_upload') }}"
         {% if uuid_signalement is not null %}
           data-ajaxurl-get-signalement-draft="{{ path('informations_signalement_draft', {uuid: uuid_signalement}) }}"
         {% endif %}
         data-platform-name="{{ platform.name }}"
        ></div>
  </div>
{% endblock %}
