{% extends 'base.html.twig' %}

{% block title %}Déposez votre signalement{% endblock %}

{% block customscripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app-signalement-form" 
        data-ajaxurl="{{ path('front_nouveau_formulaire') }}"            
        data-ajaxurl-questions="{{ path('api_question_profile') }}?profil="
        data-ajaxurl-post-signalement-draft="{{ path('envoi_nouveau_signalement_draft') }}"
        data-ajaxurl-put-signalement-draft="{{ path('mise_a_jour_nouveau_signalement_draft', {uuid: 'uuid'}) }}"></div>
{% endblock %}
