{% extends 'base.html.twig' %}

{% block title %}Inviter un tiers sur le dossier #{{ signalement.reference }}{% endblock %}

{% block body %}

<main class="fr-container fr-pb-5w" id="content">
	<nav role="navigation" class="fr-breadcrumb fr-mb-1w fr-mt-2w" aria-label="Voir le fil d'Ariane">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
		<div class="fr-collapse" id="breadcrumb-1">
			<ol class="fr-breadcrumb__list">
				<li><a class="fr-breadcrumb__link" href="{{ path('front_suivi_signalement', {code: signalement.codeSuivi}) }}">Votre dossier #{{ signalement.reference }}</a></li>
				<li><a class="fr-breadcrumb__link" aria-current="page">Inviter un tiers</a></li>
			</ol>
		</div>
	</nav>
	<div class="fr-mt-3w fr-mx-1v">
		<h1 class="title-blue-france">Inviter un tiers</h1>
		<div class="fr-mb-3w">
			Saisissez les coordonnées de la personne que vous souhaitez inviter à suivre l'avancement de votre dossier.<br>
			Tous les champs sont obligatoires.
		</div>
		{{ form_start(form, {'attr': {'id': 'form-usager-coordonnees-tiers'}}) }}
		{{ form_errors(form) }}				
		<fieldset class="fr-fieldset">
			<legend class="fr-fieldset__legend">
				<h3 class="fr-h5">Coordonnées du tiers</h3>
			</legend>
			<div class="fr-fieldset__element">
				{{ form_row(form.nomDeclarant) }}
			</div>
			<div class="fr-fieldset__element">
				{{ form_row(form.prenomDeclarant) }}
			</div>
			<div class="fr-fieldset__element">
				{{ form_row(form.mailDeclarant) }}
			</div>
			<div class="fr-fieldset__element">
				{{ form_row(form.telDeclarant) }}
			</div>
		</fieldset>
		{{ form_end(form) }}
	</div>
</main>
{% endblock %}
