{% extends 'base.html.twig' %}

{% block title %}Suivre mon signalement #{{ signalement.reference }}
{% endblock %}

{% block body %}

{% if (is_granted('SIGN_USAGER_EDIT', signalement)) %}
	{% include '_partials/_modal_upload_files_usager.html.twig' with {'criteres': infoDesordres['criteres']} %}
{% endif %}

	<main class="fr-container">
		<header>
			<div class="fr-grid-row fr-grid fr-mt-2v">
				<div class="fr-col-12 fr-col-lg-6">
					<h1 class="fr-h2 fr-mb-2v">
						Signalement #{{ signalement.reference }}
						<br>
						{{signalement.prenomOccupant|capitalize}}
						{{signalement.nomOccupant|capitalize}}
					</h1>
				</div>
				<div class="fr-col-12 fr-col-lg-6 text-align-right--lg">
					<div>Déposé le :
						{{ signalement.createdAt|date('d/m/Y') }}</div>
					{% if signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_NEED_VALIDATION') %}
						<span class="fr-badge fr-badge--no-icon fr-badge--info">Nouveau</span>
					{% elseif signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_ACTIVE')
                            or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_NEED_PARTNER_RESPONSE') %}
						<span class="fr-badge fr-badge--no-icon fr-badge--success">En cours</span>
					{% elseif signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_CLOSED')
                            or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_ARCHIVED')
                            or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_REFUSED') %}
						<span class="fr-badge fr-badge--no-icon fr-badge--error">Fermé</span>
					{% endif %}
				</div>
				<div class="fr-col-12 fr-mt-2v">
					<div class="fr-notice fr-notice--info">
						<div class="fr-container">
							<div class="fr-notice__body">
								<p>
									Consultez vos échanges avec l'administration dans l'onglet
									<strong>"Suivi du dossier"</strong>
									et retrouvez les détails de votre signalement dans l'onglet
									<strong>"Mes infos"</strong>.
								</p>
								<button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)">
									Masquer le message
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="fr-tabs fr-mt-4v fr-mb-4v">
			<ul class="fr-tabs__list" role="tablist" aria-label="Suivi du dossier / mes infos">
				<li role="presentation">
					<button id="tabpanel-suivi-dossier" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-suivi-dossier-panel">Suivi du dossier</button>
				</li>
				<li role="presentation">
					<button id="tabpanel-mes-infos" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-mes-infos-panel">Mes infos</button>
				</li>
			</ul>
			<div id="tabpanel-suivi-dossier-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-suivi-dossier" tabindex="0">
				<h2 class="fr-h3 fr-mb-2v">Suivi du dossier</h2>
				<div>
					Votre signalement a bien été enregistré le
					{{ signalement.createdAt|date('d/m/Y') }}.
				</div>
				<div class="fr-mt-4v">
					{% for suivi in signalement.suivis %}
						<div class="message-box {% if suivi.createdBy and suivi.createdBy.partner %}message-box--partner{% else %}message-box--usager{% endif %}">
							<div>
								<strong>
									{{ suivi.createdBy ? (suivi.createdBy.partner ? suivi.createdBy.partner.nom : (suivi.createdBy.email ? (suivi.createdBy.email is same as signalement.mailOccupant ? 'OCCUPANT' : 'DECLARANT') : 'Aucun')): (suivi.createdAt|date('Y') >= 2024) ? 'Occupant ou déclarant' : 'Vous' }}
									-
									{{ suivi.createdAt|date('d/m/Y') }}
								</strong>
							</div>
							<div class="message-box-message">
								{{ suivi.description|replace({'___TOKEN___':csrf_token('suivi_signalement_ext_file_view')})|raw }}
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="fr-mt-6v">
					{% if signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_REFUSED') %}
						<div role="alert" class="fr-alert fr-alert--error fr-alert--sm">
							<p>Votre signalement a été refusé, vous ne pouvez plus envoyer de messages.</p>
						</div>
					{% elseif signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_CLOSED') %}
						<div role="alert" class="fr-alert fr-alert--error fr-alert--sm">
							<p>Votre signalement a été clôturé, vous ne pouvez plus envoyer de messages.</p>
						</div>
					{% else %}
						<form action="{{ path('front_suivi_signalement_user_response',{code:signalement.codeSuivi}) }}" class="needs-validation fr-disable-button-when-submit" novalidate method="POST">
							<div class="fr-input-group">
								<label for="signalement_front_response_content" class="fr-h4">Envoyer un message</label>
								<p class="fr-hint-text fr-mb-2v">Dix (10) caractères minimum</p>
								<input type="hidden" name="signalement_front_response[email]" value="{{ email }}" id="suivi_from_email">
								<input type="hidden" name="signalement_front_response[type]" value="{{ type }}">
								<textarea name="signalement_front_response[content]" id="signalement_front_response_content" rows="10" class="fr-input" required minlength="10"></textarea>
								<p class="fr-error-text fr-hidden">Veuillez composer un message d'au moins 10 caractères.</p>
							</div>
							<div id="uploaded-files-list" class="fr-mt-n2v fr-mb-2v"></div>
							<ul class="fr-btns-group fr-btns-group--icon-left">
								<li>
									<button 
									class="fr-btn fr-btn--secondary fr-icon-add-line open-modal-upload-files-btn" 
									type="button" 
									data-fr-opened="false" 
									aria-controls="fr-modal-upload-files-usager"
									data-file-type="photo"
									>
										Ajouter des photos
									</button>
								</li>
								<li>
									<button 
									class="fr-btn fr-btn--secondary fr-icon-add-line open-modal-upload-files-btn" 
									type="button" 
									data-fr-opened="false" 
									aria-controls="fr-modal-upload-files-usager"
									data-file-type="document"
									>
										Ajouter des documents
									</button>
								</li>
								<li>
									<button class="fr-btn fr-icon-check-line" type="submit" id="form_finish_submit">
										Envoyer le message
									</button>
								</li>
							</ul>
							<input type="hidden" name="_token" value="{{ csrf_token('signalement_front_response_'~signalement.uuid) }}">
						</form>
					{% endif %}
				</div>
			</div>
			<div id="tabpanel-mes-infos-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-mes-infos" tabindex="0">
				<h2 class="fr-h3 fr-mb-2v">Mes infos</h2>
				<h4 class="fr-mb-2v">Adresse du logement</h4>
				<div class="fr-mb-4v">
					{{ signalement.adresseOccupant }} {{ signalement.cpOccupant }} {{ signalement.villeOccupant }}
					{% if signalement.complementAdresseOccupant %}
                        <br>
                        {{signalement.complementAdresseOccupant}}
                    {% endif %}
				</div>
				<h4 class="fr-mb-2v">Les coordonnées de l'occupant</h4>
				<div class="fr-mb-4v">
					{{signalement.civiliteOccupant(false)}} {{ signalement.nomOccupant|capitalize }} {{ signalement.prenomOccupant|capitalize }} 
					{% if signalement.mailOccupant %}
						<br>
						{{ signalement.mailOccupant }}
					{% endif %}
					{% if signalement.telOccupant %}
						<br>
						{{ signalement.telOccupant }}
					{% endif %}
					{% if signalement.telOccupantBis %}
						<br>
						{{ signalement.telOccupantBis }}
					{% endif %}
				</div>
				<h4 class="fr-mb-2v">Les coordonnées du bailleur</h4>
				<div class="fr-mb-4v">
					{{signalement.nomProprio}}
					{% if signalement.prenomProprio %}
						{{ signalement.prenomProprio }}
					{% endif %}
					{% if signalement.adresseProprio %}
						<br>
						{{ signalement.adresseProprio }}
					{% endif %}
					{% if signalement.codePostalProprio %}
						{{ signalement.codePostalProprio }}
					{% endif %}
					{% if signalement.villeProprio %}
						{{ signalement.villeProprio }}
					{% endif %}
					{% if signalement.mailProprio %}
						<br>
						{{ signalement.mailProprio }}
					{% endif %}
					{% if signalement.telProprio %}
						<br>
						{{ signalement.telProprio }}
					{% endif %}
					{% if signalement.telProprioSecondaire %}
						<br>
						{{ signalement.telProprioSecondaire }}
					{% endif %}
				</div>
				{% if 
					signalement.isProprioAverti is not same as true 
					and signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR_OCCUPANT
					and signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR
				 %}
					<h4 class="fr-mb-2v">Prévenez votre bailleur (propriétaire) !</h4>
					<div class="fr-mb-4v">
						Il est recommandé d'informer le bailleur du logement des problèmes rencontrés dans le logement. 
						<br>
						Nous vous mettons à disposition un modèle de courrier à remplir et envoyer à votre bailleur. 
						Cliquez sur le bouton ci-dessous pour le télécharger.
						<br>
						<a class="fr-btn fr-btn--icon-left open-modal-upload-files-btn fr-icon-arrow-down-line fr-mt-2v" download 
						href="{{ asset('build/files/Lettre-information-proprietaire-bailleur_A-COMPLETER.pdf') }}">
							Télécharger le courrier
						</a>
					</div>
				{% endif %}
				<h4 class="fr-mb-2v">Type et composition du logement</h4>
				<section class="fr-accordion fr-mb-4v">
				<h3 class="fr-accordion__title">
					<button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-type-composition">Afficher les informations</button>
				</h3>
				<div class="fr-collapse" id="accordion-type-composition">
					Nature du logement  : {{ signalement.natureLogement|capitalize }}
					{% if signalement.typeCompositionLogement %}
						{% if signalement.typeCompositionLogement.typeLogementNatureAutrePrecision %}
							({{signalement.typeCompositionLogement.typeLogementNatureAutrePrecision}})
						{% endif %}
						{% if signalement.typeCompositionLogement.typeLogementRdc == 'oui' %}, RDC{% endif %}
						{% if signalement.typeCompositionLogement.typeLogementDernierEtage == 'oui' %}, Dernier étage{% endif %}
						{% if signalement.typeCompositionLogement.typeLogementSousCombleSansFenetre == 'oui' %}, Combles sans fenêtres{% endif %} 
					{% endif %} 
					<br>
					Superficie en m² : {{ signalement.superficie }} m²
					<br>
					{% if signalement.typeCompositionLogement %}
						La hauteur jusqu'au plafond est de 2m (200cm) ou plus ?
                        {{ signalement.typeCompositionLogement.compositionLogementHauteur(false)|capitalize }}
						<br>
						Une seule ou plusieurs pièces ?
                        {{ signalement.typeCompositionLogement.compositionLogementPieceUnique(false) }}
						<br>
                        Nombre de pièces à vivre : {{ signalement.typeCompositionLogement.compositionLogementNbPieces }}
						<br>
						Est-ce qu'au moins une des pièces à vivre (salon, chambre) fait 9m² ou plus ?
						{{ signalement.typeCompositionLogement.typeLogementCommoditesPieceAVivre9m(false)|capitalize }}
						<br>
						Cuisine ou coin cuisine ?
						{{ signalement.typeCompositionLogement.typeLogementCommoditesCuisine|capitalize }}
						<br>
						{% if signalement.typeCompositionLogement.typeLogementCommoditesCuisine == 'non' %}
							Accès à une cuisine collective ?
							{{ signalement.typeCompositionLogement.typeLogementCommoditesCuisineCollective|capitalize }}
							<br>
						{% endif %}
						Salle de bain, salle d'eau avec douche ou baignoire ?
						{{ signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain|capitalize }}
						<br>
						{% if signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain == 'non' %}
							Accès à une salle de bain ou des douches collectives ?
							{{ signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBainCollective|capitalize }}
							<br>
						{% endif %}
						Toilettes (WC) ?
						{{ signalement.typeCompositionLogement.typeLogementCommoditesWc|capitalize }}
						<br>
						{% if signalement.typeCompositionLogement.typeLogementCommoditesWc == 'non' %}
							Accès à des toilettes (WC) collectives ?
							{{ signalement.typeCompositionLogement.typeLogementCommoditesWcCollective|capitalize }}
							<br>
						{% endif %}
						{% if signalement.typeCompositionLogement.typeLogementCommoditesWcCuisine == 'oui' %}
							Toilettes (WC) et cuisine dans la même pièce
							<br>
						{% endif %}
                    {% endif %}
					Nombre de personnes : {{ signalement.nbOccupantsLogement }}
					<br>
					{% if signalement.typeCompositionLogement %}
						Enfants de moins de 6 ans ? 
                        {{signalement.typeCompositionLogement.compositionLogementEnfants|capitalize}}
						<br>
					{% endif %}
				</div>
				</section>

				<h4 class="fr-mb-2v">Situation du foyer</h4>
				<section class="fr-accordion fr-mb-4v">
				<h3 class="fr-accordion__title">
					<button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-situation-foyer">Afficher les informations</button>
				</h3>
				<div class="fr-collapse" id="accordion-situation-foyer">
					{% if signalement.isLogementSocial %}
						Logement social : Oui
						<br>
					{% endif %}
					{% if signalement.isRelogement is same as true %}
						Demande de relogement : Oui
						<br>
                    {% endif %}
                    {% if signalement.isAllocataire in [null, ''] %}
                    {% elseif signalement.isAllocataire in ['oui', '1'] %}
                        Allocataire : Oui
						<br>
                    {% elseif signalement.isAllocataire in ['non', '0'] %}
                        Allocataire : Non
						<br>
                    {% elseif signalement.isAllocataire %}
                       Allocataire : {{ signalement.isAllocataire }}
					   <br>
                    {% endif %}
                    {% if (signalement.dateNaissanceOccupant) %}
                        Date de naissance : {{ signalement.dateNaissanceOccupant.format('d/m/Y') }}
						<br>
                    {% elseif signalement.naissanceOccupants %}
                        Date de naissance : {{ signalement.naissanceOccupants}}
						<br>
                    {% endif %}
					{% if signalement.numAllocataire %}
						N° allocataire : {{ signalement.numAllocataire }}
						<br>
					{% endif %}
					{% if signalement.situationFoyer %}
						{% if signalement.situationFoyer.logementSocialMontantAllocation %}
					 		Montant allocation : {{ signalement.situationFoyer.logementSocialMontantAllocation }} €
							<br>
                    	{% endif %}
						Souhaite quitter le logement : 
                        {{signalement.situationFoyer.travailleurSocialQuitteLogement(false)|capitalize}}
						<br>
						Accompagnement par un ou une travailleuse sociale : 
						{{signalement.situationFoyer.travailleurSocialAccompagnement(false)|capitalize}}
						<br>
                    {% endif %}
					{% if signalement.informationComplementaire %}
						{% if signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireRsa %}
	                    	Bénéficiaire RSA :
							{{signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireRsa|capitalize}}
							<br>
						{% endif %}
						{% if signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireFsl %}
							Bénéficiaire FSL :
							{{signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireFsl|capitalize}}
							<br>
						{% endif %}
						{% if signalement.informationComplementaire.informationsComplementairesSituationOccupantsRevenuFiscal %}
							Revenu fiscal de référence :
							{{signalement.informationComplementaire.informationsComplementairesSituationOccupantsRevenuFiscal}} €
							<br>
						{% endif %}
					{% endif %}
				</div>


				<div>
					<h2 class="fr-mb-0">Photo(s) liée(s) à votre signalement</h2>
					<p class="fr-hint-text">Ci-dessous, les photos ajoutées lors du dépôt de votre signalement ainsi que celles
																								                ajoutées par le(s) partenaire(s) en charge de votre dossier.</p>
					{% for photo in signalement.files|filter(photo => photo.fileType == 'photo') %}
						<div class="fr-grid-row fr-grid-row--middle fr-stripped fr-rounded fr-p-5v">
							<div class="fr-col-10">
								Photos N°{{ loop.index }}
							</div>
							<div class="fr-col-2 fr-text--right">
								<a href="{{ asset('_up/'~photo.filename~'?variant=resize') }}&t={{ csrf_token('suivi_signalement_ext_file_view') }}" class="fr-btn fr-fi-eye-fill fr-btn--icon-left" title="Afficher la photo" target="_blank" rel="noopener">Afficher</a>
							</div>
						</div>
					{% else %}
						<div class="fr-grid-row fr-grid-row--middle fr-background-contrast--red-marianne fr-rounded fr-p-5v">
							<div class="fr-col-12">
								Aucune photo à afficher, si vous avez ajouté des photos dans votre signalement, rafraîchissez la page pour les voir apparaître.
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		{# TODO : NE PAS OUBLIER DE GARDER LA FEATURE !!!!!
								{% if suiviAuto is defined and suiviAuto is not empty %}
									<div class="fr-grid-row fr-grid-row--middle fr-rounded fr-p-5v">
										<div class="fr-col-12">
											<div class="fr-grid-row">
												<div class="fr-col-12">
													{% if suiviAuto is same as constant('App\\Entity\\Suivi::ARRET_PROCEDURE')  %}
														Vous souhaitez arrêter la procédure ?<br>
													{% endif %}
													{% if suiviAuto is same as constant('App\\Entity\\Suivi::POURSUIVRE_PROCEDURE')  %}
														Vous souhaitez poursuivre la procédure ?<br>
													{% endif %}
													Nous allons informer les services de votre réponse.
													<br>
													Attention votre choix pourra avoir un impact sur la poursuite de votre dossier.
													<br>
												</div>
											</div>
											<div class="fr-grid-row fr-p-5v">
												<div class="fr-col-6 fr-text--center">
													<a class="fr-btn fr-btn--secondary fr-fi-arrow-left-line fr-btn--icon-left" href="{{ path('front_suivi_signalement',{code:signalement.codeSuivi, from:email}) }}">Annuler</a>
												</div>
												<div class="fr-col-6 fr-text--center">
													<a class="fr-btn fr-icon-checkbox-circle-fill fr-btn--icon-right" href="{{ path('front_suivi_procedure',{code:signalement.codeSuivi, from:email, suiviAuto:suiviAuto}) }}&_token={{csrf_token('suivi_procedure')}}">Confirmer</a>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
						        #}
	</main>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
