{% extends 'base.html.twig' %}

{% block title %}Votre dossier #{{ signalement.reference }}{% endblock %}

{% block body %}

<main class="fr-container fr-pb-5w" id="content">
	<nav role="navigation" class="fr-breadcrumb fr-mb-1w fr-mt-2w" aria-label="Voir le fil d'Ariane">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
		<div class="fr-collapse" id="breadcrumb-1">
			<ol class="fr-breadcrumb__list">
				<li><a class="fr-breadcrumb__link" aria-current="page">Votre dossier #{{ signalement.reference }}</a></li>
			</ol>
		</div>
	</nav>

	<div class="fr-grid-row fr-grid-row--gutters">
		<div class="fr-col-12 fr-col-md-6">
			<h1 class="title-blue-france">Votre dossier</h1>
			{% include 'front/_partials/_suivi_signalement_card.html.twig' with {link: false} %}

			<h2 class="title-blue-france">Accès rapide</h2>

			<div class="fr-tile fr-tile--sm fr-tile--horizontal fr-enlarge-link fr-mb-3w tile-last-suivi">
				<div class="fr-tile__body">
					<div class="fr-tile__content">
						{% if signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').REFUSED %}
							<p class="fr-tile__detail">Votre signalement a été refusé, vous ne pouvez plus envoyer de messages.</p>            
							<div class="fr-tile__start">
								<p class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--error">Signalement refusé</p>           
							</div>  
						{% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').CLOSED and signalement.hasSuiviUsagerPostCloture %}
							<p class="fr-tile__detail">Votre message suite à la clôture de votre dossier a bien été envoyé. Vous ne pouvez désormais plus envoyer de messages.</p>            
							<div class="fr-tile__start">
								<p class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--error">Signalement fermé</p>           
							</div> 
						{% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').CLOSED and date(signalement.closedAt) < date('-30days') %}
							<p class="fr-tile__detail">Votre dossier a été fermé il y a plus de 30 jours, vous ne pouvez plus envoyer de messages.</p>            
							<div class="fr-tile__start">
								<p class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--error">Signalement fermé</p>           
							</div> 
						{% elseif signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').ARCHIVED %}
							<p class="fr-tile__detail">Votre signalement a été archivé, vous ne pouvez plus envoyer de messages.</p>            
							<div class="fr-tile__start">
								<p class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--error">Signalement fermé</p>           
							</div>
						{% else %}
							{% if suiviCategory %}
								<h3 class="fr-tile__title">
									<a href="{{ path('front_suivi_signalement_messages', {'code': signalement.codeSuivi}) }}{% if suiviCategory.suivi.id %}#suivi_{{suiviCategory.suivi.id}}{% endif %}">
										{{suiviCategory.title}}
									</a>
								</h3>            
								<p class="fr-tile__detail">{{suiviCategory.suivi.createdAt|date('d/m/Y')}}</p>
								<div class="fr-tile__start">
									<p class="fr-badge fr-badge--sm fr-badge--no-icon {{suiviCategory.labelClass}}">{{suiviCategory.label}}</p>           
								</div>
							{% else %}
							  	<p class="fr-tile__detail">Votre signalement est en cours de validation.</p>            
								<div class="fr-tile__start">
									<p class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--info">Validation en cours</p>           
								</div>
							{% endif %}  
						{% endif %}     
					</div>    
				</div>    
				{% if suiviCategory %}
					<div class="fr-tile__header">        
						<div class="fr-tile__pictogram">
        					<img src="{{ asset('img/picto-dsfr/' ~ suiviCategory.icon) }}" aria-hidden="true" class="fr-artwork">
						</div>
					</div>
				{% endif %}
			</div>

			<ul class="fr-btns-group fr-btns-group--center fr-btns-group--icon-left">
				<li>
					<a href="{{ path('front_suivi_signalement_messages', {'code': signalement.codeSuivi}) }}" class="fr-btn fr-icon-mail-line">
						Accéder à la messagerie
					</a>
				</li>
				<li>
					<a href="{{ path('front_suivi_signalement_dossier', {'code': signalement.codeSuivi}) }}" class="fr-btn fr-icon-edit-box-line">
						Voir le dossier
					</a>
				</li>
				<li>
					<a href="{{ path('front_suivi_signalement_documents', {'code': signalement.codeSuivi}) }}" class="fr-btn fr-icon-attachment-line">
						Gérer les documents / photos
					</a>
				</li>
				<li>
					<a href="{{ path('front_suivi_signalement_procedure', {'code': signalement.codeSuivi}) }}" class="fr-btn fr-icon-close-circle-line fr-btn--secondary">
						Arrêter la procédure
					</a>
				</li>
			</ul>


		</div>
		<div class="fr-col-12 fr-col-md-6">

			{% if 
				(
				signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').NEED_VALIDATION 
				or signalement.statut is same as enum('App\\Entity\\Enum\\SignalementStatus').ACTIVE
				) 
			and 
				(
				signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR 
				and signalement.profileDeclarant is not same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR_OCCUPANT
				)  
			%}
				<div class="fr-callout fr-icon-information-line">
					<h2 class="fr-callout__title">Prévenez le propriétaire (bailleur)</h2>
					<p class="fr-callout__text">
						Vous devez informer le bailleur du logement des problèmes rencontrés dans le logement. 
						<br>
						Nous vous mettons à disposition un modèle de courrier à remplir et envoyer à votre bailleur. 
						Cliquez sur le bouton ci-dessous pour le télécharger.
					</p>
					<a href="{{ asset('build/files/Lettre-information-proprietaire-bailleur_A-COMPLETER.pdf') }}" download class="fr-btn fr-icon-arrow-down-line fr-btn--icon-left">
						Télécharger le courrier
					</a>
				</div>
			{% elseif signalement.motifRefus and signalement.motifRefus is same as enum('App\\Entity\\Enum\\MotifRefus').DOUBLON %}
				<div class="fr-mb-1w">
					{% include '_partials/_demande-lien-signalement-intro.html.twig' with {motifRefusDoublon: true} %}
					{% include '_partials/_demande-lien-signalement-container.html.twig' with {formatVertical: true} %}
				</div>
			{% endif %}

			<h2 class="title-blue-france">Infos utiles</h2>
			<p>
				Vous avez des questions sur la procédure, sur vos droits ou obligations ? Cliquez sur les liens ci-dessous pour trouver des réponses !
			</p>

			<ul class="fr-list fr-list--none">
				<li>
					<a href="{{ sites_faciles_url }}une-question/" class="fr-link" target="_blank" rel="noopener">Questions fréquentes</a>
				</li>
				<li>
					<a href="{{ sites_faciles_url }}blog/entretien-logement-qui-paye-quoi/" class="fr-link" target="_blank" rel="noopener">Entretien du logement, qui paye quoi ?</a>
				</li>
				<li>
					<a href="{{ sites_faciles_url }}blog/habitat-indigne-quelles-procedures/" class="fr-link" target="_blank" rel="noopener">Habitat indigne : quelles procédures ?</a>
				</li>
				<li>
					<a href="{{ sites_faciles_url }}politique-de-confidentialite/" class="fr-link" target="_blank" rel="noopener">Politique de confidentialité</a>
				</li>
			</ul>

		</div>
	</div>

</main>
{% endblock %}
