{% extends 'base.html.twig' %}

{% block title %}Suivre mon signalement #{{ signalement.reference }}
{% endblock %}

{% block body %}

	{% if (is_granted('SIGN_USAGER_EDIT', signalement)) %}
		{% include '_partials/_modal_upload_files_usager.html.twig' with {'criteres': infoDesordres['criteres']} %}
	{% endif %}

<main class="fr-container">
	<header>
		<div class="fr-grid-row fr-grid fr-mt-2v">
			<div class="fr-col-12 fr-col-lg-6">
				<h1 class="fr-h2 fr-mb-2v">
					Signalement #{{ signalement.reference }}
					<br>
					{{signalement.prenomOccupant|title}}
					{{signalement.nomOccupant|title}}
				</h1>
				<div>Déposé le :
					{{ signalement.createdAt|date('d/m/Y') }}</div>
				{% if signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_NEED_VALIDATION') %}
					<span class="fr-badge fr-badge--no-icon fr-badge--info">Nouveau</span>
				{% elseif signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_ACTIVE') %}
					<span class="fr-badge fr-badge--no-icon fr-badge--success">En cours</span>
				{% elseif signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_CLOSED')
						or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_ARCHIVED')
						or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_REFUSED') %}
					<span class="fr-badge fr-badge--no-icon fr-badge--error">Fermé</span>
				{% endif %}
			</div>

			{% if suiviAuto is defined and suiviAuto is not empty %}
				{% if signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_REFUSED') or signalement.statut is same as constant('App\\Entity\\Signalement::STATUS_CLOSED') %}
					<div class="fr-col-12 fr-mt-2v">
						<div role="alert" class="fr-alert fr-alert--error fr-alert--sm">
							<p>Vous ne pouvez plus modifier la procédure.</p>
						</div>
					</div>
				{% else %}
					<div class="fr-col-12 fr-mt-2v">
						<div class="fr-tile">
							{% if suiviAuto is same as constant('App\\Entity\\Suivi::ARRET_PROCEDURE')  %}
								Vous souhaitez arrêter la procédure ?<br>
							{% endif %}
							{% if suiviAuto is same as constant('App\\Entity\\Suivi::POURSUIVRE_PROCEDURE')  %}
								Vous souhaitez poursuivre la procédure ?<br>
							{% endif %}
							Nous allons informer les services de votre réponse.
							<br>
							Attention votre choix pourra avoir un impact sur la poursuite de votre dossier.
							<br>
							<div class="fr-grid-row fr-mt-4v">
								<div class="fr-col">
									<a class="fr-btn fr-btn--secondary fr-fi-arrow-left-line fr-btn--icon-left" href="{{ path('front_suivi_signalement',{code:signalement.codeSuivi, from:email}) }}">Annuler</a>
								</div>
								<div class="fr-col">
									<a class="fr-btn fr-icon-checkbox-circle-fill fr-btn--icon-right" href="{{ path('front_suivi_procedure',{code:signalement.codeSuivi, from:email, suiviAuto:suiviAuto}) }}&_token={{csrf_token('suivi_procedure')}}">Confirmer</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}

			<div class="fr-col-12 fr-mt-2v">
				<div class="fr-notice fr-notice--info">
					<div class="fr-container">
						<div class="fr-notice__body">
							<p>
								Consultez vos échanges avec l'administration dans l'onglet
								<strong>"Suivi du dossier"</strong>
								et retrouvez les détails de votre signalement dans l'onglet
								<strong>"Mes infos"</strong>.
							</p>
							<button class="fr-btn--close fr-btn" name="closeNotice" title="Masquer le message">
								Masquer le message
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="fr-tabs fr-mt-4v fr-mb-4v">
		<ul class="fr-tabs__list" role="tablist" aria-label="Suivi du dossier / mes infos">
			<li role="presentation">
				<button id="tabpanel-suivi-dossier" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-suivi-dossier-panel">Suivi du dossier</button>
			</li>
			<li role="presentation">
				<button id="tabpanel-mes-infos" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-mes-infos-panel">Mes infos</button>
			</li>
		</ul>
		<div id="tabpanel-suivi-dossier-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-suivi-dossier" tabindex="0">
			{% include 'front/_partials/_suivi_signalement_tab_suivi.html.twig' %}
		</div>
		<div id="tabpanel-mes-infos-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-mes-infos" tabindex="0">
			{% include 'front/_partials/_suivi_signalement_tab_infos.html.twig' %}
		</div>
	</div>
</main>
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
