{% extends 'base.html.twig' %}

{% block title %}Votre messagerie du dossier #{{ signalement.reference }}{% endblock %}

{% block body %}

{% if (is_granted('SIGN_USAGER_ADD_SUIVI', signalement)) %}
	{% include '_partials/_modal_upload_files_usager.html.twig' with {'criteres': infoDesordres['criteres']} %}
{% endif %}

<main class="fr-container fr-pb-5w" id="content">
	<nav role="navigation" class="fr-breadcrumb fr-mb-1w fr-mt-2w" aria-label="Voir le fil d'Ariane">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d'Ariane</button>
		<div class="fr-collapse" id="breadcrumb-1">
			<ol class="fr-breadcrumb__list">
				<li><a class="fr-breadcrumb__link" href="{{ path('front_suivi_signalement', {code: signalement.codeSuivi}) }}">Votre dossier #{{ signalement.reference }}</a></li>
				<li><a class="fr-breadcrumb__link" aria-current="page">Messagerie</a></li>
			</ol>
		</div>
	</nav>
	<div class="fr-grid-row fr-grid-row--gutters">

		<div class="fr-col-12 fr-col-md-6">
			<h1 class="title-blue-france">Messagerie</h1>
			{% include 'front/_partials/_suivi_signalement_card.html.twig' %}

			<h2 class="title-blue-france fr-mb-1w">Envoyer un message</h2>
			{% if (is_granted('SIGN_USAGER_ADD_SUIVI', signalement)) %}
				{{ form_start(formMessage, {'attr': {'id': 'form-message-usager'}}) }}
				{{ form_errors(formMessage) }}
				<p>Nous vous rappelons que les échanges entre les agents en charge de votre dossier et vous doivent se faire dans le respect mutuel. Nous invitons chaque partie à adopter une attitude courtoise et bienveillante.</p>
				<p class="fr-hint-text fr-my-2v">Dix (10) caractères minimum</p>
				<div class="fr-notice fr-notice--info fr-mb-3w">
					<div class="fr-container">
						<div class="fr-notice__body">
							<p>
								<span class="fr-notice__title">Attention à vos données ! Merci de ne pas transmettre de données personnelles sur votre santé ou celle d'autres personnes !</span>
							</p>
							<button title="Masquer le message" name="closeNotice" class="fr-btn--close fr-btn">Masquer le message</button>
						</div>
					</div>
				</div>
				{{ form_row(formMessage.description) }}
				{{ form_end(formMessage) }}
				<div id="uploaded-files-list" class="fr-my-2v"></div>
				<ul class="fr-btns-group fr-btns-group--icon-left">
					<li>
						<button 
							class="fr-btn fr-btn--secondary fr-icon-add-line" 
							type="button" 
							data-fr-opened="false" 
							aria-controls="fr-modal-upload-files-usager" 
							>
							Ajouter des documents
						</button>
					</li>
					<li>
						<button class="fr-btn fr-icon-check-line" type="submit" id="form_finish_submit" form="form-message-usager">
							Envoyer le message
						</button>
					</li>
				</ul>
			{% else %}
				{% if signalement.statut.name == 'REFUSED' %}
					<div role="alert" class="fr-alert fr-alert--error fr-alert--sm">
						<p>Votre signalement a été refusé, vous ne pouvez plus envoyer de messages.</p>
					</div>
				{% elseif signalement.statut.name == 'CLOSED' and signalement.hasSuiviUsagerPostCloture %}
					<div role="alert" class="fr-alert fr-alert--error fr-alert--sm">
						<p>Votre message suite à la clôture de votre dossier a bien été envoyé. Vous ne pouvez désormais plus envoyer de messages.</p>
					</div>
				{% elseif signalement.statut.name == 'CLOSED' and date(signalement.closedAt) < date('-30days') %}
					<div role="alert" class="fr-alert fr-alert--error fr-alert--sm">
						<p>Votre dossier a été fermé il y a plus de 30 jours, vous ne pouvez plus envoyer de messages.</p>
					</div>
				{% elseif signalement.statut.name == 'ARCHIVED' %}
					<div role="alert" class="fr-alert fr-alert--error fr-alert--sm">
						<p>Votre signalement a été archivé, vous ne pouvez plus envoyer de messages.</p>
					</div>
				{% elseif signalement.statut.name == 'INJONCTION_BAILLEUR' %}
					<div role="alert" class="fr-alert fr-alert--error fr-alert--sm">
						<p>Votre dossier est en injonction bailleur, vous ne pouvez pas envoyer de messages.</p>
					</div>
				{% else %}
					<div role="alert" class="fr-alert fr-alert--error fr-alert--sm">
						<p>Vous ne pouvez plus envoyer de messages.</p>
					</div>
				{% endif %}
				{% if signalement.motifRefus and signalement.motifRefus.name == 'DOUBLON' %}
					<div class="fr-mb-1w">
						{% include '_partials/_demande-lien-signalement-intro.html.twig' with {motifRefusDoublon: true} %}
						{% include '_partials/_demande-lien-signalement-container.html.twig' with {formatVertical: true} %}
					</div>
				{% endif %}
			{% endif %}
		</div>

		<div class="fr-col-12 fr-col-md-6">
			<h2 class="title-blue-france fr-mb-1w">Suivre vos échanges</h2>
			<div>Votre dossier a bien été enregistré le {{ signalement.createdAt|date('d/m/Y') }}.</div>
			{% for suivi in signalement.suivis|reverse %}
				{% set isUnreadMessage = false %}
			    {% if suivi.category not in [
						enum('App\\Entity\\Enum\\SuiviCategory').MESSAGE_USAGER, 
						enum('App\\Entity\\Enum\\SuiviCategory').MESSAGE_USAGER_POST_CLOTURE, 
						enum('App\\Entity\\Enum\\SuiviCategory').DOCUMENT_DELETED_BY_USAGER,
						enum('App\\Entity\\Enum\\SuiviCategory').DEMANDE_POURSUITE_PROCEDURE,
						enum('App\\Entity\\Enum\\SuiviCategory').DEMANDE_ABANDON_PROCEDURE,
						enum('App\\Entity\\Enum\\SuiviCategory').SIGNALEMENT_EDITED_FO
					]
				%}
					{% if suivi.isSeenByUsager %}
						{% set messageBoxClass = 'message-box--partner' %}
					{% else %}
						{% set messageBoxClass = 'message-box--partner message-box--unread' %}
						{% set isUnreadMessage = true %}
					{% endif %}
				{% else %}
					{% set messageBoxClass = 'message-box--usager' %}
				{% endif %}
				<div id="suivi_{{ suivi.id }}" class="message-box {{ messageBoxClass }}">
					<div>
						<strong>
							{% if suivi.type is same as constant('App\\Entity\\Suivi::TYPE_TECHNICAL') %}
								Suivi automatique
							{% elseif suivi.partner %}
								{{ suivi.partner.isArchive ? 'Partenaire supprimé' : suivi.partner.nom }}
							{% elseif suivi.createdBy is not null and suivi.category in [
									enum('App\\Entity\\Enum\\SuiviCategory').MESSAGE_USAGER,
									enum('App\\Entity\\Enum\\SuiviCategory').MESSAGE_USAGER_POST_CLOTURE,
									enum('App\\Entity\\Enum\\SuiviCategory').DOCUMENT_DELETED_BY_USAGER,
									enum('App\\Entity\\Enum\\SuiviCategory').DEMANDE_POURSUITE_PROCEDURE,
									enum('App\\Entity\\Enum\\SuiviCategory').DEMANDE_ABANDON_PROCEDURE,
									enum('App\\Entity\\Enum\\SuiviCategory').SIGNALEMENT_EDITED_FO
								] 
							%}
								{{ suivi.createdBy is same as signalement.getSignalementUsager.getOccupant ? 'OCCUPANT' : 'DECLARANT' }}
							{% elseif suivi.createdBy is not null %}
								{{ suivi.createdBy.getPartnerInTerritoryOrFirstOne(suivi.signalement.territory) ? suivi.createdBy.getPartnerInTerritoryOrFirstOne(suivi.signalement.territory).nom : '' }}
							{% else %}
								{{ suivi.getCreatedByLabel() }}
							{% endif %}
							-
							{{ suivi.createdAt|date('d/m/Y') }}
						</strong>
					</div>
					{% if isUnreadMessage %}
						<span class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--warning fr-mb-1w">Nouveau message</span>
					{% endif %}
					<div class="message-box-message">
						{{ suivi.description|replace({'___TOKEN___':csrf_token('suivi_signalement_ext_file_view')})|raw }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</main>
{% endblock %}
