<dialog aria-labelledby="fr-modal-title-modal-edit-situation-foyer" role="dialog" id="fr-modal-edit-situation-foyer" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <form method="POST" id="form-edit-situation-foyer" enctype="application/json" action="{{ path('back_signalement_edit_situation_foyer',{uuid:signalement.uuid}) }}">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-edit-situation-foyer">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-edit-situation-foyer" class="fr-modal__title">
                                Modifier la situation du foyer
                            </h1>

                            <div class="fr-select-group">
                                {% set isLogementSocial = signalement.isLogementSocial %}
                                <label class="fr-label" for="isLogementSocial">Logement social</label>
                                <select class="fr-select" name="isLogementSocial">
                                    <option value="nsp" {{ isLogementSocial is null ? 'selected' : '' }}>Je ne sais pas</option>
                                    <option value="oui" {{ isLogementSocial is same as true ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ isLogementSocial is same as false ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set isRelogement = signalement.isRelogement %}
                                <label class="fr-label" for="isRelogement">Demande relogement</label>
                                <select class="fr-select" name="isRelogement">
                                    <option value="" {{ isRelogement is null ? 'selected' : '' }}></option>
                                    <option value="oui" {{ isRelogement is same as true ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ isRelogement is same as false ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set isAllocataire = signalement.isAllocataire %}
                                <label class="fr-label" for="isAllocataire">Allocataire</label>
                                <select class="fr-select" name="isAllocataire">
                                    <option value="" {{isAllocataire in [null, ''] ? 'selected' : '' }}></option>
                                    <option value="CAF" {{ isAllocataire is same as 'CAF' ? 'selected' : '' }}>CAF</option>
                                    <option value="MSA" {{ isAllocataire is same as 'MSA' ? 'selected' : '' }}>MSA</option>
                                    <option value="1" {{ isAllocataire in ['Oui', '1'] ? 'selected' : '' }}>Oui</option>
                                    <option value="0" {{ isAllocataire in ['Non', '0'] ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="dateNaissanceOccupant">Date de naissance</label>
                                <input class="fr-input" type="date" name="dateNaissanceOccupant" value="{{ signalement.dateNaissanceOccupant.format('Y-m-d') ?? signalement.naissanceOccupants ?? '' }}">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="numAllocataire">N° allocataire</label>
                                <input class="fr-input" type="text" name="numAllocataire" value="{{ signalement.numAllocataire }}">
                            </div>

                            <div class="fr-input-group">
                                {% set logementSocialMontantAllocation = '' %}
                                {% if signalement.situationFoyer and signalement.situationFoyer.logementSocialMontantAllocation %}
                                    {% set logementSocialMontantAllocation = signalement.situationFoyer.logementSocialMontantAllocation %}
                                {% endif %}
                                <label class="fr-label" for="logementSocialMontantAllocation">Montant allocation (€)</label>
                                <input class="fr-input" type="text" name="logementSocialMontantAllocation" value="{{ logementSocialMontantAllocation }}">
                            </div>

                            <div class="fr-select-group">
                                {% set travailleurSocialQuitteLogement = signalement.situationFoyer ? signalement.situationFoyer.travailleurSocialQuitteLogement : null %}
                                <label class="fr-label" for="travailleurSocialQuitteLogement">Souhaite quitter le logement</label>
                                <select class="fr-select" name="travailleurSocialQuitteLogement">
                                    <option value="" {{ travailleurSocialQuitteLogement not in ['oui', 'non', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ travailleurSocialQuitteLogement is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ travailleurSocialQuitteLogement is same as 'non' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ travailleurSocialQuitteLogement is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set travailleurSocialPreavisDepart = signalement.situationFoyer ? signalement.situationFoyer.travailleurSocialPreavisDepart : null %}
                                <label class="fr-label" for="travailleurSocialPreavisDepart">Préavis de départ</label>
                                <select class="fr-select" name="travailleurSocialPreavisDepart">
                                    <option value="" {{ travailleurSocialPreavisDepart not in ['oui', 'non', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ travailleurSocialPreavisDepart is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ travailleurSocialPreavisDepart is same as 'non' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ travailleurSocialPreavisDepart is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set travailleurSocialAccompagnementDeclarant = signalement.situationFoyer ? signalement.situationFoyer.travailleurSocialAccompagnementDeclarant : null %}
                                <label class="fr-label" for="travailleurSocialAccompagnementDeclarant">Accompagnement par un ou une travailleuse sociale</label>
                                <select class="fr-select" name="travailleurSocialAccompagnementDeclarant">
                                    <option value="" {{ travailleurSocialAccompagnementDeclarant not in ['1', '0'] ? 'selected' : '' }}></option>
                                    <option value="1" {{ travailleurSocialAccompagnementDeclarant is same as '1' ? 'selected' : '' }}>Oui</option>
                                    <option value="0" {{ travailleurSocialAccompagnementDeclarant is same as '0' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set beneficiaireRsa = signalement.informationComplementaire ? signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireRsa : null %}
                                <label class="fr-label" for="beneficiaireRsa">Bénéficiaire RSA</label>
                                <select class="fr-select" name="beneficiaireRsa">
                                    <option value="" {{ beneficiaireRsa not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ beneficiaireRsa is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ beneficiaireRsa is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set beneficiaireFsl = signalement.informationComplementaire ? signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireFsl : null %}
                                <label class="fr-label" for="beneficiaireFsl">Bénéficiaire FSL</label>
                                <select class="fr-select" name="beneficiaireFsl">
                                    <option value="" {{ beneficiaireFsl not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ beneficiaireFsl is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ beneficiaireFsl is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            {% if signalement.profileDeclarant and signalement.profileDeclarant is same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR_OCCUPANT  %}
                            <div class="fr-input-group">
                                <label class="fr-label" for="revenuFiscal">Revenu fiscal de référence</label>
                                <input class="fr-input" type="text" name="revenuFiscal" value="{{ signalement.informationComplementaire.informationsComplementairesSituationOccupantsRevenuFiscal ?? '0' }}">
                            </div>
                            {% endif %}
                        </div>
                        
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-close-line"
                                            aria-controls="fr-modal-edit-situation-foyer">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button class="fr-btn fr-icon-checkbox-line" type="submit">
                                        Valider
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="_token" value="{{ csrf_token('signalement_edit_situation_foyer_'~signalement.id) }}">
                </form>
            </div>
        </div>
    </div>
</dialog>