<dialog aria-labelledby="fr-modal-title-modal-edit-informations-logement" id="fr-modal-edit-informations-logement" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <form method="POST" id="form-edit-informations-logement" enctype="application/json" action="{{ path('back_signalement_edit_informations_logement',{uuid:signalement.uuid}) }}">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-edit-informations-logement">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-edit-informations-logement" class="fr-modal__title">
                                Modifier les informations du logement
                            </h1>
                            <p>Tous les champs sont obligatoires, sauf mention contraire.</p>
                            <div class="fr-input-group">
                                {% set nombrePersonnes = 0 %}
                                {% if signalement.typeCompositionLogement %}
                                    {% set nombrePersonnes = signalement.nbOccupantsLogement %}
                                {% else %}
                                    {% set nombrePersonnes = signalement.nbPersonsDeprecated %}
                                {% endif %}
                                <label class="fr-label" for="informationLogementNombrePersonnes">Nb. personnes
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\InformationsLogementRequest',
                                        'nombrePersonnes',
                                        signalement.profileDeclarant)
                                    }}
                                </label>
                                <input class="fr-input" type="number" id="informationLogementNombrePersonnes" name="nombrePersonnes" value="{{ nombrePersonnes }}">
                            </div>

                            <div class="fr-input-group">
                                {% set compositionLogementNombreEnfants = null %}
                                {% if signalement.typeCompositionLogement %}
                                    {% set compositionLogementNombreEnfants = signalement.typeCompositionLogement.compositionLogementNombreEnfants %}
                                {% else %}
                                    {% set compositionLogementNombreEnfants = signalement.getNbEnfantsDeprecated %}
                                {% endif %}
                                <label class="fr-label" for="informationLogementNombrePersonnes">Dont nb. enfants
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\InformationsLogementRequest',
                                        'compositionLogementNombreEnfants',
                                        signalement.profileDeclarant,
                                        signalement.isV2)
                                    }}
                                </label>
                                <input class="fr-input" type="number" id="informationLogementCompositionLogementNombreEnfants" name="compositionLogementNombreEnfants" value="{{ compositionLogementNombreEnfants }}">
                            </div>

                            <div class="fr-select-group">
                                {% set compositionLogementEnfants = null %}
                                {% if signalement.typeCompositionLogement %}
                                    {% set compositionLogementEnfants = signalement.typeCompositionLogement.compositionLogementEnfants %}
                                {% elseif signalement.nbEnfantsM6 is not null %}
                                    {% if signalement.nbEnfantsM6 > 0 %}
                                        {% set compositionLogementEnfants = 'oui' %}
                                    {% else %}
                                        {% set compositionLogementEnfants = 'non' %}
                                    {% endif %}
                                {% endif %}
                                <label class="fr-label" for="informationLogementCompositionLogementEnfants">Enfants -6 ans
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\InformationsLogementRequest',
                                        'compositionLogementEnfants',
                                        signalement.profileDeclarant,
                                        signalement.isV2)
                                    }}
                                </label>
                                <select class="fr-select" id="informationLogementCompositionLogementEnfants" name="compositionLogementEnfants">
                                    <option value="" {{ compositionLogementEnfants not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ compositionLogementEnfants is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ compositionLogementEnfants is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                {% set dateEntree = '' %}
                                {% if signalement.dateEntree %}
                                    {% set dateEntree = signalement.dateEntree.format('Y-m-d') %}
                                {% endif %}
                                <label class="fr-label" for="informationLogementDateEntree">Date arrivée
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\InformationsLogementRequest',
                                        'dateEntree',
                                        signalement.profileDeclarant,
                                        signalement.isV2)
                                    }}
                                </label>
                                <input class="fr-input" type="date" id="informationLogementDateEntree" name="dateEntree" value="{{ dateEntree }}">
                            </div>

                            <div class="fr-input-group">
                                {% set bailleurDateEffetBail = '' %}
                                {% if signalement.informationComplementaire %}
                                    {% set bailleurDateEffetBail = signalement.informationComplementaire.informationsComplementairesSituationBailleurDateEffetBail %}
                                {% endif %}
                                <label class="fr-label" for="informationLogementBailleurDateEffetBail">Date d'effet du bail (facultatif)</label>
                                <input class="fr-input" type="date" id="informationLogementBailleurDateEffetBail" name="bailleurDateEffetBail" value="{{ bailleurDateEffetBail }}">
                            </div>

                            <div class="fr-select-group">
                                {% set bailDpeBail = signalement.typeCompositionLogement ? signalement.typeCompositionLogement.bailDpeBail : null %}
                                <label class="fr-label" for="informationLogementBailDpeBail">Bail
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\InformationsLogementRequest',
                                        'bailDpeBail',
                                        signalement.profileDeclarant,
                                        signalement.isV2)
                                    }}
                                </label>
                                <select class="fr-select" id="informationLogementBailDpeBail" name="bailDpeBail">
                                    <option value="" {{ bailDpeBail not in ['oui', 'non', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ bailDpeBail is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ bailDpeBail is same as 'non' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ bailDpeBail is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                <label class="fr-label" for="informationLogementVacant">Logement vacant
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\InformationsLogementRequest',
                                        'logementVacant',
                                        signalement.profileDeclarant,
                                        signalement.isV2)
                                    }}
                                </label>
                                <div class="fr-alert fr-alert--warning fr-mt-2v fr-mb-2v">
                                    <p>
                                        Si vous indiquez que le logement est vacant, les usagers (occupant et tiers déclarant) ne recevront plus de mises à jour sur le dossier, 
                                        et vous ne pourrez plus partager de suivis aux usagers. Vous pourrez toujours effectuer des actions sur le dossier.
                                    </p>
                                </div>
                                <select class="fr-select" id="informationLogementVacant" name="logementVacant">
                                    <option value="" {{ signalement.isLogementVacant not in [true, false] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ signalement.isLogementVacant is same as true ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ signalement.isLogementVacant is same as false ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                {% set bailDpeInvariant = signalement.numeroInvariant %}
                                <label class="fr-label" for="informationLogementBailDpeInvariant">Invariant fiscal (facultatif)</label>
                                <input class="fr-input" type="text" id="informationLogementBailDpeInvariant" name="bailDpeInvariant"  maxlength="12" value="{{ bailDpeInvariant }}">
                            </div>

                            <div class="fr-select-group">
                                {% set bailDpeEtatDesLieux = signalement.typeCompositionLogement ? signalement.typeCompositionLogement.bailDpeEtatDesLieux : null %}
                                <label class="fr-label" for="informationLogementBailDpeEtatDesLieux">Etat des lieux
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\InformationsLogementRequest',
                                        'bailDpeEtatDesLieux',
                                        signalement.profileDeclarant,
                                        signalement.isV2)
                                    }}
                                </label>
                                <select class="fr-select" id="informationLogementBailDpeEtatDesLieux" name="bailDpeEtatDesLieux">
                                    <option value="" {{ bailDpeEtatDesLieux not in ['oui', 'non', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ bailDpeEtatDesLieux is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ bailDpeEtatDesLieux is same as 'non' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ bailDpeEtatDesLieux is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set bailDpeDpe = signalement.typeCompositionLogement ? signalement.typeCompositionLogement.bailDpeDpe : null %}
                                <label class="fr-label" for="informationLogementBailDpeDpe">DPE
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\InformationsLogementRequest',
                                        'bailDpeDpe',
                                        signalement.profileDeclarant,
                                        signalement.isV2)
                                    }}
                                </label>
                                <select class="fr-select" id="informationLogementBailDpeDpe" name="bailDpeDpe">
                                    <option value="" {{ bailDpeDpe not in ['oui', 'non', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ bailDpeDpe is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ bailDpeDpe is same as 'non' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ bailDpeDpe is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set bailDpeClasseEnergetique = signalement.typeCompositionLogement ? signalement.typeCompositionLogement.bailDpeClasseEnergetique : null %}
                                <label class="fr-label" for="informationLogementBailDpeClasseEnergetique">Classe énergétique
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\InformationsLogementRequest',
                                        'bailDpeClasseEnergetique',
                                        signalement.profileDeclarant,
                                        signalement.isV2)
                                    }}
                                </label>
                                <select class="fr-select" id="informationLogementBailDpeClasseEnergetique" name="bailDpeClasseEnergetique">
                                    <option value="" {{ bailDpeClasseEnergetique not in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="A" {{ bailDpeClasseEnergetique is same as 'A' ? 'selected' : '' }}>A</option>
                                    <option value="B" {{ bailDpeClasseEnergetique is same as 'B' ? 'selected' : '' }}>B</option>
                                    <option value="C" {{ bailDpeClasseEnergetique is same as 'C' ? 'selected' : '' }}>C</option>
                                    <option value="D" {{ bailDpeClasseEnergetique is same as 'D' ? 'selected' : '' }}>D</option>
                                    <option value="E" {{ bailDpeClasseEnergetique is same as 'E' ? 'selected' : '' }}>E</option>
                                    <option value="F" {{ bailDpeClasseEnergetique is same as 'F' ? 'selected' : '' }}>F</option>
                                    <option value="G" {{ bailDpeClasseEnergetique is same as 'G' ? 'selected' : '' }}>G</option>
                                    <option value="nsp" {{ bailDpeClasseEnergetique is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="informationLogementLoyer">Montant du loyer (facultatif)</label>
                                <input class="fr-input" type="number" id="informationLogementLoyer" name="loyer" value="{{ signalement.loyer }}">
                            </div>

                            <div class="fr-select-group">
                                {% set loyersPayes = signalement.informationComplementaire ? signalement.informationComplementaire.informationsComplementairesSituationOccupantsLoyersPayes : null %}
                                <label class="fr-label" for="informationLogementLoyersPayes">Paiement loyers à jour (facultatif)</label>
                                <select class="fr-select" id="informationLogementLoyersPayes" name="loyersPayes">
                                    <option value="" {{ loyersPayes not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ loyersPayes is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ loyersPayes is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                {% set anneeConstruction = 0 %}
                                {% if signalement.informationComplementaire %}
                                    {% set anneeConstruction = signalement.informationComplementaire.informationsComplementairesLogementAnneeConstruction %}
                                {% endif %}
                                <label class="fr-label" for="informationLogementAnneeConstruction">Année de construction (facultatif)</label>
                                <input class="fr-input" type="number" id="informationLogementAnneeConstruction" name="anneeConstruction" value="{{ anneeConstruction }}">
                            </div>
                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_edit_informations_logement_'~signalement.id) }}">
                        </div>
                        
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button class="fr-btn fr-icon-check-line" type="submit">
                                        Valider
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-close-line"
                                            aria-controls="fr-modal-edit-informations-logement">
                                        Annuler
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</dialog>
