<dialog aria-labelledby="fr-modal-title-modal-edit-coordonnees-foyer" role="dialog" id="fr-modal-edit-coordonnees-foyer" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <form method="POST"
                      id="form-edit-coordonnees-foyer"
                      enctype="application/json"
                      action="{{ path('back_signalement_edit_coordonnees_foyer',{uuid:signalement.uuid}) }}">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-edit-coordonnees-foyer">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-edit-coordonnees-foyer" class="fr-modal__title">
                                Modifier les coordonnées du foyer
                            </h1>
                            <p>Tous les champs sont obligatoires, sauf mention contraire.</p>
                            {% if signalement.profileDeclarant and signalement.profileDeclarant is same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR_OCCUPANT %}
                            <div class="fr-select-group">
                                <label class="fr-label" for="typeProprio">Type</label>
                                <select class="fr-select" id="typeProprio" name="typeProprio">
                                    <option value="" disabled hidden>Sélectionnez un choix</option>
                                    <option value="" {{ signalement.typeProprio is same as '' ? 'selected' : '' }}>N/C</option>
                                    <option value="{{ enum('App\\Entity\\Enum\\ProprioType').ORGANISME_SOCIETE.name }}" {{ signalement.typeProprio is same as enum('App\\Entity\\Enum\\ProprioType').ORGANISME_SOCIETE ? 'selected' : '' }}>{{ enum('App\\Entity\\Enum\\ProprioType').ORGANISME_SOCIETE.label }}</option>
                                    <option value="{{ enum('App\\Entity\\Enum\\ProprioType').PARTICULIER.name }}" {{ signalement.typeProprio is same as enum('App\\Entity\\Enum\\ProprioType').PARTICULIER ? 'selected' : '' }}>{{ enum('App\\Entity\\Enum\\ProprioType').PARTICULIER.label }}</option>
                                </select>
                            </div>
                            <div class="fr-input-group">
                                <label class="fr-label" for="nomStructure">Nom de la structure </label>
                                <input class="fr-input" type="text" id="nomStructure" name="nomStructure" value="{{ signalement.structureDeclarant }}">
                            </div>
                            {% endif %}

                            <div class="fr-select-group">
                                <label class="fr-label" for="civilite">Civilité {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesFoyerRequest',
                                        'civilite',
                                        signalement.profileDeclarant)  }}
                                </label>
                                <select class="fr-select" id="civilite" name="civilite">
                                    <option value="" {{ signalement.civiliteOccupant not in ['mme', 'mr'] ? 'selected' : '' }}></option>
                                    <option value="mme" {{ signalement.civiliteOccupant is same as 'mme' ? 'selected' : '' }}>Madame</option>
                                    <option value="mr" {{ signalement.civiliteOccupant is same as 'mr' ? 'selected' : '' }}>Monsieur</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="nom">Nom {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesFoyerRequest',
                                        'nom',
                                        signalement.profileDeclarant)  }}</label>
                                <input class="fr-input" type="text" id="nom" name="nom" value="{{ signalement.nomOccupant }}" maxlength="50">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="prenom">Prénom
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesFoyerRequest',
                                        'prenom',
                                        signalement.profileDeclarant)  }}
                                </label>
                                <input class="fr-input" type="text" id="prenom" name="prenom" value="{{ signalement.prenomOccupant }}" maxlength="50">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="mail">Courriel
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesFoyerRequest',
                                        'mail',
                                        signalement.profileDeclarant)  }}
                                </label>
                                <input class="fr-input" type="text" id="mail" name="mail" value="{{ signalement.mailOccupant }}">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="telephone">Téléphone
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesFoyerRequest',
                                        'telephone',
                                        signalement.profileDeclarant)  }}
                                </label>
                                <input class="fr-input" type="text" id="telephone" name="telephone" value="{{ signalement.telOccupantDecoded }}">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="telephoneBis">Téléphone sec. (facultatif)</label>
                                <input class="fr-input" type="text" id="telephoneBis" name="telephoneBis" value="{{ signalement.telOccupantBisDecoded }}">
                            </div>
                        </div>
                        
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-close-line"
                                            aria-controls="fr-modal-edit-coordonnees-foyer">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button class="fr-btn  fr-icon-checkbox-line" type="submit">
                                        Valider
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="_token" value="{{ csrf_token('signalement_edit_coordonnees_foyer_'~signalement.id) }}">
                </form>
            </div>
        </div>
    </div>
</dialog>
