<dialog aria-labelledby="fr-modal-title-modal-edit-coordonnees-bailleur" role="dialog" id="fr-modal-edit-coordonnees-bailleur" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <form method="POST" id="form-edit-coordonnees-bailleur" enctype="application/json" action="{{ path('back_signalement_edit_coordonnees_bailleur',{uuid:signalement.uuid}) }}">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-edit-coordonnees-bailleur">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-edit-coordonnees-bailleur" class="fr-modal__title">
                                Modifier les coordonnées du bailleur
                            </h1>
                            <p>Tous les champs sont obligatoires, sauf mention contraire.</p>
                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesBailleurNom">Nom
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesBailleurRequest',
                                        'nom',
                                        signalement.profileDeclarant)
                                    }}
                                </label>
                                <input class="fr-input"
                                       type="text"
                                       id="coordonneesBailleurNom"
                                       name="nom"
                                       value="{{ signalement.nomProprio }}"
                                       maxlength="255"
                                       autocomplete="off"
                                        {% if signalement.isLogementSocial  %}
                                            data-autocomplete-bailleur-url="{{ path('app_bailleur', {'postcode': signalement.cpOccupant}) }}"
                                        {% endif %}
                                >
                                <ul class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-autocomplete-list">
                                </ul>
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesBailleurPrenom">Prénom
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesBailleurRequest',
                                        'prenom',
                                        signalement.profileDeclarant)
                                    }}
                                </label>
                                <input class="fr-input" type="text" id="coordonneesBailleurPrenom" name="prenom" value="{{ signalement.prenomProprio }}" maxlength="255">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesBailleurMail">Courriel
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesBailleurRequest',
                                        'mail',
                                        signalement.profileDeclarant)
                                    }}
                                </label>
                                <input class="fr-input" type="text" id="coordonneesBailleurMail" name="mail" value="{{ signalement.mailProprio }}">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesBailleurTelephone">Téléphone
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesBailleurRequest',
                                        'telephone',
                                        signalement.profileDeclarant)
                                    }}
                                </label>
                                <input class="fr-input" type="text" id="coordonneesBailleurTelephone" name="telephone" value="{{ signalement.telProprioDecoded }}">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesBailleurTelephoneBis">Téléphone sec. (facultatif)</label>
                                <input class="fr-input" type="text" id="coordonneesBailleurTelephoneBis" name="telephoneBis" value="{{ signalement.telProprioSecondaireDecoded }}">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="edit-coordonnees-bailleur-search">
                                    Adresse {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesBailleurRequest',
                                        'adresse',
                                        signalement.profileDeclarant)
                                    }}
                                    <span class="fr-hint-text">Tapez l'adresse et sélectionnez-la dans la liste</span>
                                </label>
                                <input class="fr-input search-address-autocomplete" type="text" id="edit-coordonnees-bailleur-search"
                                    data-fr-adresse-autocomplete="true" 
                                    data-autocomplete-query-selector="#form-edit-coordonnees-bailleur .fr-address-group-bo"
                                    data-form-id="form-edit-coordonnees-bailleur" 
                                    data-form-lat="{% if signalement.geoloc.lat is defined %}{{ signalement.geoloc.lat }}{% endif %}" 
                                    data-form-lng="{% if signalement.geoloc.lng is defined %}{{ signalement.geoloc.lng }}{% endif %}">                                        
                                <div class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-address-group-bo">
                                </div>
                            </div>

                            <div class="fr-input-group fr-input-group--disabled">
                                <label class="fr-label" for="form-edit-coordonnees-bailleur-adresse">Numéro et voie</label>
                                <input class="fr-input" id="form-edit-coordonnees-bailleur-adresse" type="text" readonly name="adresse" value="{{ signalement.adresseProprio }}" data-autocomplete-addresse="true">
                            </div>

                            <div class="fr-input-group fr-input-group--disabled">
                                <label class="fr-label" for="form-edit-coordonnees-bailleur-codepostal">Code postal</label>
                                <input class="fr-input" id="form-edit-coordonnees-bailleur-codepostal" type="text" readonly name="codePostal" value="{{ signalement.codePostalProprio }}" data-autocomplete-codepostal="true">
                            </div>

                            <div class="fr-input-group fr-input-group--disabled">
                                <label class="fr-label" for="form-edit-coordonnees-bailleur-ville">Commune</label>
                                <input class="fr-input" id="form-edit-coordonnees-bailleur-ville" type="text" readonly name="ville" value="{{ signalement.villeProprio }}" data-autocomplete-ville="true">
                            </div>

                            <div class="fr-select-group">
                                {% set bailleurBeneficiaireRsa = signalement.informationComplementaire ? signalement.informationComplementaire.informationsComplementairesSituationBailleurBeneficiaireRsa : null %}
                                <label class="fr-label" for="coordonneesBailleurBeneficiaireRsa">Bénéficiaire RSA (facultatif)</label>
                                <select class="fr-select" id="coordonneesBailleurBeneficiaireRsa" name="beneficiaireRsa">
                                    <option value="" {{ bailleurBeneficiaireRsa not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ bailleurBeneficiaireRsa is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ bailleurBeneficiaireRsa is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set bailleurBeneficiaireFsl = signalement.informationComplementaire ? signalement.informationComplementaire.informationsComplementairesSituationBailleurBeneficiaireFsl : null %}
                                <label class="fr-label" for="coordonneesBailleurBeneficiaireFsl">Bénéficiaire FSL (facultatif)</label>
                                <select class="fr-select" id="coordonneesBailleurBeneficiaireFsl" name="beneficiaireFsl">
                                    <option value="" {{ bailleurBeneficiaireFsl not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ bailleurBeneficiaireFsl is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ bailleurBeneficiaireFsl is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesBailleurRevenuFiscal">Revenu fiscal de référence (facultatif)</label>
                                <input class="fr-input" type="text" id="coordonneesBailleurRevenuFiscal" name="revenuFiscal" value="{{ signalement.informationComplementaire.informationsComplementairesSituationBailleurRevenuFiscal ?? '0' }}">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesBailleurDateNaissance">Date de naissance (facultatif)</label>
                                <input class="fr-input" type="date" id="coordonneesBailleurDateNaissance" name="dateNaissance" value="{{ signalement.informationComplementaire.informationsComplementairesSituationBailleurDateNaissance ?? '' }}">
                            </div>
                        </div>
                        
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-close-line"
                                            aria-controls="fr-modal-edit-coordonnees-bailleur">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button class="fr-btn fr-icon-checkbox-line" type="submit">
                                        Valider
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="_token" value="{{ csrf_token('signalement_edit_coordonnees_bailleur_'~signalement.id) }}">
                </form>
            </div>
        </div>
    </div>
</dialog>
