<dialog aria-labelledby="fr-modal-title-modal-edit-procedure-demarches" role="dialog" id="fr-modal-edit-procedure-demarches" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <form method="POST" id="form-edit-procedure-demarches" enctype="application/json" action="{{ path('back_signalement_edit_procedure_demarches',{uuid:signalement.uuid}) }}">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-edit-procedure-demarches">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-edit-procedure-demarches" class="fr-modal__title">
                                Modifier procédure et démarches
                            </h1>

                            <div class="fr-select-group">
                                {% set isProprioAverti = signalement.isProprioAverti %}
                                <label class="fr-label" for="isProprioAverti">Bailleur averti</label>
                                <select class="fr-select" name="isProprioAverti">
                                    <option value="" {{ isProprioAverti is same as null ? 'selected' : '' }}></option>
                                    <option value="1" {{ isProprioAverti is same as true ? 'selected' : '' }}>Oui</option>
                                    <option value="0" {{ isProprioAverti is same as false ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set infoProcedureAssuranceContactee = signalement.informationProcedure ? signalement.informationProcedure.infoProcedureAssuranceContactee : null %}
                                <label class="fr-label" for="infoProcedureAssuranceContactee">Contact assurance</label>
                                <select class="fr-select" name="infoProcedureAssuranceContactee">
                                    <option value="" {{ infoProcedureAssuranceContactee not in ['oui', 'non', 'pas_assurance_logement'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ infoProcedureAssuranceContactee is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ infoProcedureAssuranceContactee is same as 'non' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ infoProcedureAssuranceContactee is same as 'pas_assurance_logement' ? 'selected' : '' }}>Pas d'assurance logement</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="infoProcedureReponseAssurance">Réponse assurance</label>
                                <textarea class="fr-input fr-input--no-resize" name="infoProcedureReponseAssurance">{{ signalement.informationProcedure and signalement.informationProcedure.infoProcedureReponseAssurance ? signalement.informationProcedure.infoProcedureReponseAssurance : '' }}</textarea>
                            </div>

                            <div class="fr-input-group">
                                {% set infoProcedureDepartApresTravaux = signalement.informationProcedure ? signalement.informationProcedure.infoProcedureDepartApresTravaux : null %}
                                <label class="fr-label" for="infoProcedureDepartApresTravaux">Souhaite garder le logement après travaux</label>
                                <select class="fr-select" name="infoProcedureDepartApresTravaux">
                                    {# Careful : reversed regarding the question in the form #}
                                    <option value="" {{ infoProcedureDepartApresTravaux not in ['oui', 'non', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="non" {{ infoProcedureDepartApresTravaux is same as 'non' ? 'selected' : '' }}>Oui</option>
                                    <option value="oui" {{ infoProcedureDepartApresTravaux is same as 'oui' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ infoProcedureDepartApresTravaux is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set preavisDepart = signalement.informationComplementaire ? signalement.informationComplementaire.informationsComplementairesSituationOccupantsPreavisDepart : null %}
                                <label class="fr-label" for="preavisDepart">Préavis de départ</label>
                                <select class="fr-select" name="preavisDepart">
                                    <option value="" {{ preavisDepart not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ preavisDepart is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ preavisDepart is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set demandeRelogement = signalement.informationComplementaire ? signalement.informationComplementaire.informationsComplementairesSituationOccupantsDemandeRelogement : null %}
                                <label class="fr-label" for="demandeRelogement">Demande logement social / relogement</label>
                                <select class="fr-select" name="demandeRelogement">
                                    <option value="" {{ demandeRelogement not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ demandeRelogement is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ demandeRelogement is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-close-line"
                                            aria-controls="fr-modal-edit-procedure-demarches">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button class="fr-btn  fr-icon-checkbox-line" type="submit">
                                        Valider
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="_token" value="{{ csrf_token('signalement_edit_procedure_demarches_'~signalement.id) }}">
                </form>
            </div>
        </div>
    </div>
</dialog>