<dialog aria-labelledby="fr-modal-title-modal-edit-informations-logement" role="dialog" id="fr-modal-edit-informations-logement" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <form method="POST" id="form-edit-informations-logement" enctype="application/json" action="{{ path('back_signalement_edit_informations_logement',{uuid:signalement.uuid}) }}">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-edit-informations-logement">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-edit-informations-logement" class="fr-modal__title">
                                Modifier les informations du logement
                            </h1>

                            <div class="fr-input-group">
                                {% set nombrePersonnes = 0 %}
                                {% if signalement.typeCompositionLogement %}
                                    {% set nombrePersonnes = signalement.nbOccupantsLogement %}
                                {% else %}
                                    {% set nombrePersonnes = signalement.nbPersonsDeprecated %}
                                {% endif %}
                                <label class="fr-label" for="nombrePersonnes">Nb. personnes</label>
                                <input class="fr-input" type="number" name="nombrePersonnes" value="{{ nombrePersonnes }}">
                            </div>

                            <div class="fr-select-group">
                                {% set compositionLogementEnfants = null %}
                                {% if signalement.typeCompositionLogement %}
                                    {% set compositionLogementEnfants = signalement.typeCompositionLogement.compositionLogementEnfants %}
                                {% elseif signalement.nbEnfantsM6 is not null %}
                                    {% if signalement.nbEnfantsM6 > 0 %}
                                        {% set compositionLogementEnfants = 'oui' %}
                                    {% else %}
                                        {% set compositionLogementEnfants = 'non' %}
                                    {% endif %}
                                {% endif %}
                                <label class="fr-label" for="compositionLogementEnfants">Enfants -6 ans</label>
                                <select class="fr-select" name="compositionLogementEnfants">
                                    <option value="" {{ compositionLogementEnfants not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ compositionLogementEnfants is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ compositionLogementEnfants is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                {% set dateEntree = '' %}
                                {% if signalement.dateEntree %}
                                    {% set dateEntree = signalement.dateEntree.format('Y-m-d') %}
                                {% endif %}
                                <label class="fr-label" for="dateEntree">Date arrivée</label>
                                <input class="fr-input" type="date" name="dateEntree" value="{{ dateEntree }}">
                            </div>

                            <div class="fr-input-group">
                                {% set bailleurDateEffetBail = '' %}
                                {% if signalement.informationComplementaire %}
                                    {% set bailleurDateEffetBail = signalement.informationComplementaire.informationsComplementairesSituationBailleurDateEffetBail %}
                                {% endif %}
                                <label class="fr-label" for="bailleurDateEffetBail">Date d'effet du bail</label>
                                <input class="fr-input" type="date" name="bailleurDateEffetBail" value="{{ bailleurDateEffetBail }}">
                            </div>

                            <div class="fr-select-group">
                                {% set bailDpeBail = signalement.typeCompositionLogement ? signalement.typeCompositionLogement.bailDpeBail : null %}
                                <label class="fr-label" for="bailDpeBail">Bail</label>
                                <select class="fr-select" name="bailDpeBail">
                                    <option value="" {{ bailDpeBail not in ['oui', 'non', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ bailDpeBail is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ bailDpeBail is same as 'non' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ bailDpeBail is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set bailDpeEtatDesLieux = signalement.typeCompositionLogement ? signalement.typeCompositionLogement.bailDpeEtatDesLieux : null %}
                                <label class="fr-label" for="bailDpeEtatDesLieux">Etat des lieux</label>
                                <select class="fr-select" name="bailDpeEtatDesLieux">
                                    <option value="" {{ bailDpeEtatDesLieux not in ['oui', 'non', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ bailDpeEtatDesLieux is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ bailDpeEtatDesLieux is same as 'non' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ bailDpeEtatDesLieux is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-select-group">
                                {% set bailDpeDpe = signalement.typeCompositionLogement ? signalement.typeCompositionLogement.bailDpeDpe : null %}
                                <label class="fr-label" for="bailDpeDpe">DPE</label>
                                <select class="fr-select" name="bailDpeDpe">
                                    <option value="" {{ bailDpeEtatDesLieux not in ['oui', 'non', 'nsp'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ bailDpeDpe is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ bailDpeDpe is same as 'non' ? 'selected' : '' }}>Non</option>
                                    <option value="nsp" {{ bailDpeDpe is same as 'nsp' ? 'selected' : '' }}>Je ne sais pas</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="loyer">Montant du loyer</label>
                                <input class="fr-input" type="number" name="loyer" value="{{ signalement.loyer }}">
                            </div>

                            <div class="fr-select-group">
                                {% set loyersPayes = signalement.informationComplementaire ? signalement.informationComplementaire.informationsComplementairesSituationOccupantsLoyersPayes : null %}
                                <label class="fr-label" for="loyersPayes">Paiement loyers à jour</label>
                                <select class="fr-select" name="loyersPayes">
                                    <option value="" {{ loyersPayes not in ['oui', 'non'] ? 'selected' : '' }}></option>
                                    <option value="oui" {{ loyersPayes is same as 'oui' ? 'selected' : '' }}>Oui</option>
                                    <option value="non" {{ loyersPayes is same as 'non' ? 'selected' : '' }}>Non</option>
                                </select>
                            </div>

                            <div class="fr-input-group">
                                {% set anneeConstruction = 0 %}
                                {% if signalement.informationComplementaire %}
                                    {% set anneeConstruction = signalement.informationComplementaire.informationsComplementairesLogementAnneeConstruction %}
                                {% endif %}
                                <label class="fr-label" for="anneeConstruction">Année de construction</label>
                                <input class="fr-input" type="number" name="anneeConstruction" value="{{ anneeConstruction }}">
                            </div>
                        </div>
                        
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-close-line"
                                            aria-controls="fr-modal-edit-informations-logement">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button class="fr-btn  fr-icon-checkbox-line" type="submit">
                                        Valider
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="_token" value="{{ csrf_token('signalement_edit_informations_logement_'~signalement.id) }}">
                </form>
            </div>
        </div>
    </div>
</dialog>