<dialog aria-labelledby="fr-modal-title-modal-edit-coordonnees-syndic" id="fr-modal-edit-coordonnees-syndic" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <form method="POST" id="form-edit-coordonnees-syndic" enctype="application/json" action="{{ path('back_signalement_edit_coordonnees_syndic',{uuid:signalement.uuid}) }}">
                        <div class="fr-modal__header">
                            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-edit-coordonnees-syndic">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-edit-coordonnees-syndic" class="fr-modal__title">
                                Modifier les coordonnées du syndic
                            </h1>
                            <p>Tous les champs sont facultatifs.</p>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesSyndicDenomination">Dénomination
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesSyndicRequest',
                                        'denomination',
                                        signalement.profileDeclarant)
                                    }}
                                </label>
                                <input class="fr-input"
                                       type="text"
                                       id="coordonneesSyndicDenomination"
                                       name="denomination"
                                       value="{{ signalement.denominationSyndic }}"
                                       maxlength="255"
                                       autocomplete="off"
                                >
                                <ul class="fr-grid-row fr-background-alt--blue-france fr-text-label--blue-france fr-autocomplete-list">
                                </ul>
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesSyndicNom">Nom
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesSyndicRequest',
                                        'nom',
                                        signalement.profileDeclarant)
                                    }}
                                </label>
                                <input class="fr-input"
                                       type="text"
                                       id="coordonneesSyndicNom"
                                       name="nom"
                                       value="{{ signalement.nomSyndic }}"
                                       maxlength="255"
                                       autocomplete="off"
                                >
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesSyndicMail">Courriel
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesSyndicRequest',
                                        'mail',
                                        signalement.profileDeclarant)
                                    }}
                                </label>
                                <input class="fr-input" type="text" id="coordonneesSyndicMail" name="mail" value="{{ signalement.mailSyndic }}">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesSyndicTelephone">Téléphone
                                    {{ show_label_facultatif(
                                        'App\\Dto\\Request\\Signalement\\CoordonneesSyndicRequest',
                                        'telephone',
                                        signalement.profileDeclarant)
                                    }}
                                </label>
                                <input class="fr-input" type="text" id="coordonneesSyndicTelephone" name="telephone" value="{{ signalement.telSyndicDecoded }}">
                            </div>

                            <div class="fr-input-group">
                                <label class="fr-label" for="coordonneesSyndicTelephoneBis">Téléphone sec.</label>
                                <input class="fr-input" type="text" id="coordonneesSyndicTelephoneBis" name="telephoneBis" value="{{ signalement.telSyndicSecondaireDecoded }}">
                            </div>

                            <input type="hidden" name="_token" value="{{ csrf_token('signalement_edit_coordonnees_syndic_'~signalement.id) }}">
                        </div>

                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button class="fr-btn fr-icon-check-line" type="submit">
                                        Valider
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary fr-icon-close-line"
                                            aria-controls="fr-modal-edit-coordonnees-syndic">
                                        Annuler
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</dialog>
