{% set tableHead %}
    <th scope="col">ID</th>
    <th scope="col">Territoires</th>
    <th scope="col">Epci</th>
    <th scope="col">Nom</th>
    <th scope="col">Code Postal</th>
    <th scope="col">Code Insee</th>
    <th scope="col">Actions</th>
{% endset %}

{% set tableBody %}
    {% for commune in communes %}
        <tr class="signalement-row">
            <td>{{ commune.id }}</td>
            <td>{{ commune.territory.zipAndName }}</td>
            <td>{% if commune.epci %}{{ commune.epci.nom }}{% endif %}</td>
            <td>{{ commune.nom }}</td>
            <td>{{ commune.codePostal }}</td>
            <td>{{ commune.codeInsee }}</td>
            <td class="fr-text--right fr-ws-nowrap">
                <a href="{{path('back_commune_edit', {commune: commune.id})}}" class="fr-btn fr-icon-edit-line" title="Editer la commune {{commune.nom}}">
                    Editer la commune {{ commune.nom }}
                </a>
            </td>
        </tr>
    {% endfor %}
{% endset %}

{% include '_partials/back/table.html.twig' with { 'tableLabel': 'Liste des communes', 'tableHead': tableHead, 'tableBody': tableBody } %}

<div id="territory-pagination" class="fr-grid-row fr-mt-2v fr-grid-row--center">
    {% import '_partials/macros.html.twig' as macros %}
    {{ macros.customPagination(pages, searchCommune.page, 'back_commune_index', searchCommune.urlParams) }}
</div>
