{% extends 'emails/base_email.html.twig' %}

{% block body %}
	<p style="color: #3b3f44; background-color: #f5f5f5; padding: 8px;">
		<span><strong>{{ platform.name }}, service public de lutte contre l’habitat dégradé</strong>, accompagne les locataires pour constituer et suivre leurs dossiers auprès des autorités compétentes.</span>
	</p>
	<p>
		Vous avez été invité à suivre l'avancement du dossier de {{signalement_prenomOccupant}} {{signalement_nomOccupant}} sur la plateforme {{ platform.name }}.<br><br>
		Voici les coordonnées de l'occupant :<br>
		<strong>{{signalement_prenomOccupant}} {{signalement_nomOccupant}}</strong><br>
		<strong>{{signalement_adresseOccupant}} {{signalement_cpOccupant}} {{signalement_villeOccupant}}</strong>
	</p>
	<p>Cette page de suivi vous permet de :</p>
	<ul>
		<li>Suivre l'avancée du dossier</li>
		<li>Ajouter des photos, des documents ou des précisions sur la situation</li>
		<li>Envoyer un message à l'administration</li>
	</ul>

	<p>Acceptez-vous de rejoindre ce dossier ? Pour répondre, cliquez sur un bouton ci-dessous :</p>
    
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-blue"
           style="text-align: center">
        <tbody>
        <tr>
            <td align="center">
                <a href="{{ lien_accepter_invitation|raw }}" target="_blank" rel="noopener">ACCEPTER</a>
            </td>
            <td align="center">
                <a href="{{ lien_refuser_invitation|raw }}" target="_blank" rel="noopener">REFUSER</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
