<!DOCTYPE html>
<html lang="fr"{# data-fr-scheme="light" #}>
<head>
    <meta charset="UTF-8">
    {% if 'back_' in app.request.get('_route') or 'front_suivi_signalement' in app.request.get('_route') %}
        <meta name="robots" content="noindex, nofollow">
    {% else %}
        <meta name="robots" content="index, follow">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ platform.name }} - {% block title %}{% endblock %}</title>
    <meta name="description" content="Signaler vos problèmes de logement.">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ platform.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ platform.name }}">
    <meta property="og:description" content="Signaler vos problèmes de logement.">
    <meta property="og:image" content={{ asset('img/' ~ platform.logo) }}>
    <meta property="og:site_name" content="{{ platform.name }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ platform.url }}">
    <meta property="twitter:url" content="{{ platform.url }}">
    <meta name="twitter:title" content="{{ platform.name }}">
    <meta name="twitter:description" content="Signalez vos problèmes de logement.">
    <meta name="twitter:image" content={{ asset('img/' ~ platform.logo) }}>
    <meta name="twitter:title" content="{{ platform.name }}">
    <meta name="twitter:description" content="Signalez vos problèmes de logement.">
    <meta name="apple-mobile-web-app-title" content="{{ platform.name }}">
    <link rel="icon" href={{ asset('favicon.ico') }}>
    <link rel="stylesheet" href="{{ asset('build/dsfr/dsfr.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-business/icons-business.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-device/icons-device.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-design/icons-design.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-document/icons-document.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-editor/icons-editor.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-map/icons-map.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-media/icons-media.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-system/icons-system.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-user/icons-user.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('build/dsfr/utility/icons/icons-weather/icons-weather.min.css') }}"/>
    <link rel="stylesheet" href={{ asset('build/app.css') }}>
    {% if 'back_cartographie' in app.request.get('_route') or 'back_signalement_view' in app.request.get('_route') %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"/>
    {% endif %}

    {% if 'back_signalement_view' in app.request.get('_route') %}
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light-border.css"/>
    {% endif %}

    {% block stylesheets %}{% endblock %}
    {% block customscripts %}{% endblock %}
    {% if matomo is defined %}
        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="{{ matomo.url }}";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '{{ matomo.site_id }}']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src='{{ matomo.cdn }}'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
    {% endif %}
</head>

{% set statuses = {
    1:'Nouveau',
    2:'En cours',
    6:'Fermés',
    8:'Refusés'
} %}
{% set allocations = {
    'CAF':'CAF',
    'MSA':'MSA',
    0:'NON',
} %}
{% set statuts_affectation = {
    0:'EN ATTENTE',
    1:'ACCEPTEE',
    2:'REFUSEE',
    3:'CLOTUREE',
} %}
<body>
{% if 'back_' not in app.request.get('_route') %}
    {% include "header.html.twig" %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div role="alert" class="fr-alert fr-alert--{{ label }} fr-alert--sm">
                {% if label is same as('error') %}
                    <strong>Erreur...</strong>
                {% endif %}
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
{% block body %}{% endblock %}
{% if 'back_' not in app.request.get('_route') %}
    {% include "footer.html.twig" %}
{% endif %}

<script type="module" src="{{ asset('build/dsfr/dsfr.module.min.js') }}"></script>
<script type="text/javascript" nomodule src="{{ asset('build/dsfr/dsfr.nomodule.min.js') }}"></script>
<script type="text/javascript" src={{ asset('js/screencapture.js') }}></script>
<script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
<script src="{{ asset('js/const.min.js?v='~''|date('YmdH')) }}"></script>
<script src="{{ asset('js/app.js?v='~''|date('YmdH')) }}"></script>

{% if 'back_cartographie' in app.request.get('_route') or 'back_signalement_view' in app.request.get('_route') %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
{% endif %}
{% if 'back_signalement_view' in app.request.get('_route') %}
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
{% endif %}

<script>
    tinymce.init({
        selector: 'textarea.editor',
        plugins: 'lists',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | mybutton',
        menubar: false,
        height: 320,
        {% if 'back_' in app.request.get('_route') %}
        setup: function (editor) {
            editor.on('input', function (e) {
                if (editor.formElement.classList.contains('tinyCheck')) {
                    let isOk = true,
                        submitters = document.querySelectorAll('button[form="' + editor.formElement.id + '"]')
                    isOk = editor.getContent().length <= 17;
                    !isOk && document.querySelector('#' + editor.id).parentElement.classList.add('fr-input-group--error'), document.querySelector('#' + editor.id).parentElement.querySelector('.fr-error-text').classList.remove('fr-hidden');
                    submitters.forEach(sbmt => {
                        sbmt.disabled = isOk;
                    })
                    if (isOk !== true)
                        document.querySelector('#' + editor.id).parentElement.classList.remove('fr-input-group--error'), document.querySelector('#' + editor.id).parentElement.querySelector('.fr-error-text').classList.add('fr-hidden');
                }
            });
            {% if 'back_signalement_view' in app.request.get('_route') %}
            editor.ui.registry.addMenuButton('mybutton', {
                text: 'Partager un document',
                fetch: function (callback) {
                    let items = [
                        {% for doc in signalement.files|filter(doc => doc.fileType == 'document') %}
                        {
                            type: 'menuitem',
                            text: '{{ doc.title }}',
                            onAction: function () {
                                editor.insertContent('&nbsp;<a href="{{ asset('_up/'~doc.filename) }}?t=___TOKEN___" class="fr-btn fr-fi-eye-fill fr-btn--icon-left" title="Afficher le document" target="_blank">Consulter "{{ doc.title }}"</a>');
                            }
                        },
                        {% endfor %}
                    ];
             
                    {% if can_see_nde_edit_zone(signalementQualificationNDE) and is_granted('USER_SEE_NDE', app.user) and files is defined and files.documents is defined %}  
                       {% for doc in files.documents %}
                            {% if enum('App\\Entity\\Enum\\Qualification').NON_DECENCE_ENERGETIQUE.name in doc.params.qualification|joinEnumKeys(',') %}
                                items.push({
                                    type: 'menuitem',
                                    text: "{{ doc.title|raw }}",
                                    onAction: function () {
                                        editor.insertContent('&nbsp;<a href="{{ asset(files.path~doc.file) }}?t=___TOKEN___" class="fr-link" title="Afficher le document" target="_blank">Consulter "{{ doc.title }}"</a></br>');
                                    }
                                })     
                            {% endif %}   
                        {% endfor %}
                    {% endif %}
                    callback(items);
                }
            });
            {% endif %}
        }
        {% endif %}
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
