<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand">
                <div class="fr-logo">
                    ministère <br> de la transition <br>écologique
                </div>
                &nbsp;&nbsp;
                <a href="https://beta.gouv.fr" target="_blank">
                    <img src="{{ asset('img/logo_betagouv.png') }}" alt="Beta.Gouv.fr" width="150" title="Beta.Gouv.fr"
                         rel="noreferrer">
                </a>
            </div>
            <div class="fr-footer__content">
                <div class="fr-footer__content-desc fr-text--right">
                    <img src="{{ asset('img/logo_145.png') }}" width="200" height="53" alt="Histologe"
                         title="Histologe">
                </div>
                <ul class="fr-footer__content-list">
                    <li>
                        <a class="fr-footer__content-link" href="http://legifrance.gouv.fr" rel="noreferrer">legifrance.gouv.fr</a>
                    </li>
                    <li>
                        <a class="fr-footer__content-link" href="http://gouvernement.fr" rel="noreferrer">gouvernement.fr</a>
                    </li>
                    <li>
                        <a class="fr-footer__content-link" href="http://service-public.fr" rel="noreferrer">service-public.fr</a>
                    </li>
                    <li>
                        <a class="fr-footer__content-link" href="http://data.gouv.fr" rel="noreferrer">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                {# <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="#">Plan du site</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="CGU">Accessibilité : partiellement</a>
                </li> #}
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('front_cgu') }}">Mentions légales</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('front_cgu') }}">Données personnelles</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('front_cgu') }}">Gestion des cookies</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                © République Française & Histologe {{ ''|date('Y') }}
            </div>
        </div>
    </div>
</footer>