<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand">
                <div class="fr-logo">
                    ministère <br> de la transition <br>écologique
                </div>
            </div>
            <div class="fr-footer__content">
                <div class="fr-footer__content-desc fr-text--left">
                    {{ platform.name }} améliore la prise en charge du mal-logement.
                </div>
                <ul class="fr-footer__content-list">
                    <li>
                        <a class="fr-footer__content-link" href="http://legifrance.gouv.fr" rel="noreferrer">legifrance.gouv.fr</a>
                    </li>
                    <li>
                        <a class="fr-footer__content-link" href="http://gouvernement.fr" rel="noreferrer">gouvernement.fr</a>
                    </li>
                    <li>
                        <a class="fr-footer__content-link" href="http://service-public.fr" rel="noreferrer">service-public.fr</a>
                    </li>
                    <li>
                        <a class="fr-footer__content-link" href="http://data.gouv.fr" rel="noreferrer">data.gouv.fr</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fr-footer__partners">
            <h4 class="fr-footer__partners-title">Nos partenaires</h4>
            <div class="fr-footer__partners-logos">
                <div class="fr-footer__partners-main">
                    <a class="fr-footer__partners-link" href="https://beta.gouv.fr/" target="_blank" rel="noreferrer"
                       title="beta.gouv.fr">
                        <img class="fr-footer__logo" style="height: 5.625rem"
                             src="{{ asset('/img/logo-betagouvfr.svg') }}" alt="Logo beta.gouv.fr"/>
                    </a>
                </div>
                <div class="fr-footer__partners-sub">
                    <ul>
                        <li>
                            <a class="fr-footer__partners-link" href="https://www.economie.gouv.fr/plan-de-relance"
                               target="_blank" rel="noreferrer" title="France Relance">
                                <img class="fr-footer__logo" style="height: 5.625rem"
                                     src="{{ asset('/img/logo-france-relance.svg') }}" alt="Logo France Relance"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('mentions_legales') }}">Mentions légales</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('front_cgu') }}">CGU - Usagers</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('front_cgu_agents') }}">CGU - Agents</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('politique_de_confidentialite') }}">Politique de
                        confidentialité</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{{ path('politique_de_confidentialite') }}#gestion-cookies">Gestion
                        des cookies</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>Sauf mention contraire, tous les contenus de ce site sont sous <a
                            href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank"
                            rel="noreferrer noopener">licence etalab-2.0</a></p></div>
        </div>
    </div>
</footer>
