<header class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <a href="{{sites_faciles_url}}" title="Accueil — Ministère de l'Aménagement du territoire et de la Décentralisation">
                                <p class="fr-logo">Ministères<br>aménagement<br>du territoire<br>transition<br>écologique</p>
                            </a>
                        </div>
                        <div class="fr-header__operator">
                            <img class="fr-responsive-img" src="{{ asset('img/logo-signal-logement-small.original.svg') }}" alt="Logo signal logement" style="max-width:3,0rem;" data-fr-js-ratio="true">
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="fr-menu-mobile" id="fr-btn-menu-mobile" title="Menu" data-fr-js-modal-button="true">Menu</button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{sites_faciles_url}}" title="Accueil — Lutter contre le mal logement">
                            <p class="fr-header__service-title">
                                Lutter contre le mal logement
                            </p>
                        </a>
                        <p class="fr-header__service-tagline">
                        </p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links" data-fr-js-header-links="true">
                        <ul class="fr-btns-group">
                            <li>
                                {% if app.user %}
                                    <a class="fr-btn" target="_self" href="{{ path('back_dashboard') }}">
                                        Tableau de bord
                                    </a>
                                {% else %}
                                    <a class="fr-btn" target="_self" href="{{ path('app_login') }}">
                                        Espace pro
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="fr-menu-mobile" data-fr-js-modal="true" data-fr-js-header-modal="true">
        <div class="fr-container">
            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-menu-mobile" data-fr-js-modal-button="true">Fermer</button>
            <div class="fr-header__menu-links">
                <ul class="fr-btns-group">
                    <li>
                        {% if app.user %}
                            <a class="fr-btn" target="_self" href="{{ path('back_dashboard') }}">
                                Tableau de bord
                            </a>
                        {% else %}
                            <a class="fr-btn" target="_self" href="{{ path('app_login') }}">
                                Espace pro
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


{% if feature_banner_histologe %}
    <div id="change-name-banner" class="fr-notice fr-notice--warning">
        <div class="fr-container">
            <div class="fr-notice__body">
                <p class="fr-notice__desc">
                    <strong>Histologe devient Signal Logement !</strong> Un nouveau nom et un nouveau site pour mieux refléter notre mission : lutter contre le mal logement !
                </p>
                <button class="fr-btn--close fr-btn" title="Masquer le message">
                    Masquer le message
                </button>
            </div>
        </div>
    </div>
{% endif %}
