<dialog aria-labelledby="fr-profil-edit-infos-title" id="fr-modal-profil-edit-infos" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                       <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-profil-edit-infos">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-profil-edit-infos-title" class="fr-modal__title">
                            Modifier mes infos
                        </h1>   
                        <form action="{{ path('back_profil_edit_infos') }}" name="profil_edit_infos"
                              id="profil_edit_infos_form" method="POST" enctype="multipart/form-data">
                            <div class="fr-display-inline-flex fr-align-items-center">
                                <div class="fr-display-flex-column fr-align-items-center">
                                    {{ user_avatar_or_placeholder(app.user, 124) }}
                                    {% if app.user.avatarFilename %}                                        
                                        <a href="{{ path('back_profil_delete_avatar') }}"
                                        class="fr-link fr-fi-delete-line fr-link--icon-left">Supprimer l'avatar</a>
                                    {% endif %}
                                </div>
                                <div class="fr-ml-3v">
                                    <div class="fr-upload-group fr-mb-5v">
                                        <label class="fr-label" for="profil_edit_infos[avatar]">Choisir un nouvel avatar (facultatif)
                                            <span class="fr-hint-text">Taille Maximale : 5 Mo, Formats supportés : {{ get_accepted_extensions('resizable')}}</span>
                                        </label>
                                        <input class="fr-upload" type="file" accept={{ get_accepted_mime_type('resizable')}} name="profil_edit_infos[avatar]" id="profil_edit_infos_avatar">
                                    </div>
                                </div>
                            </div>
                            <div class="fr-input-group fr-col-12 fr-pl-0 fr-pl-md-0 fr-mt-2v">
                                <label for="profil_edit_infos_prenom" class="fr-label">Prénom</label>
                                <input type="text" id="profil_edit_infos_prenom" name="profil_edit_infos[prenom]"
                                    class="fr-input" value="{{ app.user.prenom }}" maxlength="255">
                            </div>                         
                            <div class="fr-input-group fr-col-12 fr-pl-0 fr-pl-md-0">
                                <label for="profil_edit_infos_nom" class="fr-label">Nom</label>
                                <input type="text" id="profil_edit_infos_nom" name="profil_edit_infos[nom]"
                                    class="fr-input" value="{{ app.user.nom }}" maxlength="255">
                            </div>
                            <div class="fr-input-group fr-col-12 fr-pl-0 fr-pl-md-0">
                                <label for="profil_edit_infos_fonction" class="fr-label">
                                    Fonction (facultatif)
                                    <span class="fr-hint-text">Renseignez ici votre fonction au sein de votre organisation.</span>
                                </label>
                                <input type="text" id="profil_edit_infos_fonction" name="profil_edit_infos[fonction]"
                                    class="fr-input" value="{{ app.user.fonction }}" maxlength="50">
                            </div>
                            <input type="hidden" name="_token" value="{{ csrf_token('profil_edit_infos') }}">
                        </form>
                    </div>
                    <div class="fr-modal__footer">
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <button class="fr-btn fr-icon-check-line" form="profil_edit_infos_form"
                                        id="profil_edit_infos_form_submit" type="submit">
                                    Valider
                                </button>
                            </li>
                            <li>
                                <button class="fr-btn fr-btn--secondary fr-icon-close-line"
                                        aria-controls="fr-modal-profil-edit-infos">
                                    Annuler
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>