<h1 id="fr-profil-edit-infos-title" class="fr-modal__title">
    Modifier mes infos
</h1>   

{{ form_start(formProfilInfo, {'attr': {'id': 'user_profil_info'}}) }}
{{ form_errors(formProfilInfo) }}
<div class="fr-display-inline-flex fr-align-items-center fr-grid-row fr-grid-row--gutters">
    <div class="fr-display-flex-column fr-align-items-center fr-col-12 fr-col-md-4">
        {{ user_avatar_or_placeholder(app.user, 124, false) }}
        {% if app.user.avatarFilename %}
            <br>
            <a href="{{ path('back_profil_delete_avatar') }}" class="fr-link fr-fi-delete-line fr-link--icon-left simple-ajax-link">Supprimer l'avatar</a>
        {% endif %}
    </div>
    <div class="fr-col-12 fr-col-md-8">
        {{ form_row(formProfilInfo.avatar) }}
    </div>
</div>
<div class="fr-mt-2v">
    {{ form_row(formProfilInfo.prenom) }}                         
    {{ form_row(formProfilInfo.nom) }}
    {{ form_row(formProfilInfo.fonction) }}
    {{ form_row(formProfilInfo.phone) }}
</div>
{{ form_end(formProfilInfo) }}                  