{% extends 'back/base_bo.html.twig' %}

{% block title %}Annuaire des agents{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Annuaire',
            'level2Link': '',
            'level2Label': ''
        } %}

        <header>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--left">
                    <h1>Annuaire des agents</h1>
                </div>
            </div>
        </header>

    </section>
    {% set isMultiTerritory = (app.user.isSuperAdmin() or app.user.partnersTerritories|length > 1) %}

    {{ form_start(form) }}
    <section class="fr-container--fluid overflow-visible">
        {{ form_errors(form) }}
        <div class="fr-grid-row fr-grid-row--bottom fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-3">
                {{ form_row(form.queryUser) }}
            </div>
            <div class="fr-col-12 fr-col-lg-3 {% if not isMultiTerritory %}fr-hidden{% endif %}">
                {{ form_row(form.territory) }}
            </div>
            <div class="fr-col-12 fr-col-lg-3">
                {{ form_row(form.partners) }}
            </div>
            <div class="fr-col-12 fr-col-lg-3">
                <a href="{{ path('back_annuaire_index') }}" class="fr-link fr-link--icon-left fr-icon-close-circle-line">Réinitialiser les résultats</a>
            </div>
        </div>
    </section>

    <section class="fr-col-12 fr-grid-row fr-grid-row--middle fr-py-5v">
        <div class="fr-col-12 fr-col-md-6">
            <h2 class="fr-mb-0">{{ singular_or_plural(userPartners|length, 'Agent trouvé', 'Agents trouvés') }}</h2>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-text--right">
            <a 
                href="{% if userPartners|length > 0 %}{{path('back_annuaire_export', search.urlParams)}}{% else %}#{% endif %}" 
                class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-download-fill {% if userPartners|length == 0 %}fr-label--disabled{% endif %}"
            > Exporter les résultats </a>
        </div>
    </section>
    
    <section class="fr-col-3 fr-pt-0">
        {{ form_row(form.orderType) }}
    </section>

    {{ form_end(form) }}

    <section class="fr-container--fluid">

        <div class="fr-grid-row fr-grid-row--gutters">
            {% for userPartner in userPartners %}
                <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-container--fluid item-annuaire-agent fr-p-4v">
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-2 fr-col-sm-1">
                                {{ user_avatar_or_placeholder(userPartner.user, 45) }}
                            </div>
                            <div class="fr-col-10 fr-col-sm-11">
                                <h3 class="fr-h4 fr-mb-1v">{{ userPartner.user.nomComplet }}</h3>
                                <strong>{{ userPartner.partner.nom }}</strong>
                                {% if isMultiTerritory and userPartner.partner.territory %}
                                    ({{ userPartner.partner.territory.zip }} - {{ userPartner.partner.territory.name }})
                                {% endif %}
                                <br>
                                Fonction : {{ userPartner.user.fonction ? userPartner.user.fonction : '/' }}
                                <br>
                                {{ userPartner.user.email }}
                                <br>
                                {{ userPartner.user.phoneDecoded ? userPartner.user.phoneDecoded : '&nbsp;' }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="fr-grid-row fr-mt-2v fr-grid-row--center">
            {% import '_partials/macros.html.twig' as macros %}
            {{ macros.customPagination(pages, search.page, 'back_annuaire_index', search.urlParams) }}
        </div>
    </section>

{% endblock %}
