{% extends 'back/base_bo.html.twig' %}

{% block title %}Plan du site (back-office){% endblock %}

{% block content %}
    {% macro render_menu(item, security) %}
        {% if item.isVisible(security) %}
            {% set hasLink = item.route or item.externalLink %}

            {% if item.label and hasLink %}
                <li>
                    {% if item.externalLink %}
                        <a href="{{ item.externalLink }}" target="_blank" rel="noopener">
                            {{ item.label }}
                        </a>
                    {% else %}
                        <a href="{{ path(item.route, item.routeParameters) }}">
                            {{ item.label }}
                        </a>
                    {% endif %}
                </li>
            {% elseif item.label %}
                <h2 class="fr-mt-6v">{{ item.label }}</h2>
            {% endif %}

            {% set children = item.getVisibleChildren(security) %}
            {% if children is not empty %}
                <ul>
                    {% for child in children %}
                        {{ _self.render_menu(child, security) }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endmacro %}


    {% import _self as macros %}

    <div class="fr-container fr-py-16v">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-md-8">
                <h1>Plan du site (espace pro)</h1>

                <ul>
                    <li><a href="{{ path('back_notifications_list') }}">Notifications</a></li>
                    <li><a href="{{ path('back_profil') }}">Profil</a></li>
                    {% for item in menu.children %}
                        {{ macros.render_menu(item, security) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
