{% extends 'pdf/base_pdf.html.twig' %}

{% block title %}Signalement #{{ signalement.reference }}{% endblock %}
{% set picto_yes = "OUI" %}
{% set picto_no = "NON" %}
{% block body %}

    <div class="page">
        <section>
            <h1 style="text-align: right">
                Signalement #{{ signalement.reference }}
                {% if signalement.referenceInjonction and signalement.statut is not same as enum('App\\Entity\\Enum\\SignalementStatus').INJONCTION_BAILLEUR %}
                    <small>(#{{ signalement.referenceInjonction }})</small>
                {% endif %}
            </h1>
            <h3 style="text-align: right">Déposé le {{ signalement.createdAt|format_datetime(locale='fr', timezone=signalement.getTimezone) }}</h3>
            {% if signalement.isNotOccupant %}
                <h3 style="text-align: right">Signalement par un tiers</h3>

            {% else %}
                <h3 style="text-align: right">Signalement par l'occupant</h3>
            {% endif %}

            {% if isForUsager is same as false %}
                <h3 style="text-align: left">Situation(s) suspectée(s) à la déclaration usager</h3>
                {% for qualificationStatusLabel in listQualificationStatusesLabelsCheck %}
                    {% include '_partials/signalement/qualification.html.twig' %}
                {% endfor %}                
            {% endif %}

            {% if listConcludeProcedures %}
                <h3 style="text-align: left">Situation(s) observée(s) après visite</h3>
                {% for concludeProcedure in listConcludeProcedures %}
                    {% set typeBadge = 'info' %}
                    {% if concludeProcedure is same as 'Mise en sécurité / Péril' %}
                        {% set typeBadge = 'error' %}
                    {% elseif concludeProcedure is same as 'Insalubrité' %}
                        {% set typeBadge = 'warning' %}
                    {% endif %}
                    <small class="fr-badge fr-badge--{{typeBadge}} fr-badge--no-icon fr-mb-1v">{{ concludeProcedure }}</small>
                {% endfor %}
            {% endif %}

            <table>
                <tr>
                    <td style="width: 50%">
                        <h3 style="margin-bottom: 0">Informations de l'occupant</h3>
                        <ul style="list-style:none; margin-left:0px;padding-left:0px;">
                            <li><b>Nom :</b> {{ signalement.nomOccupant }} -
                                <b>Prénom :</b> {{ signalement.prenomOccupant }}</li>
                            <li><b>Courriel :</b> <a
                                        href="mailto:{{ signalement.mailOccupant }}">{{ signalement.mailOccupant }}</a>
                            </li>
                            <li><b>Téléphone :</b> <a
                                        href="tel:{{ signalement.telOccupant }}">{{ signalement.telOccupant }}</a></li>
                            <li><b>Profil :</b> {{ signalement.profileOccupant ? signalement.profileOccupant.label : 'N/R' }}</li>
                            <li>
                                <b>Adresse :</b> {{ signalement.adresseOccupant ~', '~signalement.cpOccupant ~' '~ signalement.villeOccupant|upper }}
                                {% if signalement.complementAdresseOccupant %}
                                    <br>
                                    {{signalement.complementAdresseOccupant}}
                                {% endif %}
                            </li>
                            <li>
                                <b>Nb. personnes :</b>
                                {% if signalement.typeCompositionLogement %}
                                    {{ signalement.nbOccupantsLogement }}
                                    {% if signalement.typeCompositionLogement.compositionLogementNombreEnfants %}
                                        <br><strong>- dont nb. enfants : </strong>{{ signalement.typeCompositionLogement.compositionLogementNombreEnfants }}
                                    {% endif %}
                                {% else %}
                                    {{ signalement.nbPersonsDeprecated }} :
                                    {{ signalement.nbAdultes }} {{ signalement.nbAdultes > 1 ? 'adultes' : 'adulte' }}
                                    {% if signalement.nbEnfantsP6 %}
                                        - {{ signalement.nbEnfantsP6 ?? '0' }} enfant(s) de plus de 6 ans
                                    {% endif %}
                                    {% if signalement.nbEnfantsM6 %}
                                        - {{ signalement.nbEnfantsM6 ?? '0' }} enfant(s) de moins de 6 ans
                                    {% endif %}
                                {% endif %}
                            </li>
                            <li>
                                <b>Enfants -6 ans :</b>
                                {% if signalement.typeCompositionLogement %}
                                    {% if signalement.typeCompositionLogement.compositionLogementEnfants is same as 'oui' %}
                                        {{ picto_yes|raw }}
                                    {% elseif signalement.typeCompositionLogement.compositionLogementEnfants is same as 'non' %}
                                        {{ picto_no|raw }}
                                    {% else %}
                                        {{signalement.typeCompositionLogement.compositionLogementEnfants}}
                                    {% endif %}
                                {% else %}
                                    {% if signalement.nbEnfantsM6 > 0 %}
                                        {{ picto_yes|raw }}
                                    {% else %}
                                        {{ picto_no|raw }}
                                    {% endif %}
                                {% endif %}
                            </li>
                            <li><b>Date d'entrée :</b> {{ signalement.dateEntree ? signalement.dateEntree|date('d/m/Y') : 'N/R' }}
                            </li>
                            <li>
                                <b>Loyer :</b> {{ signalement.loyer }} €/mois
                            </li>
                            <li>
                                <b>Allocataire :</b>
                                {% if signalement.isAllocataire %}
                                    <small class="fr-background-alt--green-emeraude fr-rounded fr-p-1v fr-text--bold fr-valid-text fr-display-inline-flex fr-mt-0 fr-px-3v">{{ signalement.isAllocataire }}</small>
                                {% else %}
                                    {{ picto_no|raw }}
                                {% endif %}
                            </li>
                            {% if signalement.isAllocataire %}
                                <li>
                                    <b>N° allocataire :</b> {{ signalement.numAllocataire }}
                                </li>
                                <li>
                                    <b>Montant allocation :</b> {{ signalement.montantAllocation ?? 'N/R' }}
                                    €/mois
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                    {% if signalement.isNotOccupant %}
                        <td>
                            <h3 style="margin-bottom: 0">Informations du déclarant</h3>
                            <ul style="list-style:none; margin-left:0px;padding-left:0px;">
                                <li><b>Nom :</b> {{ signalement.nomDeclarant }} -
                                    <b>Prénom :</b> {{ signalement.prenomDeclarant }}</li>
                                <li><b>Courriel :</b><a
                                            href="mailto:{{ signalement.mailDeclarant }}">{{ signalement.mailDeclarant }}</a>
                                </li>
                                <li><b>Téléphone :</b>{{ signalement.telDeclarant }}</li>
                                <li><b>Structure :</b> {{ signalement.structureDeclarant }}</li>
                                <li>&nbsp;</li>
                                <li>&nbsp;</li>
                                <li>&nbsp;</li>
                                <li>&nbsp;</li>
                                <li>&nbsp;</li>
                            </ul>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <h3 style="margin-bottom: 0">Description du logement</h3>
                        <ul style="list-style:none; margin-left:0px;padding-left:0px;">
                            <li>
                                <b>Logement :</b> {{ signalement.natureLogement }}
                                de {{ signalement.superficie }}m² -
                            </li>
                            {% if signalement.informationComplementaire %}
                                <li>
                                    <b>Nombre d'étages :</b>{{ signalement.informationComplementaire.informationsComplementairesLogementNombreEtages}}
                                </li>
                            {% endif %}
                            {% if signalement.typeCompositionLogement %}
                                {% if signalement.natureLogement|capitalize is same as 'Autre' %}
                                    <li>
                                        <b>Précisions :</b> {{ signalement.typeCompositionLogement.typeLogementNatureAutrePrecision }}
                                    </li>
                                {% endif %}
                                <li>
                                    <b>Logement :</b> {{ signalement.typeCompositionLogement.compositionLogementPieceUnique(false) }}
                                </li>
                                <li>
                                    <b>Nombre de pièces à vivre :</b> {{ signalement.typeCompositionLogement.compositionLogementNbPieces }}
                                </li>
                                <li>
                                    <b>Etage :</b>
				                    {% include '_partials/signalement/signalement-typecomposition-etage.html.twig' %}
                                </li>
                                <li>
                                    <b>Avec fenêtres :</b>
		                            {% include '_partials/signalement/signalement-typecomposition-fenetres.html.twig' %}
                                </li>
                                <li>
                                    <b>Au moins une des pièces à vivre > 9m² :</b>
                                    {{ signalement.typeCompositionLogement.typeLogementCommoditesPieceAVivre9m(false)}}
                                    {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesPieceAVivre9m is same as 'non' } %}
                                </li>
                                <li>
                                    <b>Cuisine / coin cuisine :</b>
                                    <br>
                                    <ul>
                                        <li>
                                            Dans le logement : {{ signalement.typeCompositionLogement.typeLogementCommoditesCuisine }}
                                            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesCuisine is same as 'non' } %}
                                        </li>
                                        {% if signalement.typeCompositionLogement.typeLogementCommoditesCuisine is same as 'non' %}
                                            <li>
                                                Collective : {{ signalement.typeCompositionLogement.typeLogementCommoditesCuisineCollective }}
                                                {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesCuisineCollective is same as 'non' } %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>                                
                                <li>
                                    <b>SDB (baignoire ou douche) :</b>
                                    <br>
                                    <ul>
                                        <li>
                                            Dans le logement : {{ signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain}}
                                            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain is same as 'non' } %}
                                        </li>
                                        {% if signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBain is same as 'non' %}
                                            <li>
                                                Collective : {{ signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBainCollective }}
                                                {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesSalleDeBainCollective is same as 'non' } %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li>
                                    <b>WC :</b>
                                    <br>
                                    <ul>
                                        <li>
                                            Dans le logement : {{ signalement.typeCompositionLogement.typeLogementCommoditesWc }}
                                            {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesWc is same as 'non' } %}
                                        </li>
                                        {% if signalement.typeCompositionLogement.typeLogementCommoditesWc is same as 'non' %}
                                            <li>
                                                Collectifs : {{ signalement.typeCompositionLogement.typeLogementCommoditesWcCollective }}
                                                {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesWcCollective is same as 'non' } %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% if signalement.typeCompositionLogement.typeLogementCommoditesCuisine is same as 'oui' and signalement.typeCompositionLogement.typeLogementCommoditesWc is same as 'oui' %}
                                    <li>
                                        <b>WC et cuisine dans la même pièce :</b>
                                        {{ signalement.typeCompositionLogement.typeLogementCommoditesWcCuisine }}
                                        {% include '_partials/signalement/display_alert.html.twig' with { 'display': signalement.typeCompositionLogement.typeLogementCommoditesWcCuisine is same as 'oui' } %}
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3 style="margin-bottom: 0">Informations sur le bailleur</h3>
                        <ul style="list-style:none; margin-left:0px;padding-left:0px;">
                            <li>
                                {% if signalement.typeProprio is same as enum('App\\Entity\\Enum\\ProprioType').ORGANISME_SOCIETE %}
                                <b>Dénomination :</b> {{ signalement.denominationProprio }}<br>
                                {% endif %}
                                <b>Nom :</b> {{ signalement.nomProprio ?? 'N/R' }}
                                {% if signalement.prenomProprio %}
                                - <b>Prénom :</b> {{ signalement.prenomProprio }}
                                {% endif %}
                            </li>
                            <li><b>Adresse :</b>
                                {{ signalement.adresseProprio ? signalement.adresseProprio ~ ', ' ~ signalement.codePostalProprio ~ ' ' ~ signalement.villeProprio : 'N/R' }}
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </section>
        <section>
            <h3>Description par l'occupant</h3>
            <text>{{ signalement.details|nl2br }}</text>
        </section>
        <section>
            <table>
                <tr>
                    <td style="width: 50%">
                        <h3>Informations propriétaire</h3>
                        <ul style="list-style:none; margin-left:0px;padding-left:0px;">
                            <li>
                                <b>Propriétaire averti :</b>
                                {% if signalement.isProprioAverti %}
                                    {{ picto_yes|raw }}
                                {% else %}
                                    {{ picto_no|raw }}
                                {% endif %}
                            </li>
                            {% if signalement.isProprioAverti and signalement.informationProcedure %}
                                <li>
                                    <b>Moyen d'information du propriétaire :</b>
                                    {% if signalement.informationProcedure.infoProcedureBailMoyen %}
                                        {% set MoyenContact = enum('\\App\\Entity\\Enum\\MoyenContact').tryFromString(signalement.informationProcedure.infoProcedureBailMoyen) %}
                                        {{ MoyenContact.label }}
                                    {% endif %}
                                </li>
                                <li>
                                    <b>Date d'information du propriétaire :</b>
                                    {% if signalement.informationProcedure.infoProcedureBailDate %}
                                        {{ signalement.informationProcedure.infoProcedureBailDate }}
                                    {% endif %}
                                </li>
                                <li>
                                    <b>Réponse du propriétaire :</b>
                                    {% if signalement.informationProcedure.infoProcedureBailReponse %}
                                        <br>
                                        {{ signalement.informationProcedure.infoProcedureBailReponse|nl2br }}
                                    {% endif %}
                                </li>
                                <li>
                                    <b>Numéro de réclamation :</b>
                                    {% if signalement.isLogementSocial %}
                                        {% if signalement.informationProcedure.infoProcedureBailNumero %}
                                            {{ signalement.informationProcedure.infoProcedureBailNumero|nl2br }}
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endif %}
                            <li><b>Nom :</b> {{ signalement.nomProprio ?? 'N/R' }}
                            <li><b>Courriel :</b><a
                                        href="mailto:{{ signalement.mailProprio }}">{{ signalement.mailProprio ?? 'N/R' }}</a>
                            </li>
                            <li><b>Téléphone :</b><a
                                        href="tel:{{ signalement.telProprio }}">{{ signalement.telProprio ?? 'N/R' }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3 style="margin-bottom: 0">Informations procédure</h3>
                        <ul style="list-style:none; margin-left:0px;padding-left:0px;">
                            <li>
                                <b>Bailleur averti :</b>
                                {% if signalement.isProprioAverti is null %}
                                {% elseif signalement.isProprioAverti %}
                                    {{ picto_yes|raw }}
                                {% else %}
                                    {{ picto_no|raw }}
                                {% endif %}
                            </li>
                            {% if signalement.informationProcedure %}
                                <li>
                                    <b>Contact assurance :</b>
                                        {% if signalement.informationProcedure.infoProcedureAssuranceContactee is same as 'oui' %}
                                            {{ picto_yes|raw }}
                                        {% elseif signalement.informationProcedure.infoProcedureAssuranceContactee is same as 'non' %}
                                            {{ picto_no|raw }}
                                        {% else %}
                                            {{signalement.informationProcedure.infoProcedureAssuranceContactee(false)}}
                                        {% endif %}
                                </li>
                                <li>
                                    <b>Réponse assurance :</b>
                                    {% if signalement.informationProcedure.infoProcedureReponseAssurance %}
                                        <br>
                                        {{ signalement.informationProcedure.infoProcedureReponseAssurance | nl2br  }}
                                    {% endif %}
                                </li>
                                <li>
                                    <b>Souhaite garder le logement après travaux :</b>
                                        {% if signalement.informationProcedure.infoProcedureDepartApresTravaux is same as 'oui' %}
                                            {{ picto_no|raw }}
                                        {% elseif signalement.informationProcedure.infoProcedureDepartApresTravaux is same as 'non' %}
                                            {{ picto_yes|raw }}
                                        {% else %}
                                            {{signalement.informationProcedure.infoProcedureDepartApresTravaux(false)}}
                                        {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Informations logement</h3>
                        <ul style="list-style:none; margin-left:0px;padding-left:0px;">
                            <li>
                                <b>Bail en cours :</b>
                                {% if signalement.isBailEnCours %}
                                    {{ picto_yes|raw }}
                                {% else %}
                                    {{ picto_no|raw }}
                                {% endif %}
                            </li>
                            {% if signalement.informationComplementaire and  signalement.informationComplementaire.informationsComplementairesSituationBailleurDateEffetBail %}
                                <li>Date d'effet du bail :
                                    {{ signalement.informationComplementaire.informationsComplementairesSituationBailleurDateEffetBail('d/m/Y')}}
                                </li>
                            {% endif %}
                            <li>
                                <b>Logement vacant :</b>
                                {% if signalement.isLogementVacant is same as true %}
                                    {{ picto_yes|raw }}
                                {% elseif signalement.isLogementVacant is same as false %}
                                    {{ picto_no|raw }}
                                {% endif %}
                            </li>
                            <li>
                                <b>Logement social :</b>
                                {% if signalement.isLogementSocial %}
                                    {{ picto_yes|raw }}
                                {% else %}
                                    {{ picto_no|raw }}
                                {% endif %}
                            </li>
                            <li>
                                <b>Demande de relogement :</b>
                                {% if signalement.isRelogement %}
                                    {{ picto_yes|raw }}
                                {% else %}
                                    {{ picto_no|raw }}
                                {% endif %}
                            </li>
                            <li>
                                <b>Preavis de départ :</b>
                                {% set travailleurSocialPreavisDepart = signalement.situationFoyer ? signalement.situationFoyer.travailleurSocialPreavisDepart : null %}
                                {% if travailleurSocialPreavisDepart is same as null %}
                                    {% if signalement.isPreavisDepart is same as true %}
                                        {% set travailleurSocialPreavisDepart = 'oui' %}
                                    {% elseif signalement.isPreavisDepart is same as false %}
                                        {% set travailleurSocialPreavisDepart = 'non' %}
                                    {% endif %}
                                {% endif %}
                                {% if travailleurSocialPreavisDepart is same as 'oui' %}
                                    {{ picto_yes|raw }}
                                {% elseif travailleurSocialPreavisDepart is same as 'non' %}
                                    {{ picto_no|raw }}
                                {% elseif travailleurSocialPreavisDepart is same as 'nsp' %}
                                    Ne sait pas
                                {% endif %}
                            </li>
                            {% if signalement.typeCompositionLogement %}
                                {% if signalement.typeCompositionLogement.bailDpeBail %}
                                    <li><b>Bail :</b>
                                        {% if signalement.typeCompositionLogement.bailDpeBail is same as 'oui' %}
                                            {{ picto_yes|raw }}
                                        {% elseif signalement.typeCompositionLogement.bailDpeBail is same as 'non' %}
                                            {{ picto_no|raw }}
                                        {% else %}
                                            {{signalement.typeCompositionLogement.bailDpeBail(false)}}
                                        {% endif %}
                                    </li>
                                {% endif %}
                                {% if signalement.typeCompositionLogement.bailDpeEtatDesLieux %}
                                    <li><b>Etat des lieux :</b>
                                        {% if signalement.typeCompositionLogement.bailDpeEtatDesLieux is same as 'oui' %}
                                            {{ picto_yes|raw }}
                                        {% elseif signalement.typeCompositionLogement.bailDpeEtatDesLieux is same as 'non' %}
                                            {{ picto_no|raw }}
                                        {% else %}
                                            {{signalement.typeCompositionLogement.bailDpeEtatDesLieux(false)}}
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if signalement.numeroInvariant %}
                                <li><b>Invariant fiscal saisi par l'usager :</b>
                                    {{signalement.numeroInvariant}}
                                </li>
                            {% endif %}
                            {% if signalement.numeroInvariantRial %}
                                <li><b>Invariant fiscal récupéré (base DGFIP) :</b>
                                    {{signalement.numeroInvariantRial}}
                                </li>
                            {% endif %}
                            <li>
                                <b>DPE :</b>
                                {% if signalement.typeCompositionLogement %}
                                    {% if signalement.typeCompositionLogement.bailDpeDpe is same as 'oui' %}
                                        {{ picto_yes|raw }}
                                    {% elseif signalement.typeCompositionLogement.bailDpeDpe is same as 'non' %}
                                        {{ picto_no|raw }}
                                    {% else %}
                                        {{signalement.typeCompositionLogement.bailDpeDpe(false)}}
                                    {% endif %}
                                {% else %}
                                    {{ picto_no|raw }}
                                {% endif %}
                            </li>
                            <li>
                                <b>Classe énergétique :</b> {{ signalement.typeCompositionLogement.bailDpeClasseEnergetique(false) ?? 'N/R' }}
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </section>
        
        {% if isForUsager is same as false %}
            <section>
                <h2>Prise en charge partenaire</h2>
                <table style="text-align: center;" class="border">
                    <tr>
                        <td style="width: 33%"><b>En attente</b></td>
                        <td style="width: 34%"><b>Accepté</b></td>
                        <td style="width: 33%"><b>Refusé</b></td>
                    </tr>
                    {% for affectation in signalement.affectations %}
                        <tr>
                            <td>
                                {% if affectation.statut is same as enum('App\\Entity\\Enum\\AffectationStatus').WAIT %}
                                    {{ affectation.partner ? affectation.partner.nom }}
                                    <br>
                                    {{ affectation.createdAt|date('d/m/Y') }}
                                {% endif %}
                            </td>
                            <td>
                                {% if affectation.statut is same as enum('App\\Entity\\Enum\\AffectationStatus').ACCEPTED %}
                                    {{ affectation.partner ? affectation.partner.nom }}
                                    <br>
                                    {{ affectation.answeredAt|date('d/m/Y') }}
                                {% endif %}
                            </td>
                            <td>
                                {% if affectation.statut is same as enum('App\\Entity\\Enum\\AffectationStatus').REFUSED %}
                                    {{ affectation.partner ? affectation.partner.nom }}
                                    <br>
                                    {{ affectation.answeredAt|date('d/m/Y') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </section>

            <section>
                <h2>Visites</h2>            
                {% for intervention in visites %}
                    <div class="fr-background-alt--grey fr-p-5v fr-mb-5v">
                        <div class="fr-grid-row">
                            <div class="fr-col-12 fr-col-md-6 fr-h6 fr-mb-3v">
                                Visite
                                {% if visites is not empty or intervention.scheduledAt is not empty %}
                                    du {{ intervention.scheduledAt|date('d/m/Y') }}
                                {% endif %}
                            </div>
                        </div>
                        {% include 'back/signalement/view/visites/visite-item.html.twig' with { 'isForBO': false } %}
                    </div>
                {% endfor %}
            </section>
        {% endif %}

    </div>

    <div class="page" style="padding-top: 25px!important;">
        <section>
            <h2>Problème(s) signalé(s)</h2>
            <h3>Criticité du signalement</h3>
            <div><strong class="fr-text--lg">{{ signalement.score|round(2) }} %</strong></div>
            {% if signalement.isV2 %}
                <div>(Score bâtiment : {{ signalement.scoreBatiment|round(2) }} % - Score logement : {{ signalement.scoreLogement|round(2) }} %)</div>
            {% endif %}
            {% if signalement.isV2 %}
                <h4>Désordres logement</h4>
                {% if situations[enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] is defined %}
                    {% for situation,criteres in situations[enum('App\\Entity\\Enum\\DesordreCritereZone').LOGEMENT.name] %}
                        {% include 'pdf/partial_desordre.html.twig' %}   
                    {% endfor %}
                {% else %}
                    <i>Aucun désordre signalé dans le logement</i>
                {% endif %}

                
                <h4>Désordres bâtiment</h4>
                {% if situations[enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] is defined %}
                    {% for situation,criteres in situations[enum('App\\Entity\\Enum\\DesordreCritereZone').BATIMENT.name] %}
                        {% include 'pdf/partial_desordre.html.twig' %}   
                    {% endfor %}
                {% else %}
                    <i>Aucun désordre signalé dans le bâtiment</i>
                {% endif %}                
                {% if signalement.debutDesordres is not null %}
                <h4>Informations supplémentaires sur les désordres</h4>
                    <div>
                        <ul>
                            <li>Les désordres ont commencé il y a : 
				            {{ signalement.debutDesordres.label}}
                            </li>
                        {% if signalement.hasSeenDesordres is not null %}
                            <li>Désordres constatés: {{ signalement.hasSeenDesordres ? 'Oui' : 'Non' }}</li>
                        {% endif %}
                        </ul>
                    </div>
                {% endif %}
            {% else %}
                <ul style="list-style:none; margin-left:0px;padding-left:0px;">
                    {% for situation,criteres in situations %}
                        <li>
                            <h3><b>{{ situation|capitalize }}</b></h3>
                            <ul style="list-style:none;">
                                {% for critere,criticite in criteres %}
                                    <li>{% if criticite.critere.isDanger %}<p class="fr-badge fr-badge--warning">
                                        danger</p>&nbsp;&nbsp;{% endif %}<b>{{ critere }}</b>
                                        <ul style="list-style:none;">
                                            <li class="fr-grid-row fr-grid-row--middle fr-w-100">
                                                <div class="fr-col-md-2 fr-col-lg-1 fr-col--middle">
                                                </div>
                                                <div class="fr-col-md-10 fr-col-lg-11 fr-pl-5v fr-rounded">
                                                    {{ criticite.label|capitalize }}
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </div>

    {% if signalement.suivis|length %}
        <div class="page" style="padding-top: 25px!important;">
            <section>
                <h2>Suivi(s)</h2>
                <table class="fr-stripped">
                    {% for suivi in signalement.suivis|reverse %}
                        {% if (isForUsager and suivi.isPublic) or isForUsager is same as false  %}                            
                            <tr>
                                <td style="padding:.5rem;width: 15%">
                                    {% set isSuiviUsager = false %}
                                    {% if suivi.category in [
                                            enum('App\\Entity\\Enum\\SuiviCategory').MESSAGE_USAGER,
                                            enum('App\\Entity\\Enum\\SuiviCategory').MESSAGE_USAGER_POST_CLOTURE,
                                            enum('App\\Entity\\Enum\\SuiviCategory').DOCUMENT_DELETED_BY_USAGER,
                                            enum('App\\Entity\\Enum\\SuiviCategory').DEMANDE_POURSUITE_PROCEDURE,
                                            enum('App\\Entity\\Enum\\SuiviCategory').DEMANDE_ABANDON_PROCEDURE,
						                    enum('App\\Entity\\Enum\\SuiviCategory').SIGNALEMENT_EDITED_FO
                                        ] 
                                    %}
                                        {% set isSuiviUsager = true %}
                                    {% endif %}
                                    {% if suivi.type is same as constant('App\\Entity\\Suivi::TYPE_TECHNICAL') %}
                                        Suivi automatique
                                    {% elseif suivi.partner %}
                                        <b>{{ suivi.partner.nom }}</b>
                                        {% if not isForUsager %}
                                            <br>
                                            <small>
                                                {{ suivi.createdBy.nomComplet(true) }}
                                                {% if suivi.createdBy.fonction %}({{ suivi.createdBy.fonction }}){% endif %}
                                            </small>
                                        {% endif %}
                                    {% elseif suivi.createdBy %}
                                        {% if isSuiviUsager %}
                                            <b>{{ (suivi.createdBy is same as signalement.getSignalementUsager.getOccupant ? 'OCCUPANT' : 'DECLARANT') }}</b>
                                            <br>
                                            {{ suivi.createdBy.nomComplet(true) }}
                                        {% else %}
                                            {% if suivi.createdBy.getPartnerInTerritoryOrFirstOne(suivi.signalement.territory) %}
                                                <b>{{ suivi.createdBy.getPartnerInTerritoryOrFirstOne(suivi.signalement.territory).nom }}</b>
                                                {% if not isForUsager %}
                                                    <br>
                                                    <small>
                                                        {{ suivi.createdBy.nomComplet(true) }}
                                                        {% if suivi.createdBy.fonction %}({{ suivi.createdBy.fonction }}){% endif %}
                                                    </small>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <b> Aucun</b>
                                    {% endif %}
                                    <br>
                                    <small>{{ suivi.createdAt|date('d/m/Y') }}</small>
                                </td>
                                <td style="padding:.5rem;width:85%">{{ suivi.description|raw }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>

            </section>
        </div>
    {% endif %}

    <section>
        <div class="page">
        {% set sortedPhotos = signalement.files
            |filter(photo => photo.isTypeImage and (photo.isSuspicious is not same as(true)))
            |sort((a, b) =>
                (a.documentType.name == 'PHOTO_VISITE' ? 1 : 0) <=> (b.documentType.name == 'PHOTO_VISITE' ? 1 : 0)
                ?: (a.createdAt <=> b.createdAt)
            )
        %}
        {% for photo in sortedPhotos %}
                <div style="page-break-inside: avoid;margin-top: 25px;">
                    <h2>Photo : {{ photo.title }}</h2>
                    {% if photo.documentType.name == 'PHOTO_VISITE' %}
                       <h3>Photo de la visite du {{ photo.intervention is defined and photo.intervention.scheduledAt is defined ? photo.intervention.scheduledAt|date('d/m/Y') : 'N/R'}}</h3>  
                    {% endif %}
                    {% if not isForUsager %}                    
                        <small>Ajoutée par {{ photo.uploadedBy.nomComplet ?? 'N/R' }}</small><br>
                    {% endif %}
                    <small>le {{ photo.createdAt is defined ? photo.createdAt|date('d/m/Y') : 'N/R' }}</small><br>                    
                    {% set encodedImage = photo.filename(constant('App\\Service\\ImageManipulationHandler::SUFFIX_RESIZE')) | image64 %}
                    {% if encodedImage is not null %}                    
                        <img src="{{ encodedImage }}" style="max-width:100%" id="{{ photo.filename }}" alt="{{ photo.title }}"/>
                    {% else %}
                        La photo n'existe plus
                    {% endif %}
                </div>
        {% endfor %}
        </div>
    </section>

{% endblock %}
