{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <main class="fr-container-fluid">
        <div class="fr-grid-row">
            {% include 'back/nav_bo.html.twig' %}
            <div class="fr-col-12 fr-col-md-9 fr-col-lg-10" style="overflow-x:hidden ">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div role="alert" class="fr-alert fr-alert--{{ label }} fr-alert--sm">
                        {% if label is same as('error error-raw')  %}
                            <p>{{ message|raw }}</p>
                        {% else %}
                            <p>{{ message }}</p>
                        {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block chatbot %}
    {% if chatbot.enable %}
        <div class="faq-redirection">
            <a href="https://documentation.histologe.beta.gouv.fr/?q="
               class="fr-btn fr-icon-questionnaire-line"
               target="blank"
               title="Vous avez une question ?"
               rel="noopener"></a>
        </div>
    {% endif %}
{% endblock %}

{% block cgumodale %}
    {% if platform.cgu_current_version is not same as app.user.cguVersionChecked %}
        <button class="fr-hidden" data-fr-opened="true" aria-controls="fr-modal-cgu-bo"></button>
        <dialog aria-labelledby="fr-modal-cgu-bo-title" id="fr-modal-cgu-bo" class="fr-modal" role="dialog" open="true">
            <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                        <div class="fr-modal__body">
                            <div class="fr-modal__header">
                                <h1 id="fr-modal-cgu-bo-title" class="fr-modal__title">
                                    <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
                                    Mise à jour des conditions d'utilisation
                                </h1>
                            </div>
                            <div class="fr-modal__content">
                                <div>
                                    <p>
                                        Les conditions générales d'utilisation du service ont été mises à jour le {{platform.cgu_current_version}}.
                                        Veuillez en prendre connaissance pour continuer à utiliser le service.
                                    </p>
                                </div>

                                {% include 'back/cgu_bo.html.twig' %}

                                <fieldset class="fr-fieldset" id="checkboxes-modal-cgu-bo">
                                    <div class="fr-fieldset__element">
                                        <div class="fr-checkbox-group">
                                            <input name="checkboxes-modal-cgu-bo-accept" id="checkboxes-modal-cgu-bo-accept" type="checkbox" aria-describedby="checkboxes-modal-cgu-bo-accept-messages">
                                            <label class="fr-label" for="checkboxes-modal-cgu-bo-accept">
                                                J'ai pris connaissance des conditions d'utilisation du service.
                                            </label>
                                            <div class="fr-messages-group fr-hidden" id="checkboxes-modal-cgu-bo-accept-messages" aria-live="assertive">
                                                <p class="fr-message fr-message--error" id="checkbox-error-message-error">Merci de cocher cette case pour valider</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="fr-modal__footer">
                                <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                    <input type="hidden" id="form-cgu-bo-url" value="{{ path('cgu_bo_confirm') }}">
                                    <input type="hidden" id="form-cgu-bo-token" value="{{ csrf_token('cgu_bo_confirm') }}">
                                    <button id="fr-modal-cgu-bo-btn" class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left" disabled>
                                        Accepter et continuer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dialog>
    {% endif %}
{% endblock %}
