{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% include 'back/nav_bo.html.twig' %}
    <main id="container-horizontal" class="{{ app.request.get('_route') in ['back_cartographie'] ? '' : 'fr-mb-5v'}}">
        <div class="{{ app.request.get('_route') in ['back_cartographie', 'back_signalements_index', 'back_dashboard'] ? 'fr-container-fluid' : container_class }}">
            <div class="fr-grid-row">
                <div class="fr-col-12" id="content">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div role="alert" class="fr-alert fr-alert--{{ label }} fr-alert--sm">
                                {% if label is same as('error error-raw')  %}
                                    <p>{{ message|raw }}</p>
                                {% else %}
                                    <p>{{ message }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block customscripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app-back-bo') }}
    {{ encore_entry_link_tags('app-back-bo') }}
{% endblock %}

{% block documentation %}
    <div class="faq-redirection">
        <a href="https://documentation.signal-logement.beta.gouv.fr/?q="
            class="fr-btn fr-icon-questionnaire-line"
            target="blank"
            title="Vous avez une question ?"
            rel="noopener"></a>
    </div>
{% endblock %}

{% block bo_modales %}
    {% if platform.cgu_current_version is not same as app.user.cguVersionChecked %}
        <button class="fr-hidden" data-fr-opened="true" aria-controls="fr-modal-cgu-bo"></button>
        <dialog aria-labelledby="fr-modal-cgu-bo-title" id="fr-modal-cgu-bo" class="fr-modal" open="true">
            <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                        <div class="fr-modal__body">
                            <div class="fr-modal__header">
                            </div>
                            <div class="fr-modal__content">
                                <h1 id="fr-modal-cgu-bo-title" class="fr-modal__title">
                                    Mise à jour des conditions d'utilisation
                                </h1>
                                <div>
                                    <p>
                                        Les conditions générales d'utilisation du service ont été mises à jour le {{platform.cgu_current_version}}.
                                        Veuillez en prendre connaissance pour continuer à utiliser le service.
                                    </p>
                                </div>

                                {% include 'back/cgu_bo.html.twig' %}

                                <fieldset class="fr-fieldset" id="checkboxes-modal-cgu-bo">
                                    <div class="fr-fieldset__element">
                                        <div class="fr-checkbox-group">
                                            <input name="checkboxes-modal-cgu-bo-accept" id="checkboxes-modal-cgu-bo-accept" type="checkbox" aria-describedby="checkboxes-modal-cgu-bo-accept-messages">
                                            <label class="fr-label" for="checkboxes-modal-cgu-bo-accept">
                                                J'ai pris connaissance des conditions d'utilisation du service.
                                            </label>
                                            <div class="fr-messages-group fr-hidden" id="checkboxes-modal-cgu-bo-accept-messages" aria-live="assertive">
                                                <p class="fr-message fr-message--error" id="checkbox-error-message-error">Merci de cocher cette case pour valider</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="fr-modal__footer">
                                <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                    <input type="hidden" id="form-cgu-bo-url" value="{{ path('cgu_bo_confirm') }}">
                                    <input type="hidden" id="form-cgu-bo-token" value="{{ csrf_token('cgu_bo_confirm') }}">
                                    <button id="fr-modal-cgu-bo-btn" class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left" disabled>
                                        Accepter et continuer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dialog>
    {% endif %}

    {% if app.user.popNotifications|length %}
        {{ render(controller('App\\Controller\\Back\\PopNotificationController::show')) }}
    {% endif %}

{% endblock %}
