<nav role="navigation" class="fr-breadcrumb fr-mt-0" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d’Ariane</button>
    <div class="fr-collapse" id="breadcrumb">
        <ol class="fr-breadcrumb__list">
            <li>
                <a class="fr-breadcrumb__link" href="{{ path('back_dashboard') }}"
                    aria-label="Retour au tableau de bord">Accueil</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link"
                    {% if level2Link %}  href="{{ level2Link }}"{% else %}aria-current="page"{% endif %}
                    {% if level2Link == path('back_index') %} data-filter-list-signalement {% endif %}
                    {% if level2Label %}aria-label="{{ level2Label }}"{% endif %}
                    >{{ level2Title }}</a>
            </li>
            <li>
                <a class="fr-breadcrumb__link" aria-current="page">{{ level3Title }}</a>
            </li>
        </ol>
    </div>
</nav>
