<nav class="fr-nav" id="navigation-main" aria-label="Menu principal">
    <ul class="fr-nav__list">
        {% for item in main_menu.getChildren %}
            {% if item.getChildren is empty and is_granted(item.roleGranted) %}
                {# Élément de menu principal sans sous-menus #}
                <li class="fr-nav__item">
                    <a class="fr-nav__link" href="{{ path(item.route, item.routeParameters) }}" target="_self"
                       {% if app.request.get('_route') == item.route %}aria-current="page"{% endif %}
                    > <span class="{{ item.icon }}"></span>  {{ item.label }}</a>
                </li>
            {% else %}
                {# Élément de menu avec sous-menus #}
                <li class="fr-nav__item">
                {% if item.getChildren is not empty and is_granted(item.roleGranted) %}
                    <button class="fr-nav__btn"
                            aria-expanded="false"
                            aria-controls="submenu-{{ loop.index }}"
                            {% if app.request.get('_route') in item.getChildren|map(child => child.route) %}aria-current="true"{% endif %}
                    >{{ item.label }}</button>
                {% endif %}
                    <div class="fr-collapse fr-menu" id="submenu-{{ loop.index }}">
                        <ul class="fr-menu__list">
                            {% for child in item.getChildren %}
                                {% if child.featureEnable and is_granted(child.roleGranted) and not is_granted(child.roleNotGranted) %}
                                    <li>
                                        <a class="fr-nav__link"
                                           href="{{ path(child.route, child.routeParameters) }}"
                                           target="_self"
                                           aria-current="{{ (app.request.get('_route') == child.route)  ? 'page' : 'false' }}"
                                        >{{ child.label }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        <li class="fr-nav__item fr-ml-auto">
            <a class="fr-nav__link" href="{{ gitbook.faq }}" target="_blank" rel="noopener">
                Documentation
            </a>
        </li>
    </ul>
</nav>
