{% set notification_count = count_notification(app.user) %}
{% set logoClass = 'logo-width-lg' %}
<header class="fr-header">
    <div class="fr-header__body">
        <div class="{{ container_class }}">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                ministères <br> aménagement <br>du territoire <br>transition <br>écologique
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-header-menu" aria-haspopup="menu" id="button-header-menu" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="{{ path('home') }}" title="Accueil - {{ platform.name }} - Ministère de la transition écologique">
                            <img class="fr-responsive-img {{ logoClass }}" src="{{ asset('img/' ~ (platform.logo145 ?: 'logo_145.png')) }}" alt="{{ platform.name }}">
                        </a>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-btns-group">
                            <li>
                                <a class="fr-btn fr-icon-notification-3-fill notification-icon" href="{{ path('back_notifications_list') }}">
                                    Notifications
                                    {% if notification_count > 0 %}
                                        ({{ notification_count }})
                                        <span class="notification-badge"></span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a class="fr-btn"
                                    href="{{ path('back_profil') }}"
                                    target="_self">
                                    <span class="fr-mr-2v">{{ user_avatar_or_placeholder(app.user, 18) }}</span>
                                    {{ app.user.prenom ~' '~app.user.nom[:1]|capitalize~'.' }}
                                </a>
                            </li>
                            <li>
                                <a class="fr-btn fr-fi-logout-box-r-line" href="{{ path('app_logout') }}">
                                    Se déconnecter
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-header__menu fr-modal" id="modal-header-menu" aria-labelledby="button-header-menu">
        <div class="{{ container_class }}">
            <button class="fr-btn--close fr-btn" aria-controls="modal-header-menu" title="Fermer">
                Fermer
            </button>
            <div class="fr-header__menu-links">
            </div>
            {% include 'back/header_main_menu.html.twig' with {'main_menu': main_menu()} %}
        </div>
    </div>
</header>
