<nav class="fr-sidemenu fr-sidemenu--sticky-full-height fr-text--center fr-col-12 fr-col-md-3 fr-col-lg-2 fr-pr-0"
     aria-label="Menu latéral">
    <div class="fr-p-5v fr-sidemenu__inner">
        <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">
            Menu
        </button>
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <div class="fr-pb-5v">
                <img src="{{ asset('img/logo_145.png') }}" alt="HISTOLOGE" width="145px">
            </div>
            <div class="fr-sidemenu__title">Tableau de bord<br>
                <small class="fr-text-label--blue-france">{{ app.user.nom ~' '~app.user.prenom[:1]|capitalize~'.' }}</small>
            </div>
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="{{ path('back_index') }}">Accueil</a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="{{ path('back_news_activities') }}">Notifications<span
                                class="fr-puce fr-puce--danger">{{ app.user.notifications|filter(n=> n.isSeen != 1)|length }}</span></a>
                </li>
                <button class="fr-sidemenu__btn"
                        aria-expanded="{% if 'back_index' in app.request.get('_route') or 'back_signalement' in app.request.get('_route') %}true{% else %}false{% endif %}"
                        aria-controls="fr-sidemenu-signalement">Signalements
                </button>
                <div class="fr-collapse" id="fr-sidemenu-signalement">
                    <ul class="fr-sidemenu__list">
                        <li class="fr-sidemenu__item {% if 'back_index' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                            <a class="fr-sidemenu__link" href="{{ path('back_index') }}" target="_self"
                               {% if 'back_index' is same as(app.request.get('_route')) %}aria-current="page" {% endif %}>Liste</a>
                        </li>
                        <li class="fr-sidemenu__item">
                            <a class="fr-sidemenu__link" href="{{ path('front_signalement') }}" target="_self">Créer un
                                signalement</a>
                        </li>
                        {% if 'back_signalement_view' in app.request.get('_route') %}
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="#" target="_self"
                                   aria-current="page">Détail {{ signalement.reference }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <button class="fr-sidemenu__btn"
                        aria-expanded="{% if 'back_cartographie' is same as(app.request.get('_route')) or 'back_statistique' is same as(app.request.get('_route')) %}true{% else %}false{% endif %}"
                        aria-controls="fr-sidemenu-pilotage">Données chiffrées
                </button>
                <div class="fr-collapse" id="fr-sidemenu-pilotage">
                    <ul class="fr-sidemenu__list">
                        <li class="fr-sidemenu__item {% if 'back_cartographie' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                            <a class="fr-sidemenu__link" href="{{ path('back_cartographie') }}" target="_self"
                               {% if 'back_cartographie' is same as(app.request.get('_route')) %}aria-current="page"{% endif %}>Cartographie</a>
                        </li>
                        <li class="fr-sidemenu__item {% if 'back_statistique' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                            <a class="fr-sidemenu__link" href="#" disabled="" target="_self"><s>Statistiques</s>
                                <br> <small class="fr-text-default--warning">&nbsp;(maintenance)</small></a>
                        </li>
                    </ul>
                </div>
                {% if is_granted('ROLE_ADMIN_PARTNER') %}
                    <button class="fr-sidemenu__btn"
                            aria-expanded="{% if 'back_user_report_index' is same as(app.request.get('_route')) or 'back_situation_' in app.request.get('_route') or 'back_partner_' in app.request.get('_route') %}true{% else %}false{% endif %}"
                            aria-controls="fr-sidemenu-outils-admin">Outils Admin
                    </button>
                    <div class="fr-collapse" id="fr-sidemenu-outils-admin">
                        <ul class="fr-sidemenu__list">
                            {% if not is_granted('ROLE_ADMIN_TERRITORY') %}
                                <li class="fr-sidemenu__item {% if 'back_partner' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                                    <a class="fr-sidemenu__link"
                                       href="{{ path('back_partner_edit',{id:app.user.partner.id}) }}"
                                       target="_self"
                                       {% if 'back_partner' is same as(app.request.get('_route')) %}aria-current="page"{% endif %}>Gestion
                                        des comptes</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                                {% if app.user.territory is not null %}
                                    <li class="fr-sidemenu__item {% if 'back_config' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                                        <a class="fr-sidemenu__link"
                                           href="{{ path('back_config',{id:app.user.territory.id}) }}" target="_self"
                                           {% if 'back_config' is same as(app.request.get('_route')) %}aria-current="page"{% endif %}>Configuration</a>
                                    </li>
                                {% elseif is_granted('ROLE_ADMIN') %}
                                    <li class="fr-sidemenu__item {% if 'back_territory_index' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                                        <a class="fr-sidemenu__link"
                                           href="#" target="_self"
                                           {% if 'back_territory_index' is same as(app.request.get('_route')) %}aria-current="page"{% endif %}><s>Territoires</s> <small class="fr-text-default--warning">&nbsp;(maintenance)</small></a>
                                    </li>
                                {% endif %}
                                <li class="fr-sidemenu__item {% if 'back_partner' in app.request.get('_route') %}fr-sidemenu__item--active{% endif %}">
                                    <a class="fr-sidemenu__link" href="{{ path('back_partner_index') }}"
                                       target="_self"
                                       {% if 'back_partner' in app.request.get('_route') %}aria-current="page"{% endif %}>Partenaires</a>
                                </li>

                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                {# <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link fr-link--icon-left" href="{{ path('signalement') }}">Créer un signalement</a>
                </li>
                <li class="fr-sidemenu__item {% if 'back_index' is same as(app.request.get('_route')) or 'back_signalement_' in app.request.get('_route') %}fr-sidemenu__item--active{% endif %}">
                    <a class="fr-sidemenu__link" href="{{ path('back_index') }}" target="_self"
                       {% if 'back_index' is same as(app.request.get('_route')) or 'back_signalement_' in app.request.get('_route') %}aria-current="page"{% endif %}>Dashboard</a>
                    {% if 'back_signalement_view' is same as(app.request.get('_route')) %}
                        <ul class="fr-sidemenu__list">
                            <li class="fr-sidemenu__item fr-sidemenu__item--active">
                                <a class="fr-sidemenu__link" href="#" target="_self" aria-current="page">Détail
                                    signalement</a>
                            </li>
                        </ul>
                        {% elseif 'back_signalement_edit' is same as(app.request.get('_route')) %}
                            <ul class="fr-sidemenu__list">
                                <li class="fr-sidemenu__item fr-sidemenu__item--active">
                                    <a class="fr-sidemenu__link" href="#" target="_self" aria-current="page">Edition
                                        signalement</a>
                                </li>
                            </ul>
                    {% endif %}
                </li>
                #}{# <li class="fr-sidemenu__item {% if 'back_export' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                    <a class="fr-sidemenu__link" href="#" target="_self">Export</a>
                </li> #}{#
                {% if is_granted('ROLE_ADMIN_PARTNER') and app.user.partner %}
                    <li class="fr-sidemenu__item {% if 'back_partner' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                        <a class="fr-sidemenu__link" href="{{ path('back_partner_edit',{id:app.user.partner.id}) }}" target="_self" {% if 'back_partner' is same as(app.request.get('_route')) %}aria-current="page"{% endif %}>Paramètres</a>
                    </li>
                {% endif %}
                #}
            </ul>
            <ul class="fr-sidemenu__list fr-sidemenu__list-bottom">
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link fr-fi-logout-box-r-line"
                       href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>