<nav class="fr-sidemenu fr-sidemenu--sticky-full-height fr-text--center fr-col-12 fr-col-md-3 fr-col-lg-2 fr-pr-0"
     aria-label="Menu latéral">
    <div class="fr-p-5v fr-sidemenu__inner">
        <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">
            Menu
        </button>
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <div class="fr-pb-5v">
                <img src="{{ asset('img/logo_145.png') }}" alt="{{ platform.name }}" width="145px">
            </div>
            <div class="fr-sidemenu__title">
                {% if is_granted('ROLE_ADMIN') %}
                    Super Admin
                {% elseif is_granted('ROLE_ADMIN_TERRITORY') %}
                    {{ app.user.territory.name }}
                {% else %}
                    {{ app.user.partner ? app.user.partner.nom : '' }}
                {% endif %}
                <br>
                <small class="fr-text-label--blue-france">{{ app.user.prenom ~' '~app.user.nom[:1]|capitalize~'.' }}</small>
            </div>
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="{{ path('back_dashboard') }}">
                       Tableau de bord
                    </a>
                </li>
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link" href="{{ path('back_notifications_list') }}">Notifications
                        <span class="fr-puce fr-puce--danger">{{ count_notification(app.user) }} </span>
                    </a>
                </li>
                <button class="fr-sidemenu__btn"
                        aria-expanded="{% if 'back_index' in app.request.get('_route') or 'back_signalement' in app.request.get('_route') %}true{% else %}false{% endif %}"
                        aria-controls="fr-sidemenu-signalement">Signalements
                </button>
                <div class="fr-collapse" id="fr-sidemenu-signalement">
                    <ul class="fr-sidemenu__list">
                        <li class="fr-sidemenu__item {% if 'back_index' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                            <a class="fr-sidemenu__link" href="{{ path('back_index') }}" target="_self"
                               {% if 'back_index' is same as(app.request.get('_route')) %}aria-current="page" {% endif %}>Liste</a>
                        </li>
                        <li class="fr-sidemenu__item">
                            <a class="fr-sidemenu__link" href="{{ path('front_signalement') }}" target="_self">Créer un
                                signalement</a>
                        </li>
                        {% if 'back_signalement_view' in app.request.get('_route') %}
                            <li class="fr-sidemenu__item">
                                <a class="fr-sidemenu__link" href="#" target="_self"
                                   aria-current="page">Détail {{ signalement.reference }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <button class="fr-sidemenu__btn"
                        aria-expanded="{% if 'back_cartographie' is same as(app.request.get('_route')) or 'back_statistique' is same as(app.request.get('_route')) %}true{% else %}false{% endif %}"
                        aria-controls="fr-sidemenu-pilotage">Données chiffrées
                </button>
                <div class="fr-collapse" id="fr-sidemenu-pilotage">
                    <ul class="fr-sidemenu__list">
                        <li class="fr-sidemenu__item {% if 'back_cartographie' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                            <a class="fr-sidemenu__link" href="{{ path('back_cartographie') }}" target="_self"
                               {% if 'back_cartographie' is same as(app.request.get('_route')) %}aria-current="page"{% endif %}>Cartographie</a>
                        </li>
                        <li class="fr-sidemenu__item {% if 'back_statistiques' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                            <a class="fr-sidemenu__link" href="{{ path('back_statistiques') }}" target="_self">Statistiques</a>
                        </li>
                    </ul>
                </div>
                {% if is_granted('ROLE_ADMIN_PARTNER') %}
                    <button class="fr-sidemenu__btn"
                            aria-expanded="{% if 'back_user_report_index' is same as(app.request.get('_route')) or 'back_situation_' in app.request.get('_route') or 'back_partner_' in app.request.get('_route') %}true{% else %}false{% endif %}"
                            aria-controls="fr-sidemenu-outils-admin">Outils Admin
                    </button>
                    <div class="fr-collapse" id="fr-sidemenu-outils-admin">
                        <ul class="fr-sidemenu__list">
                            {% if not is_granted('ROLE_ADMIN_TERRITORY') %}
                                <li class="fr-sidemenu__item {% if 'back_partner' is same as(app.request.get('_route')) %}fr-sidemenu__item--active{% endif %}">
                                    <a class="fr-sidemenu__link"
                                       href="{{ path('back_partner_view',{id:app.user.partner.id}) }}"
                                       target="_self"
                                       {% if 'back_partner' is same as(app.request.get('_route')) %}aria-current="page"{% endif %}>Mon partenaire</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                                <li class="fr-sidemenu__item {% if 'back_partner' in app.request.get('_route') %}fr-sidemenu__item--active{% endif %}">
                                    <a class="fr-sidemenu__link" href="{{ path('back_partner_index') }}"
                                       target="_self"
                                       {% if 'back_partner' in app.request.get('_route') %}aria-current="page"{% endif %}>Partenaires</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="fr-sidemenu__item {% if 'back_account' in app.request.get('_route') %}fr-sidemenu__item--active{% endif %}">
                                        <a class="fr-sidemenu__link" href="{{ path('back_account_index') }}"
                                        target="_self"
                                        {% if 'back_account' in app.request.get('_route') %}aria-current="page"{% endif %}>Comptes archivés</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </ul>
            {% if gitbook is defined %}
                <ul class="fr-sidemenu__list fr-sidemenu__list-bottom">
                    <li class="fr-sidemenu__item">
                        <a class="fr-sidemenu__link fr-fi-external-link-line"
                           href="{{ gitbook.documentation }}" target="_blank"  rel="noopener">Documentation</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="fr-sidemenu__list fr-sidemenu__list-bottom">
                <li class="fr-sidemenu__item">
                    <a class="fr-sidemenu__link fr-fi-logout-box-r-line"
                       href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>