{% for index,signalement in signalements.list %}

    <tr class="{% if signalement.statut is same as(1) or signalement.statut is same as(3) %}fr-background-contrast--orange-terre-battue{% endif %} signalement-row"
        data-score="{{ signalement.scoreCreation }}">
        <td>
            <a href="{{ path('back_signalement_view',{uuid:signalement.uuid}) }}"
               class="fr-ws-nowrap">{{ signalement.reference }}</a>
        </td>
        <td>{{ signalement.createdAt|date('d/m/Y') }}</td>
        <td>
            {% if is_granted('ROLE_ADMIN') %}
                {{ signalement.scoreCreation|round(2) }}
            {% else %}
                <canvas id="gauge-signalement-{{ signalement.id }}"
                        class="fr-col-12 fr-col-md-10 fr-col-lg-6 gauge-signalement"></canvas>

            {% endif %}
        </td>
        {% if is_granted('ROLE_ADMIN') %}
            <td>
                {{ signalement.newScoreCreation|round(2) }}
            </td>
        {% endif %}
        <td>
            {{ signalement.nomOccupant|upper }}<br>{{ signalement.prenomOccupant|capitalize }}
        </td>
        <td>{{ signalement.villeOccupant|upper }} <br><small>[{{ signalement.adresseOccupant }}]</small></td>
        <td>
            {% for affectation in signalement.affectations %}
                {% set classe = '' %}
                {% if affectation.statut is same as (0) %}
                    {% set classe = 'fr-badge fr-badge--info' %}
                {% elseif affectation.statut is same as (1) %}
                    {% set classe = 'fr-badge fr-badge--success' %}
                {% elseif affectation.statut is same as (2) %}
                    {% set classe = 'fr-badge fr-text-label--red-marianne fr-background-contrast--red-marianne fr-fi-close-line' %}
                {% elseif affectation.statut is same as (3) %}
                    {% set classe = 'fr-badge fr-fi-close-circle-fill' %}
                {% endif %}
                <small class="{{ classe }} fr-ws-nowrap fr-badge--sm fr-my-1v fr-text--bold fr-display-block"><span
                    > {{ affectation.partner }}</span></small>
            {% else %}
                Aucune
            {% endfor %}
        </td>
        <td>
            {% if signalement.lastSuiviBy is not null %}
                <strong>{{ signalement.lastSuiviAt|date('d.m.Y') }}</strong> <br>{% set classe = '' %}
                {% if 'OCCUPANT' == signalement.lastSuiviBy or 'DECLARANT' == signalement.lastSuiviBy %}
                    {% set classe = 'fr-badge fr-badge--warning' %}
                {% endif %}
                <small class="{{ classe }}">{{ signalement.lastSuiviBy }}</small> <br>
            {% endif %}
        </td>
        <td>
            {% if signalement.statut is same as(1) %}
                <strong class="fr-text-label--red-marianne">A valider</strong>
            {% elseif signalement.statut is same as(2) %}
                En cours
            {% elseif signalement.statut is same as(3) %}
                <strong class="fr-text-label--red-marianne">En attente</strong>
            {% elseif signalement.statut is same as(6) %}
                Fermé
            {% endif %}
        </td>
        <td class="fr-text--right fr-ws-nowrap">
            <a href="{{ path('back_signalement_view',{uuid:signalement.uuid}) }}"
               class="fr-btn fr-btn--sm fr-fi-eye-fill"></a>
            <a href="{{ path('back_signalement_edit',{uuid:signalement.uuid}) }}"
               class="fr-btn fr-btn--secondary fr-btn--sm fr-fi-edit-fill"></a>
            {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                <button data-delete="{{ path('back_signalement_delete',{uuid:signalement.uuid}) }}"
                        data-token="{{ signalements.csrfTokens[signalement.uuid] }}"
                        class="fr-btn fr-btn--sm fr-btn--danger fr-fi-delete-fill signalement-row-delete"></button>
            {% endif %}
        </td>
    </tr>
{% endfor %}
