{% for index,signalement in signalements.list %}

    <tr class="{% if signalement.statut is same as(1) or signalement.statut is same as(3) %}fr-background-contrast--orange-terre-battue{% endif %} signalement-row"
        data-score="{{ signalement.score }}">
        <td>
            <a href="{{ path('back_signalement_view',{uuid:signalement.uuid}) }}"
               class="fr-ws-nowrap">{{ signalement.reference }}</a>
        </td>
        <td>{{ signalement.createdAt|date('d/m/Y') }}</td>
        <td>
            {{ signalement.score|round(2) }}<br>
            {% if is_granted('USER_SEE_NDE', app.user) %}
                {% if signalement.hasNDE %}
                    <br>
                    <span class="fr-badge fr-badge--sm fr-badge--info fr-badge--no-icon fr-mb-1v" title="Non-décence énergétique">NDE</span>
                {% endif %}
            {% endif %}
            {% for qualificationStatusLabel in signalement.qualificationsStatusesLabels %}
                {% include '_partials/signalement/qualification.html.twig' with { 'inlist': true } %}
            {% endfor %}
        </td>
        <td>
            {{ signalement.nomOccupant|upper }}<br>{{ signalement.prenomOccupant|capitalize }}
        </td>
        <td>{{ signalement.villeOccupant|upper }} <br><small>[{{ signalement.adresseOccupant }}]</small></td>
        <td>
            {% for affectation in signalement.affectations %}
                {% set classe = '' %}
                {% if affectation.statut is same as (0) %}
                    {% set classe = 'fr-badge fr-badge--info' %}
                {% elseif affectation.statut is same as (1) %}
                    {% set classe = 'fr-badge fr-badge--success' %}
                {% elseif affectation.statut is same as (2) %}
                    {% set classe = 'fr-badge fr-text-label--red-marianne fr-background-contrast--red-marianne fr-fi-close-line' %}
                {% elseif affectation.statut is same as (3) %}
                    {% set classe = 'fr-badge fr-fi-close-circle-fill' %}
                {% endif %}
                <small class="{{ classe }} fr-ws-nowrap fr-badge--sm fr-my-1v fr-text--bold fr-display-block fr-limit-chars"><span
                    > {{ affectation.partner }}</span></small>
            {% else %}
                Aucune
            {% endfor %}
        </td>
        <td>
            {% if signalement.lastSuiviBy is not null %}
                <strong>{{ signalement.lastSuiviAt|date('d.m.Y') }}</strong> <br>{% set classe = '' %}
                {% if 'OCCUPANT' == signalement.lastSuiviBy or 'DECLARANT' == signalement.lastSuiviBy %}
                    {% set classe = 'fr-badge fr-badge--warning' %}
                {% endif %}
                <small class="{{ classe }}">{{ signalement.lastSuiviBy }}</small> <br>
            {% else %}
                Occupant ou déclarant
            {% endif %}
        </td>
        <td>
            {% if signalement.statut is same as(1) %}
                <strong class="fr-text-label--red-marianne">A valider</strong>
            {% elseif signalement.statut is same as(2) %}
                En cours
            {% elseif signalement.statut is same as(3) %}
                <strong class="fr-text-label--red-marianne">En attente</strong>
            {% elseif signalement.statut is same as(6) %}
                Fermé
            {% elseif signalement.statut is same as(8) %}
                Refusé
            {% endif %}
        </td>
        <td class="fr-text--right fr-ws-nowrap">
            <a href="{{ path('back_signalement_view',{uuid:signalement.uuid}) }}"
               class="fr-btn fr-btn--sm fr-fi-eye-fill"></a>
            {% if is_granted('ROLE_ADMIN_TERRITORY') %}
                <button data-delete="{{ path('back_signalement_delete',{uuid:signalement.uuid}) }}"
                        data-token="{{ signalements.csrfTokens[signalement.uuid] }}"
                        class="fr-btn fr-btn--sm fr-btn--danger fr-fi-delete-fill signalement-row-delete"></button>
            {% endif %}
        </td>
    </tr>
{% endfor %}
