{% extends 'back/base_bo.html.twig' %}

{% block title %}Documents types{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils admin',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Mon territoire',
            'level3Link': path('back_territory_management_index'),
            'level4Title': 'Documents types',
            'level4Link': path('back_territory_management_document'),
            'level5Title': 'Ajout'
        } %}

        <header>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--left">
                    <h1 class="fr-mb-0">Ajouter des documents</h1>
                    <p>
                        Choisissez le document sur votre appareil puis renseignez les détails et conditions d'affichage du document.
                    </p>
                </div>
            </div>
        </header>
    </section>

    <section class="fr-col-12 fr-px-5v" data-ajax-form>
        <div class="single-ajax-form-container">
            {{ form_start(addForm, {'attr': {'id': 'form-add-file', 'data-submit-type': 'formData', 'enctype': 'multipart/form-data'}}) }}
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12">
                    {{ form_row(addForm.file) }}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="fr-col-12">
                    {{ form_row(addForm.territory) }}
                </div>
                {% endif %}
                <div class="fr-col-6">
                    {{ form_row(addForm.title) }}
                </div>
                <div class="fr-col-6">
                    {{ form_row(addForm.documentType) }}
                </div>
                <div class="fr-col-12">
                    {{ form_row(addForm.description) }}
                </div>
            </div>
            <div class="fr-grid-row fr-mt-4w">
                <div class="fr-col-6 fr-text--left">
                    <a href="{{ path('back_territory_management_document') }}" class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-close-line">
                        Annuler
                    </a>
                </div>
                <div class="fr-col-6 fr-text--right">
                    <button type="submit" class="fr-btn fr-btn--icon-left fr-icon-check-line">
                        Ajouter le document
                    </button>
                </div>
            </div>
            {{ form_end(addForm) }}
        </div>
    </section>

{% endblock %}
