{% extends 'back/base_bo.html.twig' %}

{% block title %}Documents types{% endblock %}

{% block content %}
    <section class="fr-p-5v">
        {% include 'back/breadcrumb_bo.html.twig' with {
            'level2Title': 'Outils admin',
            'level2Link': '',
            'level2Label': '',
            'level3Title': 'Mon territoire',
            'level3Link': path('back_territory_management_index'),
            'level4Title': 'Documents types',
            'level4Link': path('back_territory_management_document'),
            'level5Title': 'Édition'
        } %}

        <header>
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-text--left">
                    <h1 class="fr-mb-0">Édition du document : {{ file.title }}</h1>
                    <p>
                        <a href="{{ sign_url(path('show_file', {uuid: file.uuid})) }}"
                            class="fr-link fr-link--icon-right fr-icon-open-in-new-window"
                            target="_blank"
                            rel="noopener noreferrer"
                            >Afficher dans un nouvel onglet</a>
                    </p>
                </div>
                {% if is_granted('ROLE_ADMIN') and file.territory %}
                <div class="fr-col-12 fr-notice fr-notice--warning">
                    <div class="fr-container">
                        <div class="fr-notice__body">
                            <p>
                                <span class="fr-notice__title">La modification sera valable uniquement pour {{ file.territory.name }}.</span>
                                <span class="fr-notice__desc">Pour modifier le document sur tous les territoires, il faut le faire un par un (ou voir si la team dev est disposée à vous aider :D).</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </header>
    </section>

    <section class="fr-col-12 fr-px-5v" data-ajax-form>
        <div class="single-ajax-form-container">
            {{ form_start(editForm, {'attr': {'id': 'form-edit-file', 'data-submit-type': 'formData'}}) }}
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12">
                    <div class="fr-toggle">
                        <input 
                            type="checkbox"
                            id="file-replacement-toggle"
                            class="fr-toggle__input"
                        >
                        <label class="fr-toggle__label" for="file-replacement-toggle">Remplacer le fichier</label>
                    </div>
                </div>
                <div id="file-replacement-container" class="fr-col-12 fr-grid-row fr-grid-row--gutters fr-hidden">
                    <div class="fr-col-6">
                        {{ form_row(editForm.file) }}
                    </div>
                    <div class="fr-col-6">
                        <div id="form-add-file-no-preview" class="fr-hidden">
                            Pas d'aperçu disponible.<br>
                            <img src="{{ asset('img/picto-dsfr/document.svg') }}">
                        </div>
                        <div id="form-add-file-preview" class="fr-hidden">
                            Aperçu du document :<br>
                            <embed src="">
                        </div>
                    </div>
                </div>
                <div class="fr-col-6">
                    {{ form_row(editForm.title) }}
                </div>
                <div class="fr-col-6">
                    {{ form_row(editForm.documentType) }}
                </div>
                <div class="fr-col-12">
                    {{ form_row(editForm.description) }}
                </div>
                <div class="fr-col-12">
                    <h2 class="fr-mb-0 fr-h3">Affichage du document aux partenaires</h2>
                    <p>
                        Par défaut, le document est disponible pour tous les partenaires. Activez l'interrupteur si vous souhaitez paramétrer l'affichage du document.
                    </p>
                    {% set hasPartnerVisibility = editForm.partnerType.vars.data or editForm.partnerCompetence.vars.data %}
                    <div class="fr-toggle">
                        <input 
                            type="checkbox"
                            id="partner-visibility-toggle"
                            class="fr-toggle__input"
                            {% if hasPartnerVisibility %}checked{% endif %}
                        >
                        <label class="fr-toggle__label" for="partner-visibility-toggle">Paramétrer l'affichage pour les partenaires</label>
                    </div>
                </div>
                <div class="fr-col-6 {% if not hasPartnerVisibility %}fr-hidden{% endif %}" id="partner-visibility-type" >
                    {{ form_row(editForm.partnerType) }}
                </div>
                <div class="fr-col-6 {% if not hasPartnerVisibility %}fr-hidden{% endif %}" id="partner-visibility-competence" >
                    {{ form_row(editForm.partnerCompetence) }}
                </div>
            </div>
            <div class="fr-grid-row fr-mt-4w">
                <div class="fr-col-6 fr-text--left">
                    <a href="{{ path('back_territory_management_document') }}" class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-close-line">
                        Annuler
                    </a>
                </div>
                <div class="fr-col-6 fr-text--right">
                    <button type="submit" class="fr-btn fr-btn--icon-left fr-icon-check-line">
                        Enregistrer les modifications
                    </button>
                </div>
            </div>
            {{ form_end(editForm) }}
        </div>
    </section>

{% endblock %}
