{% import 'back/signalement/view/_static_picto.html.twig' as picto %}
<div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-8">
        <h4 class="fr-h6">Situation du foyer</h4>
    </div>
    <div class="fr-col-12 fr-col-md-4 fr-text--right">
        {% if is_granted('SIGN_EDIT_ACTIVE', signalement) %}
            <button href="#" data-fr-opened="false" aria-controls="fr-modal-edit-situation-foyer" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-edit-line">
                Modifier
            </button>
        {% endif %}
    </div>
    <div class="fr-col-12 fr-col-md-6">
        <strong>Logement social :</strong>
        {% if signalement.isLogementSocial is null %}
            Ne sait pas
        {% elseif signalement.isLogementSocial %}
            {{ picto.picto_yes() }}
        {% else %}
            {{ picto.picto_no() }}
        {% endif %}
    </div>
    <div class="fr-col-12">
        <strong>Demande logement social / relogement / mutation :</strong>
        {% if signalement.isRelogement is same as true %}
            {{ picto.picto_yes() }}
        {% elseif signalement.isRelogement is same as false %}
            {{ picto.picto_no() }}
        {% endif %}
    </div>
    <div class="fr-col-12 fr-col-md-6">
        <strong>Allocataire :</strong>
        {% if signalement.isAllocataire in [null, ''] %}
        {% elseif signalement.isAllocataire in ['oui', '1'] %}
            {{ picto.picto_yes() }}
        {% elseif signalement.isAllocataire in ['non', '0'] %}
            {{ picto.picto_no() }}
        {% elseif signalement.isAllocataire %}
            <p class="fr-badge fr-badge--info fr-badge--no-icon">{{ signalement.isAllocataire }}</p>
        {% endif %}
    </div>
    <div class="fr-col-12 fr-col-md-6">
        <strong>Date de naissance :</strong>
        {% if (signalement.dateNaissanceOccupant) %}
            {{ signalement.dateNaissanceOccupant.format('d/m/Y') }}
        {% else %}
            {{ signalement.naissanceOccupants}}
        {% endif %}
    </div>
    {% if signalement.isAllocataire and signalement.isAllocataire not in ['non', '0'] %}
        <div class="fr-col-12 fr-col-md-6">
            <strong>N° allocataire :</strong>
            {{ signalement.numAllocataire }}
        </div>
        <div class="fr-col-12 fr-col-md-6">
            <strong>Montant allocation :</strong>
            {% if signalement.situationFoyer and signalement.situationFoyer.logementSocialMontantAllocation %}
                {{ signalement.situationFoyer.logementSocialMontantAllocation }} €
            {% endif %}
        </div>
    {% endif %}
    <div class="fr-col-12">
        <strong>Souhaite quitter le logement :</strong>
        {% if signalement.situationFoyer %}
            {% if signalement.situationFoyer.travailleurSocialQuitteLogement is same as 'oui' %}
                {{ picto.picto_yes() }}
            {% elseif signalement.situationFoyer.travailleurSocialQuitteLogement is same as 'non' %}
                {{ picto.picto_no() }}
            {% else %}
                {{signalement.situationFoyer.travailleurSocialQuitteLogement(false)}}
            {% endif %}
        {% endif %}
    </div>
    <div class="fr-col-12">
        <strong>Préavis de départ :</strong>
        {% set travailleurSocialPreavisDepart = signalement.situationFoyer ? signalement.situationFoyer.travailleurSocialPreavisDepart : null %}
        {% if travailleurSocialPreavisDepart is same as null %}
            {% if signalement.isPreavisDepart is same as true %}
                {% set travailleurSocialPreavisDepart = 'oui' %}
            {% elseif signalement.isPreavisDepart is same as false %}
                {% set travailleurSocialPreavisDepart = 'non' %}
            {% endif %}
        {% endif %}
        {% if travailleurSocialPreavisDepart is same as 'oui' %}
            {{ picto.picto_yes() }}
        {% elseif travailleurSocialPreavisDepart is same as 'non' %}
            {{ picto.picto_no() }}
        {% elseif travailleurSocialPreavisDepart is same as 'nsp' %}
            Ne sait pas
        {% endif %}
    </div>
    {% set structureAccompagnement = signalement.situationFoyer and signalement.situationFoyer.travailleurSocialAccompagnement is same as 'oui' %}
    <div class="fr-col-12 {% if structureAccompagnement %}fr-col-md-6{% endif %}">
        <strong>Accompagnement par un ou une travailleuse sociale :</strong>
        {% if signalement.situationFoyer %}
            {% if signalement.situationFoyer.travailleurSocialAccompagnement is same as 'oui' %}
                {{ picto.picto_yes() }}
            {% elseif signalement.situationFoyer.travailleurSocialAccompagnement is same as 'non' %}
                {{ picto.picto_no() }}
            {% else %}
                {{signalement.situationFoyer.travailleurSocialAccompagnement(false)}}
            {% endif %}
        {% endif %}
    </div>
    {% if structureAccompagnement %}
        <div class="fr-col-12 fr-col-md-6">
            <strong>Nom de la structure d'accompagnement :</strong>
            {{ signalement.situationFoyer.travailleurSocialAccompagnementNomStructure }}
        </div>
    {% endif %}
    <div class="fr-col-12 fr-col-md-6">
        <strong>Bénéficiaire RSA :</strong>
        {% if signalement.informationComplementaire %}
            {% if signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireRsa is same as 'oui' %}
                {{ picto.picto_yes() }}
            {% elseif signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireRsa is same as 'non' %}
                {{ picto.picto_no() }}
            {% else %}
                {{signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireRsa}}
            {% endif %}
        {% endif %}
    </div>
    <div class="fr-col-12 fr-col-md-6">
        <strong>Bénéficiaire FSL :</strong>
        {% if signalement.informationComplementaire %}
            {% if signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireFsl is same as 'oui' %}
                {{ picto.picto_yes() }}
            {% elseif signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireFsl is same as 'non' %}
                {{ picto.picto_no() }}
            {% else %}
                {{signalement.informationComplementaire.informationsComplementairesSituationOccupantsBeneficiaireFsl}}
            {% endif %}
        {% endif %}
    </div>
    {% if signalement.profileDeclarant and signalement.profileDeclarant is same as enum('App\\Entity\\Enum\\ProfileDeclarant').BAILLEUR_OCCUPANT  %}
    <div class="fr-col-12 fr-col-md-6">
        <strong>Revenu fiscal de référence :</strong>
        {% if signalement.informationComplementaire %}
            {{ signalement.informationComplementaire.informationsComplementairesSituationOccupantsRevenuFiscal ? signalement.informationComplementaire.informationsComplementairesSituationOccupantsRevenuFiscal ~ ' €'}}
        {% endif %}
    </div>
    {% endif %}
</div>
