{% if is_granted('SIGN_EDIT', signalement) %}
    {% include 'back/signalement/view/edit-modals/edit-procedure-demarches.html.twig' %}
{% endif %}
<div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-8">
        <h4 class="fr-h6">Procédure et démarches</h4>
    </div>
    <div class="fr-col-12 fr-col-md-4 fr-text--right">
        {% if is_granted('SIGN_EDIT', signalement) %}
            <button href="#" data-fr-opened="false" aria-controls="fr-modal-edit-procedure-demarches" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-edit-line">
                Modifier
            </button>
        {% endif %}
    </div>
    <div class="fr-col-12 fr-col-md-6">
        <strong>Bailleur averti :</strong>
        {% if signalement.isProprioAverti is null %}
        {% elseif signalement.isProprioAverti %}
            {{ static_picto_yes|raw }}
        {% else %}
            {{ static_picto_no|raw }}
        {% endif %}
    </div>
    <div class="fr-col-12">
        <strong>Moyen d'information du bailleur :</strong>
        {% if signalement.informationProcedure and signalement.informationProcedure.infoProcedureBailMoyen %}
            {% set MoyenContact = enum('\\App\\Entity\\Enum\\MoyenContact').tryFromString(signalement.informationProcedure.infoProcedureBailMoyen) %}
            {{ MoyenContact.label }}
        {% endif %}
    </div>

    <div class="fr-col-12">
        <strong>Date d'information du bailleur :</strong>
        {% if signalement.informationProcedure and signalement.informationProcedure.infoProcedureBailDate %}
            {{ signalement.informationProcedure.infoProcedureBailDate  }}
        {% endif %}
    </div>
    <div class="fr-col-12">
        <strong>Réponse du bailleur :</strong>
        {% if signalement.informationProcedure and signalement.informationProcedure.infoProcedureBailReponse %}
            <br>
            {{ signalement.informationProcedure.infoProcedureBailReponse | nl2br  }}
        {% endif %}
    </div>
    {% if signalement.isLogementSocial %}
        <div class="fr-col-12">
            <strong>Numéro de réclamation :</strong>
            {% if signalement.informationProcedure and signalement.informationProcedure.infoProcedureBailNumero %}
                {{ signalement.informationProcedure.infoProcedureBailNumero | nl2br  }}
            {% endif %}
        </div>        
    {% endif %}
    <div class="fr-col-12 fr-col-md-6">
        <strong>Contact assurance :</strong>
        {% if signalement.informationProcedure %}
            {% if signalement.informationProcedure.infoProcedureAssuranceContactee is same as 'oui' %}
                {{ static_picto_yes|raw }}
            {% elseif signalement.informationProcedure.infoProcedureAssuranceContactee is same as 'non' %}
                {{ static_picto_no|raw }}
            {% else %}
                {{signalement.informationProcedure.infoProcedureAssuranceContactee(false)}}
            {% endif %}
        {% endif %}
    </div>
    <div class="fr-col-12">
        <strong>Réponse assurance :</strong>
        {% if signalement.informationProcedure and signalement.informationProcedure.infoProcedureReponseAssurance %}
            <br>
            {{ signalement.informationProcedure.infoProcedureReponseAssurance | nl2br  }}
        {% endif %}
    </div>
    <div class="fr-col-12">
        <strong>Souhaite garder le logement après travaux :</strong>
        {% if signalement.informationProcedure %}
            {# Careful : reversed regarding the question in the form #}
            {% if signalement.informationProcedure.infoProcedureDepartApresTravaux is same as 'oui' %}
                {{ static_picto_no|raw }}
            {% elseif signalement.informationProcedure.infoProcedureDepartApresTravaux is same as 'non' %}
                {{ static_picto_yes|raw }}
            {% else %}
                {{signalement.informationProcedure.infoProcedureDepartApresTravaux(false)}}
            {% endif %}
        {% endif %}
    </div>
</div>