{% set columns = [
    { class: 'fr-col-md-5', title: 'Référence' },
    { class: 'fr-col-md-4', title: 'Votre dernière action' },
    { class: 'fr-col-md-2', title: 'Action depuis' }
] %}

{% set firstColumnClass = is_granted('ROLE_ADMIN_TERRITORY') ? 'fr-col-md-8 fr-pr-10v' : 'fr-col-md-12' %}
<section class="fr-mb-5v">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="{{ firstColumnClass }}">
            <h1 class="fr-mb-3v fr-text-label--blue-france tab-panel-title-with-calendar-icon">Vos dernières actions</h1>
            <hr class="hr--blue-france">
            <div class="fr-container--fluid">
                {% for item in items.data %}
                    {% set classes = {
                        'en cours': 'active',
                        'fermé': 'closed',
                        'refusé': 'refused'
                    } %}

                    {% set confettiClass = classes[item.statut]|default('') %}
                    {% set actionClass = item.actionDepuis == 'OUI'
                        ? 'fr-badge--success'
                        : 'fr-badge--grey'
                    %}

                    {% set declarantInfo = item.reference ~ ' - ' ~ item.nomDeclarant|upper ~ ' ' ~ item.prenomDeclarant|capitalize %}
                    {% include 'back/dashboard/components/_card.html.twig' with {
                        data: [
                            '<div class="fr-text-label--blue-france">
                                <div><strong class="fr-text--lg">' ~ declarantInfo ~ '</strong></div>
                                <div>' ~ item.adresse ~ '</div>
                                <div class="fr-mt-1v">
                                    <span class="confetti ' ~ confettiClass ~ '"></span> ' ~ item.statut|capitalize ~ '
                                </div>
                            </div>',
                            '<div><strong class="fr-text--lg">' ~ item.derniereAction ~ '</strong></div><div>' ~ item.derniereActionAt|date('d/m/Y à H:i') ~ '</div>',
                            '<span class="fr-badge ' ~ actionClass ~ ' fr-badge--no-icon">' ~ item.actionDepuis ~ '</span>'
                        ],
                        link: path('back_signalement_view', {'uuid' : item.uuid})
                    } %}
                {% endfor %}
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN_TERRITORY') %}
            <div class="fr-col-12 fr-col-md-4">
                {% if is_granted('ROLE_ADMIN') %}
                    <h2 class="fr-mb-8v">Administrer les territoires</h2>
                {% else %}
                    <h2 class="fr-mb-8v">Administrer mon territoire</h2>
                {% endif %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    {% set linkInjonction = {} %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% set linkInjonction = linkInjonction|merge({ territoire: items.territory_id }) %}
                    {% endif %}
                    {% if is_granted('INJONCTION_BAILLEUR_SEE') %}
                        {% include 'back/dashboard/components/_tuile.html.twig' with {
                            icon_path: 'img/picto-dsfr/paint.svg',
                            title: 'Injonctions bailleur (parc privé)',
                            badge_class: 'fr-badge--info',
                            badge_label: singular_or_plural(items.data_kpi.injonctions, ' injonction', 'injonctions'),
                            link: path('back_injonction_signalement_index', linkInjonction)
                        } %}
                    {% endif %}
                    {% include 'back/dashboard/components/_tuile.html.twig' with {
                        icon_path: 'img/picto-dsfr/warning.svg',
                        title: 'Comptes bientôt archivés',
                        badge_class: 'fr-badge--error',
                        badge_label: singular_or_plural(items.data_kpi.comptes_en_attente, ' compte', 'comptes'),
                        link: path('back_user_inactive_accounts')
                    } %}
                    {% set linkAdresseEmail = { emailDeliveryIssue: 'Oui' } %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% set linkAdresseEmail = linkAdresseEmail|merge({ territory: items.territory_id }) %}
                    {% endif %}
                    {% include 'back/dashboard/components/_tuile.html.twig' with {
                        icon_path: 'img/picto-dsfr/connection-lost.svg',
                        title: 'Agents avec un problème d\'e-mail',
                        badge_class: 'fr-badge--error',
                        badge_label: singular_or_plural(items.data_kpi.comptes_pb_email, ' agent', 'agents'),
                        link: path('back_user_index', linkAdresseEmail)
                    } %}

                    {% set linkPartenairesParams = { isNotNotifiable: 1 } %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% set linkPartenairesParams = linkPartenairesParams|merge({ territoire: items.territory_id }) %}
                    {% endif %}
                    {% include 'back/dashboard/components/_tuile.html.twig' with {
                        icon_path: 'img/picto-dsfr/notification.svg',
                        title: 'Partenaires non notifiables',
                        badge_class: 'fr-badge--info',
                        badge_label: singular_or_plural(items.data_kpi.partenaires_non_notifiables, ' Partenaire', 'Partenaires'),
                        link: path('back_partner_index', linkPartenairesParams)
                    } %}
                    {% set linkSIParams = { isOnlyInterconnected: 1 } %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% set linkSIParams = linkSIParams|merge({ territoire: items.territory_id }) %}
                    {% endif %}
                    {% include 'back/dashboard/components/_tuile.html.twig' with {
                        icon_path: 'img/picto-dsfr/system.svg',
                        title: 'Interfaçages SI externes',
                        badge_class: 'fr-badge--info',
                        badge_label: singular_or_plural(items.data_kpi.partenaires_interfaces, ' Partenaire', 'Partenaires'),
                        link: path('back_partner_index', linkSIParams)
                    } %}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <h2>Connexion SI externes</h2>
                    {% if items.data_interconnexion.LastSyncAt %}
                        {% set classNotice = items.data_interconnexion.hasErrorsLastDay ? 'warning' : 'info' %}
                        <div class="fr-notice fr-notice--{{ classNotice }}">
                            <div class="fr-px-2v">
                                <div class="fr-notice__body">
                                    <span class="fr-notice__title">
                                        {{ items.data_interconnexion.hasErrorsLastDay
                                        ? 'Une erreur de synchronisation a été détectée le ' ~ items.data_interconnexion.firstErrorLastDayAt|date('d/m/Y H:i')
                                        : 'Aucune erreur détectée ces dernières 24 heures.' }}
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="fr-mt-2v">
                            <p>Dernière synchronisation le {{ items.data_interconnexion.LastSyncAt|date('d/m/Y H:i')  }}</p>
                            <p class="fr-text--right"><a href="{{ path('back_interconnexion_index', { territory: items.territory_id }) }}" class="fr-link fr-link--icon-right fr-icon-arrow-right-line">Voir l'historique</a></p>
                        </div>
                    {% else %}
                        <div class="fr-mt-2v">
                            <p>Pas de synchronisation trouvée depuis 1 an</p>
                            <p class="fr-text--right"><a href="{{ path('back_interconnexion_index', { territory: items.territory_id }) }}" class="fr-link fr-link--icon-right fr-icon-arrow-right-line">Voir l'historique</a></p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>
